<title>Probe Summary</title>
<div class="container-fluid">
<div class="row topMargin">

<h1>Probe Summary Results</h1>

<div ng-bind-html="vm.youSearchForString"></div>

<h2 id="probeResults">Matching Probe Records</h2>

<a ng-if="vmd.probes && vmd.probes.length > 0" href="{{vm.downloadUrl}}"><button>Download Tab-Delim File</button></a>
<br/>
<div ng-if="!vm.loading && (!vmd.probes || vmd.probes.length === 0)">
    No Probes Found
</div>

<loading-msg showing="vm.loading" />

<paginator
   ng-show="!vm.loading && vmd.probes"
   page-size="vm.page_size"
   total-rows="vm.total_count"
   on-update="pageAction(pageFirstRow, pageNRows)"
   />

<div ng-if="vmd.probes && vmd.probes.length > 0">
    <span>{{vmd.probes.length}} probes.</span>
    <table class="dataTable">
        <tr>
            <th>Probe ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Markers</th>
            <th>Marker IDs</th>
            <th>Region Covered</th>
            <th>Primer Sequence 1</th>
            <th>Primer Sequence 2</th>
            <th>Aliases</th>
            <th>Organism</th>
            <th>Parent ID</th>
            <th>Parent Name</th>
            <th>J#s</th>
        </tr>
        <tr ng-repeat="probe in vmd.probes track by $index"
            class="{{ $index%2 ? 'row2' : 'row1' }}"
            >
            <td>
              <a href="{{ url_for('pwi.probedetail', {id:probe.probeID}) }}">{{probe.probeID}}</a></td>
            <td>{{probe.name}}</td>
            <td>{{probe.segmentType}}</td>
            <td ng-bind-html="probe.markerSymbolHtml"></td>
            <td ng-bind-html="probe.markerIdHtml"></td>
            <td>{{probe.regionCovered}}</td>
            <td>{{probe.primer1Sequence}}</td>
            <td>{{probe.primer2Sequence}}</td>
            <td>{{probe.aliases}}</td>
            <td>{{probe.organism}}</td>
            <td>
                 <a ng-if="probe.parentID" href="{{ url_for('pwi.probedetail', {id:probe.parentID}) }}">{{probe.parentID}}</a>
            </td>
            <td>{{probe.parentName}}</td>
            <td ng-bind-html="probe.jnumsString"></td>
        </tr>
    </table>

</div>
<paginator
   ng-show="!vm.loading && vmd.probes"
   page-size="vm.page_size"
   total-rows="vm.total_count"
   on-update="pageAction(pageFirstRow, pageNRows)"
   />

</div>

<show-model vm="vm" />
<ng-include src="PAGE_HELP_URL" />

