<title>EMAPA Browser</title>
<div class="browserWrapper">

	<div class="alert alert-danger" ng-show="errors.api">
			<h5>{{ errors.api.error }}</h5>
			<h6 id="errorMessage">{{ errors.api.message }}</h6>
		</div>
		
    <div class="leftContainer">

      <div id="termSearchArea">
        <form name="termSearchForm" id="termSearchForm" >
        <input type="submit" value="Search EMAPA" ng-click="search()" />
        <input type="reset" value="Clear" id='formClear' ng-click="clear()">
        <br/>
        <input id="termSearch" name="termSearch" class="mousetrap" auofocus placeholder='Term Search' 
          ng-model="vm.termSearch"
        />
        <br/>
        <input id="stageSearch" name="stageSearch" class="mousetrap" placeholder="Stage Search" 
          ng-model="vm.stageSearch"
        />
        </form>
      </div>

      <div id="clipboardSubmit">
        <form name="clipboardSubmitForm" id="clipboardSubmitForm" >
          <fieldset ng-disabed="authenticated" >
            <input id="clipboardInput" name="stagesToAdd" value="" class="mousetrap" type="text" placeholder="Stage(s)"
              ng-model="vm.stagesToAdd" tab-to="termSearch" ng-disabled="current_user.login==null"
            >
            <input type="submit" id="addClipboardButton" value="Add selected"
              ng-click="addClipboardItems()" ng-disabled="current_user.login==null"
            >
            <input type="submit" id="addAllClipboardButton" value="Add all"
              ng-click="addAllClipboardItems()" ng-disabled="current_user.login==null"
            >
          </fieldset>
        </form>
      </div>

      <div id="emapTermAreaWrapper">
      <div id="emapTermArea">
        <div id="emapaSummaryContent_loading" ng-if="searchLoading">
          <img src="/pwi/static/images/loading.gif"/>
          Searching EMAPA Terms
        </div>
        <div id="emapaSummaryContent">
          <div class="searchCount">
			  {{vm.searchResults.total_count}} terms returned from search
			</div>
			
		  <div ng-if="vm.searchResults.total_count == 0">
		    No terms Found.
		  </div>
			
		  <ul id="termResultList" ng-if="vm.searchResults.total_count > 0">
			  
			    <li ng-repeat="term in vm.searchResults.items">
			      <a class="termSearchResult fakeLink" 
			        ng-class="{active: term.term==vm.selectedTerm.term}"
			        ng-click="selectSearchResult(term)"
			        ng-bind-html="term.term_bold"
			      ></a>
			      <span class="stageRange">TS{{term.startstage}}-{{term.endstage}}</span>
			          <span class="synonymMatch" 
			            ng-if="term.synonym_bold"
			          >
			            (<span ng-bind-html="term.synonym_bold"></span>)
			          </span>
			      </span>
			    </li>
			  </ul>
        </div>
      </div>
      </div>

      <div id="clipboardFunctions">
        <form name="clipboardFunctionsForm" id="clipboardFunctionsForm" >
          <fieldset>
            <input class="clipboardButton" id='clipboardRefresh' type="submit" value="Refresh" 
             ng-click="refreshClipboardItems()" />
            <input class="clipboardButton" id='clipboardSort' type="submit" value="Sort" 
             ng-click="sortClipboardItems()" />
            <input class="clipboardButton" id='clipboardClear' type="submit" value="Clear" 
             ng-click="clearClipboardItems()" />
                
			<span class="searchCount">
				<span id="clipboardCount">{{vm.clipboardResults.total_count}}</span> clipboard items
			</span>
          </fieldset>
        </form>
      </div>

      <div id="emapClipBoard">
        <div id="emapClipBoardContent_loading" ng-if="clipboardLoading">
          <img src="/pwi/static/images/loading.gif"/>
          Reloading Clipboard
        </div>
        <div id="emapClipBoardContent">
			  <ul id="clipboard" style="list-style-type: none;"
			    ng-if="vm.clipboardResults.total_count > 0"
			  >
			    <li ng-repeat="item in vm.clipboardResults.items">
			      <img src="/pwi/static/images/remove.png"
			        ng-click="deleteClipboardItem(item.setMemberKey)"
			        style="width:12px; height: 12px; cursor: pointer;" 
			      />
			      TS{{item.emapaStage.stage}}; {{item.label}}
			    </li>
			  </ul>
        </div>
      </div>

    </div>

    <div class="rightContainer" style="">
      <div id="termDetailsArea">
        <div id="termDetailContent_loading" ng-if="detailLoading">
      	  <img src="/pwi/static/images/loading.gif"/>
      	  Loading Term Detail
        </div>
        <div id="termDetailContent"  ng-if="vm.termDetail.primaryid">
          <dl class="detailPageListData">

			  <dt>Term</dt>
			  <dd><span class="active">{{vm.termDetail.term}}</span></dd>
			
			  <dt>Present at</dt>
			  <dd>
			     <span ng-if="vm.termDetail.vocabName == 'EMAPA'">
			       Theiler Stages {{vm.termDetail.startstage}}-{{vm.termDetail.endstage}}
			     </span>
			     <span ng-if="vm.termDetail.vocabName == 'EMAPS'">
			       Theiler Stage {{vm.termDetail.theilerstage}}
			       <span ng-if="vm.termDetail.theilerstage < 27">({{vm.termDetail.dpcmin}}-{{vm.termDetail.dpcmax}} dpc)</span>
			       <span ng-if="vm.termDetail.theilerstage == 27">(Newborn P0-3)</span>
			       <span ng-if="vm.termDetail.theilerstage == 28">(P4-adult)</span>
			     </span>
			  </dd>
			
			  <dt>ID</dt>
			  <dd>{{vm.termDetail.primaryid}}</dd>
			    
			  <dt ng-if="vm.termDetail.synonyms.length > 0">Synonyms</dt>
			  <dd ng-if="vm.termDetail.synonyms.length > 0">
			    <span ng-repeat="synonym in vm.termDetail.synonyms">
			      {{synonym}}{{$last ? '' : ', '}}
			    </span>
			  </dd>
			  
			  <dt ng-if="vm.termDetail.dagParents">Parent Terms</dt>
			  <dd ng-if="vm.termDetail.dagParents">
			    <span ng-repeat="node in vm.termDetail.dagParents">
				    <em>{{node.edgeLabel}}</em>
				    <a class="termDetailParent fakeLink"
				      ng-click="selectTerm(node)">
				        {{node.term}}
				    </a>
				    <br ng-if="!$last"/>
			     </span>
			  </dd>
			</dl>
			
			<span class="resultsLink">
			  	{{vm.termDetail.gxdhtSampleCount}} samples
			</span>
			
			<span class="resultsLink">
			  	<a href="{{ url_for('pwi.resultsummary', {structure_id:vm.termDetail.primaryid}) }}" target="_blank">{{vm.termDetail.annotCount}}</a> direct annotations
			</span>
			
			<nav id="stageList">
			<ul>
				<li>
				  <a class="stageSelector fakeLink" 
				    ng-class="{active: 0==vm.selectedStage}"
				    ng-click="selectStage(0)"
				  >All</a>
				</li>
				<li ng-repeat="stage in vm.stageRange">
				  <a class="stageSelector fakeLink"
				    ng-class="{active: stage==vm.selectedStage}" 
				    ng-click="selectStage(stage)"
				  >{{stage}}</a>
				</li>
			</ul>
			</nav>
        </div>
      </div>

      <div id="treeViewAreaWrapper">
       <div id="treeViewArea">
         <div id="emapaTree"></div>
       </div>
      </div>

     </div>
<br style="clear:both" />
</div>

<!-- Java API JSON data dump -->
<show-model vm="vm" />
<ng-include src="STATIC_APP_URL + '/edit/emapa/help.html'" />
