{% extends "standardMGI.html" %}
{% block content %}

<style>
  .selected {
    background-color: green;
  }
</style>

<main>

<!-- Put prototype content here -->
  {# disable jinja to allow Vue.js syntax #}
  {% raw %}
  <div id="target">
  
    <h2>User Module</h2>
  
  <form id="userForm" onsubmit="return false;">
    <label>Login</label>
    <input type="text" v-model="user.login">
    <br>
    
    <label>Name</label>
    <input type="text" v-model="user.name">
    <br>
    
    <label>User Status</label>
    <select v-model="user._userstatus_key">
      <!-- Add blank option for search "any" -->
      <option value=""></option>
      <option v-for="status in userStatuses" v-bind:value="status._term_key">
        {{status.term}}
      </option>
    </select>
    <br>
    
    <label>User Type</label>
    <select v-model="user._usertype_key">
      <!-- Add blank option for search "any" -->
      <option value=""></option>
      <option v-for="type in userTypes" v-bind:value="type._term_key">
        {{type.term}}
      </option>
    </select>
    <br><br>
    
    <button v-on:click="search()">Search</button>
    <button v-on:click="reset()">Reset</button>
    <button v-on:click="create()">Create</button>
    <button v-on:click="delete()">Delete</button>
    
    </form>
  
    <h3>Search Results</h3>
    <span>{{searchResults.total_count}} users found.</span>
    <template v-if="searchResults.total_count > 0">
    <table>
      <thead>
        <tr>
          <th>_user_key</th>
          <th>login</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="resultUser in searchResults.results" 
            v-on:click="getUser($index)">
          <td>{{resultUser._user_key}}</td>
          <td>{{resultUser.login}}</td>
          <td>{{resultUser.name}}</td>
        </tr>
      </tbody>
    </table>
    </template> <!-- if searchResults.total_count -->
  </div>
  
  
  {% endraw %}

</main>

<!-- Define the API urls we can use -->
<script>

	/*
	* User resouce API. (i.e. /api/user)
	* 
	*    GET -> query users. Returns all users with no arguments
	*    POST -> create new user
	*    GET (url + "/" + _user_key) -> Get 1 user object
	*    PUT (url + "/" + _user_key) -> Update 1 user object
	*    DELETE (url + "/" + _user_key) -> Delete 1 user object
	*/
    window.USER_API_BASE_URL = "{{urls['user_api_base_url']}}";
    
    // used to get all status terms for pick list
    window.STATUS_LIST_URL = "{{urls['status_list_url']}}";
    // used to get all user type terms for pick list
    window.TYPE_LIST_URL = "{{urls['type_list_url']}}";
    
</script>

<!-- import libraries and client scripts -->
<script src="{{ url_for('static',filename='external/vue.js')}}"></script>
<script src="{{ url_for('static',filename='external/vue-resource.js')}}"></script>
<script src="{{ url_for('static',filename='prototype/vue_prototype.js')}}"></script>
{% endblock %}
