{% extends "pageLayout.html" %}

{% block imports %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mgijs/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/goannot/goannot.css') }}">

	<script src="{{ url_for('static',filename='app/edit/goannot/GOAnnotService.js')}}"></script>
	<script src="{{ url_for('static',filename='app/edit/goannot/GOAnnotController.js')}}"></script>
	
	<script>
		var access_token = '{{config["ACCESS_TOKEN"]}}';
	</script>
	

{% endblock %}

{% block content %}
	<title>Marker/GO Annotation Module</title>

	<div id="wrapper" ng-controller="GOAnnotController">
		<div ng-include="'{{ url_for('static',filename='app/edit/goannot/goannot_content.html')}}'"></div>
	</div>

	{% include "help/goannot.html" %}

{% endblock %}

