<title>Antigen Module</title>
<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="antigenForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:700px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:800px;">
        
                <form id="antigenTopForm" class="form-horizontal mousetrap">
                
		<div class="row topMargin">
                <div class="col-sm-10" style="">

                        <div class="row">
			<div class="col-sm-12" style="">
                            <label class="label label-edit-search">Name</label><br>
                            <input type="text" class="form-control"  
                                    ng-model="vm.apiDomain.antigenName" id="antigenName"
                            >
			</div>
		</div>

                <!-- end row -->

		<div class="spacer"></div>
                <div class="row">
                        <div class="col-sm-12" style="">
                            <label class="label label-edit-search">Region Covered</label><br>
                            <input type="text" class="form-control"
                                    ng-model="vm.apiDomain.regionCovered" id="regionCovered"
                            >
                        </div>
		</div>
                <!-- end row -->

                 <div class="spacer"></div>
                <div class="row">
                    <div class="col-sm-12" style="">
                    <label class="label label-edit-search">Notes</label>
                    <textarea class="form-control" rows=3 ng-model="vm.apiDomain.antigenNote" id="antigenNote" ></textarea>
                    </div>
                </div>

		<!-- end row -->

                <div class="spacer"></div>

                <div class="row">
                <div class="col-sm-12" style="">
                    <label class="label label-edit-search">Organism</label><br>
                    <select type=dropdown size="1" id="organism"
                            ng-options="choice.organismKey as choice.commonname for choice in vm.organismLookup"
                            ng-model="vm.apiDomain.probeSource.organismKey"
                            >
                            <option value="">Search All</option>
                    </select>
                    </div>
                </div>

                <!-- end row -->

                <div class="spacer"></div>
                <div class="row">
                        <div class="col-sm-12" style="">
                            <label class="label label-edit-search">Strain</label><br>
                            <input type="text" class="form-control" id="editTabStrain"
                                    ng-model="vm.apiDomain.probeSource.strain" 
                                    ng-blur="validateStrain()" >
                        </div>
                </div> 
                <!-- end row -->

                <div class="spacer"></div>
                  <div class="row">
                        <div class="col-sm-12" style="">
                            <label class="label label-edit-search">Tissue</label><br>
                            <input type="text" class="form-control" id="editTabTissue"
                                    ng-model="vm.apiDomain.probeSource.tissue"
                                    ng-blur="validateTissue()" 
                                    >
                        </div>
                </div> 

                <!-- end row -->

                <div class="spacer"></div>
                <div class="row">
                        <div class="col-sm-12" style="">
                            <label class="label label-edit-search">Tissue Description</label><br>
                            <input type="text" class="form-control" id="description"
                                    ng-model="vm.apiDomain.probeSource.description" > 
                        </div>
                </div>
                <!-- end row -->

                <div class="spacer"></div>
                <div class="row">
                        <div class="col-sm-12" style="">
                            <label class="label label-edit-search">Cell Line</label><br>
                            <input type="text" class="form-control" id="editTabCellLine"
                                    ng-model="vm.apiDomain.probeSource.cellLine"
                                    ng-blur="validateCellLine()" >
                        </div>
                </div>
                <!-- end row -->

               <div class="spacer"></div>
                <div class="row topMargin">
                    <!-- Age Prefix and Range side by side -->
                    <div class="col-sm-3" style="">
                    <label class="label label-edit-search">Age Prefix</label><br>
                    <select type=dropdown size="1" id="age"
                            ng-options="choice.term as choice.term for choice in vm.ageLookup"
                            ng-model="vm.apiDomain.probeSource.agePrefix"
                            >
                            <option value="">Search All</option>
                    </select>
                    </div>
		    <div class="col-sm-2" style="">
                        <label class="label label-edit-search">Age Range</label><br>
                        <input type="text" class="form-control"  
                                ng-model="vm.apiDomain.probeSource.ageStage" id="ageStage"
                        >
		    </div>
                    <!-- End Age Prefix and Range side by side -->
                </div>

                <!-- end row -->
                
               <div class="spacer"></div>
                <div class="row">
                    <div class="col-sm-12" style="">
                    <label class="label label-edit-search">Gender</label><br>
                    <select type=dropdown size="1" id="gender"
                            ng-options="choice.termKey as choice.term for choice in vm.genderLookup"
                            ng-model="vm.apiDomain.probeSource.genderKey"
                            >
                            <option value="">Search All</option>
                    </select>
                    </div>
                </div>
                <!-- end row -->

                <div class="spacer"></div>
                <div id="antibodyTableWrapper">
                <table class="table table-bordered scrollable-menu" id="antibodyTable" style="">
                
                <thead>
                <tr>
                <th style="width:300px;">Acc ID</th>
                <th style="width:100px;">Antibody</th>
                </tr>
                </thead>

               <tbody>
                <tr ng-repeat="row in vm.apiDomain.antibodies"
                        ng-click=""
                        ng-class-odd="'oddResultRow'"
                        >

                <td style="width:100px;">
                <input class="form-control" type="text" id="antibodyID-{{$index}}"
                        ng-model="row.accID"
                >
                </td>

                <td style="width:300px;">
                <input class="form-control" id="antibodyName-{{$index}}" 
                        ng-model="row.antibodyName"  
                >
                </td>

                </tr>
                </tbody>

                <tfoot>
                <tr>
                <td></td>
                <td>
                <button type="button" style="float:right;" tabindex="-1" id="addAntibodyButton"
                        ng-class=""
                        ng-click="addAntibodyRow()" >Add Row</button>
                </td>
                </tr>
                </tfoot>

                </table>
                </div>
        </div>
        </div>
	<!-- main class -->
</div>
	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:800px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		<button type="button" id="updateButton" tabindex="-1" ng-click="update()" >Modify</button>
                <button type="button" id="createButton" tabindex="-1" ng-click="create()" ng-disabled="vm.apiDomain.antigenKey!=''&&vm.apiDomain.antigenKey!=null" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="deleteAntigen()" >Delete</button>
		
		<div class="spacer"></div>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="createdBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="creationDate"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="modifiedBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="modificationDate" tab-to="JNumID"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">MGI ID</label><br>
				<input class="form-control" ng-model="vm.apiDomain.accID" id="accID" tab-to="antigenName" />
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.antigenName}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>
	</div>
</div>
</div>
</form>

<!-- Java API JSON data dump -->
<show-model vm="vm" />
<ng-include src="PAGE_HELP_URL" />

<script type="text/javascript">
	// This JavaScript will execute *after* content injection.
	var input = document.getElementById ("antigenName");
	input.focus ();
</script>
