{# sub template for adstructure form #}
<form name="adstructureForm" method="GET" action="{{ url_for('summary.adstructureSummary') }}">
  <input type="submit" value="Submit"/> <input type="reset" value="Reset"><br/>
  {{form.structure_text.label}}: {{form.structure_text(size=30)}}
  <br/>
  <span class="example">Performs contains search</span>
  <br/>
  <br/>
  {{form.theiler_stages.label}}: 
  <br/>
  {{form.theiler_stages(size=28)}}
  <br/>
  <input type="submit" value="Submit"/> <input type="reset" value="Reset"><br/>
</form>
