{# sub template for a marker form #}
<form name="referenceForm" method="GET" action="{{ url_for('summary.referenceSummary') }}">
  AccIDs: {{form.accids}}
  <br/>
  Use J:#s or PUBMED IDs. Separate list items with commas. Wildcard is not supported.
  <br/><br/>
  Primary Author: {{form.primeAuthor}}
  <br/>
  Use % for wildcard as in the EI.
  <br/><br/>
  Authors: {{form.authors}}
  <br/>
  Use % for wildcard.
  <br/><br/>
  Journal: {{form.journal}}
  <br/>
  Use % for wildcard. This field uses Journal name abbreviations.
  <br/><br/>
  Volume: {{form.volume}}
  <br/>
  Use % for wildcard.
  <br/><br/>
  Year: {{form.year}}
  <br/>
  Enter only a single value. Wildcard is not supported.
  <br/><br/>
  <input type="submit" value="Submit"/>
</form>
