<title>Allele Summary</title>

<h1>Allele Summary Results</h1>

<div ng-bind-html="vm.youSearchForString"></div>

<h2 id="alleleResults">Matching Allele Records</h2>

<a ng-if="vmd.alleles && vmd.alleles.length > 0" href="{{vm.downloadUrl}}"><button>Download Tab-Delim File</button></a>
<br/>

<button
    ng-if="vmd.allelesTruncated"
    ng-click="(vmd.alleles = vmd.allAlleles) && (vmd.allelesTruncated = false)"
    >View All Alleles ({{vmd.allAlleles.length}})</button>

<div ng-if="!vm.loading && (!vmd.alleles || vmd.alleles.length === 0)">
    No Alleles Found
</div>

<loading-msg showing="vm.loading" />

<paginator
   ng-show="!vm.loading"
   page-size="vm.page_size"
   total-rows="vm.total_count"
   on-update="pageAction(pageFirstRow, pageNRows)"
   />

<div ng-if="!vm.loading && vmd.alleles && vmd.alleles.length > 0">
    <table class="dataTable">
      <tr>
      <th>Symbol</th>
      <th>MGI ID</th>
      <th>Name</th>
      <th>Synonyms</th>
      <th>Transmission</th>
      <th>AlleleStatus</th>
      <th>Generation Type</th>
      <th>Attributes</th>
      <th>MP Annotations</th>
      <th>Disease Annotations</th>
      </tr>

    <tr ng-repeat="allele in vmd.alleles track by $index"
        ng-class="$index % 2 ? 'row1' : 'row2'">
    <td>
      <a href="{{ url_for('pwi.alleledetail', {id:allele.alleleID}) }}">
          <span ng-bind-html="ntc.superscript(allele.symbol)"></span>
      </a>
    </td>
    <td>{{ allele.alleleID }}</td>
    <td ng-bind-html="ntc.superscript(allele.name)"></td>
    <td ng-bind-html="ntc.superscript(allele.synonyms)"></td>
    <td>{{ allele.transmission }}</td>
    <td>{{ allele.alleleStatus }}</td>
    <td>{{ allele.alleleType }}</td>
    <td>{{ allele.attrs }}</td>
    <td>{{ allele.pheno }}</td>
    <td>{{ allele.diseases }}
    </tr>
    </table>
</div>

<paginator
   ng-show="!vm.loading"
   page-size="vm.page_size"
   total-rows="vm.total_count"
   on-update="pageAction(pageFirstRow, pageNRows)"
   />
<show-model vm="vm" />
<ng-include src="PAGE_HELP_URL" />
