{% extends "standardMGI.html" %}
{% block content %}

  <title>Antibody Summary</title>

  <h1>Antibody Summary Results</h1>

  {{ display_you_searched_for(form) }}

  <h2 id="probeResults">Matching Antibody Records</h2>
  
  <a href="{{ url_for('summary.antibodySummaryDownload') + '?' + queryString }} ">Download Tab-Delim File</a>
  <br/>
  
  {% if antibodiesTruncated %}
  <a href="{{ url_for('summary.antibodySummary') }}?{{queryString}}&antibody_limit=">View All Antibodies</a>
  {% endif %}
  {% include "summary/antibody/sub_antibody_table.html" %}

  {% include "help/antibody_summary.html" %}

{% endblock %}