{# sub template for probe summary table #}
<table class="dataTable">
{% for antibody in antibodies %}

{% if loop.first %}
  <tr>
  <th>MGI ID</th>
  <th>Name</th>
  <th>Type</th>
  <th>Markers</th>
  <th>Reference</th>
  </tr>
{% endif %}

  <tr class="{{ loop.cycle('row1','row2') }}">
    <td>
      <a href="{{ url_for('detail.antibodyDetailById', id=antibody.mgiid) }}">
        {{antibody.mgiid}}
      </a>
    </td>
    <td>{{antibody.antibodyname | e}}</td>
    <td>{{antibody.antibodytype}}</td>
    <td>
      {% for marker in antibody.markers %}
        {% if not loop.first %}, {% endif %}
        {{marker.symbol}}
      {% endfor %}
    </td>
    <td>
      <a href="{{ url_for('summary.referenceSummary', accids=antibody.reference.jnumid) }}">
        {{antibody.reference.jnumid}}, {{antibody.reference.short_citation}}
      </a>
    </td>
  </tr>

{% else %}
No Antibodies Found
{% endfor %}

</table>

{% if antibodies %}{{antibodies | length}} rows.{% endif %}