{# sub template for probe summary table #}
{% if antibodies %}{{antibodies | length}} rows.{% endif %}
<table class="dataTable" id="antibodySummary">
{% for antibody in antibodies %}

{% if loop.first %}
  <tr>
    <th colspan="7">Antibody Fields</th>
    <th colspan="5">Antigen Fields</th>
    <th colspan="2"></th>
  </tr>
  <tr class="row2">
  <th>MGI ID</th>
  <th title="displayed verbatim">Name</th>
  <th title="displayed verbatim">Alias(es)</th>
  <th>Organism</th>
  <th>Type</th>
  <th>Class</th>
  <th title="displayed verbatim">Notes</th>
  
  <!-- Antigen columns -->
  <th>MGI ID</th>
  <th title="displayed verbatim">Name</th>
  <th>Organism</th>
  <th>Region</th>
  <th>Notes</th>
  
  <th>Markers</th>
  <th>Reference</th>
  </tr>
{% endif %}

  <tr class="{{ loop.cycle('row1','row2') }}">
    <td>
      <a href="{{ url_for('edit.antibodydetail', id=antibody.mgiid) }}">
        {{antibody.mgiid}}
      </a>
    </td>
    <td>{{antibody.antibodyname | e}}</td>
    <td>{{antibody.aliases | type_format | e}}</td>
    <td>{{antibody.organism}}</td>
    <td>{{antibody.antibodytype}}</td>
    <td>{{antibody.antibodyclass}}</td>
    <td>{{antibody.antibodynote or '' | e}}</td>
    <td>{{antibody.antigen.mgiid}}</td>
    <td>{{antibody.antigen.antigenname | e}}</td>
    <td>{{antibody.antigen.source.organism}}</td>
    <td>{{antibody.antigen.regioncovered or ''}}</td>
    <td>{{antibody.antigen.antigennote or ''}}</td>
    <td>
      {% for marker in antibody.markers %}
        {% if not loop.first %}, {% endif %}
        {{marker.symbol}}
      {% endfor %}
    </td>
    <td>
      <a href="{{ url_for('summary.referenceSummary', accids=antibody.reference.jnumid) }}">
        {{antibody.reference.jnumid}}, {{antibody.reference.short_citation}}
      </a>
    </td>
  </tr>

{% else %}
No Antibodies Found
{% endfor %}

</table>

{% if antibodies %}{{antibodies | length}} rows.{% endif %}
