
<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="mpannotForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:800px;" >

		<div class="row topMargin">
			<div class="col-sm-2" style="">
				<label class="label label-search">MGI ID</label><br>
				<input type="text" class="form-control"  
					ng-blur="search()"
					ng-model="vm.objectData.accid" id="genotypeAccId"
				>
			</div>

			<div class="col-sm-8" style="">
				<label class="label label-search">Genotype</label><br>
				<input type="text" class="form-control"  
					ng-model="vm.objectData.genotypeDisplay" id="genotypeDisplay"
				>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row ">
        		<div class="col-sm-12" style="">
                	<div id="annotTableWrapper" style="height:450px; overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="annotTable" style="width:1150px;"
				st-table="displayedCollection" 
				st-safe-src="vm.objectData.mpAnnots"
				st-set-sort=""
				>

			<!-- table header -->
                	<thead>
                	<tr>
                	<th></th>
                	<th style="width:90px;">Term ID</th>
                	<th class="sortable" st-sort="term" style="width:200px;">Vocabulary Term <i class="sortable" st-sort="term"></i></th>
                	<th>Qual</th>
                	<th class="sortable" st-sort-default="true" st-sort="jnum" style="width:90px">J:
				<i class="sortable" st-sort="jnum"></th>
                	<th style="width:200px;">Citation</th>
                	<th>Evi</th>
                	<th>Sex</th>
                	<th style="width:80px;">Modified By</th>
                	<th style="width:80px;">Date</th>
                	<th style="width:80px;">Created By</th>
                	<th style="width:80px;">Date</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody ng-repeat="row in displayedCollection"
				ng-click="selectAnnot($index)"
				ng-class="($index==vm.selectedAnnotIndex) ? 'selectedRow' : ''"
                        	ng-class-odd="'oddRow'"
				>

			<!-- table rows; includes row -->
                	<tr ng-class="{deleteRow:row.processStatus == 'd'}"
				>
                	<td>
                	<span ng-click="row.processStatus = 'd'">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

			<td style="width:90px;">
			<input class="form-control" type="text" id="termID-{{$index}}" 
				ng-model="row.mpid"
				ng-change="changeAnnotRow()"
				ng-blur="validateTerm(row, $index, 'termID-')"
				>
			</td>

                	<td class="term" style="width:200px;">{{row.term}} </td>

                        <td>
                        <select size="1" id="qualifierAbbreviation" tabindex="-1"
                        	ng-model="row.qualifierKey"
				ng-change="changeAnnotRow()"
				<option value="">Search All</option>
                        	<option ng-repeat="choice in vm.qualifierLookup" 
					value="{{choice.termKey}}">{{choice.abbreviation}}</option>
                        </select>
                        </td>

			<td style="width:90px;">
			<input class="form-control" type="text" id="jnumID-{{$index}}"
				ng-model="row.jnumid"
				ng-change="changeAnnotRow()"
				ng-blur="validateJnum(row, $index, 'jnumID-')"
				>
			</td>

                	<td class="short_citation" style="width:200px;">{{row.short_citation}} </td>

                        <td>
                        <select size="1" id="evidenceAbbreviation" tabindex="-1"
                        	ng-model="row.evidenceTermKey"
				ng-change="changeAnnotRow()"
				<option value="">Search All</option>
                        	<option ng-repeat="choice in vm.evidenceLookup" 
					value="{{choice.termKey}}">{{choice.abbreviation}}</option>
                        </select>
                        </td>

                        <td>
                        <select size="1" id="sexAbbreviation" tabindex="-1"
                        	ng-model="row.mpSexSpecificityValue"
				ng-change="changeAnnotRow()"
				<option value="">Search All</option>
                        	<option ng-repeat="choice in vm.mpSexSpecificityLookup" 
					value="{{choice.abbreviation}}">{{choice.abbreviation}}</option>
                        </select>
                        </td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="modifiedBy" tabindex="-1" ng-model="row.modifiedBy" >
			</td>
			<td style="width:80px;">
			<input class="form-control" type="text" id="modifiedDate" tabindex="-1" ng-model="row.modification_date" >
			</td>
			<td style="width:80px;">
			<input class="form-control" type="text" id="createdBy" tabindex="-1" ng-model="row.createdBy" >
			</td>
			<td style="width:80px;">
			<input class="form-control" type="text" id="createdDate" tabindex="-1" ng-model="row.creation_date" >
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" tabindex="-1" id="addAnnotButton" ng-class=""
				ng-click="addAnnotRow()" >Add Row</button>

                        <label>Edit Term</label>
                        <input type="checkbox" id="editTerm" 
				ng-model="vm.objectData.allowEditTerm"
				ng-true-value="true" ng-false-value="false"
				>

			<button type="button" style="float:right;" id="saveAnnotButton" tabindex="-1" ng-click="modifyAnnot()" >Save Annotations</button>
			</div>
		</div>
		<!-- annotation buttons -->

		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="row">

        		<div class="col-sm-4" style="">
				<label class="label-static">Term ID,J: =
					{{vm.objectData.mpAnnots[vm.selectedAnnotIndex].mpid}} {{vm.objectData.mpAnnots[vm.selectedAnnotIndex].jnumid}}
				</label><br>
			</div>

        		<div class="col-sm-12" style="">
                	<div id="noteTableWrapper" style="height:150px; overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="noteTable" style="width:1150px;"
				>

			<!-- table header -->
                	<thead>
                	<tr>
                	<th></th>
                	<th>Type</th>
                	<th style="width:1000px;">Note</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 

                	<tbody ng-repeat="note in vm.objectData.mpAnnots[vm.selectedAnnotIndex].allNotes"
				ng-click="selectNote($index)"
				ng-class="($index==vm.selectedNoteIndex) ? 'selectedRow' : ''"
                        	ng-class-odd="'oddRow'"
				>

			<!-- table rows -->
                	<tr ng-class="{deleteRow:note.noteKey != '' && note.noteChunk == ''}"
				>
                	<td>
                	<span ng-click="deleteNoteRow(note)">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td>
                        <select size="1" id="noteType" tabindex="-1"
                        	ng-model="note.noteTypeKey"
				<option value="">Search All</option>
                        	<option ng-repeat="choice in vm.noteTypeLookup" 
					value="{{choice.noteTypeKey}}">{{choice.noteType}}</option>
                        </select>
                        </td>

			<td style="width:200px;">
			<input class="form-control" type="text" id="{{note.noteKey}}note"
				ng-model="note.noteChunk"
				ng-change="changeAnnotRow()"
				ng-blur="selectNote($index + 1)"
				>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" tabindex="-1" id="addAnnotButton" ng-class=""
				ng-click="addNoteRow(vm.selectedAnnotIndex)" >Add Row</button>
			<button type="button" style="float:right;" id="saveNoteButton" tabindex="-1" ng-click="modifyAnnot()" >Save Note</button>
			</div>
		</div>
		<!-- note buttons -->

		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="row ">

        		<div class="col-sm-12" style="">
                	<div id="mpHeaderTableWrapper">
                	<table class="table table-bordered scrollable-menu" id="mpHeaderTable" style="width:650px;"
				>

			<!-- table header -->
                	<thead>
                	<tr>
                	<th sytle="width:45px;">#</th>
                	<th style="width:400px;">Header</th>
                	<th style="width:100px;">Approved By</th>
                	<th style="width:100px;">Approved Date</th>
                	</tr>
			</thead>

			<!-- table body -->

                	<tbody ng-repeat="row in vm.objectData.mpHeaders"
				ng-click="selectHeader($index)"
				ng-class="($index==vm.selectedHeaderIndex) ? 'selectedRow' : ''"
                        	ng-class-odd="'oddRow'"
				>
			<!-- table rows -->

			<td style="width:45px;">
			<input class="form-control" type="number" id="{{annotHeaderKey}}headerNum"
				ng-model="row.sequenceNum"
				ng-change="changeHeaderRow()"
				ng-blur="selectHeader($index + 1)"
				>
			</td>
                	<td style="">{{row.term}} </td>
			<td style="">{{row.approvedBy}} </td>
			<td style="">{{row.approval_date}} </td>
			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" id="saveNoteButton" tabindex="-1" ng-click="modifyAnnot()" >Save Header Order</button>
			</div>
		</div>
		<!-- header buttons -->

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:850px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		</br>
		<button type="button" id="saveAnnotButton" tabindex="-1" ng-click="modifyAnnot()" >Save Annotations</button>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div class="spacer"></div>
			<div id="totalCount"># of records: {{vm.total_count}}</div>
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.genotypeDisplay}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="spacer"></div>

			<div class="spacer"></div>
			<hr/>
			<div>Annotation Clipboard Items</div>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="clipboardTable" style="">
    			<tbody>
				<tr ng-repeat="row in vm.clipboard" 
					ng-click="selectClipboard($index)" 
					ng-class="($index==vm.selectedClipboardIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'"
					>
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{row.item}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="spacer"></div>
			<button type="submit" id="addCclipboard" tabindex="-1" ng-click="addClipboard(vm.selectedAnnotIndex)" >Copy Selected Annotation To Clipboard</button>
			<button type="submit" id="addAllClipboard" tabindex="-1" ng-click="addAllClipboard()" >Copy All Annotations To Clipboard</button>
			<button type="submit" id="pasteClipboard" tabindex="-1" ng-click="pasteClipboard()" >Paste Clipboard Annotations To Table</button>
			<div class="spacer"></div>
			<button type="submit" id="deleteClipboard" tabindex="-1" ng-click="deleteClipboard(vm.selectedClipboardIndex)" >Delete</button>
			<button type="submit" id="clearClipboard" tabindex="-1" ng-click="clearClipboard()" >Clear</button>


		</div>
		</div>
		
	</div>

</div>
</div>
</form>


<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row ">
		<div class="col-sm-12">
			<button type="button" id="showObjectDataButton" tabindex="-1" ng-click="vm.hideObjectData = !vm.hideObjectData;" 
					>Show Only ObjectData Package</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show Full Object JSON from API</button>			
			<div ng-hide="vm.hideObjectData">
				<pre>{{ vm.objectData | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 


<script type="text/javascript">
	// This JavaScript will execute *after* content injection.
	var input = document.getElementById ("genotypeDisplay");
	input.focus ();
</script>



