
<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="mpannotForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1000px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-10 section" style="min-height:800px;" >

		<div class="row topMargin">
			<div class="col-sm-2" style="">
				<label class="label label-search">MGI ID</label><br>
				<input class="form-control"  
					ng-blur="search()"
					ng-model="vm.objectData.mgiAccessionIds[0].accID" id="objectAccId" />
			</div>

			<div class="col-sm-8" style="">
				<label class="label label-search">Genotype</label><br>
				<input class="form-control"  
					ng-model="vm.objectData.genotypeDisplay" id="genotypeDisplay" />
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row ">
        		<div class="col-sm-12" style="">
                	<div id="annotTableWrapper">
                	<table class="table table-bordered scrollable-menu" id="annotTable" style="width:1150px;">
                	<tbody>
                	<tr>
                	<th></th>
                	<th style="width:95px;">Term ID</th>
                	<th style="width:200px;">Vocabulary Term</th>
                	<th>Qual</th>
                	<th style="width:95px;">J:</th>
                	<th style="width:200px;">Citation</th>
                	<th>Evi</th>
                	<th>Sex</th>
                	<th>Modified By</th>
                	<th>Date</th>
                	<th>Created By</th>
                	<th>Date</th>
                	</tr>

                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tr ng-repeat="row in vm.objectData.mpAnnots" 
                        	ng-click=""
                        	ng-class-odd="'oddTableRow'"
                        	ng-class="{deleteRow:vm.objectData.mpAnnots[$index].processStatus == 'd'}">
                	<td>
                	<span ng-click="deleteRow(vm.objectData.mpAnnots,$index)"> 
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>


			<td style="width:95px;">
			<input class="form-control" type=text id="termID" ng-model="row.mpIds[0].accID"
			</td>
<!--
                        	ng-blur="validateStrain($index, 'termID')"
-->

                	<td style="width:200px;">{{row.term}} </td>

                        <td>
                        <select size="1" id="qualifierAbbreviation" tabindex="-1"
                        	ng-model="row.qualifierKey"
                        	ng-change="modifyRow(vm.objectData.mpAnnots, $index)" >
                        	<option ng-repeat="choice in vm.qualifierLookup" 
					value="{{choice.termKey}}">{{choice.abbreviation}}</option>
                        </select>
                        </td>

			<td style="width:95px;">
			<input class="form-control" type=text id="jnumID" ng-model="row.evidence[0].jnumid"
			</td>

                	<td style="width:200px;">{{row.evidence[0].short_citation}} </td>

                        <td>
                        <select size="1" id="evidenceAbbreviation" tabindex="-1"
                        	ng-model="row.evidence[0].evidenceTermKey"
                        	ng-change="modifyRow(vm.objectData.mpAnnots, $index)" >
                        	<option ng-repeat="choice in vm.evidenceLookup" 
					value="{{choice.termKey}}">{{choice.abbreviation}}</option>
                        </select>
                        </td>

                	<td>{{row.evidence[0].mpSexSpecificityTerm}}</td>

                	<td>{{row.evidence[0].modifiedBy}} </td>
                	<td>{{row.evidence[0].modification_date}} </td>
                	<td>{{row.evidence[0].createdBy}} </td>
                	<td>{{row.evidence[0].creation_date}} </td>

			</tr>

			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="spacer"></div>
		<div class="row">
			<div class="col-sm-2" style="">
			<button type="button" tabindex="-1" id="addAnnotButton" ng-class=""
				ng-click="addRow()" >Add Row</button>
			</div>
		</div>
		<!-- annotation add row -->

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-2 section" style="min-height:800px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		</br>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="setObject($index)" 
					ng-class="($index==vm.selectedIndex) ? 'resultsTableSelectedRow' : ''"
					ng-class-odd="'oddResultRow'">
			    	<td style="min-width: 200px;  padding: 3px; font-size: .9em;">{{result.genotypeDisplay}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="spacer"></div>
		</div>
		</div>
		
	</div>

</div>
</div>
</form>


<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row ">
		<div class="col-sm-12">
			<button type="button" id="showObjectDataButton" tabindex="-1" ng-click="vm.hideObjectData = !vm.hideObjectData;" 
					>Show Only ObjectData Package</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show Full Object JSON from API</button>			
			<div ng-hide="vm.hideObjectData">
				<pre>{{ vm.objectData | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 


<script type="text/javascript">
	// This JavaScript will execute *after* content injection.
	var input = document.getElementById ("genotypeDisplay");
	input.focus ();
</script>



