{#
	form to delete mp annotation for a genotype
#}
<form class="deleteForm" action="{{url_for('edit.deleteGenotypeMPAnnotation', id=genotype.mgiid)}}" method="POST">

<input type="hidden" name="termAccId" value="{{annot.term_id}}"/>
<input type="hidden" name="refJnum" value="{{evidence.ref_jnumid}}"/>
<input type="hidden" name="qualifier" value="{{annot.qualifier or ''}}"/>

<input class="confirm" confirmText="Are you sure you want to delete this annotation?" type="submit" value="X" 
	{% if not current_user.is_authenticated() %}disabled{% endif %}
/>

</form>