{#
	form to add new mp annotation for a genotype
#}
<form class="addForm" action="{{url_for('edit.addGenotypeMPAnnotation', id=genotype.mgiid)}}" method="POST">

<label>Term Acc ID<input type="text" name="termAccId"/></label>
<label>Qualifier 
  <select name="qualifier">
    <option value="" default></option>
    <option value="normal">norm</option>
  </select>
</label>
<label>Reference J Number<input type="text" name="refJnum"/></label>
<label>Sex 
  <select name="sex">
    <option value="NA" default>NA</option>
    <option value="F">F</option>
    <option value="M">M</option>
  </select>
</label>

<input type="submit" value="Submit" 
	{% if not current_user.is_authenticated() %}disabled{% endif %}
/>

</form>