{% extends "pageLayout.html" %}

{% block imports %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mgijs/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/foo/foo.css') }}">

	<script src="{{ url_for('static',filename='app/edit/foo/FooService.js')}}"></script>
	<script src="{{ url_for('static',filename='app/edit/foo/FooController.js')}}"></script>
	
	<script>
		var access_token   = '{{config["ACCESS_TOKEN"]}}';
	</script>
	

{% endblock %}

{% block content %}
	<title>Foo EI Module</title>

	<div id="wrapper" ng-controller="FooController">
		<div ng-include="'{{ url_for('static',filename='app/edit/foo/foo_content.html')}}'"></div>
	</div>

	{% include "help/foo.html" %}

{% endblock %}

