body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

pre {
	white-space: pre-wrap;
}

/* styles for forms */
form input:not(:first-of-type) {
	margin-top: 1.1em;
}

form .example {
	font-size: 10px;
	font-style: italic;
}

/* Data list styles for detail pages */
dl { 
	margin-top:0px;
	margin-bottom:40px;
} 
dt,dd {
	line-height: 1.55; 
} 
dt {
	font-weight: bold; 
} 
dd {
	margin-left:0; 
} 
.detailPageListData dt{
	float:left;
	width:130px;
	clear:left;
	text-align:right;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
} 
.detailPageListData dt::after{
	content: ":"
} 
.detailPageListData dd{
	margin-left:140px
} 
.detailPageListData dd::after{
	/* add &nbsp; after each dd to maintain layout */
	content: "\00a0"
} 

.detailPageListData.wide dt{
	width: 190px;
}
.detailPageListData.wide dd{
	margin-left: 200px;
}

/* summary styles */
.dataTable {
    border: 1px solid black;
    border-collapse: collapse;
}
.dataTable th, td {
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

.row2 { background-color:#EFEFEF; }

.dataTable mark {
	color: inherit;
	background-color: inherit;
	font-weight: bold;
}

.youSearchedFor span {
	font-size: 120%;
	font-weight: bold;
}

.youSearchedFor dt{
	float:left;
	width:130px;
	clear:left;
	text-align:right;
	overflow:hidden;
	text-overf??low:ellipsis;
	font-weight: normal;
} 
.youSearchedFor dt::after{
	content: " = "
} 
.youSearchedFor dd{
	margin-left:140px;
	font-weight: bold;
} 

.errorlist {
	color:#F00;
}


.bluebar {
    font-weight: bold;
    font-size: 14px;
    color: #025;
    white-space: nowrap;
    border: 1px solid #7F7F7F;
    background-color: #d0e0f0;
}

a.external {
	background-color: #DFEFFF;
}

.ajaxLink {
	font-size: 14px;
}
.fakeLink {
	cursor:pointer;
	color: #006699;
}
.fakeLink:hover {
	color: #f66;
}
.ribbon_content
{
        padding-left:20px;
        max-height: 200px;
        overflow-y:auto;
}

.hide { display:none; }

/* fix superscript line-height issue */
sup {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}




/* Assay Detail */
.specimenDetail dl.detailPageListData{
	margin-bottom: 10px;
}
.specimenDetail table.dataTable{
	margin-left: 20px;
	margin-bottom: 40px;
}
.imagePaneWrapper{
	display: inline-block;
	padding: 4px;
}

.gellaneDetail .control{
	text-align: center;
}

.cre{
	color:#999999;
}

/* VocTerm Detail */
.voctermDetail dl.detailPageListData{
	background-color: #ffffcc;
}

/* Genotype Detail */
.genotypeDetail .header {
	font-weight: bold;
}

.genotypeDetail {
	line-height: 1.3;
}

.genotypeDetail ul {
	margin-top: 0px;
}

.genotypeDetail .genotypeHeader {
	margin-top: 30px;
	margin-bottom: 10px;
	border-color: black;
	border-top: solid 1px;
	border-bottom: solid 1px;
	background-color: #dfefff;
}

/* Gxd Index Summary */

.gxdindexMarker {
	margin-bottom: 20px;
}

.gxdindexMarker span {
	font-weight: bold;
}
