.errorlist {
	color:#F00;
}

.row2 { background-color:#EFEFEF; }

.bluebar {
    font-weight: bold;
    font-size: 14px;
    color: #025;
    white-space: nowrap;
    border: 1px solid #7F7F7F;
    background-color: #d0e0f0;
}

.fakeLink {
	cursor:pointer;
	color: #006699;
}
.fakeLink:hover {
	color: #f66;
}
.ribbon_content
{
        padding-left:20px;
        max-height: 200px;
        overflow-y:auto;
}

.hide { display:none; }
.login {padding-top:10px;padding-right:10px; }
