body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin: 0px;
}

main {
	margin-left: 8px;
}

pre {
	white-space: pre-wrap;
}

/* header styles */

h2, h3, h4 {
	margin-bottom: 0.2em;
}

h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}

h3 { 
	font-size: 14px;
}

h4 {
	font-size: 13px;
}

/* list styles */
ul {
	padding-left: 18px;
}

/* styles for forms */
form input:not(:first-of-type) {
	margin-top: 1.1em;
}

form select, 
form input{
	margin-top: .5em;
}
form input[type="submit"],
form input[type="reset"] {
	font-size: large;
	cursor: pointer;
}

form label,
form select {
	display: inline-block;
	vertical-align:middle;
}

.example {
	/* applies to forms and help-section examples */
	font-style: italic;
}
form .example {
	font-size: 10px;
}

button {
	cursor: pointer;
}

/* styles for form labels */
/* green */
.label-edit {
	background-color: rgb(195,246,190);
}
/* green */
.label-edit-search {
	background-color: rgb(195,246,190);
}
/* thistle */
.label-search {
	background-color: rgb(216, 191, 216);
}
/* blue */
.label-view-only {
	background-color: rgb(203,232,248);
}
/* red */
.label-alert {
	background-color: rgb(255,0,0);
}
/* light orange */
.label-other {
	background-color: rgb(255,213,128);
}

/* top banner */
#topBannerContainer {
	background-color: #dfefff;
	border-bottom: solid 2px black;
}
.logoContainer {
}

.logoContainer a {
	text-decoration: none;
	color: black;
}

.logoContainer #pwiLogo {
	margin-right:20px; 
	float:left; 
	height: 52px;
}

#bannerInfo {
	font-size: 16px;
	display: inline;
}

#bannerInfo h1 {
	float: left;
	margin: 0px;
	margin-right: 12px;
	font-size: 18px;
}

#bannerInfo .subInfo {
	color: #666;
}

#bannerInfo .loginInfo {
	margin-top:4px;
}

#bannerInfo form {
	display: inline;
	margin: 0px;
}
#bannerInfo form input {
	display: inline;
	margin: 0px;
}

/* help section */
#helpSectionWrapper {
	margin-left:15px;
}

/* accession box */
.accessionFormContainer {
	float: right;
	margin-right: 10px;
	margin-top: 24px;
}
.accessionFormContainer form {
	margin: 0px;
}
.accessionFormContainer input {
	margin: 0px;
}


.menuHeader {
	border-bottom: solid 2px black;
	padding: 2px;
	overflow: hidden;
}

.editMenuHeader {
	background-color: #dfffef;
}

.searchMenuHeader {
	background-color: #ffefdf;
}

.menuHeader .searchMenu .editMenu {
	margin-left: 4px;
}

.menuHeader ul {
	list-style-type: none;
	margin: 0px;
	padding:0px;
	display: block;
}

.menuHeader li {
	display: inline;
	float: left;
	margin-right: 12px;
}


/* AD search again form */

div.adSearchAgainForm {
	float: right;
	border: 1px solid black;
	margin-right: 40px;
	text-align: center;
	background-color: #DFEFFF;
	padding: 2px;
}

.adSearchAgainForm span {
	font-weight: bold;
	font-size: 110%;
}

/* Data list styles for detail pages */
dl { 
	margin-top:0px;
	margin-bottom:20px;
} 
dt,dd {
	line-height: 1.35; 
} 
dt {
	font-weight: bold; 
} 
dd {
	margin-left:0; 
} 
.detailPageListData dt{
	float:left;
	width:135px;
	clear:left;
	text-align:right;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
} 
.detailPageListData dt::after{
	content: ":"
} 
.detailPageListData dd{
	margin-left:140px
} 
.detailPageListData dd::after{
	/* add &nbsp; after each dd to maintain layout */
	content: "\00a0"
} 

.detailPageListData.wide dt{
	width: 190px;
}
.detailPageListData.wide dd{
	margin-left: 200px;
}

/* summary styles */
.dataTable {
    border: 1px solid black;
    border-collapse: collapse;
}
.dataTable tr{
	border: 1px solid black;
}

/* This effects multiple pages with a change */
.dataTable th, 
.dataTable td {
    vertical-align: top;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

.row2 { background-color:#EFEFEF; }

.dataTable mark {
	color: inherit;
	background-color: inherit;
	font-weight: bold;
}

.youSearchedFor span {
	font-size: 120%;
	font-weight: bold;
}

.youSearchedFor dt{
	float:left;
	width:160px;
	clear:left;
	text-align:right;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight: normal;
} 
.youSearchedFor dt::after{
	content: " = "
} 
.youSearchedFor dd{
	margin-left:165px;
	font-weight: bold;
} 

.errorlist {
	color:#F00;
}


.bluebar {
    font-weight: bold;
    font-size: 14px;
    color: #025;
    white-space: nowrap;
    border: 1px solid #7F7F7F;
    background-color: #d0e0f0;
}

a.external {
	background-color: #DFEFFF;
}

.ajaxLink {
	font-size: 14px;
}
.hide {
	display: none;
}
.fakeLink {
	cursor:pointer;
	color: #006699;
}
.fakeLink:hover {
	color: #f66;
}
.ribbon_content
{
        padding-left:20px;
        max-height: 200px;
        overflow-y:auto;
}

.hide { display:none; }

/* fix superscript line-height issue */
sup {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}




/* Assay Detail */
.specimenDetail dl.detailPageListData{
	margin-bottom: 10px;
}
.specimenDetail table.dataTable{
	margin-left: 20px;
	margin-bottom: 20px;
}
.imagePaneWrapper{
	display: inline-block;
	padding: 4px;
}

.gellaneDetail .control{
	text-align: center;
}

.cre{
	color:#999999;
}

/* VocTerm Detail */
.voctermDetail dl.detailPageListData{
	background-color: #ffffcc;
}

/* Genotype Detail */
.genotypeDetail .header {
	font-weight: bold;
}

.genotypeDetail {
	line-height: 1.3;
}

.genotypeDetail ul {
	margin-top: 0px;
}

.genotypeDetail .genotypeHeader {
	margin-top: 30px;
	margin-bottom: 10px;
	border-color: black;
	border-top: solid 1px;
	border-bottom: solid 1px;
	background-color: #dfefff;
}

/* Gxd Index Summary */

.gxdindexMarker {
	margin-bottom: 20px;
}

.gxdindexMarker span {
	font-weight: bold;
}

.gxdindexMarker span.normal {
	font-weight: normal;
}

.gxdIndexInfoList.detailPageListData dt{
	width: 90px;
}
.gxdIndexInfoList.detailPageListData dd{
	margin-left: 100px;
}


.gxdindexMarkersForRef {
	border: none;
}
.gxdindexMarkersForRef tr {
	border: none;
}

.gxdindexMarkersForRef td {
	border: none;
}

.gxdindexMarkersForRef .markerSymbol {
	font-weight: bold;
}


/* jquery ui error popup */

/* jquery-ui dialog */
.error .ui-dialog-titlebar {
	background: none;
	background-color: red;
}

/* paginator styles */
.paginator .currentPage{
	font-weight: bold;
	margin-left: 4px;
	margin-right: 4px;
}

.paginator .shortcut {
	margin-right: 4px;
	margin-left: 4px;
}
.paginator dirNav {
	margin-right: 2px;
	margin-left: 2px;
}
.paginator dirNav:nth-child(1) {
	margin-left: 0px;
}

.paginator .currentPage{
	font-weight: bold;
}


.paginator .totalResults {
	margin-left: 1em;
}

.paginator .disable {
	color: #999;
}
