
<title ng-if="vm.isMgd">MGD Image Module</title>
<title ng-if="vm.isGxd">GXD Image Module</title>

<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="imageForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1000px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:1300px;" >

		<div class="row topMargin">

			<div class="col-sm-2" style="">
				<label class="label label-edit">J#</label>
				<input class="form-control" 
					ng-blur="jnumOnBlur()"
					ng-model="vm.apiDomain.jnumid" id="JNumID" tab-to="figureLabelID"/>
			</div>

			<div class="col-sm-3" style="">
				<label class="label label-edit">Figure Label</label>
				<input class="form-control" ng-readonly="vm.queryMode==false && vm.apiDomain.imageTypeKey==1072159"
					ng-model="vm.apiDomain.figureLabel" id="figureLabelID" tab-to="captionID"/>
			</div>

			<div class="col-sm-3" style="">
				<label class="label label-edit">Image Class</label><br>
                                <select id="imageClassID" ng-model="vm.apiDomain.imageClassKey" size="1">
                                        <option value="">Search All</option>
                                        <option ng-repeat="term in vm.imageClassTerms" value="{{term.termKey}}">{{term.term}}</option>
                                </select>
			</div>

                        <div class="col-sm-2" style="">
                                <div class="gridButtonsWrapper" ng-if="!vm.queryMode">
                                  <span style="position: relative; bottom: -1;">
                                    Image Detail<img style="position:absolute;" id="imgDetailButton" class="externalLink"
                                      src="/pwi/static/images/link_out.png" width=20 height=20
                                          ng-click="imgDetailLink()" >
                                  </span>
                                </div>
                        </div>

                        <div class="col-sm-2" style="text-align:right;">
		                <button type="button" id="duplicateButton" tabindex="-1" ng-click="duplicateImage()" >Duplicate</button>
                        </div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-12" style="">
				<label class="label label-search">Citation</label>
				<input class="form-control" ng-readonly="vm.queryMode==false"
					ng-model="vm.apiDomain.short_citation" id="citationID" />
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-12" style="">
				<label class="label label-edit">Caption</label>
                                <img id="clearCaptionButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearNote(vm.apiDomain.captionNote)"><br>
				<textarea class="form-control" rows=9 ng-model="vm.apiDomain.captionNote.noteChunk" 
					id="captionID" placeholder="" tab-to="paneLabelID"></textarea>
				<button type="button" id="addSuperscriptTagButton" 
						ng-click="addSuperscriptTag()" >Superscript</button>
				<button type="button" id="addAlleleTagButton" 
						ng-click="addAlleleTag()" >Allele Tag</button>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-12" style="">
				<label class="label label-edit">Copyright</label>
                                <img id="clearCopyrightButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearNote(vm.apiDomain.copyrightNote)">
		                <label class="label label-alert" ng-if="vm.journalLicenses.length>1">Journal Licenses</label>
                                <select type=dropdown size="1" id="journalLicenses" tabindex="-1" ng-if="vm.journalLicenses.length>1"
			             ng-options="choice.termKey as choice.note for choice in vm.journalLicenses"
                                     ng-model="vm.selectedJournalLicense"
                                     ng-change="selectJournalLicense()"
                                     >
                                <option value="">Choose</option>
                                </select>
                                <br>
				<textarea class="form-control" rows=2 ng-model="vm.apiDomain.copyrightNote.noteChunk" 
					id="copyrightID" placeholder="" >
                                </textarea>
			</div>
		</div>

		<div class="row topMargin" ng-if="vm.isMgd==true">
			<div class="col-sm-12" style="">
				<label class="label label-edit">Private Curatorial Notes</label>
                                <img id="clearPrivateCuratorialButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearNote(vm.apiDomain.privateCuratorialNote)"><br>
				<textarea class="form-control" rows=2 ng-model="vm.apiDomain.privateCuratorialNote.noteChunk" 
					id="privateCuratorialID" placeholder="" ></textarea>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-12" style="">

				<div class="col-sm-6" style="">
	
					<div class="row" style="">
					<div class="col-sm-6" style="padding-left: 0px;">
						<label class="label label-edit">MGI Image/PIX</label>
                                               	<img id="clearPixButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearNote(vm.apiDomain.editAccessionIds[0])"><br>
						<input class="form-control" ng-readonly="vm.queryMode==false"
							ng-model="vm.apiDomain.editAccessionIds[0].accID" id="pixAccId" />
					</div>
                       			<div class="col-sm-2">
                                	<div class="gridButtonsWrapper">
                                  		<span style="position: relative; bottom: -1;">
                                    		Prism<img style="position:absolute;" id="prismButton" class="externalLink"
                                      		src="/pwi/static/images/link_out.png" width=20 height=20
                                         			ng-click="prismLink()" >
                                  		</span>
                                	</div>
                        		</div>
					</div>

					<div class="row topMargin" style="">
					<div class="col-sm-6" style="padding-left: 0px;">
						<label class="label label-search">X Dim</label>
						<input class="form-control" ng-readonly="vm.queryMode==false"
							ng-model="vm.apiDomain.xdim" id="xDimID" />
					</div>
					<div class="col-sm-6" style="">
						<label class="label label-search">Y Dim</label>
						<input class="form-control" ng-readonly="vm.queryMode==false"
							ng-model="vm.apiDomain.ydim" id="yDimID" />
					</div>
					</div>

					<div class="row topMargin" style="">
					<div class="col-sm-6" style="padding-left: 0px;">
						<label class="label label-search">Thumbnail AccID</label>
						<input class="form-control" ng-readonly="vm.queryMode==false"
							ng-model="vm.apiDomain.thumbnailImage.accID" id="thumbnailAccID" />
					</div>
					<div class="col-sm-6" style="">
						<label class="label label-search">Image Type</label><br>
                                		<select id="imageTypeID" ng-model="vm.apiDomain.imageTypeKey" size="1"
                                                		ng-if="vm.queryMode">
                                        		<option value="">Search All</option>
                                        		<option ng-repeat="term in vm.imageTypeTerms" 
								value="{{term.termKey}}">{{term.term}}</option>
                                		</select>
						<input class="form-control" id="imageTypeID" ng-model="vm.apiDomain.imageType" 
							ng-if="vm.queryMode==false" ng-readonly="vm.queryMode==false" />
					</div>
					</div>

					<div class="row topMargin" >
						<div class="col-sm-12" style="padding-left: 0px;">
							<label class="label label-edit">External Link Notes</label>
                                			<img id="clearExternalLinkButton" src="/pwi/static/images/clear.png" width=15 height=15 
								ng-click="clearNote(vm.apiDomain.externalLinkNote)"><br>
							<textarea class="form-control" rows=1 ng-model="vm.apiDomain.externalLinkNote.noteChunk" 
								id="externaLinkID" placeholder="" ></textarea>
						</div>
					</div>	

                                	<div class="row topMargin" ng-if="vm.queryMode">
						<div class="col-sm-6" style="padding-left: 0px;">
							<label class="label label-view-only">Other Accession Type</label><br>
                                                        <select id="accidTypeID"
                                                                ng-model="vm.apiDomain.nonEditAccessionIds[0].logicaldbKey"  style="" size="1">
								<option value="">Search All</option>
                                                                <option value="105">GenePaint</option>
                                                                <option value="163">GUDMAP</option>
                                                        </select>
						</div>
						<div class="col-sm-6" style="padding-left: 0px;">
							<label class="label label-view-onlysearch">Other Accession Ids</label><br>
							<input class="form-control" 
								ng-model="vm.apiDomain.nonEditAccessionIds[0].accID" id="otherAccId" />
						</div>
					</div>

                                	<div class="row topMargin" ng-if="!vm.queryMode">
						<div class="col-sm-12" style="padding-left: 0px;">
                                        	<table class="table table-bordered scrollable-menu" id="otherAccIdTable" style="">
                                		<tbody>
							<label class="label label-search">Other Accession Ids</label>
                                                	<tr ng-repeat="row in vm.apiDomain.nonEditAccessionIds" 
                                                        	ng-click=""
                                                        	ng-class-odd="'oddResultRow'">
                                                        	<td>{{row.logicaldb}}</td>
                                                        	<td>{{row.accID}}</td>
                                                	</tr>
                                        	</tbody>
                                        	</table>
                                		</div>
                                	</div>

                                	<div class="row topMargin">
                                               	<div class="col-sm-12" style="padding:2px;">
							<label class="label label-edit">Allele Associations</label>
							<button type="button" id="modifyAlleleAssocButton" tabindex="-1" ng-click="modifyAlleleAssoc()" 
								ng-disabled="current_user.login==null || vm.queryMode==true" >Modify Allele Associations</button>
							<div id="alleleAssocTableWrapper">
                                        		<table class="table table-bordered scrollable-menu" id="alleleAssocTable" style="">
                                			<tbody>
                                                	<tr ng-repeat="row in vm.alleleAssocs" 
							    ng-click=""
							    ng-class-odd="'oddResultRow'" >
                                  				<td><span style="position: relative; bottom: -1;">
                                    				Image Summary<img style="position:absolute;" id="imgSummaryButton" class="externalLink"
                                      				src="/pwi/static/images/link_out.png" width=20 height=20
                                         					ng-click="imgSummaryLink(row.accID)" >
                                  				</span>
								</td>
                                                       		<td>{{row.accID}}</td>
                                                       		<td>{{row.symbol}}</td>
                                                	</tr>
                                        		</tbody>
                                        		</table>
							</div>
                                		</div>
                                	</div>

				</div>

				<div class="col-sm-6" style="">
				<div class="" >
				<button type="button" tabindex="-1" ng-click="addPaneLabel()" >Add Pane Label</button>
				<div id="paneCount" style="float:right;"><label class="label label-view-only" >Panes</label>{{vm.paneCount}}</div><br>
				<table class="table table-bordered scrollable-menu" id="imagePaneTable" style="">

    					<tbody ng-if="vm.queryMode==true">
						<tr><th>Pane Label</th></tr>
						<tr ng-repeat="pane in vm.apiDomain.imagePanes" 
							ng-click=""
							ng-class-odd="'oddResultRow'">
							<td>
								<input class="form-control" 
									ng-change="paneLabelChanged($index)"
									ng-model="vm.apiDomain.imagePanes[$index].paneLabel" 
									id="paneLabelID{{vm.apiDomain.imagePanes[$index].imagePaneKey}}"
									/>
							</td>
						</tr>
					</tbody>

    					<tbody ng-if="vm.queryMode==false">
						<tr>
							<th ></th>
							<th>Pane Label</th>
							<th>X, Y, Width, Height</th>
						</tr>
						<tr ng-repeat="pane in vm.apiDomain.imagePanes" 
							ng-click=""
							ng-class-odd="'oddResultRow'"
							ng-class="{deletedRow:vm.apiDomain.imagePanes[$index].processStatus == 'd'}">
							<td >
				    			<span ng-click="pane.processStatus == 'x' ? pane.processStatus = 'd' : pane.processStatus = 'x'">
								<img src="/pwi/static/images/remove.png"
				        			style="width:12px; height: 12px; cursor: pointer;" /></span>
							</td>
							<td>
								<input class="form-control" 
									ng-change="paneLabelChanged($index)"
									ng-model="vm.apiDomain.imagePanes[$index].paneLabel" 
									id="paneLabelID{{vm.apiDomain.imagePanes[$index].imagePaneKey}}"
									/>
							</td>
							<td>
							<div ng-if="pane.x != null">
								{{pane.x}}, {{pane.y}}, {{pane.width}}, {{pane.height}}
							</div>
							</td>
						</tr>
					</tbody>

				</table>
				</div>
				</div>

			</div>
		</div>
		<br/>

	</div>

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:1300px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		<button type="button" id="updateButton" tabindex="-1" ng-click="modifyObject()" >Modify</button>
		<button type="button" id="createButton" tabindex="-1" ng-click="createObject()" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="deleteObject()" >Delete</button>
		
		<div class="spacer"></div>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="objectCreatedBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="objectCreationDate"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="objectModifiedBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="objectModificationDate" tab-to="JNumID"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">MGI ID</label><br>
				<input class="form-control" ng-model="vm.apiDomain.accID" id="objectAccId" />
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="setObject($index)" 
					ng-class="($index==vm.selectedIndex) ? 'resultsTableSelectedRow' : ''"
					ng-class-odd="'oddResultRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.imageDisplay}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>
	</div>
</div>
</div>
</form>

<!-- Java API JSON data dump -->
<show-model vm="vm" />

<script type="text/javascript">
	document.getElementById("JNumID").focus();
</script>

<ng-include src="STATIC_APP_URL + '/edit/image/help.html'" />
