
<div ng-hide="vm.hideErrorContents">
	<h3 id="loadingHeader">{{ vm.errorMsg }}</h3>
</div>

<form id="imageSubmissionForm" class="form-horizontal" ng-model="vm.form" name="form">

<div class="container-fluid" style="min-width:1000px">
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:420px;" >

		<div class="row topMargin">

			<div class="col-sm-3" style="">
				<label class="label label-edit">J#</label>
				<input class="form-control" 
					ng-blur="jnumOnBlur()"
					ng-model="vm.apiDomain.jnumid" id="JNumID" tab-to="citationID"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-12" style="">
				<label class="label label-search">Citation</label>
				<input class="form-control"
					ng-model="vm.apiDomain.short_citation" id="citationID" />
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-12" style="">
			<div id="imageTableWrapper">
			<table class="table table-bordered scrollable-menu" id="imageTable" style="">
                        <tbody>
                        	<tr>
                                <th>Figure Label</th>
                                <th>Status</th>
                                <th>Image Type</th>
                                <th>Thumbnail Figure Label</th>
                                </tr>
                                <tr ng-repeat="row in vm.results"
                                    ng-class-odd="'oddResultRow'">
					<td>{{row.figureLabel}}
                                                <span ng-if="row.hasPixId==true">
                                                        <a target="_blank" href="{{PIXDB_URL}}{{row.pixIds[0].numericPart}}">
                                                                <img src="/pwi/static/images/link_out.png" width="15" height="15" >
                                                        </a>
                                                </span>
                                	</td>
					<td ng-if="row.hasPixId==true">{{row.pixStatus}}</td>
					<td ng-if="row.hasPixId==false">
                                                <input class="form-control" type="file"
							id="{{row.imageKey}}" 
							onchange="angular.element(this).scope().fileNameChanged(this)"
							/>
					</td>
					<td>{{row.imageType}}</td>
					<td>{{row.thumbnailFigureLabel}}</td>
				</tr>
                        </tbody>
                        </table>
			</div>
			</div>

		</div>

		<div class="row topMargin">
		<div class="col-sm-12" style="">
			<button type="submit" id="submitButton" ng-click="submitObject()" >Submit Image Files</button>
		</div>
		</div>

	</div>


	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:420px;">

		<div class="spacer"></div>
		
		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
	</div>

</div>
</div>
</form>

<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" id="showApiDomainButton" tabindex="-1" ng-click="vm.hideApiDomain = !vm.hideApiDomain" 
					>Show JSON package/API domain only</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show JSON package/API domain + other data</button>			
			<div ng-hide="vm.hideApiDomain">
				<pre>{{ vm.apiDomain | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 

<script type="text/javascript">
	document.getElementById("JNumID").focus();
</script>

