<title>Marker/GO Annotation Module</title>
<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="goannotForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:850px;" >

		<div class="row topMargin">
			<div class="col-sm-2" style="">
				<label class="label label-search">MGI ID</label><br>
				<input type="text" class="form-control"  
					ng-blur="searchAccId()"
					ng-model="vm.apiDomain.accID" id="markerAccId"
				></input>
			</div>

			<div class="col-sm-6" style="">
				<label class="label label-search">Marker</label>
				<label class="label"><strong>This interface does not allow editing or addition of GO annotations. Please use Noctua.</strong></label>
                                <br>
				<input type="text" class="form-control"  
					ng-blur="searchDisplay()"
					ng-class="{markerNotGene:vm.apiDomain.markerType != 'Gene' && vm.apiDomain.markerType != '' && vm.apiDomain.markerType != null}"
					ng-model="vm.apiDomain.markerDisplay" id="markerDisplay"
				></input>
			</div>

			<div class="col-sm-2" style="">
				<label class="label label-view-only">Marker Type</label><br>
				<input type="text" class="form-control" id="markerType" tabindex="-1" readonly
                                	ng-model="vm.apiDomain.markerType"
                                	></input>
			</div>

			<div class="col-sm-2" style="">
				<label class="label label-view-only">Marker Status</label><br>
				<input type="text" class="form-control" id="markerStatus" tabindex="-1" readonly
                                	ng-model="vm.apiDomain.markerStatus"
                                	></input>
			</div>

		</div>

		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-sm-4" style="">
				<label class="label label-search">Sort Order</label><br>
                		<select type=dropdown size="1" id="orderBy}" tabindex="-1"
					ng-options="choice.termKey as choice.term for choice in vm.orderByLookup"
                			ng-model="vm.orderBy"
					ng-change="getOrderBy(vm.orderBy)"
					>
                		</select>
			</div>


			<div class="col-sm-2" style="">
				<label class="label label-edit">Last Reviewed Date?</label><br>
                		<select type=dropdown size="1" id="completion}" tabindex="-1"
					ng-options="choice.termKey as choice.term for choice in vm.completionLookup"
                			ng-model="vm.apiDomain.goTracking[0].isCompleted"
					ng-change="setCompletionDate()"
					>
				<option value="">All</option>
                		</select>
				<input type="text" class="form-control"  id="completeDate"
					ng-blur="searchDisplay()"
					ng-model="vm.apiDomain.goTracking[0].completion_date" 
					ng-change="setCompletionDate()"
					></input>
			</div>

			<div class="col-sm-6" style="">
			<label class="label label-edit-search">GO Marker Note</label>
			<img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15 
				ng-click="clearNote(vm.apiDomain.goNote[0])">
			<textarea class="form-control" rows=2 id="goNote" ng-model="vm.apiDomain.goNote[0].noteChunk" ></textarea>
			</div>

		</div>

		<div class="spacer"></div>
		<div class="row">
        	<div class="col-sm-12" style="">

                	<div id="annotTableWrapper">
                	<table class="table table-bordered" id="annotTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:150px;">GO Term</th>
                	<th style="width:10px;">DAG</th>
                	<th style="width:150px;">Vocabulary Term</th>
			<th style="width:15px;">Qual</th>
                	<th style="width:90px">J#</th>
                	<th style="width:150px;">Citation</th>
                	<th style="width:15px;">Evi</th>
                	<th style="width:250px;">Inferred From</th>
                	<th style="width:80px;">Modified</th>
                	<th style="width:85px;">Date</th>
                	<th style="width:80px;">Created</th>
                	<th style="width:85px;">Date</th>
                	<th style="width:5px;">P</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.annots track by $index"
				ng-click="selectAnnot($index)"
				ng-class="{selectedRow:$index==vm.selectedAnnotIndex, deleteRow:row.processStatus == 'd'}"
                        	ng-class-odd="'oddRow'"
				>

			<td style="width:150px;">
			<input class="form-control" type="text" id="termID-{{$index}}" 
				ng-model="row.termid"
				ng-blur="validateTerm(row, $index, 'termID-')"
				></input>
			</td>

                	<td class="term" style="width:10px;">{{row.goDagAbbrev}} </td>
                	<td class="term" style="width:150px;">{{row.term}} </td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="qualifierAbbrevDropDown-{{$index}}" 
				ng-options="choice.termKey as choice.abbreviation for choice in vm.qualifierLookup"
                        	ng-model="row.qualifierKey"
				>
				<option value="">All</option>
                        </select>
                        </td>

			<td style="width:90px;">
			<input class="form-control" type="text" id="jnumID-{{$index}}"
				ng-model="row.jnumid"
				ng-blur="validateJnum(row, $index, 'jnumID-')"
				></input>
			</td>

                	<td class="short_citation" style="width:150px;">{{row.short_citation}} </td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="evidenceAbbreviations-{{$index}}" 
				ng-options="choice.termKey as choice.abbreviation for choice in vm.evidenceLookup"
                        	ng-model="row.evidenceTermKey"
				>
				<option value="">All</option>
                        </select>
                        </td>

			<td style="width:250px;">
			<input class="form-control" type="text" id="inferredFrom-{{$index}}"
			        ng-model="row.inferredFrom" 
			        ng-blur="validateInferredFrom(row, $index, 'modifiedBy-')"
                        ></input>
                        <div ng-if="row.modifiedBy=='RGD'">
                                <span style="position: relative; bottom: -1;">
                                RGD <img style="position:absolute;" id="rgdButton-{{$index}}" class="externalLink"
                                src="/pwi/static/images/link_out.png" width=20 height=20
                                ng-click="rgdLink($index)" >
                                </span>
                        </div>
                        <div ng-if="row.modifiedBy=='UniProtKB'">
                                <span style="position: relative; bottom: -1;">
                                QuickGO <img style="position:absolute;" id="uniprotButton-{{$index}}" class="externalLink"
                                src="/pwi/static/images/link_out.png" width=20 height=20
                                ng-click="uniprotLink($index)" >
                                </span>
                        </div>
			</td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="modifiedBy-{{$index}}" tabindex="-1" ng-model="row.modifiedBy" ></input>
			</td>
			<td style="width:85px;">
			<input class="form-control" type="text" id="modifiedDate-{{$index}}" tabindex="-1" ng-model="row.modification_date" ></input>
			</td>
			<td style="width:80px;">
			<input class="form-control" type="text" id="createdBy-{{$index}}" tabindex="-1" ng-model="row.createdBy" ></input>
			</td>
			<td style="width:85px;">
			<input class="form-control" type="text" id="createdDate-{{$index}}" tabindex="-1" ng-model="row.creation_date" ></input>
			</td>
                	<td class="short_citation" style="width:5px;">{{row.hasProperties==true ? 'y' : 'n'}} </td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->

		</div>
		<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addAnnotButton" ng-class=""
				ng-click="addAnnotRow()" >Add Row</button>
                        <label>Search Obsolete</label>
                        <input type="checkbox" tabindex="-1" id="searchObsolete" 
				ng-model="vm.includeObsolete"
				ng-true-value="true" ng-false-value="false"
				></input>
			</div>
		</div>
		<!-- annotation buttons -->

		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="row">

        		<div class="col-sm-4" style="">
				<label class="label-static">GO Term,J# =
					{{vm.apiDomain.annots[vm.selectedAnnotIndex].termid}} {{vm.apiDomain.annots[vm.selectedAnnotIndex].jnumid}}
				</label><br>
			</div>

        		<div class="col-sm-12" style="">
                	<div id="propertyTableWrapper">
                	<table class="table table-bordered" id="propertyTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;">Stanza</th>
                	<th style="width:70px;">Property</th>
                	<th style="width:700px;">Value</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 

                	<tbody>

			<!-- table rows -->
                	<tr ng-repeat="property in vm.apiDomain.annots[vm.selectedAnnotIndex].properties"
				ng-click="selectProperties($index)"
				ng-class="{deleteRow:property.processStatus == 'd', selectedPropertyRow:$index==vm.selectedPropertyIndex}"
                        	ng-class-odd="'oddRow'"
				>

			<td style="width:5px;">
			<input class="form-control" type="number" min="1" max="999" tabindex="-1" id="stanza-{{$index}}"
				ng-model="property.stanza"
				ng-blur="selectProperty($index)"
				></input>
			</td>

                        <td style="width:70px;">
                        <select type=dropdown size="1" id="propertyTerm-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.propertyLookup"
                        	ng-model="property.propertyTermKey"
				>
				<option value="">All</option>
                        </select>
                        </td>

			<td style="width:700px;">
			<input class="form-control" type="text" id="value-{{$index}}"
				ng-model="property.value"
				ng-blur="selectProperty($index)"
				></input>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addPropertyButton" ng-class=""
				ng-click="addPropertyRow(vm.selectedAnnotIndex)" >Add Row</button>
			</div>
		</div>
		<!-- property buttons -->

		<!-- references -->
		<div class="spacer"></div>
		<div class="sectionDivider"></div>
		<div class="spacer"></div>

                <div class="row">
                        <div class="col-sm-2" style="">
                        <div id="referenceCount">{{vm.references.length}} result(s)</div>
                        </div>
                </div>

		<div class="row ">
        		<div class="col-sm-12" style="">
                	<div id="refTableWrapper">
                	<table class="table table-bordered " id="refTable" >

			<!-- table header -->
                	<thead>
                	<tr>
			<th style="width:95px;">J#</th>
                	<th style="width:200px;">Citation</th>
                	</tr>
			</thead>

                	<tbody> 
                	<tr ng-repeat="row in vm.references track by $index"
                        	ng-class-odd="'oddRow'"
				>

                	<td class="jnumid" style="width:95px;">{{row.jnumid}} </td>
                	<td class="short_citation" style="width:200px;">{{row.short_citation}} </td>

			</tr>
			</tbody>
			</table>
			</div>
			</div>
		</div>

		<!-- references -->

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:850px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		</br>
		<button type="button" id="saveAnnotButton" tabindex="-1" ng-click="modifyAnnot()" >Save Last Revised Date, GO Marker Notes</button>
		<button type="button" id="reportButton" tabindex="-1" ng-click="getReferenceReport()" >Potential GO Reference Report</button>
		<div class="row ">
		<div class="col-sm-12" style="">
                <span style="position: relative; bottom: -1;">
                	My MGI Reports<img style="position:absolute;" id="mgireportButton" class="externalLink"
                	src="/pwi/static/images/link_out.png" width=20 height=20
                	ng-click="mgireportLink()" >
                </span>
		</div>
		</div>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div class="spacer"></div>
			<div id="totalCount"># of records: {{vm.total_count}}</div>
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.markerDisplay}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>
		
	</div>

</div>
</div>
</form>

<!-- Java API JSON data dump -->
<show-model vm="vm" />
<ng-include src="PAGE_HELP_URL" />

<script type="text/javascript">
	document.getElementById("markerDisplay").focus();
</script>

