<title>Literature Triage</title>
<div class="container-fluid">

	<form id="moduleForm1" class="form-horizontal mousetrap">
	<div class="spacer"></div>
	<div class="row ">
	<div class="col-sm-14" style="">
		<div class="col-sm-1">
			<label class="label label-search">Discard?</label><br>
			<select id="currentRelevance"  ng-model="vm.selected.currentRelevance" ng-init="vm.selected.currentRelevance='70594667'" size="1">
				<option value="70594667">Keep</option>
				<option value="70594666">Discard</option>
				<option value="70594668">Not Specified</option>
				<option value="">Search All</option>
			</select>
		</div>
		<div class="col-sm-4">
			<label class="label label-search">Accession IDs</label><br>
			<input class="form-control" ng-model="vm.selected.accids" id="accids" />
		</div>
		<div class="col-sm-1">
		        <label class="label label-search">Order By</label><br>
		        <select id="orderBy" ng-model="vm.selected.orderBy" size="1">
		        <option value="1">J# (desc)</option>
		        <option value="2">MGI ID (asc)</option>
		        </option>
		        </select>
		</div>
		<div class="col-sm-6">
			<div class="spacer"></div>
			<button type="submit" tabindex="-1" id="searchButton" ng-click="search()">Search</button>
			<button type="submit" tabindex="-1" id="searchSummaryButton" ng-click="searchSummary()">Search Summary</button>
			<button type="button" tabindex="-1" id="clearButton" ng-click="clearAll()">Clear</button>
			<button type="button" tabindex="-1" id="closeButton" ng-click="vm.queryForm = !vm.queryForm; vm.closeButton=false" >Open/Close Full Search</button>
		</div>
	</div>
	</div>
	</form>

	<div ng-hide="vm.queryForm">
	<form id="moduleForm2" name="vm.litTriageQueryForm" class="form-horizontal mousetrap">
		<!-- hidden search() button so "enter" will work with these search parameters too -->
		<div ng-hide=true ><button type="submit" tabindex="-1" id="searchButton1" ng-click="search()">Search</button></div>
		<div class="row ">
			<div class="col-sm-8" style="">
				<div class="spacer"></div>
				<div class="row ">
					<div class="col-sm-4">
						<label class="label label-search">Reference Type</label><br>
						<select id="referenceType" ng-model="vm.selected.referenceTypeKey" size="1">
							<option value="">Search All</option>
							<option ng-repeat="choice in reftype_choices" value="{{choice.termKey}}">{{choice.term}}
					      	</option>
						</select>
					</div>
					<div class="col-sm-2">
						<label class="label label-search">Review?</label><br>
						<select id="is_review"  ng-model="vm.selected.isReviewArticle" ng-init="vm.selected.isReviewArticle=''" size="1">
							<option value="">All</option>
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
					</div>
					<div class="col-sm-4">
						<label class="label label-search">Supplemental</label><br>
						<select id="qfSupplementalTerm" ng-model="vm.selected.supplementalKey" size="1">
							<option ng-repeat="choice in workflow_supp_status_choices" value="{{choice.termKey}}">{{choice.term}}</option>
							<option value="">Search All</option>
						</select>
					</div>
					<div class="col-sm-2">
						<label class="label label-search">Allele Associatios</label><br>
						<select id="is_review"  ng-model="vm.selected.isReviewArticle" ng-init="vm.selected.isReviewArticle=''" size="1">
							<option value="">All</option>
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
					</div>

				</div>

				<div class="spacer"></div>
				<div class="row ">
					<div class="col-sm-3">
						<label class="label label-search">Authors</label>
						<input class="form-control" ng-model="vm.selected.authors" id="authors"  />
					</div> 
					<div class="col-sm-3">
						<label class="label label-search">Title</label>
						<input class="form-control" ng-model="vm.selected.title" id="title" name="title"/>
					</div>
					<div class="col-sm-3">
						<label class="label label-search">Journal</label>
						<input class="form-control" ng-model="vm.selected.journal" id="journal" style="max-width:500px;"/>
					</div>
					<div class="col-sm-3">
						<label class="label label-search">Year</label>
						<input class="form-control" ng-model="vm.selected.year" id="year" />
					</div>
				</div>

				<div class="spacer"></div>
				<div class="row ">
					<div class="col-sm-3">
						<label class="label label-search">Volume</label>
						<input class="form-control" ng-model="vm.selected.vol" id="volume" />
					</div> 
					<div class="col-sm-3">
						<label class="label label-search">Issue</label>
						<input class="form-control" ng-model="vm.selected.issue" id="issue" />
					</div> 
					<div class="col-sm-3">
						<label class="label label-search">Pages</label>
						<input class="form-control" ng-model="vm.selected.pgs" id="pages" />
					</div> 
					<div class="col-sm-3">
						<label class="label label-search">Date</label>
						<input class="form-control" ng-model="vm.selected.date" id="date" />
					</div> 
				</div>

				<div class="spacer"></div>
				<div class="row ">
					<div class="col-sm-12">

					<table class="table table-bordered " id="workflowTable" style="">
					<tbody>

					<tr>
						<td style="font-weight:bold; background-color:rgb(185,237,232);"> Workflow </td> 
						<td style="font-weight:bold; background-color:rgb(185,237,232);" colspan="6"> Status </td>
					</tr>

					<tr>
						<td> </td> 
						<td> New </th>
						<td> Not Routed </th>
						<td> Routed </th>
						<td> Chosen </th>
						<td> Indexed </th>
						<td> Full-Coded </th>
						<td> Rejected </th>
					</tr>

					<tr>
						<td> Alleles </td> 
						<td>  
							<input type="checkbox" id="status_AP_New"
							ng-model="vm.selected.status_AP_New"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_AP_Not_Routed"
							ng-model="vm.selected.status_AP_Not_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_AP_Routed"
							ng-model="vm.selected.status_AP_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_AP_Chosen"
							ng-model="vm.selected.status_AP_Chosen"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_AP_Indexed"
							ng-model="vm.selected.status_AP_Indexed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_AP_Full_coded"
							ng-model="vm.selected.status_AP_Full_coded"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_AP_Rejected"
							ng-model="vm.selected.status_AP_Rejected"
							ng-true-value="1" ng-false-value="">
						</td>
					</tr>

					<tr>
						<td> GO </td> 
						<td>  
							<input type="checkbox" id="status_GO_New"
							ng-model="vm.selected.status_GO_New"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GO_Not_Routed"
							ng-model="vm.selected.status_GO_Not_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GO_Routed"
							ng-model="vm.selected.status_GO_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GO_Chosen"
							ng-model="vm.selected.status_GO_Chosen"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GO_Indexed"
							ng-model="vm.selected.status_GO_Indexed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GO_Full_coded"
							ng-model="vm.selected.status_GO_Full_coded"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GO_Rejected"
							ng-model="vm.selected.status_GO_Rejected"
							ng-true-value="1" ng-false-value="">
						</td>
					</tr>

					<tr>
						<td> GXD </td> 
						<td>  
							<input type="checkbox" id="status_GXD_New"
							ng-model="vm.selected.status_GXD_New"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GXD_Not_Routed"
							ng-model="vm.selected.status_GXD_Not_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GXD_Routed"
							ng-model="vm.selected.status_GXD_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GXD_Chosen"
							ng-model="vm.selected.status_GXD_Chosen"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GXD_Indexed"
							ng-model="vm.selected.status_GXD_Indexed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GXD_Full_coded"
							ng-model="vm.selected.status_GXD_Full_coded"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_GXD_Rejected"
							ng-model="vm.selected.status_GXD_Rejected"
							ng-true-value="1" ng-false-value="">
						</td>
					</tr>

					<tr>
						<td> PRO </td> 
						<td>  
							<input type="checkbox" id="status_PRO_New"
							ng-model="vm.selected.status_PRO_New"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_PRO_Not_Routed"
							ng-model="vm.selected.status_PRO_Not_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_PRO_Routed"
							ng-model="vm.selected.status_PRO_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_PRO_Chosen"
							ng-model="vm.selected.status_PRO_Chosen"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_PRO_Indexed"
							ng-model="vm.selected.status_PRO_Indexed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_PRO_Full_coded"
							ng-model="vm.selected.status_PRO_Full_coded"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_PRO_Rejected"
							ng-model="vm.selected.status_PRO_Rejected"
							ng-true-value="1" ng-false-value="">
						</td>
					</tr>

					<tr>
						<td> QTL </td> 
						<td>  
							<input type="checkbox" id="status_QTL_New"
							ng-model="vm.selected.status_QTL_New"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_QTL_Not_Routed"
							ng-model="vm.selected.status_QTL_Not_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_QTL_Routed"
							ng-model="vm.selected.status_QTL_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_QTL_Chosen"
							ng-model="vm.selected.status_QTL_Chosen"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_QTL_Indexed"
							ng-model="vm.selected.status_QTL_Indexed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_QTL_Full_coded"
							ng-model="vm.selected.status_QTL_Full_coded"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_QTL_Rejected"
							ng-model="vm.selected.status_QTL_Rejected"
							ng-true-value="1" ng-false-value="">
						</td>
					</tr>

						<td> Tumor </td> 
						<td>  
							<input type="checkbox" id="status_Tumor_New"
							ng-model="vm.selected.status_Tumor_New"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_Tumor_Not_Routed"
							ng-model="vm.selected.status_Tumor_Not_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_Tumor_Routed"
							ng-model="vm.selected.status_Tumor_Routed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_Tumor_Chosen"
							ng-model="vm.selected.status_Tumor_Chosen"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_Tumor_Indexed"
							ng-model="vm.selected.status_Tumor_Indexed"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_Tumor_Full_coded"
							ng-model="vm.selected.status_Tumor_Full_coded"
							ng-true-value="1" ng-false-value="">
						</td>
						<td>  
							<input type="checkbox" id="status_Tumor_Rejected"
							ng-model="vm.selected.status_Tumor_Rejected"
							ng-true-value="1" ng-false-value="">
						</td>
					</tr>
					<tr>
						<td style="" colspan="1">
							<label style='font-weight:500;'><input type="radio" ng-model="vm.selected.status_operator" value="AND"> AND</label>
							<label style='font-weight:500;'><input type="radio" ng-model="vm.selected.status_operator" value="OR"> OR</label>
						</td>
					</tr>
					</tbody>
					</table>

					</div>
				</div>

				<div class="spacer"></div>
				<div class="row ">
					<div class="col-sm-12">
						<label class="label label-search">Abstract</label>
						<input class="form-control" ng-model="vm.selected.referenceAbstract" id="abstact" />
					</div>
				</div>

				<div class="spacer"></div>
				<div class="row ">
					<div class="col-sm-12">
						<label class="label label-search">Notes</label>
						<input class="form-control" ng-model="vm.selected.referenceNote.note" id="notes" />
					</div>
				</div>

				<div class="spacer"></div>
				<div class="row ">
					<div class="col-sm-2">
						<label class="label label-search">Editors</label>
						<input class="form-control" ng-model="vm.selected.referenceBook.book_author" id="book_author" />
					</div>
					<div class="col-sm-2">
						<label class="label label-search">Book Title</label>
						<input class="form-control" ng-model="vm.selected.referenceBook.book_title" id="book_title" />
					</div>
					<div class="col-sm-2">
						<label class="label label-search">Place</label>
						<input class="form-control" ng-model="vm.selected.referenceBook.place" id="place" />
					</div>
					<div class="col-sm-2">
						<label class="label label-search">Publisher</label>
						<input class="form-control" ng-model="vm.selected.referenceBook.publisher" id="publisher" />
					</div>
					<div class="col-sm-2">
						<label class="label label-search">Edition</label>
						<input class="form-control" ng-model="vm.selected.referenceBook.series_ed" id="series_ed" />
					</div>
				</div>

			</div> 

			<div class="col-sm-4" style="">
				<div class="spacer"></div>
				<div id="queryFormTagInputContainer" class="row">
					<div class="col-sm-12">
						<label class="label label-search">Tags</label>
						<label style='font-weight:500; padding-left: 50px;'><input type="radio" ng-model="vm.selected.workflow_tag_operator" value="AND"> AND</label>
						<label style='font-weight:500;'><input type="radio" ng-model="vm.selected.workflow_tag_operator" value="OR"> OR</label>

					</div>
					<div class="col-sm-12">
					  	<input type="checkbox" id="not_workflow_tag1"
							ng-model="vm.selected.not_workflow_tag1"
							ng-true-value="true" ng-false-value=""> NOT
						<input class="form-control qfAutocomplete" ng-model="vm.selected.workflow_tag1" id="workflow_tag1" />
					</div>
					<div class="col-sm-12">
					  	<input type="checkbox" id="not_workflow_tag2"
							ng-model="vm.selected.not_workflow_tag2"
							ng-true-value="true" ng-false-value=""> NOT
						<input class="form-control qfAutocomplete" ng-model="vm.selected.workflow_tag2" id="workflow_tag2" />
					</div>
					<div class="col-sm-12">
					  	<input type="checkbox" id="not_workflow_tag3"
							ng-model="vm.selected.not_workflow_tag3"
							ng-true-value="true" ng-false-value=""> NOT
						<input class="form-control qfAutocomplete" ng-model="vm.selected.workflow_tag3" id="workflow_tag3" />
					</div>
					<div class="col-sm-12">
					  	<input type="checkbox" id="not_workflow_tag4"
							ng-model="vm.selected.not_workflow_tag4"
							ng-true-value="true" ng-false-value=""> NOT
						<input class="form-control qfAutocomplete" ng-model="vm.selected.workflow_tag4" id="workflow_tag4" />
					</div>
					<div class="col-sm-12">
					  	<input type="checkbox" id="not_workflow_tag5"
							ng-model="vm.selected.not_workflow_tag5"
							ng-true-value="true" ng-false-value=""> NOT
						<input class="form-control qfAutocomplete" ng-model="vm.selected.workflow_tag5" id="workflow_tag5" />
					</div>
				</div>

				<br/><br/>
				<div class="row">
					<div class="col-sm-12">
					<div class='qfSectionHeader' style="">Status History</div>
					</div>
				</div>

				<div class="spacer"></div>
				<div class="row">
					<div class="col-sm-6">
					<label class="label label-search">Status</label><br>
					<select id="statusSelect" ng-model="vm.selected.sh_status" size="1">
						<option value="">All</option>
						<option value="New">New</option>
						<option value="Not Routed">Not Routed</option>
						<option value="Routed">Routed</option>
						<option value="Chosen">Chosen</option>
						<option value="Indexed">Indexed</option>
						<option value="Full-coded">Full-Coded</option>
						<option value="Rejected">Rejected</option>
					</select>
					</div>
					<div class="col-sm-6">
					<label class="label label-search">Group</label><br>
					<select id="groupSelect" ng-model="vm.selected.sh_group" size="1">
						<option value="">All</option>
						<option value="AP">AP</option>
						<option value="GO">GO</option>
						<option value="GXD">GXD</option>
						<option value="PRO">PRO</option>
						<option value="QTL">QTL</option>
						<option value="Tumor">Tumor</option>
					</select>
					</div>
				</div>

				<div class="spacer"></div>
				<div class="row">
					<div class="col-sm-6">
					<label class="label label-search">User</label><br>
						<input class="form-control" ng-model="vm.selected.sh_username" id="qf_username" />
					</div>
					<div class="col-sm-6">
					<label class="label label-search">Date</label><br>
						<input class="form-control" ng-model="vm.selected.sh_date" id="qf_date" />
					</div>
				</div>

				<br/>
				<div class="row">
					<div class="col-sm-12">
					<div class='qfSectionHeader' style="">Reference History</div>
					</div>
				</div>
				<div class="spacer"></div>
				<div class="row">
					<div class="col-sm-6">
					<label class="label label-search">Created By</label><br>
						<input class="form-control" ng-model="vm.selected.createdBy" id="qf_created_by" />
					</div>
					<div class="col-sm-6">
					<label class="label label-search">Creation Date</label><br>
						<input class="form-control" ng-model="vm.selected.creation_date" id="qf_creation_date" />
					</div>
				</div>
				<div class="spacer"></div>
				<div class="row">
					<div class="col-sm-6">
					<label class="label label-search">Modified By</label><br>
						<input class="form-control" ng-model="vm.selected.modifiedBy" id="qf_modified_by" />
					</div>
					<div class="col-sm-6">
					<label class="label label-search">Modification Date</label><br>
						<input class="form-control" ng-model="vm.selected.modification_date" id="qf_modification_date" />
					</div>
				</div>



				<br/>
				<div class="row">
					<div class="col-sm-12">
					<div class='qfSectionHeader' style="">Relevance History</div>
					</div>
				</div>

				<div class="spacer"></div>
				<div class="row">
					<div class="col-sm-6">
						<label class="label label-search">Relevance</label><br>
						<select id="historyRelevance"  ng-model="vm.selected.relevance" size="1">
							<option value="">All</option>
				                        <option value="70594667">Keep</option>
				                        <option value="70594666">Discard</option>
				                        <option value="70594668">Not Specified</option>
						</select>
					</div>
					<div class="col-sm-6">
						<label class="label label-search">Date</label><br>
						<input class="form-control" ng-model="vm.selected.relevance_date" id="qf_relevance_date" />
					</div>
				</div>

				<div class="spacer"></div>
				<div class="row">
					<div class="col-sm-6">
						<label class="label label-search">User</label><br>
						<input class="form-control" ng-model="vm.selected.relevance_user" id="qf_relevance_version" />
					</div>
					<div class="col-sm-6">
						<label class="label label-search">Version</label><br>
						<select id="historyRelevance"  ng-model="vm.selected.relevance_version" size="1">
							<option value="">All</option>
							<option value="11/06/2020">11/06/2020</option>
						</select>

<!--						<input class="form-control" ng-model="vm.selected.relevance_version" id="qf_relevance_version" />
-->
					</div>
				</div>

				<div class="spacer"></div>
				<div class="row">
					<div class="col-sm-6">
					<label class="label label-search">Confidence (numeric)</label><br>
						<input class="form-control" ng-model="vm.selected.relevance_confidence" id="qf_relevance_confidence" />
					</div>
				</div>


			</div> 
		</div>

	</form>
	<br>
	</div>

	<div class="spacer"></div>
	<div class="row ">     
		<div class="col-sm-12">
			<span style='padding-left:500px;'>
				<span ng-if="vm.summary_count>1001">{{ vm.results.length }} of {{vm.summary_count }} references returned</span>
				<span ng-if="vm.summary_count<=1001">{{ vm.results.length }} reference(s) returned</span>
			</span>
			<span style='padding-left:250px;'>
			<button style="float:bottom;" type="button" tabindex="-1" id="prevRefButton" ng-click="prevReference()" 
				ng-disabled="vm.selectedIndex==0">Prev</button>
			<button style="float:bottom;" type="button" tabindex="-1" id="nextRefButton" ng-click="nextReference()" 
				ng-disabled="vm.selectedIndex==-1">Next</button>
			</span>
		</div>
	</div>

	<div class="row ">     
		<div class="col-sm-12">
		<div style="width:1150px;"> 
		<table class="table table-bordered scrollable-menu" id="resultsTableHeader" style="width:1140px;">
	        	<tr>
			<th style="width: 20px;"> </th> 
			<th style="width: 80px;">  MGI </th> 
           		<th style="width: 80px;">  J# </th>
           		<th style="width: 70px;">  PubMed </th>  
			<th style="width: 180px;"> DOI </th> 
           		<th style="width: 200px;"> Short Citation </th>
           		<th style="width: 300px;"> Title </th>
           		<th style="width: 60px;">  AP </th>
           		<th style="width: 60px;">  GO </th>
           		<th style="width: 60px;">  GXD </th>
           		<th style="width: 60px;">  PRO </th>
           		<th style="width: 60px;">  QTL </th>
           		<th style="width: 60px;">  Tumor </th>
        		</tr>
		</table>
		</div>
		<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
			<!-- hidden header to assist automated tests - body is detached for scrolling -->
			<thead> 
				<tr style="height:0px; display:none;">
				<th style="width: 20px;"> </th> 
				<th style="width: 80px;">  MGI </th> 
				<th style="width: 80px;">  J# </th>
				<th style="width: 70px;">  PubMed </th>  
				<th style="width: 180px;"> DOI </th> 
				<th style="width: 200px;"> Short Citation </th>
				<th style="width: 300px;"> Title </th>
				<th style="width: 60px;">  AP </th>
				<th style="width: 60px;">  GO </th>
				<th style="width: 60px;">  GXD </th>
           		<th style="width: 60px;">  PRO </th>
				<th style="width: 60px;">  QTL </th>
				<th style="width: 60px;">  Tumor </th>
				</tr>
			</thead>

    			<tbody>
				<tr ng-repeat="ref in vm.results track by ref.refsKey" 
					ng-class="($index==vm.selectedIndex) ? 'resultsTableSelectedRow' : ''"
					ng-click="setReference($index)"
					ng-class-odd="'oddTableRow'">

			    	<td style="width: 20px;"> <input type="checkbox" ng-model="ref.has_new_tag"> </td>
			    	<td style="width: 80px;"> <div ng-if="ref.mgiid">{{ref.mgiid}} </div> </td>
			    	<td style="width: 80px;"> {{ ref.jnumid }} 
						<span ng-if="ref.haspdf=='1'">
							<a target='_blank' href='{{PDFVIEWER_URL}}{{ref.mgiid}}'>
								<img src="/pwi/static/images/link_out.png" width="15" height="15" >
							</a>
						</span>
			    	</td>
			    	<td style="width: 70px;"> 
						<div ng-if="ref.pubmedid">
							<a target='_blank' href='{{vm.pubmed_url.replace("@@@@", ref.pubmedid) }}'>{{ref.pubmedid}}</a>
						</div>
			    	</td>
			    	<td style="width: 180px;"> 
						<div ng-if="ref.doiid">
							<a target='_blank' href='{{vm.doi_url.replace("@@@@", ref.doiid) }}'>{{ref.doiid}}</a>
						</div>
			    	</td>
			    	<td style="width: 200px;"> 
			    		<div class="resultTableCellWrapper">
				    	{{ ref.short_citation }} 
			    		</div> 
			    	</td>
			    	<td style="width: 300px;"> 
			    		<div class="resultTableCellWrapper">
			    		{{ ref.title }}
			    		</div> 
			    	</td>
			    	<td style="width: 60px;">  {{ ref.ap_status }} </td>
			    	<td style="width: 60px;">  {{ ref.go_status }} </td>
			    	<td style="width: 60px;">  {{ ref.gxd_status }} </td>
			    	<td style="width: 60px;">  {{ ref.pro_status }} </td>
			    	<td style="width: 60px;">  {{ ref.qtl_status }} </td>
			    	<td style="width: 60px;">  {{ ref.tumor_status }} </td>
				</tr>
			</tbody>
			</table>
		</div>

		<div class="spacer"></div>

		<button type="button" tabindex="-1" id="selectAllSummaryRefs" ng-click="selectAllSummaryRefs()">Select All</button>
		<button type="button" tabindex="-1" id="downloadSummaryRefs" ng-click="downloadSummaryRefs()">Download</button>
		<button type="button" tabindex="-1" id="deselectAllSummaryRefs" ng-click="deselectAllSummaryRefs()">De-select All</button>
		<button type="button" tabindex="-1" id="associateTagToSummaryRefs" ng-click="associateTagToSummaryRefs()" ng-disabled="current_user.login==null">Apply Tag</button>
		<form ng-submit="associateTagToSummaryRefs()" style="display: inline;"> <input class="form-control" ng-model="vm.batchRefTag.workflowTag" id="workflow_tag_batch" />
		</form> 
		<button type="button" tabindex="-1" id="unassociateTagToSummaryRefs" ng-click="unassociateTagToSummaryRefs()" ng-disabled="current_user.login==null">Remove Tag</button>

		</div>
	</div>
	</div>
</div>
<br>

<!-- control buttons for tabs -->
<div class="row sectionDivider topPadding bottomPadding">
<div class="col-sm-10" style="">
   	<button type="button" tabindex="-1" id="editTabButton" ng-class="{activeTab:vm.activeTab == 1}"
		ng-click="setActiveTab(1)" >Edit</button>
    	<button type="button" tabindex="-1" id="alleleTabButton" ng-class="{activeTab:vm.activeTab == 2}"
		ng-click="setActiveTab(2)" >Allele Associations</button>
    	<button type="button" tabindex="-1" id="markerTabButton" ng-class="{activeTab:vm.activeTab == 3}"
		ng-click="setActiveTab(3)" >Marker Associations</button>
    	<button type="button" tabindex="-1" id="strainTabButton" ng-class="{activeTab:vm.activeTab == 4}"
		ng-click="setActiveTab(4)" >Strain Associations</button>
    	<button type="button" tabindex="-1" id="doidTabButton" ng-class="{activeTab:vm.activeTab == 5}"
		ng-click="setActiveTab(5)" >Disease Associations</button>

	<button type="button" tabindex="-1" id="deleteEditTabButton" style="float: right;" ng-click="deleteEditTab()" 
		ng-disabled="current_user.login==null||vm.disableDeleteDiscard==true" >Delete</button>
        <button type="button" tabindex="-1" id="createEditTabDutton" style="float: right;" ng-click="createEditTab()"
		ng-disabled="current_user.login==null||vm.refData.refsKey!=''" >Add</button>
	<button type="button" tabindex="-1" id="cancelEditButton" style="float: right;" ng-click="cancelEdit()" >Cancel</button>
	<button type="button" tabindex="-1" id="modifyEditTabButton" style="float: right;" ng-click="modifyEditTab()" 
		ng-disabled="current_user.login==null" >Modify</button>
</div>
</div>
<!-- end control buttons for tabs -->

<!-- tab content -->
<form id='tabForm' name="vm.tabWrapperForm" ng-submit="" style="display: inline;">
<div class="row sectionDivider topPadding bottomPadding">
	<div class="spacer"></div>
	<div class="col-sm-12" style="">
     
         	<!-- edit tab -->

         	<div ng-if="vm.activeTab==1">
	 	<div class="row" >
			<div class="col-sm-6">

			<!-- Acc id row -->
			<div class="spacer"></div>
			<div class="row ">
				<div class="col-sm-2" style="font-weight:bold;">
                               	<label class="label width=15 hight=15 label-view-only">MGI</label>
				{{vm.refData.mgiid}}
				</div>

				<div class="col-sm-2">
                               	<label class="label label-edit">J#</label>
                               	<img id="clearJnumButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearJnumId()">
                               	<input class="form-control" ng-model="vm.refData.jnumid" id="jnumId" />
				</div> 

				<div class="col-sm-2">
                               	<label class="label label-edit">PubMed</label>
                               	<img id="clearPubmedButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearPubmedId()">
                               	<input class="form-control"ng-model="vm.refData.pubmedid" id="pubmedId" />
				</div> 

				<div class="col-sm-4">
                               	<label class="label label-edit">DOI</label>
                               	<img id="clearDOIButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearDOIId()">
                               	<input class="form-control" ng-model="vm.refData.doiid" id="doiId" />
				</div> 
			</div> 
			<!-- Acc id row -->

			<!-- Refence Type row -->
			<div class="spacer"></div>
			<div class="row ">
				<div class="col-sm-6">
				<label class="label label-edit">Reference Type</label><br>
				<select id="editTabRefType" ng-model="vm.refData.referenceTypeKey" size="1">
					<option ng-repeat="choice in reftype_choices" value="{{choice.termKey}}">{{choice.term}}
		      			</option>
				</select>				
				</div> 

				<div class="col-sm-2">
				<label class="label label-edit">Review?</label><br>
				<select id="refDataIsReview"  ng-model="vm.refData.isReviewArticle" size="1">
					<option value="0">No</option>
					<option value="1">Yes</option>
				</select>
				</div> 

				<div class="col-sm-2">
				<label class="label label-edit">Supplemental</label><br>
				<select id="editTabSuppData" ng-model="vm.refData.workflowData.supplementalKey" size="1">
					<option ng-repeat="choice in workflow_supp_status_choices" value="{{choice.termKey}}">
					{{choice.term}}
		      			</option>
				</select>				
				</div> 
			</div> 
			<!-- Refence Type row -->

			<!-- Authors row -->
			<div class="spacer"></div>
			<label class="label label-edit">Authors</label>
			<textarea class="form-control" rows=1 ng-model="vm.refData.authors" id="editTabAuthors" placeholder="" ></textarea>

			<!-- Title row -->
			<div class="spacer"></div>
			<label class="label label-edit">Title</label>
			<textarea class="form-control" rows=2 ng-model="vm.refData.title" id="editTabTitle" placeholder="" ></textarea>

			<!-- Journal row -->
			<div class="spacer"></div>
			<div class="row ">
				<div class="col-sm-9">
				<label class="label label-edit">Journal</label>
				<input class="form-control" ng-model="vm.refData.journal" id="editTabJournal" />
				</div> 
				<div class="col-sm-3">
				<label class="label label-edit">Year</label>
				<input class="form-control" ng-model="vm.refData.year" id="editTabYear" />
				</div> 
			</div> 
			<!-- Journal row -->

			<!-- Volumne row -->
			<div class="spacer"></div>
			<div class="row ">
				<div class="col-sm-3">
					<label class="label label-edit">Volume</label>
					<input class="form-control" ng-model="vm.refData.vol" id="editTabVolume" />
				</div> 
				<div class="col-sm-3">
					<label class="label label-edit">Issue</label>
					<input class="form-control" ng-model="vm.refData.issue" id="editTabIssue" />
				</div> 
				<div class="col-sm-3">
					<label class="label label-edit">Pages</label>
					<input class="form-control" ng-model="vm.refData.pgs" id="editTabPages" />
				</div> 
				<div class="col-sm-3">
					<label class="label label-edit">Date</label>
					<input class="form-control" ng-model="vm.refData.date" id="editTabDate" />
				</div> 
			</div>
			<!-- Volumne row -->

			<!-- Abstract row -->
			<div class="spacer"></div>
			<label class="label label-edit">Abstract</label>
                        <img id="clearAbstractButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearAbstract()">
			<textarea class="form-control" rows=3 ng-model="vm.refData.referenceAbstract" id="editTabAbstract" placeholder="" ></textarea>
			<!-- Book row -->
			<div ng-if="vm.refData.referenceType=='Book'||vm.refData.referenceTypeKey==31576679">
				<div class="spacer"></div>
				<label class="label label-edit">Editors</label>
				<textarea class="form-control" rows=1 ng-model="vm.refData.referenceBook.book_author" id="editTabBookAuthors" placeholder="" ></textarea>

				<div class="spacer"></div>
				<label class="label label-edit">Book Title</label>
				<textarea class="form-control" rows=1 ng-model="vm.refData.referenceBook.book_title" id="editTabBookTitle" placeholder="" ></textarea>

				<div class="spacer"></div>
				<div class="row ">
					<div class="col-sm-4">
						<label class="label label-edit">Place</label>
						<input class="form-control" ng-model="vm.refData.referenceBook.place" id="editTabBookPlace" />
					</div> 
					<div class="col-sm-4">
						<label class="label label-edit">Publisher</label>
						<input class="form-control" ng-model="vm.refData.referenceBook.publisher" id="editTabBookPublisher" />
					</div> 
					<div class="col-sm-4">
						<label class="label label-edit">Edition</label>
						<input class="form-control" ng-model="vm.refData.referenceBook.series_ed" id="editTabBookEdition" />
					</div> 
				</div>
			</div>
			<!-- Book row -->

			<!-- Notes row -->
			<div class="spacer"></div>
			<label class="label label-edit">Notes</label>
                        <img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearNote()">
			<textarea class="form-control" rows=2 ng-model="vm.refData.referenceNote.note" id="editTabRefNote" placeholder="" ></textarea>
			<!-- Notes row -->
				
			<!-- GO-REF row -->
			<div class="spacer"></div>
			<div class="row ">
				<div class="col-sm-6">
                                     <label class="label label-edit">GO-REF</label>
                                     <img id="clearGORefButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearGORefId()">
                                     <input class="form-control"
                                     	ng-model="vm.refData.gorefid" id="gorefId" />
				</div> 
			</div>
			<!-- GO-REF row -->

			<!-- Status/History row -->
			<div class="spacer"></div>
			<div class="row ">
				<div class="col-sm-8">

					<div id="historyTableWrapper">
					<label class="label label-static"> Status History </label>
					<table class="table table-bordered scrollable-menu" id="historyTable" style="">
			    		<tbody>
						<tr ng-repeat="history in vm.refData.statusHistory" ng-class="" ng-class-odd="'oddTableRow'">
				    		<td>{{history.groupAbbrev}} - {{history.status}}</td>
				    		<td>{{history.modifiedBy}}</td>
				    		<td>{{history.modification_date}}</td>
						</tr>
						</tbody>
						</table>
					</div>

					<div class="spacer"></div>
					</div>

				</div> 
				<!-- class="col-sm-8"> -->
			</div> 
			<!-- end row -->

			<!-- Buttons/Tags row -->
			<div class="col-sm-6"">
			
				<table id="editTabWorkFlowStatus">
				<thead> 
					<tr>
					<th> </th> 
					<th> New </th>  
					<th> Not Routed </th>  
					<th> Routed </th>
					<th> Chosen </th>
					<th> Indexed </th>
					<th> Full-coded </th>
					<th> Rejected </th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td>AP</td>
					<td><input type="radio" ng-model="vm.refData.ap_status" value="New"></td>
					<td><input type="radio" ng-model="vm.refData.ap_status" value="Not Routed"></td>
					<td><input type="radio" ng-model="vm.refData.ap_status" ng-click="setRelevanceToKeep()" value="Routed"></td>
					<td><input type="radio" ng-model="vm.refData.ap_status" ng-click="setRelevanceToKeep()" value="Chosen"></td>
					<td><input type="radio" ng-model="vm.refData.ap_status" ng-click="setRelevanceToKeep()" value="Indexed"></td>
					<td><input type="radio" ng-model="vm.refData.ap_status" ng-click="setRelevanceToKeep()" value="Full-coded"></td>
					<td><input type="radio" ng-model="vm.refData.ap_status" value="Rejected"></td>
					</tr>
					<tr class='oddTableRow'>
					<td>GO</td>
					<td><input type="radio" ng-model="vm.refData.go_status" value="New"></td>
					<td><input type="radio" ng-model="vm.refData.go_status" value="Not Routed"></td>
					<td><input type="radio" ng-model="vm.refData.go_status" ng-click="setRelevanceToKeep()" value="Routed"></td>
					<td><input type="radio" ng-model="vm.refData.go_status" ng-click="setRelevanceToKeep()" value="Chosen"></td>
					<td><input type="radio" ng-model="vm.refData.go_status" ng-click="setRelevanceToKeep()" value="Indexed"></td>
					<td><input type="radio" ng-model="vm.refData.go_status" ng-click="setRelevanceToKeep()" value="Full-coded"></td>
					<td><input type="radio" ng-model="vm.refData.go_status" value="Rejected"></td>
					</tr>
					<tr>
					<td>GXD</td>
					<td><input type="radio" ng-model="vm.refData.gxd_status" value="New"></td>
					<td><input type="radio" ng-model="vm.refData.gxd_status" value="Not Routed"></td>
					<td><input type="radio" ng-model="vm.refData.gxd_status" ng-click="setRelevanceToKeep()" value="Routed"></td>
					<td><input type="radio" ng-model="vm.refData.gxd_status" ng-click="setRelevanceToKeep()" value="Chosen"></td>
					<td><input type="radio" ng-model="vm.refData.gxd_status" ng-click="setRelevanceToKeep()" value="Indexed"></td>
					<td><input type="radio" ng-model="vm.refData.gxd_status" ng-click="setRelevanceToKeep()" value="Full-coded"></td>
					<td><input type="radio" ng-model="vm.refData.gxd_status" value="Rejected"></td>
					</tr>
					<tr class='oddTableRow'>
					<td>PRO</td>
					<td><input type="radio" ng-model="vm.refData.pro_status" value="New"></td>
					<td><input type="radio" ng-model="vm.refData.pro_status" value="Not Routed"></td>
					<td><input type="radio" ng-model="vm.refData.pro_status" ng-click="setRelevanceToKeep()" value="Routed"></td>
					<td><input type="radio" ng-model="vm.refData.pro_status" ng-click="setRelevanceToKeep()" value="Chosen"></td>
					<td><input type="radio" ng-model="vm.refData.pro_status" ng-click="setRelevanceToKeep()" value="Indexed"></td>
					<td><input type="radio" ng-model="vm.refData.pro_status" ng-click="setRelevanceToKeep()" value="Full-coded"></td>
					<td><input type="radio" ng-model="vm.refData.pro_status" value="Rejected"></td>
					</tr>
					<tr>
					<td>QTL</td>
					<td><input type="radio" ng-model="vm.refData.qtl_status" value="New"></td>
					<td><input type="radio" ng-model="vm.refData.qtl_status" value="Not Routed"></td>
					<td><input type="radio" ng-model="vm.refData.qtl_status" ng-click="setRelevanceToKeep()" value="Routed"></td>
					<td><input type="radio" ng-model="vm.refData.qtl_status" ng-click="setRelevanceToKeep()" value="Chosen"></td>
					<td><input type="radio" ng-model="vm.refData.qtl_status" ng-click="setRelevanceToKeep()" value="Indexed"></td>
					<td><input type="radio" ng-model="vm.refData.qtl_status" ng-click="setRelevanceToKeep()" value="Full-coded"></td>
					<td><input type="radio" ng-model="vm.refData.qtl_status" value="Rejected"></td>
					</tr>
					<tr class='oddTableRow'>
					<td>Tumor</td>
					<td><input type="radio" ng-model="vm.refData.tumor_status" value="New"></td>
					<td><input type="radio" ng-model="vm.refData.tumor_status" value="Not Routed"></td>
					<td><input type="radio" ng-model="vm.refData.tumor_status" ng-click="setRelevanceToKeep()" value="Routed"></td>
					<td><input type="radio" ng-model="vm.refData.tumor_status" ng-click="setRelevanceToKeep()" value="Chosen"></td>
					<td><input type="radio" ng-model="vm.refData.tumor_status" ng-click="setRelevanceToKeep()" value="Indexed"></td>
					<td><input type="radio" ng-model="vm.refData.tumor_status" ng-click="setRelevanceToKeep()" value="Full-coded"></td>
					<td><input type="radio" ng-model="vm.refData.tumor_status" value="Rejected"></td>
					</tr>
				</tbody>
				</table>

				<div style="padding-top:5px; padding-bottom:5px;">

					<label class="label label-edit">Keep</label>
					<input type="radio" ng-model="vm.refData.editRelevanceKey" value="70594667">

					<label class="label label-edit" style='margin-left:20px;'>Discard</label>
					<input type="radio" ng-model="vm.refData.editRelevanceKey" value="70594666">

					<label class="label label-static" style='margin-left:20px;'>Not Specified</label>
					<input type="radio" ng-model="vm.refData.editRelevanceKey" ng-disabled="true" value="70594668">

					<span ng-if="vm.refData.workflowData.haspdf=='1'" style='padding-left:30px;'>
						<a target='_blank' href='{{PDFVIEWER_URL}}{{vm.refData.mgiid}}'>
						Open PDF <img src="/pwi/static/images/link_out.png" width="18" height="18" >
						</a>
					</span>

					<span style='padding-left:50px;'>
						<button type="button" tabindex="-1" id="prevRefButton" tabindex="-1" ng-click="prevReference()" 
							ng-disabled="vm.selectedIndex==0">Prev</button>
						<button type="button" tabindex="-1" id="nextRefButton" tabindex="-1" ng-click="nextReference()"
							ng-disabled="vm.selectedIndex==-1">Next</button>
					</span>

					<div class="row" id='editTabTagArea'>
					<div class="col-sm-5">
						<br/>
						<table id="editTabTags">
						<thead> 
							<tr>
							<th style="width:15px;"> </th>  
							<th> Tags Associated with this Reference </th>  
								</tr>
						</thead>
						<tbody>
						<tr ng-repeat="tag in vm.refData.workflowTagString track by $index">
						<td ng-click="removeTag($index)">
			      				<img src="/pwi/static/images/remove.png"
			        			style="width:12px; height: 12px; cursor: pointer;" />
			        		</td>
						<td>{{tag}}</td>
						</tr>
						</tbody>
						</table>
					</div>

					<div class="col-sm-5">
						<div class="ui-widget">
						<br/>
                                		<label class="label label-edit" for="tags">Tags </label>   
                                		<a href='http://mgiprodwiki.jax.org/mediawiki/index.php/cur:Literature#Tags' target='_blank' id='definitionsLink' style=''>Definitions </a>
                                		<ng-form name="vm.editTabAssociateTagForm" ng-submit="associateTag()" style="display: inline;">
                                		<input class="form-control" ng-model="vm.acTag" id="tags">
                                		</ng-form> 
                                		<button type="button" tabindex="-1" id="saveTagButton" tabindex="-1" ng-click="associateTag()" >Associate</button>
						</div>

						</br>
						<label class="label label-static">Data Associated with this Reference</label>
						<br/><br/>
						<div ng-if="vm.refData.associated_data.indexOf('Alleles') > -1">
                                                <a target='_blank' href="{{url_for('pwi.allelesummary', {refs_id:vm.refData.jnumid})}}"> Alleles </a>
						</div>

						<div ng-if="vm.refData.associated_data.indexOf('Antibodies') > -1">
                                                <a target='_blank' href="{{url_for('pwi.antibodysummary', {refs_id:vm.refData.jnumid})}}"> Antibody </a>
						</div>
	
						<div ng-if="vm.refData.associated_data.indexOf('GXD/CRE Assays') > -1">
                                                <a target='_blank' href="{{url_for('pwi.assaysummary', {refs_id:vm.refData.jnumid})}}"> Assay </a>
						</div>
	
						<div ng-if="vm.refData.associated_data.indexOf('GXD/CRE Results') > -1">
                                                <a target='_blank' href="{{url_for('pwi.resultsummary', {refs_id:vm.refData.jnumid})}}"> Assay Results</a>
						</div>
	
						<div ng-if="vm.refData.associated_data.indexOf('GXD/CRE Images') > -1">
                                                <a target='_blank' href="{{url_for('pwi.imagepanesummary', {refs_id:vm.refData.jnumid})}}"> Exp Images </a>
						</div>
	
						<div ng-if="vm.refData.associated_data.indexOf('Genotypes') > -1">
                                                <a target='_blank' href="{{url_for('pwi.genotypesummary', {refs_id:vm.refData.jnumid})}}"> Genotypes </a>
                                                </div>
		
						<div ng-if="vm.refData.associated_data.indexOf('GO') > -1">
                                                <a target='_blank' href="{{url_for('pwi.goannot', {refs_key:vm.refData.refsKey})}}"> GO Annotations </a>
                                                </div>
		
						<div ng-if="vm.refData.associated_data.indexOf('GXD Index') > -1">
                                                <a target='_blank' href="{{url_for('pwi.gxdindexsummary', {refs_id:vm.refData.jnumid})}}"> Lit Index </a>
						</div>

						<div ng-if="vm.refData.associated_data.indexOf('Mapping') > -1"> Mapping </div>
	
						<div ng-if="vm.refData.associated_data.indexOf('Markers') > -1">
                                                <a target='_blank' href="{{url_for('pwi.markersummary', {refs_id:vm.refData.jnumid})}}"> Marker </a>
						</div>
	
						<div ng-if="vm.refData.associated_data.indexOf('Probes') > -1">
                                                <a target='_blank' href="{{url_for('pwi.probesummary', {refs_id:vm.refData.jnumid})}}"> Probes </a>
						</div>
	
						<div ng-if="vm.refData.associated_data.indexOf('GXD/CRE Specimens') > -1">
                                                <a target='_blank' href="{{url_for('pwi.specimensummary', {refs_id:vm.refData.jnumid})}}"> Specimens </a>
						</div>
	
						<div ng-if="vm.refData.associated_data.indexOf('Strain') > -1"> Strains </div>

					</div>
					<!-- col-sm-5 -->

					<div class="col-sm-10">

						<div class="spacer"></div>
						<div class="spacer"></div>
						<div class="spacer"></div>
						<div id="relevanceTableWrapper">
						<label class="label label-static"> Relevance History </label>
						<table class="table table-bordered scrollable-menu" id="relevanceTable" style="">
							<thead> 
								<tr>
									<th> Relevance </th>  
									<th> Confidence (numeric) </th>  
									<th> User </th>
									<th> Date </th>
									<th> Version </th>
								</tr>
							</thead>
				    		<tbody>
								<tr ng-repeat="history in vm.refData.relevanceHistory" ng-class="" ng-class-odd="'oddTableRow'">
						    		<td>{{history.relevance}}</td>
						    		<td>{{history.confidence}}</td>
						    		<td>{{history.modifiedBy}}</td>
						    		<td>{{history.modification_date}}</td>
						    		<td>{{history.version}}</td>
								</tr>
							</tbody>
						</table>
						</div><!-- relevanceTableWrapper -->

						<div class="spacer"></div>
						<div class="spacer"></div>
						<label class="label label-static"> Reference History </label>
						<table class="table table-bordered scrollable-menu" id="createdModifiedTable" style="">
				    		<tbody>
							<tr>
								<td>Created</td>
								<td>{{vm.refData.createdBy}}</td>
								<td>{{vm.refData.creation_date}}</td>
							</tr>
							<tr>
								<td>Last Modified</td>
								<td>{{vm.refData.modifiedBy}}</td>
								<td>{{vm.refData.modification_date}}</td>
							</tr>
						</tbody>
						</table>
						

					</div><!-- col-sm-5 -->


					</div> 
					</div>
					<!-- class="row" id='editTabTagArea'> -->
					<!-- class="col-sm-5" -->
				</div>
				<!-- style="padding-top:5px; -->
			</div>
			<!-- end Button Tags -->

			</div>
			<!-- activeTab== 1/col-sm-6 -->
	 	</div>
         	</div>

		<!-- allele association tab -->
         	<div ng-if="vm.activeTab==2">
	 	<div class="row" >
			<div class="col-sm-10" style="">
				<div id="tabTableWrapper">
				<table class="table table-bordered scrollable-menu" id="alleleAssocTable" style="">
    				<tbody>
				<tr>
				<th></th>
				<th>Type</th>
				<th>Allele</th>
				<th>Allele ID</th>
				<th>Marker</th>
				</tr>

				<!-- if deleting row, turn it orange -->
				<!-- if adding new row, turn it lime -->

				<tr ng-repeat="ref in vm.refData.alleleAssocs" 
					ng-click=""
					ng-class-odd="'oddTableRow'"
			    		ng-class="{deleteRow:vm.refData.alleleAssocs[$index].processStatus == 'd', 
						addRow:vm.refData.alleleAssocs[$index].processStatus == 'c'}">
				<td>
				<span ng-click="deleteAssocRow(vm.refData.alleleAssocs,$index)"> 
					<img src="/pwi/static/images/remove.png"
					style="width:12px; height: 12px; cursor: pointer;" />
				</span>
		        	</td>
				<td>
                                <select class="alleleAssocType form-control" size="1" tabindex="-1"
					ng-model="ref.refAssocTypeKey"
					ng-change="modifyAssocRow(vm.refData.alleleAssocs, $index)"
					>
                                	<option ng-repeat="choice in vm.alleleAssocType_choices" 
						value="{{choice.refAssocTypeKey}}">{{choice.assocType}}</option>
                                </select>
				</td>

				<td>
				<input class="alleleSymbol form-control"
					ng-model="ref.alleleSymbol" 
					ng-blur="validateAllele($index, 'alleleSymbol')" />
				</td>

				<td>
				<input class="alleleAccID form-control"
					ng-model="ref.alleleAccID" 
					ng-blur="validateAllele($index, 'alleleAccID')" />
				</td>

				<td class="alleleMarkerSymbol">{{ref.alleleMarkerSymbol}} </td>

				</tr>
				</tbody>
				</table>
				</div>
			</div>
			<!-- allele col-sm-15 -->
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-sm-2" style="">
			<button type="button" tabindex="-1" id="addAlleleAssocButton" ng-class=""
				ng-click="addAlleleAssocRow()" >Add Row</button>
			</div>
		</div>
		<!-- allele topMargin -->
		</div>
		<!-- allele association tab==2 -->

		<!-- marker association tab -->
         	<div ng-if="vm.activeTab==3">
	 	<div class="row" >
			<div class="col-sm-8" style="">
				<div id="tabTableWrapper">
				<table class="table table-bordered scrollable-menu" id="markerAssocTable" style="">
    				<tbody>
				<tr>
				<th></th>
				<th>Type</th>
				<th>Marker</th>
				<th>Marker ID</th>
				<th>Modified By</th>
				<th>Date</th>
				</tr>

				<!-- if deleting row, turn it orange -->
				<!-- if adding new row, turn it lime -->

				<tr ng-repeat="ref in vm.refData.markerAssocs" 
					ng-click=""
					ng-class-odd="'oddTableRow'"
			    		ng-class="{deleteRow:vm.refData.markerAssocs[$index].processStatus == 'd', 
						addRow:vm.refData.markerAssocs[$index].processStatus == 'c'}">
				<td>
				<span ng-click="deleteAssocRow(vm.refData.markerAssocs,$index)"> 
					<img src="/pwi/static/images/remove.png"
					style="width:12px; height: 12px; cursor: pointer;" />
				</span>
		        	</td>
				<td>
                                <select size="1" id="markerAssocType" tabindex="-1"
					ng-model="ref.refAssocTypeKey"
					ng-change="modifyAssocRow(vm.refData.markerAssocs, $index)"
					>
                                	<option ng-repeat="choice in vm.markerAssocType_choices" 
						value="{{choice.refAssocTypeKey}}">{{choice.assocType}}</option>
                                </select>
				</td>

				<td>
				<input class="form-control" id="markerSymbol"
					ng-model="ref.markerSymbol" 
					ng-blur="validateMarker($index, 'markerSymbol')" />
				</td>

				<td>
				<input class="form-control" id="markerAccID"
					ng-model="ref.markerAccID"
					ng-blur="validateMarker($index, 'markerAccID')" />
				</td>

				<td>{{ref.modifiedBy}}</td>
				<td>{{ref.modification_date}}</td>

				</tr>
				</tbody>
				</table>
				</div>
			</div>
			<!-- marker col-sm-10 -->
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-sm-2" style="">
			<button type="button" tabindex="-1" id="addMarkerAssocButton" ng-class=""
				ng-click="addMarkerAssocRow()" >Add Row</button>
			</div>
		</div>
		<!-- marker topMargin -->
		</div>
		<!-- marker association tab==2 -->

		<!-- strain association tab -->
         	<div ng-if="vm.activeTab==4">
	 	<div class="row" >
			<div class="col-sm-8" style="">
				<div id="tabTableWrapper">
				<table class="table table-bordered scrollable-menu" id="strainAssocTable" style="">
    				<tbody>
				<tr>
				<th></th>
				<th>Type</th>
				<th>Strain</th>
				<th>Strain ID</th>
				<th>Modified By</th>
				<th>Date</th>
				</tr>

				<!-- if deleting row, turn it orange -->
				<!-- if adding new row, turn it lime -->

				<tr ng-repeat="ref in vm.refData.strainAssocs" 
					ng-click=""
					ng-class-odd="'oddTableRow'"
			    		ng-class="{deleteRow:vm.refData.strainAssocs[$index].processStatus == 'd', 
						addRow:vm.refData.strainAssocs[$index].processStatus == 'c'}">
				<td>
				<span ng-click="deleteAssocRow(vm.refData.strainAssocs,$index)"> 
					<img src="/pwi/static/images/remove.png"
					style="width:12px; height: 12px; cursor: pointer;" />
				</span>
		        	</td>
				<td>
                                <select size="1" id="strainAssocType" tabindex="-1"
					ng-model="ref.refAssocTypeKey"
					ng-change="modifyAssocRow(vm.refData.strainAssocs, $index)"
					>
                                	<option ng-repeat="choice in vm.strainAssocType_choices" 
						value="{{choice.refAssocTypeKey}}">{{choice.assocType}}</option>
                                </select>
				</td>

				<td>
				<input class="form-control" id="strainSymbol"
					ng-model="ref.strainSymbol" 
					ng-blur="validateStrain($index, 'strainSymbol')" />
				</td>

				<td>
				<input class="form-control" id="strainAccID" 
					ng-model="ref.strainAccID"
					ng-blur="validateStrain($index, 'strainAccID')" />
				</td>

				<td>{{ref.modifiedBy}}</td>
				<td>{{ref.modification_date}}</td>

				</tr>
				</tbody>
				</table>
				</div>
			</div>
			<!-- strain col-sm-10 -->
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-sm-2" style="">
			<button type="button" tabindex="-1" id="addStrainAssocButton" ng-class=""
				ng-click="addStrainAssocRow()" >Add Row</button>
			</div>
		</div>
		<!-- strain topMargin -->
		</div>
		<!-- strain association tab==2 -->

		<!-- doid association tab -->
         	<div ng-if="vm.activeTab==5">
	 	<div class="row" >
			<div class="col-sm-8" style="">
				<div id="tabTableWrapper">
				<table class="table table-bordered scrollable-menu" id="doidAssocTable" style="">
    				<tbody>
				<tr>
				<th></th>
				<th>Type</th>
				<th>DO Term</th>
				<th>Vocabulary Term</th>
				<th>Modified By</th>
				<th>Date</th>
				</tr>

				<!-- if deleting row, turn it orange -->
				<!-- if adding new row, turn it lime -->

				<tr ng-repeat="ref in vm.refData.doidAssocs" 
					ng-click=""
					ng-class-odd="'oddTableRow'"
			    		ng-class="{deleteRow:vm.refData.doidAssocs[$index].processStatus == 'd', 
						addRow:vm.refData.doidAssocs[$index].processStatus == 'c'}">
				<td>
				<span ng-click="deleteAssocRow(vm.refData.doidAssocs,$index)"> 
					<img src="/pwi/static/images/remove.png"
					style="width:12px; height: 12px; cursor: pointer;" />
				</span>
		        	</td>
				<td>
                                <select size="1" id="doidAssocType" tabindex="-1"
					ng-model="ref.refAssocTypeKey"
					ng-change="modifyAssocRow(vm.refData.doidAssocs, $index)"
					>
                                	<option ng-repeat="choice in vm.doidAssocType_choices" 
						value="{{choice.refAssocTypeKey}}">{{choice.assocType}}</option>
                                </select>
				</td>

				<td>
				<input class="form-control" id="doidAccID" 
					ng-model="ref.doidAccID"
					ng-blur="validateDOID($index, 'doidAccID')" />
				</td>

				<td>{{ref.doidTerm}}</td>
				<td>{{ref.modifiedBy}}</td>
				<td>{{ref.modification_date}}</td>

				</tr>
				</tbody>
				</table>
				</div>
			</div>
			<!-- doid col-sm-10 -->
		</div>
		<div class="spacer"></div>
		<div class="row">
			<div class="col-sm-2" style="">
			<button type="button" tabindex="-1" id="addDOIDAssocButton" ng-class=""
				ng-click="addDOIDAssocRow()" >Add Row</button>
			</div>
		</div>
		<!-- doid topMargin -->
		</div>
		<!-- doid association tab==2 -->
	</div>
</div>
</form>
<!-- end tab content -->
     
<!-- DATA DUMP -->
	<br><br><br>
	<div class="container-fluid">
		<div class="row ">
			<div class="col-sm-12">
				<button type="button" tabindex="-1" id="showReferenceButton" ng-click="vm.showRefData = !vm.showRefData;" >Show Reference Data</button>
				<button type="button" tabindex="-1" id="showSelectedButton" ng-click="vm.showSelected = !vm.showSelected;" >Show Search Form Params</button>
				<button type="button" tabindex="-1" id="showSummaryButton" ng-click="vm.showResults = !vm.showResults;" >Show Summary Data</button>
				<button type="button" tabindex="-1" id="showWorkflowTagsButton" ng-click="vm.showWorkflowTags = !vm.showWorkflowTags;" >Show Workflow Tags</button>
				<button type="button" tabindex="-1" id="showJournalsButton" ng-click="vm.showJournals = !vm.showJournals;" >Show Journals</button>
				<div ng-hide="vm.showSelected"> <pre>{{ vm.selected | json : spacing }}</pre> </div>
				<div ng-hide="vm.showResults"> <pre>{{ vm.results | json : spacing }}</pre> </div>
				<div ng-hide="vm.showRefData"> <pre>{{ vm.refData | json : spacing }}</pre> </div>
				<div ng-hide="vm.showWorkflowTags"> <pre>{{ vm.acTag | json : spacing }}</pre> <pre>{{ vm.workflowTags | json : spacing }}</pre> </div>
				<div ng-hide="vm.showJournals"> <pre>{{ vm.journals | json : spacing }}</pre> </div>
			</div>
		</div>
	</div> 

<ng-include src="STATIC_APP_URL + '/edit/triage/help.html'" />
