<br>

	<div class="container-fluid">

		<form id="moduleForm" class="form-horizontal mousetrap">
			<div class="row ">
				<div class="col-sm-12">
						<button  type="submit" id="searchButton" ng-click="search()" ng-disabled="vm.loading" >Search</button>
						<button type="button" id="clearButton" ng-click="clearAll()" ng-disabled="vm.loading" >Clear</button>
				</div>
			</div>
			<br>
			<div class="row ">
				<div class="col-sm-2">
					<label class="label label-search">J:####</label>
					<input class="form-control mousetrap" ng-model="vm.selected.accids" id="accids" />
				</div> 
			</div>
		</form>

	</div>
		
	<br><br><br>

	<div class="container-fluid">
		<div class="row ">     
			<div class="col-sm-12">

			<div class='scrollable-results'>
			<table class="table table-bordered" id="resultsTable" style="width:900px;">
			    <thead>
		        	<tr>
        	    	<th style="width: 200px;"> Journal </th> 
           			<th style="width: 100px;"> PMID </th>  
            		<th style="width: 100px;"> J:# </th>
            		<th style="width: 200px;"> Short Citation </th>
            		<th style="width: 300px;"> Title </th>
        			</tr>
    			</thead>
    			<tbody>
			  		<tr ng-repeat="ref in vm.data track by ref.jnumid">
			    	<td style="width: 200px;"> {{ ref.doiid }} </td>
			    	<td style="width: 100px;"> {{ ref.pubmedid }} </td>
			    	<td style="width: 100px;"> {{ ref.jnumid }} </td>
			    	<td style="width: 200px;"> {{ ref.short_citation }} </td>
			    	<td style="width: 300px;"> {{ ref.title }} </td>
					</tr>
				</tbody>
			</table>
			</div>  

			</div>
		</div>
	</div>
 
	<br><br><br>

	<div class="container-fluid">
		<div class="row ">
			<div class="col-sm-12">
		<pre>{{ vm.selected | json : spacing }}</pre>
		<pre>{{ vm.data | json : spacing }}</pre>
			</div>
		</div>
	</div> 

 


