/*
 * overrides
 */
main {
    background-color: #eeeeee;
}
div {
	/*border-style: solid;
	border-color:red;*/
}
button {
    background-color: rgb(252,251,186);
}
.selected {
	background-color: yellow;
}
.label {
	color: #000;
}
.row {/*
    border-style: solid;
    border-width: 1px;
    border-color: red;
*/
}
.spacer 
{
	height:10px;
}

/*
 * page-specific styles 
 */


#resultsTable tbody, table thead
{
    display: block;
}
#resultsTable tbody 
{
   overflow: auto;
   height: 150px;
}

#resultsTable thead tr
{
	background-color: rgb(203,232,248);
}

#resultsTable th
{
    padding: 3px;
    font-size: .7em;
}

#resultsTable td
{
    padding: 3px;
    font-size: .7em;
}

#workflowTable td
{
    padding: 3px;
    font-size: .7em;
    text-align:center; 
    vertical-align:middle;
}
