{% extends "pageLayout.html" %}

{% block imports %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/allelesummary/allelesummary.css') }}">

	<script src="{{ url_for('static',filename='app/edit/allelesummary/AlleleSummaryService.js')}}"></script>
	<script src="{{ url_for('static',filename='app/edit/allelesummary/AlleleSummaryController.js')}}"></script>
	
	<script>
		var access_token = '{{config["ACCESS_TOKEN"]}}';
	</script>
	

{% endblock %}

{% block content %}

	<div id="wrapper" ng-controller="AlleleSummaryController">
		<div ng-include="'{{ url_for('static',filename='app/edit/allelesummary/allelesummary_content.html')}}'"></div>
	</div>

        {% include "help/allelesummary.html" %}

{% endblock %}

