<title>Cell Type Module</title>
<div class="browserWrapper">

	<div class="alert alert-danger" ng-show="errors.api">
            <h5>{{ errors.api.error }}</h5>
            <h6 id="errorMessage">{{ errors.api.message }}</h6>
        </div>
		
    <div class="leftContainer" ng-keydown="flipFocusElement($event)">

      <div id="termSearchArea">
        <form name="termSearchForm" id="termSearchForm" >
        <input type="submit" value="Search CL" ng-click="search()" />
        <input type="reset" value="Clear" id='formClear' tabindex=”-1” ng-click="clear()">
        <br/>
        <input id="termSearch" name="termSearch" class="mousetrap" autofocus placeholder='Term Search' 
                ng-model="vm.termSearch"
        />
        <br/>
        <input id="definitionSearch" name="definitionSearch" class="mousetrap" placeholder='Definition Search' 
                ng-model="vm.definitionSearch"
        />
        <br/>

        </form>
      </div>

      <div id="clipboardSubmit">
        <form name="clipboardSubmitForm" id="clipboardSubmitForm" >
          <fieldset ng-disabed="authenticated" >

            <input type="submit" id="addClipboardButton" value="Add to CL Clipboard" 
               ng-click="addClipboardRow()" ng-disabled="current_user.login==null"
          /> 
          </fieldset>
        </form>
      </div>

      <div id="celltypeTermAreaWrapper">
      <div id="celltypeTermArea">
        <div id="celltypeSummaryContent_loading" ng-if="searchLoading">
          <img src="/pwi/static/images/loading.gif"/>
          Searching Cell Type Terms
        </div>
        <div id="celltypeSummaryContent">
          <div class="searchCount">
			  {{vm.searchResults.total_count}} terms returned from search
			</div>
			
		  <div ng-if="vm.searchResults.total_count == 0">
		    No terms Found.
		  </div>
			
		  <ul id="termResultList" ng-if="vm.searchResults.total_count > 0">
                              
                                <li ng-repeat="term in vm.searchResults.items">
                                  <a class="termSearchResult fakeLink"
                                    ng-class="{active: term.term==vm.selectedTerm.term}" 
                                    tabindex="-1" ng-click="selectTerm(term)"
                                    ng-bind-html="term.term_bold"
                                  ></a>

			          <span class="synonymMatch" 
			            ng-if="term.synonym_bold"
			          >
			            (<span ng-bind-html="term.synonym_bold"></span>)
			          </span>
			    </li>
			  </ul>
        </div>
      </div>
      </div>

      <div id="clipboardFunctions">
        <form name="clipboardFunctionsForm" id="clipboardFunctionsForm" >
          <fieldset>
            <!--<input class="clipboardButton" id='clipboardRefresh' type="submit" value="Refresh" 
             ng-click="loadClipboard()" /> They wanted removed, keeping commented out for now-->
            <input class="clipboardButton" id='clipboardSort' type="submit" value="Sort" 
             tabindex=”-1” ng-click="sortClipboard()" />
            <input class="clipboardButton" id='clipboardClear' type="submit" value="Clear" 
             tabindex=”-1” ng-click="clearClipboard()" />
                
			<span class="searchCount">
				<span id="clipboardCount">{{vm.clipboardResults.total_count}}</span> clipboard items
			</span>
          </fieldset>
        </form>
      </div>

      <div id="celltypeClipBoard">
        <div id="celltypeClipBoardContent_loading" ng-if="clipboardLoading">
          <img src="/pwi/static/images/loading.gif"/>
          Reloading Clipboard
        </div>
        <div id="celltypeClipBoardContent">
			  <ul id="clipboard" style="list-style-type: none;"
			    ng-if="vm.clipboardResults.total_count > 0"
			  >
			    <li ng-repeat="item in vm.clipboardResults.items"> <!--this is working -->
			      <img src="/pwi/static/images/remove.png" 
			        tabindex=”-1” ng-click="deleteClipboardItem(item.setMemberKey)"
			        style="width:12px; height: 12px; cursor: pointer;" 
			      />
                             {{item.label}}
			    </li>
			  </ul>
        </div>
      </div>

    </div> <!-- end leftContainer -->

    <div class="rightContainer" style="">
      <div id="termDetailsArea">
        <div id="termDetailContent_loading" ng-if="detailLoading">
      	  <img src="/pwi/static/images/loading.gif"/>
      	  Loading Term Detail
        </div>
        <div id="termDetailContent"  ng-if="vm.selectedTerm.primaryid">
          <dl class="detailPageListData">

			  <dt>Term</dt> 

			  <dd><span class="active">{{vm.selectedTerm.term}}</span></dd>
			  <dt>ID</dt>
			  <dd>{{vm.selectedTerm.primaryid}}</dd>
			    
                          <dt ng-if="vm.selectedTerm.note">Definition</dt>
                          <dd ng-if="vm.selectedTerm.note">
                                {{vm.selectedTerm.note}}
                          </dd>

                          <dt ng-if="vm.selectedTerm.exactSynonyms.length > 0">Synonyms</dt>
                          <dd ng-if="vm.selectedTerm.exactSynonyms.length > 0">
                            <span ng-repeat="synonym in vm.selectedTerm.exactSynonyms">
                              {{synonym.synonym}}{{$last ? '' : ', '}}
                             
                            </span>
                          </dd>

			  <dt ng-if="vm.selectedTerm.dagParents.length > 0">Parent Terms</dt> 
			  <dd ng-if="vm.selectedTerm.dagParents.length > 0"> 
			    <span ng-repeat="node in vm.selectedTerm.dagParents"> <!--node is a term object it does not in turn have dagParents-->
				    <a class="termDetailParent fakeLink"
				      tabindex=”-1” ng-click="selectTerm(node)">
				        {{node.term}}
				    </a>
				    <br ng-if="!$last"/>
			     </span>

			  </dd>
            </dl>
                        <div id="detailLinks">
                            <span class="resultsLink">
                                <a target="_blank href="{{ url_for('pwi.resultsummary', {celltype_id:vm.selectedTerm.primaryid} ) }}">{{vm.selectedTerm.annotCount}}</a>
		  	direct annotations 
                            <span class="resultsLink">
                                <a class="external" target="_blank" href=" https://bioportal.bioontology.org/ontologies/CL?p=classes&conceptid={{vm.selectedTerm.primaryid}}">BioPortal</a>
                            </span>
                            <span class="resultsLink">
                                <a class="external" target="_blank" href=" http://www.ontobee.org/ontology/CL?iri=http://purl.obolibrary.org/obo/{{vm.selectedTerm.ontobeeid}}">Ontobee</a>
                            </span>
                        </div>
			
        </div> <!-- end termDetailContent -->
      </div> <!-- end termDetailsArea -->

      <div id="treeViewAreaWrapper">
       <div id="treeViewArea">
         <div id="celltypeTree"></div>
       </div>
      </div>

     </div> <!-- end rightContainer -->
<br style="clear:both" />
</div>   <!-- end browserWrapper -->

<!-- Java API JSON data dump -->
<show-model vm="vm" />
<ng-include src="STATIC_APP_URL + '/edit/celltype/help.html'" />
