			<div class="row ">
				<div class="col-sm-4" style="">
				<label class="label label-edit">HGVS</label>
                                <button type="button" id="hgvsButton" ng-click="copyHGVS()" >Copy HGVS</button>
                                <br>
				<textarea class="form-control" rows=2 ng-model="vm.variant.description" id="description" name="description" placeholder="" ></textarea>
				</div>

				<div class="col-sm-2" style="">
				<label class="label label-edit">Variant References</label>
				<textarea class="form-control" rows=2 ng-model="vm.variant.references" id="variantJnumIDs" name="variantJnumIDs" placeholder="" ></textarea>
				</div>

				<div class="col-sm-3" style="">
				<label class="label label-edit">Public Notes</label><br>
				<textarea class="form-control" rows=2 ng-model="vm.variant.publicNotes" id="publicNote" name="publicNote" placeholder="" ></textarea>
				</div>

				<div class="col-sm-3" style="">
				<label class="label label-edit">Curator Notes</label><br>
				<textarea class="form-control" rows=2 ng-model="vm.variant.curatorNotes" id="curatorNote" name="curatorNote" placeholder="" ></textarea>
				</div>
			</div><!-- row -->

			<div class="spacer"></div>
			
			<div class="row ">
				<div class="col-sm-4" style="">
				<label class="label label-edit">Types</label> <a href="javascript:so.showTypePopup()" title="Open a popup window for choosing Variant Types.">Types Popup</a><br>
				<textarea class="form-control" rows=2 ng-model="vm.variant.soTypes" id="soTypes" name="soTypes" readonly="true" placeholder="" ></textarea>
				</div>

				<div class="col-sm-4" style="">
				<label class="label label-edit">Effects</label> <a href="javascript:so.showEffectPopup()" title="Open a popup window for choosing Variant Effects.">Effects Popup</a><br>
				<textarea class="form-control" rows=2 ng-model="vm.variant.soEffects" id="soEffects" name="soEffects" readonly="true" placeholder="" ></textarea>
				</div>

				<div class="col-sm-4" style="">
				</div>

			</div><!-- row -->
