			<div class="row ">
			<div class="col-sm-2" style="">
			<label class="label label-search">Allele ID</label><br/>
			<input class="form-control" ng-model="vm.variant.allele.accID" autofocus="autofocus" id="alleleID" name="alleleID" ng-blur="lookupAllele()"/>
			<span id="idLookupMessage" class="hidden"><i>Searching...</i></span>
			</div>
			
			<div class="col-sm-4" style="">
			<label class="label label-search">Allele Symbol</label>
			<input class="form-control" ng-model="vm.variant.allele.symbol" autofocus="autofocus" id="alleleSymbol" name="alleleSymbol" ng-blur="lookupAllele()"/>
			<div class="row ">
			<div class="col-sm-6"><span id="symbolLookupMessage" class="hidden"><i>Searching...</i></span></div>
			
			<div class="col-sm-6"><button id="cpAll" class="copyOver" ng-click="copyOver('all')">Copy All <img src="/pwi/static/images/copy_icon_small.png" style="height:15px"/></button></div>
			</div><!-- row -->
			</div>
		
                        <div class="col-sm-2" style="">
                                <label class="label label-view-only">Allele Status</label><br>
                                <input type="text" class="form-control" id="alleleStatus" tabindex="-1" readonly
                                        ng-model="vm.variant.allele.alleleStatus"
                                        ></input>
                        </div>
	
			<div class="col-sm-3" style="">
			<div class="row ">

			<div class="col-sm-4" style="">
			<label class="label label-search">Chromosome</label><br>
			<select id="chromosome" ng-model="vm.variant.allele.chromosome"  size="1">
				<option value="">Search All</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="X">X</option>
				<option value="Y">Y</option>
				<option value="XY">XY</option>
				<option value="UN">UN</option>
				<option value="MT">MT</option>
			</select>
			</div>
			
			<div class="col-sm-4" style="text-align: center">
			<label class="label label-search">Strand</label><br>
			<select id="strand" ng-model="vm.variant.allele.strand"  size="1">
				<option value='+' class="whiteBG">+</option>
				<option value='-' class="redBG">-</option>
			</select>
			</div>

			<div class="col-sm-4" style="">
				<label class="label label-search">Reviewed</label><br>
				<input class="form-control smallBox" type="checkbox" ng-model="vm.variant.isReviewed" autofocus="autofocus" id="isReviewed" name="isReviewed"/>
			</div>

			</div><!-- end row -->

			<div class="row ">
			<div class="col-sm-12" style="text-align: center">
				<button id="cpAllele" class="copyOver" ng-click="copyAllele()">Duplicate Allele</button>
				<button id="cpVariant" class="copyOver" ng-click="copyVariant()">Duplicate Variant</button>
			</div>
			</div><!-- end row -->
			</div><!-- wrapper div of 3 -->
			</div><!-- end row -->

			<div class="row ">
			
                        <div class="col-sm-3" style="">
                        <label class="label label-search">Allele References</label>
                        <textarea class="form-control" rows=2 ng-model="vm.variant.allele.references" id="jnumIDs" name="jnumIDs" placeholder="" ></textarea>
                        </div>

			</div>

