
		<div class="row box topMargin"><!-- table of variants for this allele -->
		<div class="col-sm-12" style="">

			<div id="variantCount">All variants for allele: <a target="_blank" href="http://www.informatics.jax.org/detail/allele/{{vm.variant.allele.accID}}">{{vm.variantData.allele.symbol}}, {{vm.variant.allele.accID}}</a></div>
			<div id="variantTableWrapper">
			<table class="table table-bordered scrollable-menu" id="variantTable" style="">
    		<tbody>
    			<tr>
    				<th colspan="5">Genomic</th>
    				<th colspan="5">Transcript</th>
    				<th colspan="5">Polypeptide</th>
    			</tr>
    			<tr>
    				<th>build</th>
    				<th>start</th>
    				<th>end</th>
    				<th>ref</th>
    				<th>var</th>
    				<th>ID</th>
    				<th>start</th>
    				<th>end</th>
    				<th>ref</th>
    				<th>var</th>
    				<th>ID</th>
    				<th>start</th>
    				<th>end</th>
    				<th>ref</th>
    				<th>var</th>
    			</tr>
				<tr ng-repeat="variant in vm.variants" 
					ng-click="setVariant($index)" 
					ng-class-odd="($index!=vm.variantIndex) ? 'oddVariantRow' : ''"
					ng-class="($index==vm.variantIndex) ? 'variantTableSelectedRow' : ''">
					<td class="{{variant.dnaClass}}">{{variant.dna.version}}</td>
					<td class="{{variant.dnaClass}}">{{variant.dna.startCoordinate}}</td>
					<td class="{{variant.dnaClass}}">{{variant.dna.endCoordinate}}</td>
					<td class="{{variant.dnaClass}}">{{variant.dna.referenceSequence}}</td>
					<td class="{{variant.dnaClass}}">{{variant.dna.variantSequence}}</td>
					<td class="{{variant.rnaClass}}" ng-bind-html="trust(sequenceLink(variant.rna))"></td>
					<td class="{{variant.rnaClass}}">{{variant.rna.startCoordinate}}</td>
					<td class="{{variant.rnaClass}}">{{variant.rna.endCoordinate}}</td>
					<td class="{{variant.rnaClass}}">{{variant.rna.referenceSequence}}</td>
					<td class="{{variant.rnaClass}}">{{variant.rna.variantSequence}}</td>
					<td class="{{variant.polypeptideClass}}" ng-bind-html="trust(sequenceLink(variant.polypeptide))"></td>
					<td class="{{variant.polypeptideClass}}">{{variant.polypeptide.startCoordinate}}</td>
					<td class="{{variant.polypeptideClass}}">{{variant.polypeptide.endCoordinate}}</td>
					<td class="{{variant.polypeptideClass}}">{{variant.polypeptide.referenceSequence}}</td>
					<td class="{{variant.polypeptideClass}}">{{variant.polypeptide.variantSequence}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="spacer"></div>
		</div>
		</div><!-- table of variants for this allele -->
