
<div ng-hide="vm.hideLoadingHeader">
	<h3 id='loadingHeader'>Searching...</h3>
</div>

<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="variantForm" class="form-horizontal mousetrap">

<div class="container-fluid">
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="" >

		<div class="row topMargin">
		<div class="col-sm-12" style="">

			<div class="row ">
			<div class="col-sm-2" style="">
			<label class="label label-search">Allele ID</label><br>
			<input class="form-control" ng-model="vm.alleleID" autofocus="autofocus" id="alleleID" name="alleleID"/>
			</div>
			
			<div class="col-sm-4" style="">
			<label class="label label-search">Allele Symbol</label>
			<input class="form-control" ng-model="vm.variantData.allele.symbol" autofocus="autofocus" id="alleleSymbol" name="alleleSymbol"/>
			</div>

			<div class="col-sm-3" style="">
			<label class="label label-search">Allele References</label>
			<textarea class="form-control" rows=2 ng-model="vm.jnumIDs" id="jnumIDs" name="jnumIDs" placeholder="" ></textarea>
			</div>

			<div class="col-sm-1" style="">
			<label class="label label-search">Chromosome</label><br>
			<select id="chromosome" ng-model="vm.variantData.chromosome"  size="1">
				<option value="">Search All</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="X">X</option>
				<option value="Y">Y</option>
				<option value="XY">XY</option>
				<option value="UN">UN</option>
				<option value="MT">MT</option>
			</select>
			</div>
			
			<div class="col-sm-2" style="">
			<label class="label label-search">Strand</label><br>
			<select id="strand" ng-model="vm.variantData.strand"  size="1">
				<option value='+' class="whiteBG">+</option>
				<option value='-' class="redBG">-</option>
			</select>
			</div>
			</div><!-- end row -->

			<div class="spacer"></div>
			
			<div class="row ">
				<div class="col-sm-6 box" style="">
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10" style="background-color: yellow">as sourced</div>
					<div class="col-sm-1"></div>
				</div>
				<div class="spacer"></div> 
				<div class="row">
					<div class="col-sm-3" style="">
						<label class="label label-search">Genome Build</label>
						<input class="form-control" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
					</div>
					<div class="col-sm-3" style="">
						<label class="label label-search">Start</label>
						<input class="form-control" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
					</div>
					<div class="col-sm-3" style="">
						<label class="label label-search">End</label>
						<input class="form-control" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
					</div>
					<div class="col-sm-3" style="">
						<div class="row">
						<div class="col-sm-3 padTop" style="">
						<label class="label label-search inline">Ref</label>
						</div>
						<div class="col-sm-9" style="">
						<input class="form-control inline width65" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
						</div>
						</div><!-- innermost row -->

						<div class="row hidden">
						<div class="col-sm-3 padTopMore" style="">
						<label class="label label-search inline">Allele</label>
						</div>
						<div class="col-sm-9" style="">
						<input class="form-control inline width35" type="checkbox" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
						</div>
						</div><!-- innermost row -->

						<div class="row">
						<div class="col-sm-3 padTop" style="">
						<label class="label label-search inline">Var</label>
						</div>
						<div class="col-sm-9" style="">
						<input class="form-control inline width65" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
						</div>
						</div><!-- innermost row -->
					</div>
				</div><!-- inner row -->
				</div><!-- left column of sequence data -->

				<div class="col-sm-6 box" style="">
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10" style="background-color: lightgreen">curated</div>
					<div class="col-sm-1"></div>
				</div>
				<div class="spacer"></div> 
				<div class="row">
					<div class="col-sm-3" style="">
						<label class="label label-search">Genome Build</label>
						<input class="form-control" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
					</div>
					<div class="col-sm-3" style="">
						<label class="label label-search">Start</label>
						<input class="form-control" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
					</div>
					<div class="col-sm-3" style="">
						<label class="label label-search">End</label>
						<input class="form-control" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
					</div>
					<div class="col-sm-3" style="">
						<div class="row">
						<div class="col-sm-3 padTop" style="">
						<label class="label label-search inline">Ref</label>
						</div>
						<div class="col-sm-9" style="">
						<input class="form-control inline width65" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
						</div>
						</div><!-- innermost row -->

						<div class="row hidden">
						<div class="col-sm-3 padTopMore" style="">
						<label class="label label-search inline">Allele</label>
						</div>
						<div class="col-sm-9" style="">
						<input class="form-control inline width35" type="checkbox" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
						</div>
						</div><!-- innermost row -->

						<div class="row">
						<div class="col-sm-3 padTop" style="">
						<label class="label label-search inline">Var</label>
						</div>
						<div class="col-sm-9" style="">
						<input class="form-control inline width65" ng-model="vm.variantData.version" autofocus="autofocus" id="version" name="version"/>
						</div>
						</div><!-- innermost row -->
					</div>
				</div><!-- inner row -->
				</div><!-- right column of sequence data -->
			</div><!-- row -->
			
			<div class="spacer"></div>
			
			<div class="row ">
				<div class="col-sm-4" style="">
				<label class="label label-search">HGVS</label><br>
				<textarea class="form-control" rows=2 ng-model="vm.variantData.description" id="description" name="description" placeholder="" ></textarea>
				</div>

				<div class="col-sm-3" style="">
				<label class="label label-search">Variant References</label>
				<textarea class="form-control" rows=2 ng-model="vm.variantJnumIDs" id="variantJnumIDs" name="variantJnumIDs" placeholder="" ></textarea>
				</div>

				<div class="col-sm-5" style="">
				<label class="label label-search">Notes</label><br>
				<textarea class="form-control" rows=2 ng-model="vm.variantData.generalNote" id="generalNote" name="generalNote" placeholder="" ></textarea>
				</div>
			</div><!-- row -->
		</div><!-- left panel, left side -->

		</div><!-- outer row -->
	</div><!-- main left panel -->

	<!-- main right panel -->

	<div class="col-sm-3 section" style="min-height:380px;">

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-readonly="vm.editableField==false" ng-model="vm.variantData.createdBy" id="variantCreatedBy" name="variantCreatedBy"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-readonly="vm.editableField==false" ng-model="vm.variantData.modifiedBy" id="variantModifiedBy" name="variantModifiedBy"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-readonly="vm.editableField==false" ng-model="vm.variantData.creation_date" id="variantCreationDate" name="variantCreationDate"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-readonly="vm.editableField==false" ng-model="vm.variantData.modification_date" id="variantModificationDate" name="variantModificationDate"/>
			</div>
		</div>

		<div class="spacer"></div>

		<button type="button" id="searchButton" ng-click="eiSearch()" >Search</button>
		<button type="button" id="clearButton" ng-click="eiClear()" >Clear</button>
		<button type="button" id="resetSearchButtom" ng-click="resetSearch()" >Reset Search</button>
		</br>
		<button type="button" id="createVariantButton" ng-click="createVariant()" 
			ng-disabled="current_user.login==null || vm.variantData.variantKey!=null" >Create</button>
		<button type="button" id="updateVariantButton" ng-click="updateVariant()" 
			ng-disabled="current_user.login==null" >Modify</button>
		<button type="button" id="deleteVariantButton" ng-click="deleteVariant()" 
			ng-disabled="current_user.login==null" >Delete</button>

		</br>
		<div class="row ">
		<div class="col-sm-12" style="">

			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTableHeader" style="">
    		<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="setVariant($index)" 
					ng-class="($index==vm.selectedIndex) ? 'resultsTableSelectedRow' : ''"
					ng-class-odd="'oddResultRow'">
			    	<td style="min-width: 200px;">{{result.symbol}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="spacer"></div>
		</div>
		</div>
		
	</div><!-- end: main right panel -->
</div>
</div>
</form>


<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row ">
		<div class="col-sm-12">
			<button type="button" id="showSummaryButton" ng-click="vm.hideData = !vm.hideData;" 
					>Show Variant JSON from API</button>			
			<div ng-hide="vm.hideData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 


<script type="text/javascript">
	// This JavaScript will execute *after* content injection.
	var input = document.getElementById ("alleleSymbol");
	input.focus ();

	// wire the change of the strand selection list's color into the QF
	$('#strand').on('change', function(ev) {
		$(this).removeClass('redBG').removeClass('whiteBG').addClass($('#strand').children(':selected').attr('class'));
	});
</script>