/*
 * overrides and generic classes
 */
main {
    background-color: #eeeeee;
     margin-left: 0px;
}
button {
    background-color: rgb(252,251,186);
    margin: 3px 2px;
}
button:disabled {opacity: 0.5;}
.form-control {
	height: 26px;
	padding: 2px 4px;
}
.label { 
	color: #000; 
	padding: .1em .6em;
}
.label-static { background-color: rgb(203,232,248); }
.ui-widget {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.spacer { height:9px; }
.section {
	border-style: ridge;
	border-color:lightgray;
}
form select, form input, form textarea {
    margin-top: 1px;
}
textarea {max-width:100%;}

/*
 * page-specific styles 
 */

.topMargin {
	margin-top: 8px;
}

#loadingHeader {
	color: #456;
	text-align: center;
}

#resultsCount {
	margin-top: 8px;
	margin-bottom:8px;
}

#resultTableWrapper {
	overflow: auto;
	max-height: 300px;
	min-width: 200px;
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-color: #ddd;
}

#historyTableWrapper {
	overflow: auto;
	max-height: 250px;
	min-width: 500px;
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-color: #ddd;
}

#historyTable th {
    padding: 3px;
    font-size: .8em;
    background-color: rgb(203,232,248);
}
#historyTable td {
    padding: 3px;
    font-size: .8em;
}

.hasNoteButton {color: green;}
.selected {background-color: yellow;}
.oddResultRow {background-color: #ddd;}
.resultsTableSelectedRow {background-color: rgb(252,251,186);}


