<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="imageForm" class="form-horizontal mousetrap">

<div class="container-fluid">
<div class="row topMargin">

<title>{{vm.apiDomain.figureLabel}} Image Detail</title>

<h3>Image Detail</h3>

<dl class="detailPageListData">
  <dt>ID</dt><dd>{{vm.apiDomain.accID}}</dd>
  <dt>Reference</dt><dd><a href="/pwi/summary/reference?accids={{vm.apiDomain.jnumid}}">{{vm.apiDomain.jnumid}}</a> {{vm.apiDomain.short_citation}}</dd>
  <dt>Figure</dt><dd>{{vm.apiDomain.figureLabel}}</dd>
  <dt>Caption</dt><dd><span ng-bind-html="vm.apiDomain.captionNote.noteChunk"></span></dd>
  <dt>Copyright</dt><dd><span ng-bind-html="vm.apiDomain.copyrightNote.noteChunk"></span></dd>
  <dt>PIX ID</dt><dd>{{vm.apiDomain.editAccessionIds[0].numericPart}}</dd>
  <dt ng-if="vm.apiDomain.externalLinkNote != null">External Link</dt>
        <dd ng-if="vm.apiDomain.externalLinkNote != null">
                <a class="external" href="{{vm.apiDomain.externalLinkNote.noteChunk}}" target="_blank">Full Image</a></dd>
</dl>

<div ng-if="vm.apiDomain.nonEditAccessionIds != null">
<h3>Other Database Links</h3>
<ul>
<li><a href="{{vm.apiDomain.nonEditAccessionIds[0].otherHtml}}" class="external">{{vm.apiDomain.nonEditAccessionIds[0].logicaldb}}</a>
</li>
</ul>
</div>

<h3>Assay Data</h3>
<table class="dataTable">
<tr>
<th>Label</th>
<th>Assay & Result Details (Gene Symbol)</th>
</tr>
<tbody ng-repeat="arow in vm.apiDomain.assayData">
<td>{{arow.paneLabel}}</td>
<td>
<span ng-repeat="brow in arow.assays">
        <a href="/pwi/edit/assaydetail/?id={{brow.accID}}">{{brow.accID}}</a> (<a href="/pwi/detail/marker/{{brow.markerAccID}}" target="_blank">{{brow.markerSymbol}}</a>)
        
</span></td>
</tbody>
</table>

<img src="{{PIXDB_URL}}{{vm.apiDomain.editAccessionIds[0].numericPart}}">

</form>
</div>
</div>

<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" id="showApiDomainButton" tabindex="-1" ng-click="vm.hideApiDomain = !vm.hideApiDomain" 
					>Show JSON package/API domain only</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show JSON package/API domain + other data</button>			
			<div ng-hide="vm.hideApiDomain">
				<pre>{{ vm.apiDomain | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 

