{#
	Render the specimens sections of assay detail page
#}

{% for specimen in assay.specimens %}
<div class="specimenDetail">

<div class="specimenImagePanes">

  <hr>
  <h4>Image(s)</h4>

{% for imagepane in specimen.imagepanes %}

  <div class="imagePaneWrapper">
    <a href="{{ url_for('detail.imageDetailById', id=imagepane.image.mgiid) }}">
    {{imagepane | imagepane(maxWidth=300, maxHeight=250)}}
    {{imagepane.figurelabel}}
    </a>
  </div>

{% endfor %}

</div>

<dl class="detailPageListData wide">

  <dt title="Displaying text superscripted">Specimen Label</dt>
  <dd style="font-size: 130%;">{{specimen.specimenlabel | super}}</dd>

  <dt>Genetic Background</dt>
  <dd>{{specimen.genotype.geneticbackground}}</dd>

  <dt>Mutant Allele(s)</dt>
  <dd>
    {{specimen.genotype | genotype(delim='<br/>')}}&nbsp;
    {% if specimen.genotype.isconditional %}
    <br/>(conditional)
    {% endif %}
  </dd>

  <dt>Age</dt>
  <dd>{{specimen.age}}</dd>

  <dt>Age Note</dt>
  <dd>{{specimen.agenote or ''}}&nbsp;</dd>

  <dt>Sex</dt>
  <dd>{{specimen.sex}}</dd>

  <dt>Hybridization</dt>
  <dd>{{specimen.hybridization}}</dd>

  <dt>Fixation</dt>
  <dd>{{specimen.fixation}}</dd>

  <dt>Embedding</dt>
  <dd>{{specimen.embeddingmethod}}</dd>

  <dt title="Displaying text Superscripted and Notes Tag Converted">Specimen Note (GXD)</dt>
  <dd>{{specimen.specimennote | super | ntc}}&nbsp;</dd>

  <dt title="Displaying text Superscripted" class="cre">Specimen Note (CRE)</dt>
  <dd class="cre">{{specimen.specimennote | super}}&nbsp;</dd>

</dl>

{# In Situ Result Data #}

{% if specimen.insituresults %}
<table class="dataTable">
<tr>
  <th>Structure</th>
  <th>Strength</th>
  <th>Pattern</th>
  <th>Figure Label</th>
  <th>Result Note</th>
</tr>

{% for result in specimen.insituresults %}
    {% for structure in result.structures %}
    <tr>

      <td>
	<a href="{{ url_for('detail.adstructureDetailById', id=structure.mgiid) }}" class="gxdHighlightedLink">
            {{structure.display}}
	</a>
      </td>
      <td>{{result.strength}}</td>
      <td>{{result.pattern}}</td>
      <td>
      {% for imagepane in result.imagepanes %}
      	{% if not loop.first %} , {% endif %}
      	{{imagepane.figurelabel}}
      	<a href="{{ url_for('detail.imageDetailById', id=imagepane.image.mgiid) }}">(Image)</a>
      {% endfor %} {# imagepanes #}
      </td>
      <td>
      	{% if result.resultnote %}
      	<span title="Displaying text verbatim">
      	  (GXD): {{result.resultnote | e}}
      	</span>
      	<br/>
      	<span title="Display text HTML enabled" class="cre">
      	  (CRE): {{result.resultnote}}
      	</span>
      	{% endif %}
      </td>

    </tr>
    {% endfor %} {# structures #}
{% endfor %} {# results #}

</table>
{% endif %}

</div>
{% endfor %}
