{#
	Render the gel lanes sections of assay detail page
#}

<div class="gellaneDetail">

{% if assay.gellane_imagepane %}

  <div class="imagePaneWrapper">
    <a href="{{ url_for('detail.imageDetailById', id=assay.gellane_imagepane.image.mgiid) }}">
    {{assay.gellane_imagepane | imagepane(maxWidth=740, maxHeight=300)}}
    <span>Image: {{assay.gellane_imagepane.figurelabel | super}}</span>
    </a>
  </div>

{% endif %}


{% if assay.gellanes %}
<table class="dataTable">

  {# top header #}
  <tr>
    <th></th>
    <th></th>
    <th colspan="2">Sample Information</th>

    {% if assay.gelrows %}
    <th colspan="{{assay.gelrows | length + 1}}">Bands</th>
    {% endif %}

    <th colspan="6">Other Sample Information</th>
  </tr>

  {# bottom header #}
  <tr>
    <th>#</th>
    <th title="Displaying text superscripted">Lane</th>
    <th>Age</th>
    <th>Structure</th>

    {% for gelrow in assay.gelrows %}
      <th>
        {{gelrow.size_and_units}}
        {% if assay.gelrows|length > 1 %}
          (#{{gelrow.sequencenum}})
        {% endif %}
      </th>
      {% if loop.last %} <th>*</th> {% endif %}
    {% endfor %}

    <th>Amount</th>
    <th title="Displaying text superscripted">Genetic Background</th>
    <th>Mutant Allele(s)</th>
    <th>Sex</th>
    <th>Lane Note</th>
    <th>Age Note</th>
  </tr>

  {% for gellane in assay.gellanes %}

  <tr>
    <td>
      {{gellane.sequencenum}}
    </td>

    <td>
      {{gellane.lanelabel_display | super}}
    </td>

	{% if gellane.iscontrol %}

	<td class="control" colspan="{{9 + (assay.gelrows | length)}}">
	  {{gellane.controlcontent}}
	</td>

	{% else %}

	<td>
	  {{gellane.age}}
	</td>

	<td>
	  {% for structure in gellane.structures %}
	    {% if not loop.first %}<br/>{% endif %}
	    <a href="{{ url_for('detail.adstructureDetailById', id=structure.mgiid) }}" class="gxdHighlightedLink">
	    {{structure.display}}
	    </a>
	  {% endfor %} {# structures #}
	</td>

	{% for gelband in gellane.gelbands %}
      <td>{{gelband.strength}}</td>
    {% endfor %}

    {% if assay.gelrows %}
    <td>
	  {% if gellane.hasbandnote %} * {% endif %}
    </td>
    {% endif %}

	<td>
	  {% if gellane.sampleamount %}
        {{gellane.sampleamount}} &micro;g
        <br>
      {% endif %}
	  {{gellane.rnatype}}
	</td>

    <td>
      {{gellane.genotype.geneticbackground | super}}
    </td>

	<td>
	  {{gellane.genotype | genotype(delim=', ')}}
	  {% if gellane.genotype.isconditional %}
	    <br/>(conditional)
	  {% endif %}
	</td>

	<td>
	  {{gellane.sex}}
	</td>

	<td>
	  {{(gellane.lanenote or '') | e}}
	</td>

	<td>
	  {{(gellane.agenote or '') | e}}
	</td>

	{% endif %}
  </tr>

  {% endfor %} {# for gellane #}

</table>

<br/><br/>

<div class="notes">

  {% if assay.gelrows_with_rownotes %}
    <table class="subObjectDataTable">
    <tr>
      <th colspan="2">Row Notes</th>
    </tr>
    {% for gelrow in assay.gelrows_with_rownotes %}
      <tr>
        <td>
          <span style='font-weight: bold;'>{{gelrow.size_and_units}}</span>
          GelRow #{{gelrow.sequencenum}}
        </td>
        <td>
          {{gelrow.rownote | e}}
        </td>
    </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if assay.gelbands_with_bandnotes %}
    <table class="subObjectDataTable">
    <tr>
      <th colspan="2">*Band Notes</th>
    </tr>
    {% for gelband in assay.gelbands_with_bandnotes %}
      <tr>
        <td>
          <span style='font-weight: bold;'>{{gelband.gellane.lanelabel_display | super}}</span>
          (Lane #{{gelband.gellane.sequencenum}})
          <span style='font-weight: bold;'>{{gelband.gelrow.size_and_units}}</span>
          (GelRow #{{gelband.gelrow_sequencenum}}):
        </td>
        <td>
          {{gelband.bandnote | e}}
        </td>
    </tr>
    {% endfor %}
    </table>
  {% endif %}

</div>

{% endif %}

</div>
