{# sub template for rendering the phenotype and disease information for an allele #}

{% for genotype in  genotypes %}
<div class="genotypeDetail">

  <dl class="detailPageListData wide genotypeHeader">
  
    <dt>Genotype</dt>
    <dd>
      {{genotype | genotype}}
      {% if genotype.isconditional %}
        <br/>(conditional)
      {% endif %}
    </dd>
    
    <dt>Genetic Background</dt>
    <dd>{{genotype.geneticbackground | super}}</dd>
    
    <dt>MGI ID</dt>
    <dd>{{genotype.mgiid}}</dd>
    
  </dl>
  
  {% if genotype.primaryimagepane %}
  
    <h2>Primary Image</h2>
    
    <img src="{{config['PIXDB_URL']}}{{genotype.primaryimagepane.image.thumbnail.pixnum}}" />
    <br>
    {{genotype.primaryimagepane.image.thumbnail.caption}}
    
  {% endif %}

  <h2>Phenotype Annotations</h2>
  
  {% for header in genotype.mp_headers %}
      
      <span class="header">{{header['term']}}</span>
      
      {% for annot in header['annots'] %}
  
          <div style="margin-left: {{40 * (annot.calc_depth + 1)}}px;">
          
            <span class="term">
              <a href="{{url_for('detail.voctermDetailById', id=annot.term_id)}}">{{annot.term}}</a>
              {% if annot.qualifier == 'normal' %}({{annot.qualifier}}){% endif %}
            </span>
          
            {# each evidence record has a difference reference associated #}
            <ul>
            {% for evidence in annot.evidences %}
            <li>
            
              <span class="jnumid">
                <a href="{{url_for('summary.referenceSummary', accids=evidence.ref_jnumid)}}">{{evidence.ref_jnumid}}</a>
                {% if evidence.sex != 'NA' %}(Sex: {{evidence.sex}}){% endif %}
              </span>
              
              {# Display all note types for each evidence record #}
              {% if evidence.notes %}
                <ul>
                {% for note in evidence.notes %}
                  <li>
                    {% if note.notetype in ('Background Sensitivity', 'Normal') %}
                      {{note.notetype}}: 
                    {% endif %}
                    {{note.text}}
 				  </li>
                {% endfor %}
                </ul>
              {% endif %}
            
            </li>
            {% endfor %}
            </ul>
          
          </div>
          
      {% endfor %}
      
  {% else %}
    <span>none</span>
  {% endfor %}
  
  {% if genotype.disease_annots or genotype.disease_annots_do %}
  
    <h2>Disease Annotations</h2>
    <dl class="detailPageListData">
    {% for annot in genotype.disease_annots %}
    
      <dt>Term</dt>
      <dd>
        <a href="{{url_for('detail.voctermDetailById', id=annot.term_id)}}">{{annot.term}}</a>
        {% if annot.qualifier == 'NOT' %}({{annot.qualifier}}){% endif %}
      </dd>
      
      <dt>OMIM ID</dt>
      <dd>
        <a class="external" href="http://www.omim.org/entry/{{annot.term_object.primarynumericid}}" target="_blank">{{annot.term_object.primaryid}}</a>
      </dd>
      
      <dt>Reference</dt>
      <dd>
        <a href="{{url_for('summary.referenceSummary', accids=annot.evidences[0].ref_jnumid)}}">{{annot.evidences[0].ref_jnumid}}</a>
        <br/>
      </dd>
      
    {% endfor %}

    {% for annot in genotype.disease_annots_do %}

      <dt>Term</dt>
      <dd>
        <a href="{{url_for('detail.voctermDetailById', id=annot.term_id)}}">{{annot.term}}</a>
        {% if annot.qualifier == 'NOT' %}({{annot.qualifier}}){% endif %}
      </dd>
      
      <dt>DO ID</dt>
      <dd>
        <a class="external" href="http://www.disease-ontology.org/?id={{annot.term_object.primaryid}}" target="_blank">{{annot.term_object.primaryid}}</a>
      </dd>
      
      <dt>Reference</dt>
      <dd>
        <a href="{{url_for('summary.referenceSummary', accids=annot.evidences[0].ref_jnumid)}}">{{annot.evidences[0].ref_jnumid}}</a>
        <br/>
      </dd>
      
    {% endfor %}
    </dl>
  
  {% endif %}

</div>
{% endfor %}
