
<title >PRISM</title>

<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<div class="container-fluid" style='min-width:1000px'>
<div class="row ">

        <!-- PRISM Image display and pane segmentation area --->
        <div id="prism" class="col-sm-12" ng-class="{empty:vm.imageList.length===0 && !loading }">
            <div id="prism-toolbar" class="col-sm-12">
                <input ng-model="vm.jnumid" ng-blur="changedJnum()" ng-keydown="keydown($event)"/>
                <button ng-click="zoom(-1)" title="Zoom out">-1</button>
                <button ng-click="zoom(0)" title="Reset zoom">0</button>
                <button ng-click="zoom(+1)" title="Zoom in">+1</button>
                <span>|</span>
                <button ng-click="saveImage()" ng-disabled="!saveNeeded()">Save</button>
                <span>|</span>
                <button ng-click="clickAssign()" ng-class="{clickAssignMode:vm.prism.clickAssignNextPane !== null}">ClickAssign</button>
                <button ng-click="gridAssign()" >GridAssign</button>
                <button ng-click="onePane()" >OnePane</button>
                <span>|</span>
                <button ng-click="undo()" ng-disabled="vm.prism.undoStack.length === 0">Undo</button>
                <button ng-click="redo()" ng-disabled="vm.prism.redoStack.length === 0">Redo</button>
                <span>|</span>
                <button ng-click="createCoveringOverlay()" title="Create an overlay that covers the image.">Cover</button>
                <button ng-click="deleteSelectedOverlays()" title="Delete selected overlays.">Delete</button>
                

                <span style="float:right;">
                <button ng-click="selectAllOverlays()" title="Select all overlays.">Select all</button>
                <button ng-click="toggleOverlays()" title="Hide/show the overlays.">{{ vm.prism.showOverlays ? 'Hide' : 'Show' }}</button>
                <button ng-click="deleteAllOverlays()" title="Delete all overlays.">Delete all</button>
                <button disabled >Help</button>
                </span>
            </div>

            <div id="prism-image-list" class="col-sm-3">
                <div ng-repeat="img in vm.imageList"
                    ng-click="imageEntryClicked(img)"
                    class="prism-image-entry"
                    ng-class="{ selected : img.imageKey === vm.currImage.imageKey }"
                    >Figure: {{img.figureLabel}}
                    <span>({{img.imageType}}; {{ img.numPanes }} pane{{ img.numPanes === 1 ? '' : 's' }})</span>
                    <div ng-if="img.imageKey === vm.currImage.imageKey && !vm.hidePaneList">
                        <div ng-repeat="pane in vm.currImage.imagePanes"
                            ng-click="paneEntryClicked($event,$index)"
                            class="prism-pane-entry"
                            ng-class="{updated : pane.processStatus === 'u', selected: pane.selected }"
                            draggable="true"
                            >
                            <span ng-if="pane.imagePaneKey">
                                {{pane.paneLabel || '*'}}
                                <span>(x:{{pane.x}} y:{{pane.y}} w:{{pane.width}} h:{{pane.height}})</span>
                            </span>
                        </div>
                    </div>
                    
                </div>
            </div>


            <div id="prism-image-div" ng-click="unselectAllOverlays()" class="col-sm-9">
                <div id="prism-noimage-div"></div>
                <div id="prism-wrapper"
                    ng-style="{ transform: vm.prism.transform }">
                    <img id="prism-image" src="{{PIXDB_URL}}{{ vm.prism.pixid }}"
                         ng-style="{
                             width: vm.prism.xdim + 'px',
                             height: vm.prism.ydim + 'px'
                             }" />
                    <div class="prism-overlay"
                         ng-repeat="ovl in vm.prism.overlays"
                         ng-show="vm.prism.showOverlays"
                         ng-click="clickedOverlay($event)"
                         ng-class="{
                             selected: ovl.selected
                             }"
                         ng-style="{
                             left: ovl.x + 'px',
                             top: ovl.y + 'px',
                             width: ovl.width + 'px',
                             height: ovl.height + 'px'
                             }"
                         id="ovl-{{$index}}"
                        >
                        <span ng-repeat="pane in ovl.panes" class="prism-pane-label">{{pane.paneLabel}}; </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end PRISM -->

</div>
</div>

<!-- Java API JSON data dump -->
<show-model vm="vm" />

<ng-include src="STATIC_APP_URL + '/edit/prism/help.html'" />
