/*
Styles for emapBrowser
*/

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
* {
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
.browserWrapper {
    height:700px;
    width:100%;
    margin: 0px;
    padding: 0px;
    /*border:1px solid gray;*/
}
.leftContainer {
    float:left;
    /*border:1px solid red; */
    border-right:3px solid black;
    width: 34%;
    height: 700px;
    padding 2px;
}
.rightContainer {
    /*border:1px solid red; */
    float:left;
    width: 66%;
    height: 700px;
}
#termSearchArea {
    position: relative;
    top: -15px;
    margin-left: 2px;
    margin-right: 2px;
    width: 98%;
    /*border:1px solid gray;*/
    height: 75px;
    text-align: center;
}
#resizeTermClipboardWrapper {
    height: 600px;
    /*border:1px solid red;*/
}
#emapTermArea {
    margin-left: 2px;
    margin-right: 2px;
    width: 98%;
    text-align: left;
    /*border:1px solid blue;*/
    border-bottom:5px solid black;
    height: 65%;
    padding: 2px;
    overflow: auto;
    margin-bottom: 2px;
}
#emapClipBoard {
    margin-left: 2px;
    margin-right: 2px;
    width: 98%;
    text-align: left;
    /*border:1px solid black;*/
    height: 35%;
    overflow: auto;
}
#termSearch {
    width: 88%;
}
#termDetailsArea {
    margin: 2px;
    /*border:1px solid gray;*/
    height: 200px;
    width: 98%;
    height: 180px;
}
#treeViewArea {
    margin: 2px;
    text-align: center;
    /*border:1px solid gray;*/
    width: 98%;
    height: 520px;
}

ul#termResultList {
    list-style-type: none;
    padding:0px; 
    margin:0px;
}
ul#termResultList li a{
}

ul#termResultList mark {
	font-weight: bold;
	background-color: transparent;
}

.fakeLink:hover mark {
	color: inherit;
}

a.fakeLink {
	text-decoration: underline;	
}

.emapaSearchCount {
	font-size: 10px; 
	font-style: italic; 
	text-align: center; 
	padding-bottom:5px;
}