/*
Styles for emapBrowser
*/

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
* {
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
.browserWrapper {
    width:100%;
    margin: 0px;
    padding: 0px;
    min-height:500px;
    min-width:700px;
    /*border:1px solid blue;*/
}
.leftContainer {
    float:left;
    border-right:1px solid black;
    width: 34%;
    min-width:220;
}
.rightContainer {
    border-left:1px solid black;
    float:left;
    width: 66%;
}
.clipboardButton{
    margin-top: 3px;
    font-size: large;
    cursor: pointer;
}
#clipboard li img {
visibility : hidden;
}
#clipboard li:hover img {
visibility:visible;
}

#termSearchArea {
    position: relative;
    top: -15px;
    margin-left: 2px;
    margin-right: 2px;
    width: 98%;
    /*border:1px solid gray;*/
    height: 120px;
    text-align: center;
}
#clipboardSubmit {
    width: 98%;
    text-align: center;
    background-color: #E0E0E0;
}
#clipboardFunctions {
    width: 98%;
    height: 35px;
    background-color: #E0E0E0;
}
#clipboardInput {
    width: 45%;
}
#emapTermAreaWrapper {
    border-bottom:2px solid black;
    height: 300px;
}
#emapTermArea {
    margin-bottom: 2px;
    width: 98%;
    text-align: left;
    height: 285px;
    padding: 0px;
    overflow: auto;
}
#emapClipBoard {
    width: 98%;
    text-align: left;
    border-bottom:2px solid black;
    height: 305px;
    overflow-x: hidden;
    overflow-y: auto;
}
#termSearch {
    width: 88%;
}
#stageSearch {
    width: 88%;
}
#termDetailsArea {
    border-bottom:2px solid black;
    width: 98%;
    min-height:120px;
}
#treeViewAreaWrapper {
    border-bottom:2px solid black;
    height:675px;
}
#treeViewArea {
    margin: 2px;
    padding-left: 20px;
    width: 98%;
    height: 660px;
    overflow: auto;
}
#emapTree {
	margin-left: 10px;
}

#emapTree mark {
	font-weight: bold;
	background-color: #EBCA6D;
}

/* adjust the line-height for toggle buttons */
#emapTree .mgitreeview .pad {
	/* font-size increases content size for inline items */
	font-size: 1.5em; 
}

#emapTree .mgitreeview .node {
	position: relative;
	top: -3px;
	margin-left: 5px;
}

#emapTree .mgitvLoadingIcon {
	width: 1.2em;
	height: 1.2em;
}


ul#termResultList {
    list-style-type: none;
    padding:0px; 
    margin:0px;
}
ul#termResultList li a{
}

ul#termResultList mark {
	font-weight: bold;
	background-color: transparent;
}

ul#termResultList .termSearchResult.active {
	background-color: #EBCA6D;
}

.fakeLink:hover mark {
	color: inherit;
}

a.fakeLink {
	text-decoration: underline;	
}

.emapaSearchCount {
	font-size: 10px; 
	font-style: italic; 
	text-align: center; 
	padding-bottom:5px;
}

/* jquery resizable style tweaks */
.ui-resizable-s {
    height: 15px;
}



/* jquery-ui dialog */
.error .ui-dialog-titlebar {
	background: none;
	background-color: red;
}



/* Error messages */
.clipboardError {
	display: none;
	color: red;
	font-weight: bold;
}