{% extends "standardMGI.html" %}
{% block content %}

  <title>Accession Summary</title>

  <h1>Accession Summary Results</h1>

  <table class="dataTable">
  {% for accessionObj in accessionObjList %}

    {% if loop.first %}
    <tr>
    <th>MGI:ID</th>
    <th>MGI Type</th>
    </tr>
    {% endif %}

    <tr class="{{ loop.cycle('row1','row2') }}">
    <td>
      <a href="{{ url_for('accession.accessionByIDFromForm', ids=accessionObj.accid) }}">{{accessionObj.accid}}</a>
      
      {% if typemap[accessionObj._mgitype_key] == 'Marker' %}
      ({{accessionObj.marker.symbol | super}})
      {% endif %}
      
    </td>
    <td>{{typemap[accessionObj._mgitype_key] or '?'}}</td>
    </tr>

  {% endfor %}
  </table>

  {% if accessionObjList %}{{accessionObjList | length}} rows.{% endif %}

  {% include "help/acc_summary.html" %}

{% endblock %}