{% extends "pageLayout.html" %}

{% block imports %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/markersummary/markersummary.css') }}">

	<script src="{{ url_for('static',filename='app/edit/markersummary/MarkerSummaryService.js')}}"></script>
	<script src="{{ url_for('static',filename='app/edit/markersummary/MarkerSummaryController.js')}}"></script>
	
	<script>
		var access_token = '{{config["ACCESS_TOKEN"]}}';
	</script>
	

{% endblock %}

{% block content %}

	<div id="wrapper" ng-controller="MarkerSummaryController">
		<div ng-include="'{{ url_for('static',filename='app/edit/markersummary/markersummary_content.html')}}'"></div>
	</div>


{% endblock %}

