{% extends "pageLayout.html" %}
{% block content %}

<style>
#paneSummaryTable th,td {
  font-size:14px;
}
#paneSummaryTable tr {
  border-bottom: none;
}
#paneSummaryTable tr.noBorder {
  border-top: none;
}
/* #paneSummaryTable .row1.noBorder {
  border-top-color: #efefef;
}
#paneSummaryTable .row2.noBorder {
  border-top-color: #fff;
} */


</style>

<title>Imagepane Summary </title>

<h1>Imagepane Summary</h1>

{{ display_you_searched_for(form) }}

<br/>

{% if images %}

{# 
  NOTE: When a pane has multiple assays, we need to align all its related columns.
    This creates some headache with setting rowspans and classes.
    But basically the Image, Figure, and Pane columns happen once per pane,
    	and the Specimen, Assay, Assay Type columns occur in 1 row per assay
#}
<table id="paneSummaryTable" class="dataTable" >
  <tr>
  <th>Image</th>
  <th>Figure</th>
  <th title="superscripted">Pane</th>
  <th title="superscripted">Specimen</th>
  <th title="gene superscripted">Assay (Gene)</th>
  <th>Assay Type</th>
  </tr>
  
{% set rowCycler = cycler('row1','row2') %}
{% for image in images %}
  {% for pane in image.imagepanes %}
  
  {% set rowclass = rowCycler.next() %}
  {% set rowspan = (pane.allAssays | length) or 1 %}
  
  {% for idx in range(rowspan) %} 
  <tr class="{{rowclass}} {% if idx > 0 %}noBorder{% endif %}" >

    {% if idx == 0 %}
    <td rowspan="{{rowspan}}">
      <a href="{{ url_for('edit.imagedetailQF', id=pane.image.mgiid) }}">
      {{pane.image.mgiid}}<br/>
      {{pane | imagepane(maxWidth=300, maxHeight=150)}}
    </td>
    {% endif %}

    {% if idx == 0 %}
    <td rowspan="{{rowspan}}">
      {{pane.image.figurelabel}}
    </td>
    {% endif %}

    {% if idx == 0 %}
    <td rowspan="{{rowspan}}">
      {{(pane.panelabel or '') | super}}
    </td>
    {% endif %}

    {% if pane.allAssays %}
      {% set assay = pane.allAssays[idx] %}
    <!-- specimen cell -->
    <td>
      {{distinctSpecimenLabels(pane, assay) | type_format | super}}
    </td>
    <!-- assay (gene) cell -->
    <td>
      <a href="{{ url_for('edit.assaydetailQF', id=assay.mgiid) }}">{{assay.mgiid}}</a>
      (<a href="{{ assay.marker | marker_url }}">{{assay.marker.symbol | super}}</a>)
    </td>
    <!-- assay type cell -->
    <td>
      {{assay.assaytype}}
    </td>  
    {% else %}
    <td></td>
    <td></td>
    <td></td>
    {% endif %}
    
  </tr>
  {% endfor %} {# assays rowspan #}
  {% endfor %} {# imagepanes #}
{% endfor %} {# images #}

{% else %}
  No Images Found
{% endif %} {# if images #}

</table>

{% include "help/imagepane_summary.html" %}

{% endblock %}
