{% extends "standardMGI.html" %}
{% block content %}

<style>
#paneSummaryTable th,td {
  font-size:14px;
}

/* Keep assay related items on same line */
.assayGeneItem {
	white-space: nowrap;
}
</style>

<title>Imagepane Summary </title>

<h1>Imagepane Summary</h1>

{{ display_you_searched_for(form) }}

<br/>

{% if images %}
<table id="paneSummaryTable" class="dataTable" >
  <tr>
  <th>Image</th>
  <th>Figure</th>
  <th>Pane</th>
  <th>Specimen</th>
  <th>Assay (Gene)</th>
  <th>Assay Type</th>
  </tr>
{% for image in images %}
  {% for pane in image.imagepanes %}

  <tr class="{{loop.cycle('row1','row2')}}">

    <td>
    <a href="{{ url_for('detail.imageDetailById', id=pane.image.mgiid) }}">
    {{pane.image.mgiid}}<br/>
    {{pane | imagepane(maxWidth=300, maxHeight=150)}}
    </td>

    <td>{{pane.image.figurelabel}}</td>

    <td>
    {% if pane.panelabel %}
      {{pane.panelabel}}
    {% endif %}
    </td>

    <td>
      {% if pane.distinctSpecimens %}
        {% for s in pane.distinctSpecimens %}
          {% if not loop.first %} <br/> {% endif %}
          <span class="assayGeneItem">
            {{s.specimenlabel | super}}  
          </span>
        {% endfor %}
      {% endif %}
    </td>

    <td>
        {% for assay in pane.allAssays %}
          {% if not loop.first %} <br/> {% endif %}
          <span class="assayGeneItem">
            <a href="{{ url_for('detail.assayDetailById', id=assay.mgiid) }}">{{assay.mgiid}}</a>
            (<a href="{{ assay.marker | marker_url }}">{{assay.marker.symbol}}</a>)
          </span>
        {% endfor %}
    </td>
    <td>
        {% for assay in pane.distinctInsituAssays %}
          {% if not loop.first %} <br/> {% endif %}
          <span class="assayGeneItem">
            {{assay.assaytype}}
          </span>
        {% endfor %}
    </td>

  </tr>

  {% endfor %} {# imagepanes #}
{% endfor %} {# images #}

{% else %}
  No Images Found
{% endif %} {# if images #}

</table>

{% include "help/imagepane_summary.html" %}

{% endblock %}