{% extends "standardMGI.html" %}
{% block content %}

  <title>Sequence Summary</title>

  <h1>Sequence Summary Results</h1>

  {{ display_you_searched_for(form) }}

  <h2 id="sequenceResults">Matching Sequence Records</h2>
  
  <a href="{{ url_for('summary.sequenceSummaryDownload') + '?' + queryString }} ">Download Tab-Delim File</a>
  <br/>
  
  {% if experimentsTruncated %}
  <a href="{{ url_for('summary.sequenceSummary') }}?{{queryString}}&sequence_limit=">View All Sequences</a>
  {% endif %}
  {% include "summary/sequence/sub_sequence_table.html" %}

  {% include "help/sequence_summary.html" %}

{% endblock %}