/*
 * overrides and generic classes
 */
button {
	background-color: rgb(252,251,186);
	margin: 3px 2px;
        font-size: 12px;
}
button:disabled {
	opacity: 0.5;
}
.form-control {
	height: 22px;
	padding: 2px 3px;
	font-size: 12px;
}
.label { 
	color: #000; 
	padding: .1em .6em;
}
.label-static { 
	background-color: rgb(203,232,248); 
}
.ui-widget {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.spacer { 
	height:6px;
}
.section {
	border-style: ridge;
	border-color:lightgray;
}
.sectionDivider {
	border-top: 2px ridge lightgray;
}
.caption {
    display: table-caption;
    text-aligh: center;
}
form select, form input, form textarea {
	margin-top: 1px;
}
textarea {
	max-width:100%;
}

/*
 * page-specific styles 
 */

.externalLink {
        cursor: pointer;
}
.topMargin {
	margin-left: 8px;
}
.topPadding {
	padding-top: 8px;
}
.bottomPadding {
	padding-bottom: 8px;
}

#loadingHeader {
	color: red;
	text-align: center;
}

#gelBandTable td {
        position: relative;
        padding-top: 12px;
}
#gelBandTable .gelBandNoteIndex {
        position: absolute;
        top: 0px;
        right: 0px;
}
.gelBandNoteIndex {
        color: orange;
        font-weight: bold;
}
