<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="assayForm" class="form-horizontal mousetrap">

<div class="container-fluid">
<div class="row topMargin">

<title>Assay Detail_{{vm.apiDomain.markerSymbol}}_{{vm.apiDomain.assayType}}</title>

<h3>Assay Detail_{{vm.apiDomain.markerSymbol}}_{{vm.apiDomain.assayType}}</h3>

<h4>Assay Info</h4>

<dl class="detailPageListData">
  <dt>Reference</dt>
  <dd>
        <a href="/pwi/summary/reference?accids={{vm.apiDomain.jnumid}}">{{vm.apiDomain.jnumid}}</a> {{vm.apiDomain.short_citation}}
  <dd>

  <dt>Assay Type</dt><dd>{{vm.apiDomain.assayType}}</dd>
  <dt>MGI ID</dt><dd>{{vm.apiDomain.accID}}</dd>
  <dt>Public Page</dt><dd><a class="external" href="http://www.informatics.jax.org/assay/{{vm.apiDomain.accID}}">Assay Detail</a></dd>
  <dt>Assayed Gene</dt> <dd><a href="/pwi/detail/marker/{{vm.apiDomain.markerAccID}}">{{vm.apiDomain.markerSymbol}}</a></dd>
  <dt>Gene Name</dt><dd>{{vm.apiDomain.markerName}}</dd>
  <dt>Modification Date</dt><dd>{{vm.apiDomain.modification_date}}</dd>

</dl>

<div ng-if="vm.apiDomain.detectionKey == 2">
<h4>Antibody Info</h4>
<dl class="detailPageListData wide">
  <dt title="Displaying text superscripted." >Antibody</dt>
  <dd>
    <a href="/pwi/detail/antibody/{{vm.apiDomain.antibodyPrep.antibodyAccID}}">
    <span ng-bind-html="ntc.superscript(vm.apiDomain.antibodyPrep.antibodyName)" /></a>,
    <a class="external" href="http://www.informatics.jax.org/antibody/key/{{vm.apiDomain.antibodyPrep.antibodyKey}}">Public Detail Page</a>
  </dd>
  <dt>Secondary</dt><dd>{{vm.apiDomain.antibodyPrep.secondaryName}}</dd>
  <dt>Labeled With</dt><dd>{{vm.apiDomain.antibodyPrep.labelName}}</dd>
</dl>
</div>

<div ng-if="vm.apiDomain.detectionKey == 1">
<h4>Probe Info</h4>
<dl class="detailPageListData wide">
  <dt title="Displaying text superscripted." >Probe</dt><dd><a href="/pwi/detail/probe/{{vm.apiDomain.probePrep.probeAccID}}">
      <span ng-bind-html="ntc.superscript(vm.apiDomain.probePrep.probeName)" /></a></dd>
  <dt>Hybridization</dt><dd>{{vm.apiDomain.probePrep.probeSenseName}}</dd>
  <dt>Type</dt><dd>{{vm.apiDomain.probePrep.prepType}}</dd>
  <dt>Labelled with</dt><dd>{{vm.apiDomain.probePrep.labelName}}</dd>
  <dt>Visualized with</dt><dd>{{vm.apiDomain.probePrep.visualiationMethod}}</dd>
</dl>
</div>

<div ng-if="vm.apiDomain.isReporter">
<h4>Reporter Info</h4>
<dl class="detailPageListData wide">
  <dt>Reporter Gene</dt><dd>{{vm.apiDomain.reporterGeneTerm}}</dd>
  <dt>Detection Method</dt><dd>{{vm.apiDomain.detectionMethod}}</dd>
</dl>
</div>

<div ng-if="vm.apiDomain.assayNote.assayNote.length > 0">
<h4>Notes</h4>
<dl class="detailPageListData wide">
  <dt title="{{vm.apiDomain.assayNoteTip}}">Assay Note</dt><dd>
      <span ng-bind-html="vm.apiDomain.assayNote.assayNote"/></dd>
</div>
</div>

<!-- IN SITU ASSAYS -->
<div ng-if="vm.apiDomain.isInSitu == true">
    <h4>Specimens</h4>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    <div ng-repeat="row in vm.apiDomain.specimens track by $index">

        <h4>Image(s) (<a href="/pwi/summary/imagepane?refs_id={{vm.apiDomain.jnumid}}">Image Summary</a>)</h4>
        <div style="width=100%; margin-right: 10px; display: inline-block;" ng-repeat="srow in vm.apiDomain.specimens[$index].uniqueImagePanes">
            <a href="/pwi/edit/imagedetail?id={{srow.accID}}">
            <div style="overflow:hidden; position:relative; width:{{srow.scale * srow.width}}px; height:{{srow.scale * srow.height}}px;">
                <img width="{{srow.scale * srow.xdim}}" height="{{srow.scale * srow.ydim}}" 
                     style="position:absolute; left:-{{srow.scale * srow.x}}px; top:-{{srow.scale * srow.y}}px;" 
                     src="{{PIXDB_URL}}{{srow.pixID}}"
                />
            </div>
            {{srow.figurepaneLabel}}
            </a>
        </div>

        <!-- SPECIMENS -->
        <dl class="detailPageListData wide">
            <dt title="Displaying text superscripted.">Specimen Label</dt><dd style="font-size: 130%;">
                <span ng-bind-html="ntc.superscript(row.specimenLabel)"/> </dd>
            <dt title="Displaying text superscripted.">Genetic Background</dt><dd ng-bind-html="ntc.superscript(row.genotypeBackground)"></dd>
            <dt title="Displaying text superscripted.">Mutant Allele(s)</dt><dd ng-bind-html="ntc.superscript(row.genotypeAllelePairs)+(row.genotypeIsConditional==='1'?'<br/>(conditional)':'')"></dd>
            <dt>Age</dt><dd>{{row.age}}</dd>
            <dt>Age Note</dt><dd>{{row.ageNote}}</dd>
            <dt>Sex</dt><dd>{{row.sex}}</dd>
            <dt>Hybridization</dt><dd>{{row.hybridization}}</dd>
            <dt>Fixation</dt><dd>{{row.fixationMethod}}</dd>
            <dt>Embedding</dt><dd>{{row.embeddingMethod}}</dd>
            <dt title="{{vm.apiDomain.specimenNoteTip}}">Specimen Note</dt><dd ng-bind-html="row.specimenNote"></dd>
        </dl>

        <!-- RESULTS -->
        <table class="dataTable">
            <tr>
              <th>Structure</th>
              <th>Cell Type</th>
              <th>Strength</th>
              <th>Pattern</th>
              <th>Figure Label</th>
              <th title="{{vm.apiDomain.resultNoteTip}}">Result Note</th>
            </tr>
            <tbody ng-repeat="srow in vm.apiDomain.specimens[$index].sresults">
            <tr ng-repeat="erow in srow.structureCellType">
            <td><a href="/pwi/edit/emapaBrowser/?termSearch={{erow.structure.emapaTerm}}&stageSearch={{erow.structure.theilerStage}}">TS{{erow.structure.theilerStage}}:{{erow.structure.emapaTerm}}</a></td>
            <td><a href="/pwi/edit/celltypeBrowser/?termSearch={{erow.celltype.celltypeTerm}}">{{erow.celltype.celltypeTerm}}</a></td>
            <td>{{srow.strength}}</td>
            <td>{{srow.pattern}}</td>
            <td><span ng-repeat="irow in srow.imagePanes"><a href="/pwi/edit/imagedetail?id={{irow.accID}}">{{($index > 0 ? ' , ':'') + irow.figurepaneLabel}}</a></span></td>
            <td>
                <span ng-bind-html="srow.resultNote"></span>
            </td>
            </tr>
            </tbody>
        </table>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    </div> <!-- end ng-repeat specimens -->
</div> <!-- end ng-if is-situ -->

<!-- GEL ASSAYS -->
<div ng-if="vm.apiDomain.isGel === true">
    <h4>Gel Lanes (<a href="/pwi/summary/imagepane?refs_id={{vm.apiDomain.jnumid}}">Image Summary</a>)</h4>
    <div class="gellaneDetail">
      <div class="imagePaneWrapper" ng-if="gelPane" >
        <a href="/pwi/edit/imagedetail?id={{gelPane.accID}}">
        <div 
          ng-if="gelPane.pixID"
          style="overflow:hidden; position:relative; width:{{gelPane.scale * gelPane.width}}px; height:{{gelPane.scale * gelPane.height}}px;">
            <img width="{{gelPane.scale * gelPane.xdim}}" height="{{gelPane.scale * gelPane.ydim}}" 
                 style="position:absolute; left:-{{gelPane.scale * gelPane.x}}px; top:-{{gelPane.scale * gelPane.y}}px;" 
                 src="{{PIXDB_URL}}{{gelPane.pixID}}" />
        </div>
        <span>Image: {{gelPane.figurepaneLabel}}</span>
        </a>
    </div>
    <!-- GEL LANES -->
    <table class="dataTable" id="gelLaneTable">
      <tr>
        <th>#</th>
        <th title="Displaying text superscripted">Lane</th>
        <th>Age</th>
        <th>Structure</th>
        <th>Amount</th>
        <th title="Displaying text superscripted">Genetic Background</th>
        <th title="Displaying text superscripted">Mutant Allele(s)</th>
        <th>Sex</th>
        <th title="Displaying text verbatim.">Lane Note</th>
        <th>Age Note</th>
      </tr>
      <tr ng-repeat="lane in vm.apiDomain.gelLanes">
        <td>{{lane.sequenceNum}}</td>
        <td>
            <span ng-bind-html="ntc.superscript(lane.laneLabel)"/></td>


        <td ng-if="!lane.isControl">{{lane.age}}</td>
        <td ng-if="!lane.isControl">
           <span ng-repeat="struct in lane.structures">
              <a href="/pwi/edit/emapaBrowser/?termSearch={{struct.emapaTerm}}&stageSearch={{struct.theilerStage}}">TS{{struct.theilerStage}}: {{ struct.emapaTerm }}</a><br/>
           </span>
        </td>   
        <td ng-if="!lane.isControl"><span ng-if="lane.sampleAmount">{{lane.sampleAmount}} µg<br/></span>{{lane.gelRNAType}}</td>
        <td ng-if="!lane.isControl" ng-bind-html="ntc.superscript(lane.genotypeBackground)"></td>
        <td ng-if="!lane.isControl">
            <span ng-bind-html="ntc.superscript(lane.genotypeAllelePairs)"></span>
            <span ng-if="lane.genotypeIsConditional==='1'"><br/>(conditional)</span>
        </td>
        <td ng-if="!lane.isControl"> {{ lane.sex }} </td>
        <td ng-if="!lane.isControl"> {{ lane.laneNote }} </td>
        <td ng-if="!lane.isControl"> {{ lane.ageNote }} </td>
        
        <td ng-if="lane.isControl" colspan="8" style="text-align:center;"> {{ lane.gelControl }} </td>


      </tr>
    </table>
    <!-- GEL BANDS -->
    <br/>
    <h4>Gel Bands</h4>
    <table class="dataTable" id="gelBandTable">
      <thead>
        <th>#</th>
        <th>Band</th>
        <th ng-repeat="lane in vm.apiDomain.gelLanes">
            <span ng-bind-html="ntc.superscript(lane.sequenceNum + '; ' + lane.laneLabel)"/>
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="row in vm.apiDomain.gelRows">
            <td> {{row.sequenceNum}} </td>
            <td> {{row.size}} {{row.gelUnits}} <span ng-if="row.rowNote" style="position:relative; top:-4px;">*</span></td>
            <td ng-repeat="lane in vm.apiDomain.gelLanes">
              <span ng-class="{'control-lane':lane.isControl}">{{ lane.gelBands[row.sequenceNum - 1].strength }}</span>
              <span ng-if="lane.gelBands[row.sequenceNum - 1].bandNoteIndex" class="gelBandNoteIndex">
                 {{lane.gelBands[row.sequenceNum - 1].bandNoteIndex}}</span>
            </td>
        </tr>
      </tbody>
    </table>
    <!-- ROW NOTES -->
    <h3 title="Displaying text verbatim.">Row Notes</h3>
    <div class="notes" ng-repeat="grow in vm.apiDomain.gelRows"> 
        <table ng-if="grow.rowNote" style="font-size: 12px;" id="gelRowNoteTable">
          <tbody>
            <tr style="vertical-align:top">
              <td style="white-space:nowrap;padding-right:8px;">
              <span style="font-weight:bold;">* <span style="font-weight:normal;">GelRow #{{grow.sequenceNum}}</span> {{grow.size}} {{grow.gelUnits}}</span>
              </td>
              <td>{{grow.rowNote}}</td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
    <!-- GEL BAND NOTES -->
    <br/>
    <span title="Displaying text verbatim.">Band Notes</span>
    <br/>
    <span ng-repeat="note in vm.apiDomain.uniqueNotes track by $index">
        <span class="gelBandNoteIndex">{{$index+1}}</span> - {{note}}
        <br/>
    </span>


</div> <!-- end GEL ASSAYS -->

</form>
</div>
</div>

<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" id="showApiDomainButton" tabindex="-1" ng-click="vm.hideApiDomain = !vm.hideApiDomain" 
					>Show JSON package/API domain only</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show JSON package/API domain + other data</button>			
			<div ng-hide="vm.hideApiDomain">
				<pre>{{ vm.apiDomain | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 

