.buttonStyle {
	text-decoration: none;
	font-size: 10px;
	color: #025;
	font-weight: bolder;
	border: 1px solid #7d95b9;
	padding: 2px;
	background-color: #eee;
	cursor: pointer;
	white-space: nowrap;
}

.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}

.scrollable-menu {
	height: auto;
	max-height: 180px;
	overflow-x: hidden;
	padding-left: 0;
}

button:disabled {
	opacity: 0.5;
}

.scrollable-pubmed {
	height: auto;
	max-height: 40px;
	min-height: 40px;
	overflow-x: hidden;
}

.row,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
	/* border-style: solid;
	border-width: 1px; */
}



/* Undo styles from pwi.css */
body {
	background-color: #eeeeee;
}
main {
	margin-left: 0px;
}

.sortable {
   cursor: pointer;
}
.sortable i:after {
   content: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);
   opacity: 0.63;
}
.st-sort-ascent i:after {
   content: '\25B2';
   opacity: 1;
}
.st-sort-descent i:after {
   content: '\25BC';
   opacity: 1;
}

.table-scrollable > tbody > tr > th.raw > select,
.table-scrollable > thead > tr > th.raw > select {
	max-width: 70%;
}

.table-scrollable > tbody > tr > th.raw,
.table-scrollable > thead > tr > th.raw,
.table-scrollable > tbody > tr > td.raw,
.table-scrollable > thead > tr > td.raw {
	max-width: 400px;
}

.table-scrollable > tbody > tr > th,
.table-scrollable > thead > tr > th,
.table-scrollable > tbody > tr > td,
.table-scrollable > thead > tr > td {
	padding: 4px;
}

.table-scrollable td, th {
	font-size: 10px;
}

.table-scrollable > thead > tr:nth-of-type(odd) { background-color: #f9f9f9; }

.table-scrollable {
	table-layout: fixed; 
	width: unset;
}

.list-group-item {
    position: unset;
    padding: 5px 10px;
}

.exp_var_outer {
	width: 300px;
}

.exp_var_inner {
    float: left;
    width: 150px;
}

.curated_outer {
	width: 100%;
}

.curated_inner {
    float: left;
    width: 175px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #dff0d8;
}

.updownarrows {
	float: right;
	margin-top: 3px;
}

.updownarrows.disabled {
    opacity: 0.3;
}

.glyphicon-arrow-up {
	margin-bottom: 7px;
}

.label {
	color: #000;
}
label {
	margin-bottom: 0px;
	font-weight: normal;
}

.label-primary { background-color: rgb(252,251,186); }
.label-success { background-color: rgb(195,246,190); }
.label-warning { background-color: rgb(185,237,232); }
.label-default { background-color: rgb(203,232,248); }

input.ng-invalid {
	border-width: 1px;
	border-color: red;
	border-style: solid;
}

.hasBioreplicate {background-color: rgb(255,204,203) !important;}

