.buttonStyle {
	text-decoration: none;
	font-size: 10px;
	color: #025;
	font-weight: bolder;
	border: 1px solid #7d95b9;
	padding: 2px;
	background-color: #eee;
	cursor: pointer;
	white-space: nowrap;
}

.scrollable-menu {
	height: auto;
	max-height: 180px;
	overflow-x: hidden;
	padding-left: 0;
}

button:disabled {
	opacity: 0.5;
}

.scrollable-pubmed {
	height: auto;
	max-height: 40px;
	min-height: 40px;
	overflow-x: hidden;
}

.row,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
	/* border-style: solid;
	border-width: 1px; */
}


/* Undo styles from pwi.css */
main {
	background-color: #eeeeee;
	margin-left: 0px;
}

form input{
   margin-top: .0em;
} 

.sortable {
   cursor: pointer;
}
.sortable i:after {
   content: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);
   opacity: 0.63;
}
.st-sort-ascent i:after {
   content: '\25B2';
   opacity: 1;
}
.st-sort-descent i:after {
   content: '\25BC';
   opacity: 1;
}

.table-scrollable td, th {
	font-size: 10px;
}

.table-scrollable>tbody>tr>td,
.table-scrollable>tbody>tr>th,
.table-scrollable>tfoot>tr>td,
.table-scrollable>tfoot>tr>th,
.table-scrollable>thead>tr>td,
.table-scrollable>thead>tr>th {
	padding: 4px;
}

.table-scrollable {
	table-layout: fixed; 
	width: unset;
}

.list-group-item {
    position: unset;
    padding: 5px 10px;
}

.exp_var_outer {
	width: 300px;
}

.exp_var_inner {
    float: left;
    width: 150px;
}

.curated_outer {
	width: 100%;
}

.curated_inner {
    float: left;
    width: 120px;
}
