<br><br>

	<div class="container-fluid">

		<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="page-spinner"></span>
		<div class="alert alert-danger" ng-show="vm.errors.api">
			<h5>{{ vm.errors.api.error }}</h5>
			<h6 id="errorMessage">{{ vm.errors.api.message }}</h6>
		</div>

		<form id="moduleForm" class="form-horizontal mousetrap">
			<div class="row ">
				<div class="col-sm-7">
				    
					<div class="row no-gutter">
						<div class="col-sm-12 ">
	
							<div class="col-sm-6 no-gutter">
							  <label for="jnumid" class="label label-info">Reference J:</label>
							  <span us-spinner="{radius: 6, width: 2, length: 6, position:'relative', top:'1.2em', left:'1.2em'}" spinner-key="reference-spinner"></span>
							  <input class="form-control mousetrap" ng-model="vm.selected.jnumid" id="jnumid"
							  />
							  <input type="hidden" ng-model="vm.selected._refs_key" id="_refs_key"/>
							</div>
		
							<div class="col-sm-6">
							  <label for="marker_symbol" class="label label-info">Marker</label>
							  <span us-spinner="{radius: 6, width: 2, length: 6, position:'relative', top:'1.2em', left:'1.2em'}" spinner-key="marker-spinner"></span>
							  <input ng-hide="vm.markerSelections.length > 0" class="form-control mousetrap" ng-model="vm.selected.marker_symbol" id="marker_symbol"
							  />
							  <div ng-show="vm.markerSelections.length > 0" id="markerSelections" tabindex="99">
							    <button class="cancelMarkerSection" ng-click="cancelMarkerSelection()">X</button>
							    <h5>Which Marker?</h5>
							  	<table class="table">
							  		<tbody>
							  		  <tr ng-repeat="marker in vm.markerSelections" ng-class="{'keyboard-selected': marker == vm.markerSelections[vm.markerSelectIndex]}"
							  		    ng-click="selectMarker(marker)"
							  		  >
							  		   <td>
							  		     {{marker.symbol}},
							  		     {{marker.name}},
							  		     Chr {{marker.chromosome}},
							  		     Band {{marker.cytogeneticoffset}}
							  		   </td>
							  		  </tr>
							  		</tbody>
							  	</table>
							  </div>
							  <input type="hidden" ng-model="vm.selected._marker_key" id="_marker_key"/>
							</div>
						</div>
					</div>

					<br>
	
					<div class="row">
						<div class="col-sm-12">
						<label for="citation" class="label label-info">Citation</label>
						<input class="form-control mousetrap" ng-model="vm.selected.short_citation" id="citation"/>
						</div>
					</div>

					<br>
	
					<div class="row">
						<div class="col-sm-12">
						<label for="comments" class="label label-info">Notes</label>
						<textarea class="form-control mousetrap" ng-model="vm.selected.comments" id="comments">{{ vm.selected.comments }}</textarea>
						</div>
					</div>
				</div>

				<div class="col-sm-5">
					<div class="row">
						<div class="col-sm-12">
						<button id="searchButton" ng-click="search()" ng-disabled="vm.loading" >Search</button>
						<button id="clearButton" ng-click="clear()" ng-disabled="vm.loading" >Clear</button>
						<button id="modifyButton" ng-click="modifyItem()" ng-disabled="vm.loading" >Modify</button>
						<button id="addButton" ng-click="addItem()" ng-disabled="vm.loading" >Add</button>
						<button id="deleteButton" ng-click="deleteItem()" ng-disabled="vm.loading" >Delete</button>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-4">
							<label for="_priority_key" class="label label-info">Priority:</label>
							<select id="_priority_key" ng-model="vm.selected._priority_key" convert-to-number>
								<option value="">Search All</option>
						      	<option ng-repeat="choice in priority_choices" value="{{choice._term_key}}"
						       	 ng-selected="vm.selected._priority_key===choice._term_key"
						     	>
						       	  {{choice.term}}
						      	</option>
							</select>
						</div>
						<div class="col-sm-4">
							<label for="_conditionalmutants_key" class="label label-info">Conditional:</label>
							<select id="_conditionalmutants_key" ng-model="vm.selected._conditionalmutants_key" convert-to-number>
							    <option value="">Search All</option>
						      	<option ng-repeat="choice in conditionalmutants_choices" value="{{choice._term_key}}"
						       	 ng-selected="vm.selected._conditionalmutants_key===choice._term_key"
						     	>
						       	  {{choice.term}}
						      	</option>
							</select>
						</div>
						<div class="col-sm-4">
							<label for="is_coded" class="label label-info">Coded?</label>
							<select id="is_coded" ng-model="vm.selected.is_coded" convert-to-boolean>
							    <option value="">Search All</option>
							    <option value="true">Yes</option>
							    <option value="false">No</option>
							</select>
						</div>
					</div>

					<br>
					<span>Total GXD Index Count: {{vm.total_count}}</span>
 
					<table class="table table-bordered userTable">
						<thead>
							<tr> <th>&nbsp;</th> <th>By</th> <th>Date</th> </tr>
						</thead>
						<tbody>
							<tr> 
							  <th>Created</th> 
							  <td id="createdby_login">{{ vm.selected.createdby_login }}</td> 
							  <td>
							    <nobr>
							    <input id="creation_date" type=input ng-model="vm.selected.creation_date" placeholder="mm/dd/yyyy"> 
							    <a href="#" ng-click="showDataFormatModal = !showDataFormatModal">?</a>
							  </td>
							</tr>
							<tr> 
							  <th>Modified</th>
							  <td id="modifiedby_login">{{ vm.selected.modifiedby_login }}</td>
							  <td>
							    <nobr>
							    <input id="modification_date" type=input ng-model="vm.selected.modification_date" placeholder="mm/dd/yyyy">
							    <a href="#" ng-click="showDataFormatModal = !showDataFormatModal">?</a>
							  </td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</form>
	</div>
		


	<div class="container-fluid">
		<div class="row ">
			<div class="col-sm-7">
	
			<div style='overflow-x: auto;'>
			<table id="indexGrid" class="table table-sm table-bordered">
				<thead>
					<tr>
					  <th>&nbsp;</th>
					  <th ng-repeat="choice in stageid_choices">
					    {{choice.term}}
					  </th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="choice in indexassay_choices">
					  <th>
					    {{choice.term}}
					  </th>
					  <td ng-repeat="cell in vm.indexStageCells[$index]" ng-click="toggleCell(cell)">
					    <span ng-if="cell.checked">X</span>
					  </td>
					</tr>
				</tbody>
			</table>
			</div>
			</div>

			<div class="col-sm-5">
			<div class="row">			
				<div class="col-sm-12">
					<dateformatmodal visible="showDataFormatModal" />
					  Results <span ng-show="vm.loading">Loading...</span> ({{ vm.searchResults.total_count }}):
					  <section ng-if="vm.searchResults.total_count > 0">
						<ul class="pager">
							<li><a href="#" ng-click="prevItem()" >Previous</a></li>
							<li><a href="#" ng-click="nextItem()" >Next</a></li>
						</ul>
	
						<div id="resultsTableWrapper">
						<table id="resultsTable" class="table">
						  <thead>
							<tr><th>Marker</th><th>J:</th><th>Citation</th></tr>
					      </thead>
						  <tbody>
							<tr class=""
								ng-class="($index==vm.selectedIndex) ? 'info' : ''"
								ng-click="setItem($index)"
								ng-repeat="record in vm.searchResults.items">
							<td class="marker_symbol">
							  {{record.marker_symbol}}
							</td>
							<td class="jnumid">
							  {{record.jnumid}}
							</td>
							<td class="citation">
							  {{record.short_citation}}
							</td>							</tr>
					      </tbody>
						</table>
						</div>
					  </section>
				</div>
			</div>
			</div>

		</div>
	</div>
	<br>




	<div class="container">
		<div class="row">			
		</div>
		<pre>{{ vm.selected | json : spacing }}</pre>
	</div>
