main {
    background-color: #eeeeee;
}

button {
    background-color: rgb(252,251,186);
}

.scrollable-menu {
	height: auto;
	max-height: 150px;
	overflow-x: hidden;
}

.cancelMarkerSection {
	cursor: pointer;
	float: right;
}

.keyboard-selected {
	background-color: yellow;
}

.pager {
	margin: 0px;
}
.label {
	color: #000;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
#indexGridWrapper {
	overflow-x: auto;
}
#indexGrid {
	/*table-layout:fixed;*/
	padding: 1px;
}
#indexGrid tr {
	background-color: #F5F1DE;
}

#indexGrid th {
	white-space: nowrap;
	min-width: 1.5em;
	text-align: center;
	padding: 3px;
	font-size: .8em;

}
#indexGrid td {
	white-space: nowrap;
	text-align: center;
	padding: 1px;
}
#indexGrid tr:nth-child(6n), 
#indexGrid tr:nth-child(6n-1), 
#indexGrid tr:nth-child(6n-2) {
	background-color: white;
}

.userTable>tbody>tr>td,
.userTable>tbody>tr>th,
.userTable>thead>tr>th {
	padding: 2px;
	margin: 2px;
	font-size: .8em;
} 

#resultsTable>tbody>tr>td, 
#resultsTable>tbody>tr>th, 
#resultsTable>thead>tr>th {
	padding: 3px;
	margin: 0px;
	font-size: .8em;
}
#resultsTableWrapper {
	overflow-y: auto;
	height: 400px;
}



