main {
    background-color: #eeeeee;
}

.buttonStyle {
    text-decoration: none;
    font-size: 10px;
    color: #025;
    font-weight: bolder;
    border: 1px solid #7d95b9;
    padding: 2px;
    background-color: #eee;
    cursor: pointer;
    white-space: nowrap;
}

.scrollable-menu {
	height: auto;
	max-height: 150px;
	overflow-x: hidden;
}

.cancelMarkerSection {
	cursor: pointer;
	float: right;
}

.keyboard-selected {
	background-color: yellow;
}

#indexGrid {
	/*table-layout:fixed;*/
	padding: 1px;
}

#indexGrid tr:nth-child(6n), tr:nth-child(6n-1), tr:nth-child(6n-2) {
	background-color: white;
}


#indexGrid th {
	min-width: 1.5em;
	text-align: center;
	padding: 3px;
	font-size: .8em;
}

#indexGrid td {
	text-align: center;
	padding: 1px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.pager {
	margin: 0px;
	
}
.userTable>tbody>tr>td, .indexResultTable>tbody>tr>th {
	padding: 1px;
	margin:1px;
}
.indexResultTable>tbody>tr>td, .indexResultTable>tbody>tr>th {
	padding: 1px;
	margin:1px;
}