<h1>Genotypes for {{allele.symbol | super}} ({{allele.mgiid}})</h1>

{% for genotype in allele.genotypes %}

  <span>{{genotype | genotype}}</span>
  <br/>
  <span>{{genotype.geneticbackground}}</span>
  <br/>
  <span>{{genotype.mgiid}}</span>

  <h2>Phenotype Annotations</h2>
  <ul>
  {% for header in genotype.mp_headers %}
    <li>
    
      <h3>{{header['term']}}</h3>
      
      <ul>
      {% for annot in header['annots'] %}
        <li>
          
          <h4>{{annot.term}}</h4>
          
          <ul>
          {% for evidence in annot.evidences %}
            <li>
            
              <h5>{{evidence.ref_jnumid}}</h5>
              
              <span>Notes:</span>
              
              <ul>
              {% for note in evidence.notes %}
                <li>
                  {% if note.notetype != 'General' %}
                    {{note.notetype}}: 
                  {% endif %}
                  {{note.text}}
 				</li>
 			  {% else %}
 			    <li>none</li>
              {% endfor %}
              </ul>
            
            </li>
          {% endfor %}
          </ul>
          
        </li>
      {% endfor %}
      </ul>
      
    </li>
  {% else %}
    <li>none</li>
  {% endfor %}
  </ul>
  
  <h2>Disease Annotations</h2>
  <ul>
  {% for annot in genotype.disease_annots %}
    <li>{{annot.term}}</li>
  {% else %}
    <li>none</li>
  {% endfor %}
  </ul>

{% endfor %}