{% extends "standardMGI.html" %}
{% block content %}

  <title>{{antibody.antibodyname}} Detail</title>

  <h1>Antibody Detail</h1>

<dl class="detailPageListData">
  <dt>Name</dt>
  <dd>{{antibody.antibodyname}}
    <a class="external" href='http://www.informatics.jax.org/searches/antibody.cgi?{{antibody._antibody_key}}'> Public Page </a>
  </dd>

  <dt>MGI ID</dt>
  <dd>{{antibody.mgiid}}</dd>

  <dt>Organism</dt>
  <dd>{{antibody.organism}}</dd>

  <dt>Antibody Type</dt>
  <dd>{{antibody.antibodytype}}</dd>

  <dt>Class</dt>
  <dd>{{antibody.antibodyclass}}</dd>

  <dt>Note</dt>
  <dd>{{antibody.antibodynote or ''}}</dd>

  <dt>Aliases</dt>
  <dd>
  {% for alias in antibody.aliases %}
    {% if not loop.first %}<br/> {% endif %}
    {{ alias.alias}}
  {% endfor %}
  </dd>

  <dt>Markers</dt>
  <dd>
  {% for marker in antibody.markers %}
    {% if not loop.first %}<br/> {% endif %}
    <a href="{{ url_for('detail.markerDetailByKey', key=marker._marker_key) }}">{{marker.symbol}}</a>
    ({{marker.chromosome}})
  {% endfor %}
  </dd>

  <dt>References</dt>
  <dd>
  {% for reference in antibody.references %}
    {% if not loop.first %}<br/> {% endif %}
    <a href="{{ url_for('summary.referenceSummary', accids=reference.jnumid) }}">{{reference.jnumid}}</a>
    {{reference.short_citation}}
  {% endfor %}
  </dd>

  <dt>Assays</dt>
  <dd>
    <a href="{{ url_for('summary.gxdAssaySummary', antibody_id=antibody.mgiid) }}">Expression Assays</a>
  </dd>

</dl>

<h2>Antigen</h2>

<dl class="detailPageListData">
  <dt>Name</dt>
  <dd>
    {{antibody.antigen.antigenname}}
    <a href="http://www.informatics.jax.org/searches/antigen.cgi?{{antibody.antigen._antigen_key}}" class="external">Public Page</a>
  </dd>

  <dt>MGI ID</dt>
  <dd>{{antibody.antigen.mgiid}}</dd>

  <dt>Region Covered</dt>
  <dd>{{antibody.antigen.regioncovered or ''}}</dd>

  <dt>Antigen Note</dt>
  <dd>{{antibody.antigen.antigennote or ''}}</dd>

  <dt>Organism</dt>
  <dd>{{antibody.antigen.source.organism}}</dd>

  <dt title="superscript enabled">Strain</dt>
  <dd>{{antibody.antigen.source.strain.strain | super}}</dd>

  <dt>Sex</dt>
  <dd>{{antibody.antigen.source.gender}}</dd>

  <dt>Age</dt>
  <dd>{{antibody.antigen.source.age}}</dd>

  <dt>Tissue</dt>
  <dd>{{antibody.antigen.source.tissue}}</dd>

  <dt>Tissue Description</dt>
  <dd>{{antibody.antigen.source.description}}</dd>

  <dt>Cell Line</dt>
  <dd>{{antibody.antigen.source.cellline}}</dd>

  <dt>Sex</dt>
  <dd>{{antibody.antigen.source.gender}}</dd>

</dl>





<br/>

{% include "help/antibody_detail.html" %}
{% endblock %}