{% extends "standardMGI.html" %}
{% block content %}

  <title>Assay Detail</title>

  <h1>Assay Detail</h1>

<h2>Assay Info</h2>

<dl class="detailPageListData">
  <dt>Reference</dt>
  <dd>
  	<a href="{{ url_for('summary.referenceSummary', accids=assay.reference.jnumid) }}">
  	  {{assay.reference.jnumid}}
    </a>
    {{assay.reference.short_citation}}
  <dd>

  <dt>Assay Type</dt>
  <dd>{{assay.assaytype}}</dd>

  <dt>MGI ID</dt>
  <dd>{{assay.mgiid}} </dd>

  <dt>Public Page</dt>
  <dd><a class="external" href="http://www.informatics.jax.org/assay/{{assay.mgiid}}">Assay Detail</a></dd>

  <dt>Assayed Gene</dt>
  <dd><a href="{{ url_for('detail.markerDetailById', id=assay.marker.mgiid) }}">
    {{assay.marker.symbol | super}}
    </a>
  </dd>

  <dt>Gene Name</dt>
  <dd>{{assay.marker.name}}</dd>

</dl>

{% if assay.probeprep %}
<h3>Probe Info</h3>
<dl class="detailPageListData wide">

  <dt title="Displaying text superscripted">Probe</dt>
  <dd>
    <a href="{{ url_for('detail.probeDetailById', id=assay.probeprep.probe.mgiid) }}">
      {{assay.probeprep.probe.name | super}}
    </a>
  </dd>

  <dt>Hybridization</dt>
  <dd>{{assay.probeprep.sense}}</dd>

  <dt>Type</dt>
  <dd>{{assay.probeprep.type}}</dd>

  <dt>Labelled with</dt>
  <dd>{{assay.probeprep.label}}</dd>

  <dt>Visualized with</dt>
  <dd>{{assay.probeprep.visualization}}</dd>

</dl>
{% endif %}

{% if assay.antibodyprep %}
<h3>Antibody Info</h3>
<dl class="detailPageListData wide">

  <dt title="Displaying text superscripted">Antibody</dt>
  <dd>
    <a href="{{ url_for('detail.antibodyDetailById', id=assay.antibodyprep.antibody.mgiid) }}">{{assay.antibodyprep.antibody.antibodyname | super}}</a>,
    <a class="external" href="http://www.informatics.jax.org/searches/antibody.cgi?{{assay.antibodyprep._antibody_key}}">Public Detail Page</a>
  </dd>

  <dt>Secondary</dt>
  <dd>{{assay.antibodyprep.secondary}}</dd>

  <dt>Labeled With</dt>
  <dd>{{assay.antibodyprep.label}}</dd>

</dl>
{% endif %}

{% if assay.reportergene %}
<h3>Reporter Info</h3>
<dl class="detailPageListData wide">

  <dt>Reporter Gene</dt>
  <dd>{{assay.reportergene}}</dd>

</dl>
{% endif %}

{% if assay.assaynote %}
<h3>Notes</h3>
<dl class="detailPageListData wide">

  <dt title="Displaying text Notes Tag Converted" class="">Assay Note</dt>
  <dd class="">{{assay.assaynote | ntc}}</dd>

</dl>
{% endif %}

{% if assay.specimens %}
<h3>Specimens</h3>
{% include 'detail/assay/sub_assay_specimens.html' %}
{% endif %}

{% if assay.gellanes %}
<h3>Gel Lanes</h3>
{% include 'detail/assay/sub_assay_gellanes.html' %}
{% endif %}


{% include "help/assay_detail.html" %}
{% endblock %}