{% extends "standardMGI.html" %}

{% block content %}

<title>{{image.figurelabel}} Image Detail</title>

<h1>Image Detail</h1>

<dl class="detailPageListData wide">

  <dt>ID</dt>
  <dd>{{image.mgiid}}</dd>

  <dt>Reference</dt>
  <dd>
  	<a href="{{ url_for('summary.referenceSummary', accids=reference.jnumid) }}">
  	  {{reference.jnumid}}
    </a>
    {{reference.short_citation}}
  </dd>

  <dt>Figure</dt>
  <dd>{{image.figurelabel}}</dd>

  <dt>Caption</dt>
  <dd>{{image.caption.text | ntc}}</dd>

  <dt>Copyright</dt>
  <dd>{{image.copyright.text | ntc }}</dd>

  <dt>PIX ID</dt>
  <dd>{{image.pixnum}}</dd>

  {% if image.externallink %}
  <dt>External Link</dt>
  <dd>{{image.externallink.text | ntc}}</dd>
  {% endif %}

</dl>

{% if image.otherdb_ids %}

  <h2>Other Database Links</h2>

  <ul>
  {% for otherdb_id in image.otherdb_ids %}
    <li>
      <a href="{{otherdb_id | actualdb}}" class="external">{{otherdb_id.logicaldb}}</a>
    </li>
  {% endfor %}
  </ul>

{% endif %}


<h2>Assay Data</h2>

{% if image.imagepanes %}

<table class="dataTable">
  <tr>
    <td>Label</td>
    <td>Assay & Result Details (Gene Symbol)</td>
  </tr>

  {% for pane in image.imagepanes%}
    <tr>
      <td>{{pane.panelabel | e}}</td>
      <td>
      {% if pane.insituresults %}
        {% for assay in pane.distinctInsituAssays %}
          <a href="{{ url_for('detail.assayDetailById', id=assay.mgiid) }}">{{assay.mgiid}}</a>
          (<a href="{{ assay.marker | marker_url }}">{{assay.marker.symbol}}</a>)
        {% endfor %}
      {% endif %}
      {% if pane.gel_assays %}
        {% for gel_assay in pane.gel_assays %}
          <a href="{{ url_for('detail.assayDetailById', id=gel_assay.mgiid) }}">{{gel_assay.mgiid}}</a>
          (<a href="{{ gel_assay.marker | marker_url }}">{{gel_assay.marker.symbol}}</a>)
        {% endfor %}
      {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

{% endif %}


<img src='{{config["PIXDB_URL"]}}{{image.pixnum}}'>

{% include "help/image_detail.html" %}
{% endblock %}
