{% extends "standardMGI.html" %}

{% block content %}

<title>Image  Detail</title>

<h1>Image Detail</h1>

<dl class="detailPageListData wide">

  <dt>ID</dt>
  <dd>{{image.mgiid}}</dd>

  <dt>Reference</dt>
  <dd>
  	<a href="{{ url_for('summary.referenceSummary', accids=reference.jnumid) }}">
  	  {{reference.jnumid}}
    </a>
    {{reference.short_citation}}
  </dd>

  <dt>Figure</dt>
  <dd>{{image.figurelabel}}</dd>

  <dt>Caption</dt>
  <dd>{{image.caption.text | ntc}}</dd>

  <dt>Copyright</dt>
  <dd>{{image.copyright.text | ntc }}</dd>

  <dt>PIX ID</dt>
  <dd>{{image.pixnum}}</dd>

  {% if image.externallink %}
  <dt>External Link</dt>
  <dd>{{image.externallink.text | ntc}}</dd>
  {% endif %}

</dl>




{% if image.imagepane %}

<table class="">
<tr class="">
  <td class="" style="">
    Label
  </td>
  <td class="" style="">
    Assay & Result Details (Gene Symbol)
  </td>
</tr>

{% for pane in image.imagepane%}
  {% if pane.insituresults %}
  <tr>
  <td> {{pane.panelabel}} </td>
  <td>
  {% for result in pane.insituresults%}
    {{result.specimen.assay.mgiid}} ({{result.specimen.assay.marker.symbol}})
  {% endfor %}
  </td>
  </tr>
  {% endif %}
{% endfor %}

{% for pane in image.imagepane%}
  {% if pane.gel %}
  <tr>
  <td> {{pane.panelabel}} </td>
  <td>
    {{pane.gel.mgiid}} ({{pane.gel.marker.symbol}})
  </td>
  </tr>
  {% endif %}
{% endfor %}


</table>
{% endif %}





<img src='http://prodwww.informatics.jax.org/pix/fetch_pixels.cgi?id={{image.pixnum}}'>

<h2>Mutation Description</h2>

{% include "help/image_detail.html" %}
{% endblock %}