{% extends "standardMGI.html" %}
{% block content %}

  <title>{{marker.symbol}} Detail</title>

  <h1>Marker Detail</h1>

<dl class="detailPageListData">
  <dt>Symbol:</dt>
  <dd>{{marker.symbol | super}}
    <a href='http://www.informatics.jax.org/marker/{{marker.mgiid}}'> Public {{marker.symbol}} Page </a>
  <dd>

  <dt>ID:</dt>
  <dd>{{marker.mgiid}}</dd>

  <dt>Marker Status:</dt>
  <dd>{{marker.markerstatus}}</dd>

  <dt>Current Name:</dt>
  <dd>{{marker.name | super}}</dd>

  <dt>Synonym(s):</dt>
  <dd>{{marker.synonyms | type_format | super}}</dd>

  <dt>Marker Type:</dt>
  <dd>{{marker.markertype}}</dd>

  <dt>Feature Type:</dt>
  <dd>{{marker.featuretype}}</dd>

{% if marker.replocation %}
  <dt>Location:</dt>
  <dd>{{marker.replocation}} {{marker.replocation.providerString}}</dd>
{% else %}
  <dt>Location:</dt><dd>Unknown</dd>
{% endif %}

  <dt>Marker Detail Clip:</dt>
  <dd>{{marker.detailclipnote}}</dd>
  
</dl>

<h2>Summary Links:</h2>

<ul>
{% if marker.has_explicit_references or marker.has_expression_assays %}
	<li><a href="{{ url_for('summary.referenceSummary', marker_id=marker.mgiid) }}">References</a></li>
	<li><a href="{{ url_for('summary.gxdAssaySummary', marker_id=marker.mgiid) }}">Expression Assays</a></li>
{% endif %}
</ul>

{% include "help/marker_detail.html" %}
{% endblock %}