{% extends "pageLayout.html" %}
{% block content %}

  <title>{{marker.symbol}} Detail</title>

  <h1>Old Marker Detail (<a href="/pwi/edit/markerdetail?id={{ marker.mgiid }}">new page</a>)</h1>

<dl class="detailPageListData">
  <dt title="Displaying text superscripted">Symbol</dt>
  <dd>{{marker.symbol | super}}
    <a class="external" href='http://www.informatics.jax.org/marker/{{marker.mgiid}}'> Public {{marker.symbol}} Page </a>
  <dd>

  <dt>ID</dt>
  <dd>{{marker.mgiid}}</dd>

  <dt>Secondary IDs</dt>
  <dd>{{marker.secondaryids | type_format}}</dd>

  <dt>Marker Status</dt>
  <dd>{{marker.markerstatus}}</dd>

  <dt title="Displaying text superscripted">Current Name</dt>
  <dd>{{marker.name | super}}</dd>

  <dt title="Displaying text superscripted">Synonym(s)</dt>
  <dd>{{marker.synonyms | type_format | super}}</dd>

  <dt>Marker Type</dt>
  <dd>{{marker.markertype}}</dd>

  <dt>Feature Type</dt>
  <dd>{{marker.featuretype}}</dd>
  
  <dt>
    {% if marker.has_biotypeconflict %}
      <mark>Biotype Conflict</mark>
    {% else %}
      Biotypes
    {% endif %}
  </dt>
  <dd>
    {% if marker.biotype_sequences %}
    <table class="dataTable">
      <tr>
        <th>Source</th>
        <th>Biotype</th>
        <th>Gene ID</th>
      </tr>
  	{% for seq_cache in marker.biotype_sequences %}
  	  <tr>
  	    <td>{{seq_cache.sequenceprovider}}</td>
  	    <td>{{seq_cache.rawbiotype}}</td>
  	    <td>
  	      <a class="external" target="_blank"  href="{{seq_cache.sequence_url}}">
  	        {{seq_cache.accid}}
  	      </a>
  	    </td>
  	  </tr>
  	{% endfor %}
  	</table>
  	{% endif %} {# if biotype_sequences #}
  </dd>

{% if marker.replocation %}
  <dt>Location</dt>
  <dd>{{marker.replocation}} {{marker.replocation.providerString}}</dd>
{% else %}
  <dt>Location</dt><dd>Unknown</dd>
{% endif %}

{% if marker.locationnote %}
  <dt>Location Note</dt>
  <dd>{{marker.locationnote}}</dd>
{% endif %}

  <dt>Marker Detail Clip</dt>
  <dd>{{marker.detailclipnote}}</dd>

</dl>


{# check if any of the summary links exist #}
{% if marker.has_all_references
  or marker.has_gxdindex_records
  or marker.has_expression_assays
  or marker.has_alleles
  or marker.has_probes
  or marker.has_antibodies
  or marker.has_mapping_experiment_assocs
  or marker.has_sequences
%}

<h2>Summary Links:</h2>

<ul>
  {% if marker.has_alleles %}
    <li><a href="{{ url_for('summary.alleleSummary', marker_id=marker.mgiid) }}">Alleles</a></li>
  {% endif %}
  {% if marker.has_all_references %}
    <li><a href="{{ url_for('summary.referenceSummary', marker_id=marker.mgiid) }}">References</a></li>
  {% endif %}
  {% if marker.has_gxdindex_records %}
    <li><a href="{{ url_for('summary.gxdIndexSummary', marker_id=marker.mgiid) }}">Lit Index</a></li>
  {% endif %}
  {% if marker.has_expression_assays %}
    <li><a href="{{ url_for('summary.gxdAssaySummary', marker_id=marker.mgiid) }}">Assays</a></li>
    <li><a href="{{ url_for('summary.resultSummary', marker_id=marker.mgiid) }}">Results</a></li>
  {% endif %}
  {% if marker.has_probes %}
    <li><a href="{{ url_for('summary.probeSummary', marker_id=marker.mgiid) }}">Probes</a></li>
  {% endif %}
  {% if marker.has_antibodies %}
    <li><a href="{{ url_for('summary.antibodySummary', marker_id=marker.mgiid) }}">Antibodies</a></li>
  {% endif %}
  {% if marker.has_mapping_experiment_assocs %}
    <li><a href="{{ url_for('summary.experimentSummary', marker_id=marker.mgiid) }}">Mapping Experiments</a></li>
  {% endif %}
  {% if marker.has_sequences %}
    <li><a href="{{ url_for('summary.sequenceSummary', marker_id=marker.mgiid) }}">Sequences</a></li>
  {% endif %}
</ul>

{% endif %} {# end if summary links #}

{% include "help/marker_detail.html" %}
{% endblock %}
