{% extends "pageLayout.html" %}
{% block content %}

  <title>{{probe.name}} Detail</title>

  <h1>Probe Detail</h1>

<dl class="detailPageListData">
  <dt title="Displaying text verbatim">Name</dt>
  <dd>{{probe.name | e}}
    <a class="external" href='http://www.informatics.jax.org/probe/{{probe.mgiid}}'> Public Page </a>
  </dd>

  <dt>MGI ID</dt>
  <dd>{{probe.mgiid}}</dd>

  <dt>Other MGI IDs</dt>
  <dd>
    {% for mgiid in probe.other_mgiids %}
      {% if not loop.first %}, {% endif %}
      {{mgiid.accid}}
    {% endfor %}
  </dd>

  <dt>Segment Type</dt>
  <dd>{{probe.segmenttype}}</dd>

  <dt>Region Covered</dt>
  <dd>{{probe.regioncovered or ''}}</dd>

  <dt>Parent Clone</dt>
  <dd>
    {% if probe.derivedfrom_probe %}
      <a href="{{ url_for('detail.probeDetailById', id=probe.derivedfrom_probe.mgiid) }}">
        {{probe.derivedfrom_probe.name | e}}
      </a>
    {% endif %}
  </dd>

  <dt>Vector Type</dt>
  <dd>{{probe.vector}}</dd>

  <dt>Insert site</dt>
  <dd>{{probe.insertsite or ''}}</dd>

  <dt>Insert size</dt>
  <dd>{{probe.insertsize or ''}}</dd>

  <dt>Library</dt>
  <dd>
    {% if probe.source.reference %}
      {{probe.source.name or ''}} (
      <a href="{{ url_for('summary.referenceSummary', accids=probe.source.reference.jnumid) }}">
        {{probe.source.reference.jnumid}}
      </a>
      )
    {% endif %}
  </dd>

  <dt>Organism</dt>
  <dd>{{probe.source.organism}}</dd>

  <dt>Strain</dt>
  <dd>{{probe.source.strain.strain | super}}</dd>

  <dt>Tissue</dt>
  <dd>{{probe.source.tissue}}</dd>

  <dt>Tissue Description</dt>
  <dd>{{probe.source.description or ''}}</dd>

  <dt>Cell Line</dt>
  <dd>{{probe.source.cellline}}</dd>

  <dt>Age</dt>
  <dd>{{probe.source.age or ''}}</dd>

  <dt>Sex</dt>
  <dd>{{probe.source.gender}}</dd>

  <dt>Sequence 1</dt>
  <dd>{{probe.primer1sequence or ''}}</dd>

  <dt>Sequence 2</dt>
  <dd>{{probe.primer2sequence or ''}}</dd>

  <dt>Product Size</dt>
  <dd>{{probe.productsize or ''}}</dd>

  <dt>Notes</dt>
  <dd>{{probe.probenote | super}}</dd>

</dl>


{% if probe.other_accids %}

  <h2>Other Accession IDs</h2>

  <ul>
    {% for accid in probe.other_accids %}
      <li>{{accid.accid}} ({{accid.logicaldb}})</li>
    {% endfor %}
  </ul>

{% endif %}

{% if probe.markers %}

  <h2>Markers</h2>

  <ul>
    {% for marker in probe.markers_with_putatives %}

      <li>
        <a href="{{ marker | marker_url }}">
          {{marker.symbol}}
        </a>
        {% if marker.is_putative %} (PUTATIVE){% endif %}
      </li>

    {% endfor %}
  </ul>

{% endif %}

{% if probe.references %}

  <h2>References</h2>

  <ul>
  {% for probe_ref in probe._probe_reference_caches %}

    <li>
      <a href="{{ url_for('summary.referenceSummary', accids=probe_ref.reference.jnumid) }}">
      {{probe_ref.reference.jnumid}}
      </a>
      {{ probe_ref.reference.short_citation }}<br/>


      {% if probe_ref.probe_aliases %}
        <span style='font-weight: bold;'>Aliases</span>:
        {% for alias in probe_ref.probe_aliases %}
        {{alias.alias}}{% if not loop.last %}, {% endif %}
        {% endfor %}
        <br/>
      {% endif %}

      {% if probe_ref.sequence_accids %}
        <span style='font-weight: bold;'>Sequence IDs</span>:
        {% for sequence_accid in probe_ref.sequence_accids %}
         <a class="external" href='http://www.informatics.jax.org/sequence/{{sequence_accid.accid}}'>{{sequence_accid.accid}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
        <br/>
      {% endif %}


      {% if probe_ref.refnote %}
        <span style='font-weight: bold;'>Note</span>:
        {{probe_ref.refnote}}<br/>
      {% endif %}

      {% if probe_ref.probe_rflv %}
        <table class="dataTable" style="border: 1px solid red;">
        {% for rflv in probe_ref.probe_rflv %}

          {% if loop.first %}
          <tr>
          <th>Endonuclease</th>
          <th>Marker</th>
          <th>Allele</th>
          <th>Fragments</th>
          <th>Strains</th>
          </tr>
          {% endif %}


          {% for probe_allele in rflv.probe_alleles %}
          <tr>
            <td>{{rflv.endonuclease}}</td>
            <td>{{rflv.marker.symbol}}</td>
            <td>{{probe_allele.allele}}</td>
            <td>{{probe_allele.fragments}}</td>
            <td>
              {% for probe_allele_strain in probe_allele.probe_allele_strains %}
              {{probe_allele_strain.strain.strain | super}}{% if not loop.last %}, {% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endfor %}

        {% endfor %}
        </table>
      {% endif %}





      <br/>
      </li>

    {% endfor %}
  </ul>

{% endif %}



{% if hasAssays %}

  <h2>Other Summary Links</h2>

  <ul>
    {% if hasAssays %}
      <li>
        <a href="{{ url_for('summary.gxdAssaySummary', probe_id=probe.mgiid) }}">
          Expression Assays
        </a>
      </li>
    {% endif %}
  </ul>

{% endif %}

<br/>
{% include "help/probe_detail.html" %}
{% endblock %}
