{% extends "standardMGI.html" %}
{% block content %}

  <title>{{probe.name}} Detail</title>

  <h1>Probe Detail</h1>

<dl class="detailPageListData">
  <dt title="Displaying text verbatim">Name</dt>
  <dd>{{probe.name | e}}
    <a class="external" href='http://www.informatics.jax.org/searches/probe.cgi?{{probe._probe_key}}'> Public {{probe.name | e}} Page </a>
  </dd>
  
  <dt>MGI ID</dt>
  <dd>{{probe.mgiid}}</dd>
  
  <dt>Other MGI IDs</dt>
  <dd>
    {% for mgiid in probe.other_mgiids %}
      {% if not loop.first %}, {% endif %}
      {{mgiid.accid}}
    {% endfor %}
  </dd>

  <dt>Segment Type</dt>
  <dd>{{probe.segmenttype}}</dd>
  
  <dt>Derived From</dt>
  <dd>
    {% if probe.derivedfrom_probe %}
      <a href="{{ url_for('detail.probeDetailById', id=probe.derivedfrom_probe.mgiid) }}">
        {{probe.derivedfrom_probe.name | e}}
      </a>
    {% endif %}
  </dd>
  
  <dt>Library</dt>
  <dd>
    {% if probe.source.reference %}
      {{probe.source.name or ''}} (
      <a href="{{ url_for('summary.referenceSummary', accids=probe.source.reference.jnumid) }}">
        {{probe.source.reference.jnumid}}
      </a>
      )
    {% endif %}
  </dd>
  
  <dt>Species of origin</dt>
  <dd>{{probe.source.organism}}</dd>
  
  <dt>Strain</dt>
  <dd>{{probe.source.strain.strain | super}}</dd>
  
  <dt>Sex</dt>
  <dd>{{probe.source.gender}}</dd>
  
  <dt>Age</dt>
  <dd>{{probe.source.age or ''}}</dd>
  
  <dt>Tissue</dt>
  <dd>{{probe.source.tissue}}</dd>
  
  <dt>Region Covered</dt>
  <dd>{{probe.regioncovered or ''}}</dd>
  
  <dt>Vector Type</dt>
  <dd>{{probe.vector}}</dd>
  
  <dt>Insert site</dt>
  <dd>{{probe.insertsite or ''}}</dd>
  
  <dt>Sequence 1</dt>
  <dd>{{probe.primer1sequence or ''}}</dd>
  
  <dt>Sequence 2</dt>
  <dd>{{probe.primer2sequence or ''}}</dd>
  
  <dt>Insert size</dt>
  <dd>{{probe.insertsize or ''}}</dd>
  
  <dt>Notes</dt>
  <dd>{{probe.probenote}}</dd>
  
</dl>


{% if probe.other_accids %}

  <h2>Other Accession IDs</h2>
  
  <ul>
    {% for accid in probe.other_accids %}
      <li>{{accid.accid}} ({{accid.logicaldb}})</li>
    {% endfor %}
  </ul>
  
{% endif %}

{% if probe.markers %}

  <h2>Markers</h2>
  
  <ul>
    {% for marker in probe.markers_with_putatives %}
    
      <li>
        <a href="{{ url_for('detail.markerDetailById', id=marker.mgiid) }}">
          {{marker.symbol}}
        </a>
        {% if marker.is_putative %} (PUTATIVE){% endif %}
      </li>
    
    {% endfor %}
  </ul>

{% endif %}

{% if probe.references %}

  <h2>References</h2>
  
  <ul>
    {% for reference in probe.references %}
    
      <li>
        <a href="{{ url_for('summary.referenceSummary', accids=reference.jnumid) }}">
          {{reference.jnumid}}
        </a>
        {{ reference.short_citation }}
      </li>
    
    {% endfor %}
  </ul>

{% endif %}



{% if probe.assays %}

  <h2>Expression Assays</h2>
  
  <ul>
    {% for assay in probe.assays %}
      <li>
        <a href="{{ url_for('detail.assayDetailById', id=assay.mgiid) }}">
          {{assay.mgiid}}
        </a>
      </li>
    {% endfor %}
  </ul>

{% endif %}

<br/>
{% include "help/probe_detail.html" %}
{% endblock %}