{% extends "pageLayout.html" %}
{% block content %}

  <title>{{vocterm.term}} Detail</title>

<div class="voctermDetail">

  <h1>VocTerm Detail</h1>

  <h2>VocTerm Info</h2>

<dl class="detailPageListData wide">

  <dt>Term</dt>
  <dd>{{vocterm.term}}</dd>

  <dt>Vocabulary</dt>
  <dd>{{vocterm.vocabname}}</dd>

  {% for synonym in vocterm.synonyms %}
    <dt>Synonym</dt>
    <dd>{{synonym.synonym}}</dd>
  {% endfor %}

  <dt>Primary ID</dt>
  <dd>{{vocterm.primaryid}}</dd>
  
  {% for secondaryid in vocterm.secondaryids %}
  <dt>Secondary ID</dt>
  <dd>{{secondaryid.accid}}</dd>
  {% endfor %}
  
  <dt>Definition</dt>
  <dd>{{vocterm.note}}</dd>
  
  <dt>Public Comment</dt>
  <dd>{{vocterm.public_comment}}</dd>
  
  {% if dagtrees %}
  <dt>Number of paths to term</dt>
  <dd>{{dagtrees | length}}</dd>
  {% endif %}
  
</dl>
  
{% if dagtrees %}
  {% include "detail/vocterm/sub_vocterm_dagview.html" %}
{% endif %} 
 
</div>

{% include "help/vocterm_detail.html" %}
{% endblock %}
