<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="assayForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:800px;" >

		<div class="row topMargin">
		<div class="col-sm-4" style="">
			<label class="label label-edit-search">J#</label>
			<input type="text" class="form-control" 
				ng-model="vm.apiDomain.jnumid" id="jnumID"
				ng-blur="validateJnum(vm.apiDomain, 'jnumID')"
			></input>
		</div>
		<div class="col-sm-6" style="">
			<label class="label label-view-only">Citation</label>
			<input type="text" class="form-control" tabindex="-1" 
				ng-model="vm.apiDomain.short_citation" id="short_citation"
			></input>
		</div>
		</div>

		<div class="row topMargin">
		<div class="col-sm-10" style="">
			<label class="label label-edit-search">Assay Note</label>
                        <img id="clearAssayNoteButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearNote(vm.apiDomain.assayNote)"><br>
		        <textarea class="form-control" placeholder="" rows=2 id="assayNoteID"
                                ng-model="vm.apiDomain.assayNote.noteChunk"></textarea>
			<button type="button" id="addAccMGITagButton" 
				ng-click="addAccMGITag()" >Add Acc/MGI</button>
		</div>
		</div>

		<div class="row topMargin">
		<div class="col-sm-3" style="">
		        <label class="label label-edit-search">Assay Type</label><br>
                        <select type=dropdown size="1" id="assayType" 
			 ng-options="choice.termKey as choice.term for choice in vm.assayTypeLookup"
                               ng-model="vm.apiDomain.assayTypeKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-3" style="">
		        <label class="label label-edit-search">Marker</label><br>
                        <input class="form-control" type="text" id="markerSymbol"
				ng-model="vm.apiDomain.markerSymbol"
                                ng-blur="validateMarker(vm.apiDomain, 'markerSymbol')"
                                >
                        </input>
		</div>
                <div ng-if="vm.apiDomain.assayTypeKey=='9' || vm.apiDomain.assayTypeKey=='10' || vm.apiDomain.assayTypeKey=='11'">
		<div class="col-sm-3" style="">
		        <label class="label label-edit-search">Reporter Gene</label><br>
                        <select type=dropdown size="1" id="reporterGene" 
			 ng-options="choice.termKey as choice.term for choice in vm.reporterGeneLookup"
                               ng-model="vm.apiDomain.reporterGeneKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-3" style="">
		        <label class="label label-edit-search">Detection Method</label><br>
                        <select type=dropdown size="1" id="dectection" 
			 ng-options="choice.termKey as choice.term for choice in vm.detectionLookup"
                               ng-model="vm.apiDomain.detectionKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
                </div>
		</div>

		<div class="row sectionDivider topMargin">
		<div class="spacer"></div>
                <div ng-if="vm.apiDomain.assayTypeKey=='' || vm.apiDomain.assayTypeKey=='1' || vm.apiDomain.assayTypeKey=='2' || vm.apiDomain.assayTypeKey=='3' || vm.apiDomain.assayTypeKey=='4' || vm.apiDomain.assayTypeKey=='5'">
		<div class="col-sm-2" style="">
		        <label class="label label-edit-search">Probe Prep Type</label><br>
                        <select type=dropdown size="1" id=.probePrepType" 
			 ng-options="choice.termKey as choice.term for choice in vm.probePrepTypeLookup"
                               ng-model="vm.apiDomain.probePrep.prepTypeKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
		        <label class="label label-edit-search">Hybridization</label><br>
                        <select type=dropdown size="1" id="probeSense" 
			 ng-options="choice.termKey as choice.term for choice in vm.probeSenseLookup"
                               ng-model="vm.apiDomain.probePrep.probeSenseKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
		        <label class="label label-edit-search">Labelled with</label><br>
                        <select type=dropdown size="1" id="probeLabel" 
			 ng-options="choice.termKey as choice.term for choice in vm.labelLookup"
                               ng-model="vm.apiDomain.probePrep.labelKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
		        <label class="label label-edit-search">Visualized with</label><br>
                        <select type=dropdown size="1" id="probeVisualization" 
			 ng-options="choice.termKey as choice.term for choice in vm.visualizationLookup"
                               ng-model="vm.apiDomain.probePrep.visualizationMethodKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
			<label class="label label-edit-search">Probe Acc ID</label>
			<input type="text" class="form-control" 
				ng-model="vm.apiDomain.probePrep.probeAccID" id="probeAccID"
                                ng-blur="validateProbe(vm.apiDomain.probePrep, 'probeAccID')"
			></input>
		</div>
		<div class="col-sm-2" style="">
			<label class="label label-edit-search">Probe Name</label>
			<input type="text" class="form-control" 
				ng-model="vm.apiDomain.probePrep.probeName" id="probeName"
			></input>
		</div>
		</div>
                </div>

                <div ng-if="vm.apiDomain.assayTypeKey=='6' || vm.apiDomain.assayTypeKey=='8'">
		<div class="row topMargin">
		<div class="col-sm-4" style="">
		        <label class="label label-edit-search">Secondary Antibody</label><br>
                        <select type=dropdown size="1" id="secondaryAntibody" 
			 ng-options="choice.termKey as choice.term for choice in vm.secondaryLookup"
                               ng-model="vm.apiDomain.antibodyPrep.secondaryKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
		        <label class="label label-edit-search">Labelled with</label><br>
                        <select type=dropdown size="1" id="antibodyLabel" 
			 ng-options="choice.termKey as choice.term for choice in vm.labelLookup"
                               ng-model="vm.apiDomain.antibodyPrep.labelKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
			<label class="label label-edit-search">Antibody Acc ID</label>
			<input type="text" class="form-control" 
				ng-model="vm.apiDomain.antibodyPrep.antibodyAccID" id="antibodyAccID"
                                ng-blur="validateAntibody(vm.apiDomain.antibodyPrep, 'antibodyAccID')"
			></input>
		</div>
		<div class="col-sm-2" style="">
			<label class="label label-edit-search">Antibody Name</label>
			<input type="text" class="form-control" 
				ng-model="vm.apiDomain.antibodyPrep.antibodyName" id="antibodyName"
			></input>
		</div>
		</div>
		</div>

		<div class="row sectionDivider topMargin">
		<div class="spacer"></div>
                </div>

		<div class="spacer"></div>
		<div class="row">
        		<div class="col-sm-12" style="">
                	<div id="specimenTableWrapper" overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="specimenTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
			<th style="width:4em;">#</th>
                	<th style="width:100px;">Specimen Label</th>
                	<th style="width:100px;">Genotype</th>
                	<th style="width:15px;">Age</th>
                	<th style="width:50px;">Age Range</th>
                	<th style="width:50px;">Age Note</th>
                	<th style="width:15px;">Sex</th>
                	<th style="width:15px;">Fixation</th>
                	<th style="width:15px;">Embedding</th>
                	<th style="width:15px;">Hybridization</th>
                	<th style="width:25px;">R</th>
                	<th style="width:15px;">Notes</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.specimens track by $index"
				ng-click="selectSpecimenRow($index)"
				ng-class="{deleteRow:row.processStatus == 'd', selectedRow:$index==vm.selectedSpecimenIndex}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px;">
                	<span ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td style="width:4em;">
                        <span>
                        <input style="" class="form-control" type="number" min="1" max="999"  tabindex="-1"
                                ng-model="row.sequenceNum"
                                ng-change="changeSpecimenRow($index)" />
                        </span>
                        </td>

			<td style="width:100px;">
			<input class="form-control" type="text" id="specimenLabel-{{$index}}" 
				ng-model="row.specimenLabel"
				ng-change="changeSpecimenRow($index)"
				>
			</td>

			<td style="width:100px;">
			<input class="form-control" type="text" id="genotypeAccID-{{$index}}" 
				ng-model="row.genotypeAccID"
				ng-change="changeSpecimenRow($index)"
				ng-blur="validateGenotype(row, $index, 'genotypeAccID-')"
				>
			</td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="age-{{$index}}" 
				ng-options="choice.term as choice.term for choice in vm.ageLookup"
                        	ng-model="row.agePrefix"
				ng-change="changeSpecimenRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

			<td style="width:50px;">
			<input class="form-control" type="text" id="ageStage-{{$index}}" 
				ng-model="row.ageStage"
				ng-change="changeSpecimenRow($index)"
				>
			</td>

			<td style="width:50px;">
			<input class="form-control" type="text" id="ageNote-{{$index}}" 
				ng-model="row.ageNote"
				ng-change="changeSpecimenRow($index)"
				>
			</td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="gender-{{$index}}" 
				ng-options="choice.term as choice.term for choice in vm.genderLookup"
                        	ng-model="row.sex"
				ng-change="changeSpecimenRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="fixation-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.fixationLookup"
                        	ng-model="row.fixationKey"
				ng-change="changeSpecimenRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="embedding-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.embeddingLookup"
                        	ng-model="row.embeddingKey"
				ng-change="changeSpecimenRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="hybridization-{{$index}}" 
				ng-options="choice.term as choice.term for choice in vm.hybridizationLookup"
                        	ng-model="row.hybridization"
				ng-change="changeSpecimenRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

			<td style="width:25px;">
			<input class="form-control" type="text" id="results-{{$index}}" 
				ng-model="row.results.length"
				ng-change="changeSpecimenRow($index)"
				>
			</td>

			<td style="width:15px;">
			<input class="form-control" type="text" id="specimenNote-{{$index}}" 
				ng-model="row.specimeNote"
				ng-change="changeSpecimenRow($index)"
				>
			</td>

			</tr>

			<tfoot>
			<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addSpecimenButton" 
				ng-class=""
                                ng-click="addSpecimenRow($index)" >Add Row</button>
			</td>
			</tr>
			</tfoot>

			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-12 -->
		</div>
		<!-- end row -->

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:850px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-mousedown="clear()" >Clear</button>
		<button type="button" id="modifyButton" tabindex="-1" ng-click="modify()" >Modify</button>
		<button type="button" id="createButton" tabindex="-1" ng-click="create()" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="delete()" >Delete</button>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="createdBy" tabindex="-1"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="creationDate" tabindex="-1"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="modifiedBy" tabindex="-1"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="modificationDate" tabindex="-1"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">MGI ID</label><br>
				<input class="form-control" id="accID" tabindex="-1" 
					ng-model="vm.apiDomain.accID" 
				/>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.assayDisplay}}</td>
				</tr>
			</tbody>
			</table>
			</div>

			<div class="spacer"></div>
			<hr/>
			<div class="row">
			<div class="col-sm-12" style="">
			<div id="clipboardCount">Genotype: {{vm.clipboardDomain.genotypeClipboardMembers.length}} result(s)</div>
			</div>
			</div>

			<div id="clipboardTableWrapper">
			<table class="table table-bordered scrollable-menu" id="clipboardTable" style="">
    			<tbody>
				<tr ng-repeat="row in vm.clipboardDomain.genotypeClipboardMembers" 
					ng-click="selectClipboard($index)" 
					ng-class="($index==vm.selectedClipboardIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'"
					>
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{row.label}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>

	</div>
</div>
</div>
</form>

<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" id="showApiDomainButton" tabindex="-1" ng-click="vm.hideApiDomain = !vm.hideApiDomain" 
					>Show JSON package/API domain only</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show JSON package/API domain + other data</button>			
			<div ng-hide="vm.hideApiDomain">
				<pre>{{ vm.apiDomain | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 

