/*
 * overrides and generic classes
 */
main {
	background-color: #eeeeee;
	margin-left: 0px;
}
html {
        scroll-behavior: auto;
}
button {
	background-color: rgb(252,251,186);
	margin: 3px 2px;
        font-size: 12px;
}
button:disabled {
	opacity: 0.5;
}
.form-control {
	height: 22px;
	padding: 2px 3px;
	font-size: 12px;
}
.label { 
	color: #000; 
	padding: .1em .6em;
}
.label-static { 
	background-color: rgb(203,232,248); 
}
.ui-widget {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.row-centered {
   text-align:center;
}
.spacer { 
	height:6px;
}
.section {
	border-style: ridge;
	border-color:lightgray;
}
.sectionDivider {
	border-top: 2px ridge lightgray;
}
form select, form input, form textarea {
	margin-top: 1px;
}
/* set current focus to blue */
input:focus,
select:focus,
textarea:focus {
     box-shadow: 0px 0px 2px 2px blue !important;
}

/*
 * page-specific styles 
 */

.externalLink {
        cursor: pointer;
}
.topMargin {
	margin-top: 8px;
}
.bottomMargin {
	margin-bottom: 8px;
}
.topPadding {
	padding-top: 0px;
}
.bottomPadding {
	padding-bottom: 0px;
}

/* textarea stuff */
.table textarea.form-control {
        height: 25px;
}
td textarea {
    width: 100%;
    height: 100%;
}

/* hiddeable stuff */
table.collapse1 th:nth-child(1),
table.collapse1 td:nth-child(1),
table.collapse2 th:nth-child(2),
table.collapse2 td:nth-child(2),
table.collapse3 th:nth-child(3),
table.collapse3 td:nth-child(3),
table.collapse4 th:nth-child(4),
table.collapse4 td:nth-child(4),
table.collapse5 th:nth-child(5),
table.collapse5 td:nth-child(5),
table.collapse6 th:nth-child(6),
table.collapse6 td:nth-child(6),
table.collapse7 th:nth-child(7),
table.collapse7 td:nth-child(7),
table.collapse8 th:nth-child(8),
table.collapse8 td:nth-child(8),
table.collapse9 th:nth-child(9),
table.collapse9 td:nth-child(9),
table.collapse10 th:nth-child(10),
table.collapse10 td:nth-child(10),
table.collapse11 th:nth-child(11),
table.collapse11 td:nth-child(11),
table.collapse12 th:nth-child(12),
table.collapse12 td:nth-child(12),
table.collapse13 th:nth-child(13),
table.collapse13 td:nth-child(13)
{
    min-width: 18px !important;
    max-width: 18px !important;
    overflow: hidden;
}

#loadingHeader {
	color: red;
	text-align: center;
}

#resultsCount {
	margin-top: 8px;
	margin-bottom:8px;
}

#resultTableWrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 285px;
	min-width: 200px;
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-color: #ddd;
}

.resizer 
{
        position: absolute;
        top: 0;
        right: 0;
        width: 5px;
        cursor: col-resize;
        user-select: none;
}

/* freeze rows */
#specimenTable thead th:nth-child(3) {
        position: sticky;
        left: 0;
        z-index: 20;
}
#gelLaneTable thead th:nth-child(3) {
        position: sticky;
        left: 0;
        z-index: 20;
}
#gelBandTable thead th:nth-child(1) {
        position: sticky;
        left: 0;
        z-index: 100;
}
#specimenTable tbody td:nth-child(3) {
        position: sticky;
        left: 0;
        z-index: 10;
}
#gelLaneTable tbody td:nth-child(3) {
        position: sticky;
        left: 0;
        z-index: 10;
}
#gelBandTable tbody td:nth-child(1) {
        position: sticky;
        left: 0;
        z-index: 10;
}
#gelBandTable tr.oddRow td:first-child {
    background-color: #dddddd;
}
#gelBandTable tr:not(.oddRow) td:first-child {
    background-color: #eeeeee;
}

#specimenTable th > div > div:nth-child(2) {
    display : flex;
}
#gelLaneTable th > div > div:nth-child(2) {
    display : flex;
}

#specimenTable th, #sresultTable th, #genotypeTable th, #imagePaneTable th, #emapaTable th, #gelLaneTable th, #celltypeTable th, #doubleLabelTable th
{
	position: sticky;
	top: -3px;
        padding: 3px;
        font-size: 10.5px;
        background-color: rgb(195,246,190);
}
#specimenTable th, #gelLaneTable th
{
        white-space: nowrap
}
#specimenTable td, #sresultTable td, #genotypeTable td, #imagePaneTable td, #emapaTable td, #gelLaneTable td, #celltypeTable td, #doubleLabelTable td
{
        padding: 3px;
        font-size: .8em;
}
#specimenTable, #gelLaneTable, #gelBandTable, #sresultTable, #doubleLabelTable {
     table-layout: fixed;
     width: auto;
     max-width: max-content;
}
#specimenTable th, #gelLaneTable th, #gelBandTable th, #sresultTable th, #doubleLabelTable th {
     max-width: 0px;
     overflow: hidden;
}
#specimenTable textarea, #gelLaneTable textarea, #gelBandTable textarea, #sresultTable textarea {
     margin-right: 0px !important;
}

/* max-height: only show 8 rows */
#specimenTableWrapper
{
	overflow-x: scroll;
	overflow-y: scroll;
        max-height: 300px;
        min-width: 200px;
        border-style: solid;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-color: #ddd;
}

#gelLaneTableWrapper
{
	overflow-x: scroll;
	overflow-y: scroll;
        max-height: 400px;
        min-width: 200px;
        border-style: solid;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-color: #ddd;
}

#gelBandTable th
{
	position: sticky;
	top: -3px;
        padding: 3px;
        font-size: 10.5px;
        background-color: rgb(195,246,190);
}

#gelBandTable td
{
        padding: 3px;
        font-size: .8em;
}

#gelBandTableWrapper
{
	overflow-x: scroll;
	overflow-y: scroll;
        max-height: 1500px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
}

#genotypeTableWrapper
{
	overflow-x: hidden;
	overflow-y: scroll;
        max-height: 400px;
        max-width: 300px;
        border-style: solid;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-color: #ddd;
}

#imagePaneTableWrapper
{
        resize: both;
	overflow: scroll;
        height: 175px;
        max-height: 1000px;
        max-width: 350px;
        border-style: solid;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-color: #ddd;
}

#imagePaneTableWrapper.shorter
{
        height: 100px;
}

#emapaTableWrapper
{
        resize: both;
	overflow: auto;
        max-height: 600px;
        max-width: 350px;
        border-style: solid;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-color: #ddd;
}

#celltypeTableWrapper
{
        resize: both;
	overflow: scroll;
        max-height: 175px;
        max-width: 350px;
        border-style: solid;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-color: #ddd;
}

/* max-height: show all */
#sresultTableWrapper 
{
        overflow: scroll;
        max-height: 500px;
        min-width: 200px;
        border-style: solid;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-color: #ddd;
}

#ageNoteWrapper {
        text-align: center;
}

#doubleLabelTableWrapper
{
	overflow-x: scroll;
	overflow-y: scroll;
        max-height: 300px;
        min-width: 300px;
        border-style: solid;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-color: #ddd;
}

.hasNoteButton {background-color: lime;}
.oddRow {background-color: #ddd;}
.selectedRow {background-color: rgb(252,251,186);}
.deleteRow {background-color: orange;}
.deleteGelRow {background-color: orange;}
.changeRow {background-color: violet !important;}

