<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="assayForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-10 section" style="min-height:1500px;" >

		<div class="row topMargin">
		<div class="col-sm-2" style="">
			<label class="label label-edit-search">J#</label>
			<input type="text" class="form-control" 
				ng-model="vm.apiDomain.jnumid" id="jnumID"
				ng-blur="validateJnum(vm.apiDomain, 'jnumID')"
			></input>
		</div>
		<div class="col-sm-4" style="">
			<label class="label label-view-only">Citation</label>
			<input type="text" class="form-control" tabindex="-1" 
				ng-model="vm.apiDomain.short_citation" id="short_citation"
			></input>
		</div>

		<div class="col-sm-4" style="">
			<button type="button" id="hideShowAssayNoteButton" tabindex="-1"
				ng-class="{'hasNoteButton':  vm.apiDomain.assayNote != null && vm.apiDomain.assayNote.assayNote != ''}"
				ng-click="hideShowAssayNote()" >Assay Note</button>
                                <img id="clearAssayNoteButton" src="/pwi/static/images/clear.png" width=15 height=15
                                        ng-click="clearAssayNote()" ng-hide="vm.hideAssayNote">
		                <button type="button" id="addAssayAccMGITagButton" tabindex="-1" ng-hide="vm.hideAssayNote"
			                ng-click="addAssayAccMGITag()" >Add Acc/MGI</button>
				<textarea class="form-control" rows=2 id="assayNoteID" tabindex="-1" ng-hide="vm.hideAssayNote"
                                        ng-model="vm.apiDomain.assayNote.assayNote" 
                                        ng-change="changeAssayNote()"
                                ></textarea>
		</div>

		</div>

		<div class="row topMargin">
		<div class="col-sm-3" style="">
		        <label class="label label-edit-search">Assay Type</label><br>
                        <select type=dropdown size="1" id="assayType" 
			 ng-options="choice.termKey as choice.term for choice in vm.assayTypeLookup"
                               ng-model="vm.apiDomain.assayTypeKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-3" style="">
		        <label class="label label-edit-search">Marker</label><br>
                        <input class="form-control" type="text" id="markerSymbol"
				ng-model="vm.apiDomain.markerSymbol"
                                ng-blur="validateMarker(vm.apiDomain, 'markerSymbol')"
                                >
                        </input>
		</div>

                <div ng-if="vm.apiDomain.assayTypeKey=='9' || vm.apiDomain.assayTypeKey=='10' || vm.apiDomain.assayTypeKey=='11'">
		<div class="col-sm-3" style="">
		        <label class="label label-edit-search">Reporter Gene</label><br>
                        <select type=dropdown size="1" id="reporterGene" 
			 ng-options="choice.termKey as choice.term for choice in vm.reporterGeneLookup"
                               ng-model="vm.apiDomain.reporterGeneKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-3" style="">
		        <label class="label label-edit-search">Detection Method</label><br>
                        <select type=dropdown size="1" id="dectection" 
			 ng-options="choice.termKey as choice.term for choice in vm.detectionLookup"
                               ng-model="vm.apiDomain.detectionKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
                </div>
		</div>

		<div class="row sectionDivider topMargin">
		<div class="spacer"></div>
                <div ng-if="vm.apiDomain.assayTypeKey=='' || vm.apiDomain.assayTypeKey=='1' || vm.apiDomain.assayTypeKey=='2' || vm.apiDomain.assayTypeKey=='3' || vm.apiDomain.assayTypeKey=='4' || vm.apiDomain.assayTypeKey=='5' || vm.apiDomain.detectionKey == 1">
		<div class="col-sm-2" style="">
			<label class="label label-edit-search">Probe Acc ID</label>
			<input type="text" class="form-control" 
				ng-model="vm.apiDomain.probePrep.probeAccID" id="probeAccID"
                                ng-blur="validateProbe(vm.apiDomain.probePrep, 'probeAccID')"
			></input>
		</div>
		<div class="col-sm-2" style="">
			<label class="label label-edit-search">Probe Name</label>
			<input type="text" class="form-control" tabindex="-1"
				ng-model="vm.apiDomain.probePrep.probeName" id="probeName"
			></input>
		</div>
		<div class="col-sm-2" style="">
		        <label class="label label-edit-search">Probe Prep Type</label><br>
                        <select type=dropdown size="1" id="probePrepType" 
			 ng-options="choice.term as choice.term for choice in vm.probeprepTypeLookup"
                               ng-model="vm.apiDomain.probePrep.prepType"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
		        <label class="label label-edit-search">Hybridization</label><br>
                        <select type=dropdown size="1" id="probeSense" 
			 ng-options="choice.termKey as choice.term for choice in vm.probeSenseLookup"
                               ng-model="vm.apiDomain.probePrep.probeSenseKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
		        <label class="label label-edit-search">Labelled with</label><br>
                        <select type=dropdown size="1" id="probeLabel" 
			 ng-options="choice.termKey as choice.term for choice in vm.labelLookup"
                               ng-model="vm.apiDomain.probePrep.labelKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
		        <label class="label label-edit-search">Visualized with</label><br>
                        <select type=dropdown size="1" id="probeVisualization" 
			 ng-options="choice.termKey as choice.term for choice in vm.visualizationLookup"
                               ng-model="vm.apiDomain.probePrep.visualizationMethodKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		</div>
                </div>

                <div ng-if="vm.apiDomain.assayTypeKey=='6' || vm.apiDomain.assayTypeKey=='8' || vm.apiDomain.detectionKey == 2">
		<div class="row topMargin">
		<div class="col-sm-2" style="">
			<label class="label label-edit-search">Antibody Acc ID</label>
			<input type="text" class="form-control" 
				ng-model="vm.apiDomain.antibodyPrep.antibodyAccID" id="antibodyAccID"
                                ng-blur="validateAntibody(vm.apiDomain.antibodyPrep, 'antibodyAccID')"
			></input>
		</div>
		<div class="col-sm-2" style="">
			<label class="label label-edit-search">Antibody Name</label>
			<input type="text" class="form-control" 
				ng-model="vm.apiDomain.antibodyPrep.antibodyName" id="antibodyName" tabindex="-1"
			></input>
		</div>
		<div class="col-sm-4" style="">
		        <label class="label label-edit-search">Secondary Antibody</label><br>
                        <select type=dropdown size="1" id="secondaryAntibody" 
			 ng-options="choice.termKey as choice.term for choice in vm.secondaryLookup"
                               ng-model="vm.apiDomain.antibodyPrep.secondaryKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
		        <label class="label label-edit-search">Labelled with</label><br>
                        <select type=dropdown size="1" id="antibodyLabel" 
			 ng-options="choice.termKey as choice.term for choice in vm.labelLookup"
                               ng-model="vm.apiDomain.antibodyPrep.labelKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		</div>
		</div>

		<div class="row sectionDivider topMargin">
                </div>

		<div class="row">
		        <div class="spacer"></div>
		        <div class="col-sm-12" style="">
		        <div class="col-sm-2" style="">
			<label class="label label-edit">Specimen Table</label>
                        </div>
		        <div class="col-sm-6" style="">
                        <div id="ageNoteWrapper">
		        <button type="button" id="ageNotSpecifiedButton" tabindex="-1"
			        ng-click="attachAgeNote('Age of embryo at noon of plug day not specified in reference.')" >Age Not Specified</button>
		        <button type="button" id="ageNotNormalizedButton" tabindex="-1"
			        ng-click="attachAgeNote('Age normalized so that noon of plug day = E0.5.')" >Age Normalized</button>
		        <button type="button" id="ageNotAssignedButton" tabindex="-1"
			        ng-click="attachAgeNote('Age assigned by curator based on morphological criteria supplied by authors.')" >Age Assigned</button>
		        </div>
                        </div>
		        <div class="col-sm-4" style="text-align:right;">
		        <button type="button" id="addSpecimenAccMGITagButton" tabindex="-1" 
			        ng-click="addSpecimenAccMGITag()" >Add Acc/MGI</button>
		        </div>
                        </div>
                </div>

		<div class="row">
        		<div class="col-sm-12" style="">
                	<div id="specimenTableWrapper" style="overflow-y:scroll;" tabindex="-1">
                	<table class="table table-bordered scrollable-menu" id="specimenTable">

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
			<th style="width:5em;"   ng-click="sortSpecimenTable('sequenceNum')">#
                        	<img src="/pwi/static/images/arrows.svg"
                        	style="width:12px; height: 12px; cursor: pointer;"
                                </img>
                        </th>
                	<th style="width:150px;" ng-click="sortSpecimenTable('specimenLabel')">Specimen Label
                        	<img src="/pwi/static/images/arrows.svg"
                        	style="width:12px; height: 12px; cursor: pointer;"
                                </img>
                        </th>
                	<th style="width:90px;" ng-click="sortSpecimenTable('genotypeAccID')">Genotype
                        	<img src="/pwi/static/images/arrows.svg"
                        	style="width:12px; height: 12px; cursor: pointer;"
                                </img>
                        </th>
                	<th style="width:15px;"  ng-click="sortSpecimenTable('agePrefix')">Age
                        	<img src="/pwi/static/images/arrows.svg"
                        	style="width:12px; height: 12px; cursor: pointer;"
                                </img>
                        </th>
                	<th style="width:25px;"  ng-click="sortSpecimenTable('ageStage')">Age Range
                        	<img src="/pwi/static/images/arrows.svg"
                        	style="width:12px; height: 12px; cursor: pointer;"
                                </img>
                        </th>
                	<th style="width:125px;"  ng-click="sortSpecimenTable('ageNote')">Age Note
                        	<img src="/pwi/static/images/arrows.svg"
                        	style="width:12px; height: 12px; cursor: pointer;"
                                </img>
                        </th>
                	<th style="width:15px;"  ng-click="sortSpecimenTable('sex')">Sex
                        	<img src="/pwi/static/images/arrows.svg"
                        	style="width:12px; height: 12px; cursor: pointer;"
                                </img>
                        </th>
                	<th style="width:15px;"  ng-click="sortSpecimenTable('fixationMethod')">Fixation
                        	<img src="/pwi/static/images/arrows.svg"
                        	style="width:12px; height: 12px; cursor: pointer;"
                                </img>
                        </th>
                	<th style="width:15px;"  ng-click="sortSpecimenTable('embeddingMethod')">Embedding
                        	<img src="/pwi/static/images/arrows.svg"
                        	style="width:12px; height: 12px; cursor: pointer;"
                                </img>
                        </th>
                	<th style="width:15px;"  ng-click="sortSpecimenTable('hybridization')">Hybridization
                        	<img src="/pwi/static/images/arrows.svg"
                        	style="width:12px; height: 12px; cursor: pointer;"
                                </img>
                        </th>
                	<th style="width:25px;">R</th>
                	<th style="width:150px;"  ng-click="sortSpecimenTable('specimenNote')">Notes
                        	<img src="/pwi/static/images/arrows.svg"
                        	style="width:12px; height: 12px; cursor: pointer;"
                                </img>
                        </th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.specimens track by $index"
				ng-click="selectSpecimenRow($index)"
				ng-class="{deleteRow:row.processStatus == 'd', selectedRow:$index==vm.selectedSpecimenIndex}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px;">
                	<span ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td style="width:4em;">
                        <span>
                        <input style="" class="form-control" type="number" min="1" max="999" tabindex="-1"
                                ng-model="row.sequenceNum"
                                ng-change="changeSpecimenRow($index)"
                                >
                        </span>
                        </td>

			<td style="width:125px;">
			<textarea class="form-control" type="text" id="specimenLabel-{{$index}}" style="width:100%; resize:horizontal;" 
				ng-model="row.specimenLabel"
				ng-change="changeSpecimenRow($index)"
				ng-blur="validateSpecimen(row, $index, 'specimenLabel')"
				></textarea>
			</td>

			<td style="width:90px;">
			<textarea class="form-control" type="text" id="genotypeAccID-{{$index}}" style="width:100%; resize:horizontal;"
				ng-model="row.genotypeAccID"
				ng-change="changeSpecimenRow($index)"
				ng-blur="validateGenotype(row, $index, 'genotypeAccID-')"
				></textarea>
			</td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="age-{{$index}}" 
				ng-options="choice.term as choice.term for choice in vm.ageLookup"
                        	ng-model="row.agePrefix"
				ng-change="changeSpecimenRow($index)"
				ng-blur="validateSpecimen(row, $index, 'agePrefix')"
				>
				<option value=""></option>
                        </select>
                        </td>

			<td style="width:25px;">
			<textarea class="form-control" type="text" id="ageStage-{{$index}}" style="width:100%; resize:horizontal;"
				ng-model="row.ageStage"
				ng-change="changeSpecimenRow($index)"
				ng-blur="validateSpecimen(row, $index, 'ageStage')"
				></textarea>
			</td>

			<td style="width:125px;">
			<textarea class="form-control" type="text" id="ageNote-{{$index}}" style="width:100%;"
				ng-model="row.ageNote"
				ng-change="changeSpecimenRow($index)"
				></textarea>
			</td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="gender-{{$index}}" 
				ng-options="choice.term as choice.term for choice in vm.genderLookup"
                        	ng-model="row.sex"
				ng-change="changeSpecimenRow($index)"
				ng-blur="validateSpecimen(row, $index, 'sex')"
				>
				<option value=""></option>
                        </select>
                        </td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="fixation-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.fixationLookup"
                        	ng-model="row.fixationKey"
				ng-change="changeSpecimenRow($index)"
				ng-blur="validateSpecimen(row, $index, 'fixationKey')"
				>
				<option value=""></option>
                        </select>
                        </td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="embedding-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.embeddingLookup"
                        	ng-model="row.embeddingKey"
				ng-change="changeSpecimenRow($index)"
				ng-blur="validateSpecimen(row, $index, 'embeddingKey')"
				>
				<option value=""></option>
                        </select>
                        </td>

                        <td style="width:15px;">
                        <select type=dropdown size="1" id="hybridization-{{$index}}" 
				ng-options="choice.term as choice.term for choice in vm.hybridizationLookup"
                        	ng-model="row.hybridization"
				ng-change="changeSpecimenRow($index)"
				ng-blur="validateSpecimen(row, $index, 'hybridization')"
				>
				<option value=""></option>
                        </select>
                        </td>

			<td style="width:25px;">
			<input class="form-control" type="text" id="sresults-{{$index}}" 
				ng-model="row.sresultsCount"
				ng-change="changeSpecimenRow($index)"
				>
			</td>

			<td style="width:150px;">
			<textarea class="form-control" id="specimenNote-{{$index}}" 
				ng-model="row.specimenNote"
				ng-change="changeSpecimenRow($index)"
				ng-keydown="setSpecimenNextRow($event, $index)"
				></textarea>
			</td>

			</tr>

			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-12 -->
		</div>
		<!-- end row -->

		<div class="row">
                        <button type="button" style="float:left;" tabindex="-1" id="addSpecimenButton" 
				ng-class=""
                                ng-click="addSpecimenRow()" >Add Row</button>
                        <button type="button" style="float:left;" tabindex="-1" id="insertSpecimenButton" 
				ng-class=""
                                ng-click="insertSpecimenRow()" >Insert Row</button>
                </div>

		<div class="row">
        		<div class="col-sm-3" style="">

		        <div class="row">
        		<div class="col-sm-12" style="">

		        <div id="imagePaneTableWrapper" style="overflow-y:scroll; max-height: 150px;" tabindex="-1">
		        <table class="table table-bordered scrollable-menu" id="imagePaneTable" style="">
			<!-- table header -->
                	<thead>
                	<tr>
			<th id="imagePaneCount">Image Panes: {{vm.imagePaneLookup.length}} result(s)
                        </th>
                        </tr>
                        </thead>
    		        <tbody>
			<tr ng-repeat="row in vm.imagePaneLookup" 
                                ng-mousedown="selectImagePane($index)"
				>
		    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{row.figurePaneLabel}}</td>
			</tr>
		        </tbody>
		        </table>
		        </div>

		        <div class="spacer"></div>
		        <div class="spacer"></div>
		        <div id="emapaTableWrapper" style="overflow-y:scroll; tabindex="-1">
		        <table class="table table-bordered scrollable-menu" id="emapaTable" style="">
			<!-- table header -->
                	<thead>
                	<tr>
			<th id="emapaCount">EMAPA Terms/Stages: {{vm.emapaLookup.length}} result(s)
                        </th>
                        </tr>
                        </thead>
    		        <tbody>
			<tr ng-repeat="row in vm.emapaLookup" 
                                ng-mousedown="selectEmapa($index)"
				>
		    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{row.displayIt}}</td>
			</tr>
		        </tbody>
		        </table>
		        </div>

                        </div>
                        </div>
                        </div>

        		<div class="col-sm-9" style="">

		        <div class="row">
        		<div class="col-sm-12" style="">

        		<div class="col-sm-12" style="">
        		<div class="col-sm-4" style="">
			<label class="label-static">Specimen Label = {{vm.apiDomain.specimens[vm.selectedSpecimenIndex].specimenLabel}}</label>
                        </div>
        		<div class="col-sm-4" style="">
			<label class="label-static" style="text-align:center;">Results Table</label>
                        </div>
                        </div>

                	<div id="sresultTableWrapper" style="overflow-y:scroll;" tabindex="-1" >
                	<table class="table table-bordered scrollable-menu" id="sresultTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
                	<th style="width:30px;">EMAPA</th>
                	<th style="width:50px;">Strength</th>
                	<th style="width:50px;">Pattern</th>
                	<th style="width:150px;">Image Panes</th>
                	<th style="width:500px;">Notes</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 

                	<tbody>

			<!-- table rows -->
                	<tr ng-repeat="sresult in vm.apiDomain.specimens[vm.selectedSpecimenIndex].sresults"
				ng-click="selectSpecimenResultRow($index)"
				ng-class="{selectedRow:$index==vm.selectedSpecimenResultIndex, deleteRow:sresult.processStatus == 'd'}"
                        	ng-class-odd="'oddRow'"
				>

                	</td>
                	<td>
                	<span id="deleteSpecimenResultRow-{{$index}}" ng-click="deleteSpecimenResult($index)">
                        	<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
                	</span>
                	</td>

			<td style="width:30px;">
			<input class="form-control" type="text" id="structure-{{$index}}" 
				ng-model="sresult.structuresCount"
				ng-change="changeSpecimenResultRow($index)"
				>
			</td>

                        <td>
                        <select type=dropdown size="1" id="strength-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.strengthLookup"
                        	ng-model="sresult.strengthKey"
				ng-change="changeSpecimenResultRow($index)"
				ng-blur="validateSresults(sresult, $index, 'strength')"
				>
				<option value=""></option>
                        </select>
                        </td>

                        <td>
                        <select type=dropdown size="1" id="pattern-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.patternLookup"
                        	ng-model="sresult.patternKey"
				ng-change="changeSpecimenResultRow($index)"
				ng-blur="validateSresults(sresult, $index, 'pattern')"
				>
				<option value=""></option>
                        </select>
                        </td>

			<td style="width:150px;">
			<textarea class="form-control" type="text" id="imagePane-{{$index}}"
				ng-model="sresult.imagePaneString"
				ng-change="changeSpecimenResultRow($index)"
				ng-blur="validateSresults(sresult, $index, 'imagePane')"
				></textarea>
			</td>

			<td style="width:500px;">
			<textarea class="form-control" id="resultNote-{{$index}}" style="width:100%;"
				ng-model="sresult.resultNote"
				ng-change="changeSpecimenResultRow($index)"
				ng-keydown="setSpecimenResultNextRow($event, $index)"
				></textarea>
			</td>

			</tr>

			</tbody>
			</table>
			</div>
			<!-- end table -->

        	        <div class="col-sm-12" style="">
                        <button type="button" style="float:left;" tabindex="-1" id="addSpecimenResultButton" 
				ng-class=""
                                ng-click="addSpecimenResultRow(vm.selectedSpecimenIndex)" >Add Row</button>
                        </div>

			</div>
                        </div>
                        </div>

		</div>
		<!-- end row -->

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-2 section" style="min-height:1500px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-mousedown="clear()" >Clear</button>
		<button type="button" id="modifyButton" tabindex="-1" ng-click="modify()" >Modify</button>
		<button type="button" id="createButton" tabindex="-1" ng-click="create()" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="delete()" >Delete</button>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="createdBy" tabindex="-1"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="creationDate" tabindex="-1"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="modifiedBy" tabindex="-1"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="modificationDate" tabindex="-1"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">MGI ID</label><br>
				<input class="form-control" id="accID" tabindex="-1" 
					ng-model="vm.apiDomain.accID" 
				/>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper" style="overflow-y:scroll;">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.assayDisplay}}</td>
				</tr>
			</tbody>
			</table>
			</div>

		        <div class="spacer"></div>
		        <div id="genotetypeTableWrapper" style="overflow-y:scroll; max-height: 400px;" tabindex="-1">
		        <table class="table table-bordered scrollable-menu" id="genotypeTable" style="">

			<!-- table header -->
                	<thead>
                	<tr>
			<th id="genotypeCount">Genotype: {{vm.genotypeLookup.length}} result(s)
                        </th>
                        </tr>
                        </thead>

    		        <tbody>
			<tr ng-repeat="row in vm.genotypeLookup" 
				ng-mousedown="selectGenotype($index)" 
				>
		    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{row.displayIt}}</td>
			</tr>
		        </tbody>
		        </table>
		        </div>

		</div>
		</div>

	</div>
</div>
</div>
</form>

<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" id="showApiDomainButton" tabindex="-1" ng-click="vm.hideApiDomain = !vm.hideApiDomain" 
					>Show JSON package/API domain only</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show JSON package/API domain + other data</button>			
			<div ng-hide="vm.hideApiDomain">
				<pre>{{ vm.apiDomain | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 

