{% extends "pageLayout.html" %}

{% block imports %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/probedetail/probedetail.css') }}">

	<script src="{{ url_for('static',filename='app/edit/probedetail/ProbeDetailService.js')}}"></script>
	<script src="{{ url_for('static',filename='app/edit/probedetail/ProbeDetailController.js')}}"></script>
	
	<script>
		var access_token = '{{config["ACCESS_TOKEN"]}}';
	</script>
	

{% endblock %}

{% block content %}

	<div id="wrapper" ng-controller="ProbeDetailController">
		<div ng-include="'{{ url_for('static',filename='app/edit/probedetail/probedetail_content.html')}}'"></div>
	</div>

	{% include "help/probedetail.html" %}

{% endblock %}

