{% extends "pageLayout.html" %}

{% block imports %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/assaysummary/assaysummary.css') }}">

	<script src="{{ url_for('static',filename='app/edit/assaysummary/AssaySummaryService.js')}}"></script>
	<script src="{{ url_for('static',filename='app/edit/assaysummary/AssaySummaryController.js')}}"></script>
	
	<script>
		var access_token = '{{config["ACCESS_TOKEN"]}}';
	</script>
	

{% endblock %}

{% block content %}

	<div id="wrapper" ng-controller="AssaySummaryController">
		<div ng-include="'{{ url_for('static',filename='app/edit/assaysummary/assaysummary_content.html')}}'"></div>
	</div>

        {% include "help/assaysummary.html" %}

{% endblock %}

