<title>Organisms</title>
<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="organismForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:800px;" >

		<div class="row topMargin">
		<div class="col-sm-6" style="">
		        <label class="label label-edit-search">Organism (latin)</label><br>
			<input type="text" class="form-control"  
				ng-model="vm.apiDomain.latinname" id="latinname"
			></input>

		</div>
		</div>

		<div class="row topMargin">
		<div class="col-sm-6" style="">
		        <label class="label label-edit-search">Common Name</label><br>
			<input type="text" class="form-control"  
				ng-model="vm.apiDomain.commonname" id="commonname"
			></input>

		</div>
		</div>

		<div class="spacer"></div>
		<div class="row">

        		<div class="col-sm-2 style="">
                	<div id="mgiTypeTableWrapper">
                	<table class="table table-bordered" id="mgiTypeTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
                	<th style="width:20px;">MGI Type</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 

                	<tbody>

			<!-- table rows -->
                	<tr ng-repeat="row in vm.apiDomain.mgiTypes"
				ng-click="selectMGIType($index)"
				ng-class="{selectedRow:$index==vm.selectedMGITypeIndex, deleteRow:row.processStatus == 'd'}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px">
                	<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
                	</span>
                	</td>


                        <td style="width:20px;">
                        <select type=dropdown size="1" id="mgitype-{{$index}}"
			        ng-options="choice.mgiTypeKey as choice.name for choice in vm.mgiTypeLookup"
                       	        ng-model="row.mgiTypeKey"
				ng-change="changeMGITypeRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

			</tr>
			</tbody>

			<tfoot>
			<tr>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addMGITypeButton" 
				ng-class=""
                                ng-click="addMGITypeRow($index)" >Add Row</button>
			</td>
			</tr>
			</tfoot>
			</table>
			</div>
			<!-- end table -->
			</div>

		</div>
		<!-- end row -->

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:800px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<!-- to avoid blur firing before clear(), call ng-mousedown() -->
		<button type="button" id="clearButton" tabindex="-1" ng-mousedown="clear()" >Clear</button>
		<button type="button" id="modifyButton" tabindex="-1" ng-click="modify()" >Modify</button>
                <button type="button" id="createButton" tabindex="-1" ng-click="create()" ng-disabled="vm.apiDomain.organismKey!=''&&vm.apiDomain.organismKey!=null" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="delete()" >Delete</button>
		
		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="createdBy" tabindex="-1"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="creationDate" tabindex="-1"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="modifiedBy" tabindex="-1"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="modificationDate" tabindex="-1"/>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.fullName}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>

	</div>
</div>
</div>
</form>

<!-- Java API JSON data dump -->
<show-model vm="vm" />
<ng-include src="PAGE_HELP_URL" />

