{% extends "standardMGI.html" %}
{% block content %}

<style>
h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20;
    margin-right: 20;
    font-weight: bold;
    color:blue;
}
</style>

<title>Image Summary</title>

<h1>Image Summary Results</h1>

{{ display_you_searched_for(form) }}

{% if molimages %}
<h2>Molecular Images</h2><hr>
{% for image in molimages %}
{% set thumbnail=image.thumbnail %}
<div style='min-height: 150px; width:100%;'>

  <div style='float:left; height:150px;'>
  <img src='{{config["PIXDB_URL"]}}{{thumbnail.pixnum}}' >
  </div>
  Fig Label: {{thumbnail.figurelabel}}
  <br>
  MGI ID: {{thumbnail.mgiid}}
  <br>
  X-Dimension: {{thumbnail.xdim}}
  <br>
  Y-Dimension:{{thumbnail.ydim}}
  <br>
  Caption: {{thumbnail.caption.text | ntc}}
  <br>

</div>
<br>
<div>

  <div style='float:left;'>
  <a href="{{ url_for('detail.imageDetailById', id=image.mgiid) }}">
    {{image.imagepane[0] | imagepane(maxWidth=400, maxHeight=400)}}
  </a>
  </div>

  Fig Label: {{image.figurelabel}}
  <br>
  MGI ID: {{image.mgiid}}
  <br>
  X-Dimension: {{image.xdim}}
  <br>
  Y-Dimension:{{image.ydim}}
  <br>
  Caption: {{image.caption.text | ntc}}
  <br>
  Copyright: {{image.copyright.text | ntc}}
  <br>

</div>
<br>
<hr style='clear: both;'>

{% endfor %}
{% endif %}

{% if phenoimages %}
<h2>Pheno Images</h2><hr>
{% for image in phenoimages %}
{% set thumbnail=image.thumbnail %}
<div style='min-height: 150px; width:100%;'>

  <div style='float:left; height:150px;'>
  <img src='{{config["PIXDB_URL"]}}{{thumbnail.pixnum}}' >
  </div>
  Fig Label: {{thumbnail.figurelabel}}
  <br>
  MGI ID: {{thumbnail.mgiid}}
  <br>
  X-Dimension: {{thumbnail.xdim}}
  <br>
  Y-Dimension:{{thumbnail.ydim}}
  <br>
  Caption: {{thumbnail.caption.text | ntc}}
  <br>

</div>
<br>
<div>

  <div style='float:left;'>
  <a href="{{ url_for('detail.imageDetailById', id=image.mgiid) }}">
    {{image.imagepane[0] | imagepane(maxWidth=400, maxHeight=400)}}
  </a>
  </div>

  Fig Label: {{image.figurelabel}}
  <br>
  MGI ID: {{image.mgiid}}
  <br>
  X-Dimension: {{image.xdim}}
  <br>
  Y-Dimension:{{image.ydim}}
  <br>
  Caption: {{image.caption.text | ntc}}
  <br>
  Copyright: {{image.copyright.text | ntc}}
  <br>

</div>
<br>
<hr style='clear: both;'>

{% endfor %}
{% endif %}

{% include "help/image_summary.html" %}

{% endblock %}