{% extends "standardMGI.html" %}
{% block content %}

<style>
h2 {
    font-size: 2.0em;
    padding-left: 30px;
    padding-top: 4px;
    padding-botton: 6px;
    font-weight: bold;
    color:#025;
    background:#eee;
}
.imageSummaryListData dt{
	float:left;
	width:130px;
	text-align:right;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.imageSummaryListData dt::after{
	content: ":"
}
.imageSummaryListData dd{
	margin-left:140px
}
.imageSummaryListData dd::after{
	/* add &nbsp; after each dd to maintain layout */
	content: "\00a0"
}

table.subObjectTable {
    margin: 4px;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	font-size:11px;
}
table.subObjectTable th {
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	padding: 5px;
	background-color: #dedede;
}
table.subObjectTable td {
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	padding: 5px;
	background-color: #ffffff;
}

</style>

<title>Image Summary for {{allele.symbol | super }}</title>

<h1>Image Summary Results</h1>

{{ display_you_searched_for(form) }}

Allele Symbol: {{allele.symbol | super }}
<br/>

{% if molimages %}
<h2>Molecular Images</h2><hr>
{% for image in molimages %}
{% set thumbnail=image.thumbnail %}
<div style='min-height: 140px; width:100%; '>

  <span style='float:left;'>
  <img src='{{config["PIXDB_URL"]}}{{thumbnail.pixnum}}'
    style='border-style: solid; border-width: 1px; border-color: #222;'>
  </span>

  <dl class="imageSummaryListData" style=''>
  <dt>Fig Label</dt>
  <dd>{{thumbnail.figurelabel}}&nbsp;</dd>
  <dt>MGI ID</dt>
  <dd>{{thumbnail.mgiid}}&nbsp;</dd>
  <dt>X-Dimension</dt>
  <dd>{{thumbnail.xdim}}&nbsp;</dd>
  <dt>Y-Dimension</dt>
  <dd>{{thumbnail.ydim}}&nbsp;</dd>
  <dt>Caption</dt>
  <dd>{{thumbnail.caption.text | ntc}}&nbsp;</dd>
  </dl>

</div>
<br>
<div>

  <span style='float:left; border-style: solid; border-width: 1px; border-color: #222; margin:5px'>
  <a href="{{ url_for('detail.imageDetailById', id=image.mgiid) }}">
    {{image.imagepanes[0] | imagepane(maxWidth=400, maxHeight=400)}}
  </a>
  </span>

  <dl class="imageSummaryListData" style=''>
  <dt>Fig Label</dt>
  <dd>{{image.figurelabel}}&nbsp;</dd>
  <dt>MGI ID</dt>
  <dd>{{image.mgiid}}&nbsp;</dd>
  <dt>X-Dimension</dt>
  <dd>{{image.xdim}}&nbsp;</dd>
  <dt>Y-Dimension</dt>
  <dd>{{image.ydim}}&nbsp;</dd>
  <dt>Caption</dt>
  <dd>{{image.caption.text | ntc}}&nbsp;</dd>
  <dt>Copyright</dt>
  <dd>{{image.copyright.text | ntc}}&nbsp;</dd>
  <dt>Reference</dt>
  <dd>
  	<a href="{{ url_for('summary.referenceSummary', accids=image.reference.jnumid) }}">
  	  {{image.reference.jnumid}}
    </a>
  </dd>


  <dt>Allele Associations</dt>
  <dd>

  <table class='subObjectTable' style=''>
  <tr>
    <th>Figure Label</th>
    <th>Symbol</th>
    <th>MGI:ID</th>
  </tr>

  {% for imagePane in image.imagepanes %}
    {% for imagePaneAssoc in imagePane.imagePaneAlleleAssocs %}

    <tr>
      <td>{{imagePane.figurelabel}} </td>
      <td>{{imagePaneAssoc.allele.symbol | super}} </td>
      <td>{{imagePaneAssoc.allele.mgiid}} </td>
    </tr>

    {% endfor %}
  {% endfor %}
  </table>
  </dd>

  </dl>

</div>
<br>
<hr style='clear: both;'>

{% endfor %}
<!-- add spacer if we had molecular images -->
<div style='height:30px;'></div>
{% endif %}

{% if phenoimagesbyallele %}
<h2>Pheno Images By Allele</h2><hr>
{% for image in phenoimagesbyallele %}
{% set thumbnail=image.thumbnail %}
<div style='min-height: 140px; width:100%; '>

  <span style='float:left; min-height:120px;'>
  <img src='{{config["PIXDB_URL"]}}{{thumbnail.pixnum}}'
    style='border-style: solid; border-width: 1px; border-color: #222;'>
  </span>

  <dl class="imageSummaryListData" style=''>
  <dt>Fig Label</dt>
  <dd>{{thumbnail.figurelabel}}&nbsp;</dd>
  <dt>MGI ID</dt>
  <dd>{{thumbnail.mgiid}}&nbsp;</dd>
  <dt>X-Dimension</dt>
  <dd>{{thumbnail.xdim}}&nbsp;</dd>
  <dt>Y-Dimension</dt>
  <dd>{{thumbnail.ydim}}&nbsp;</dd>
  <dt>Caption</dt>
  <dd>{{thumbnail.caption.text | ntc }}&nbsp;</dd>
  </dl>

</div>
<br>
<div>

  <!-- Ensure the floated block is tall enough that the data doe -->
  <!-- Wrap the image in a border (image tag generation inside template tag -->
  <span style='float:left; border-style: solid; border-width: 1px; border-color: #222; margin:5px'>
  <a href="{{ url_for('detail.imageDetailById', id=image.mgiid) }}">
    {{image.imagepanes[0] | imagepane(maxWidth=400, maxHeight=400)}}
  </a>
  </span>

  <dl class="imageSummaryListData" style=''>
  <dt>Fig Label</dt>
  <dd>{{image.figurelabel}}&nbsp;</dd>
  <dt>MGI ID</dt>
  <dd>{{image.mgiid}}&nbsp;</dd>
  <dt>X-Dimension</dt>
  <dd>{{image.xdim}}&nbsp;</dd>
  <dt>Y-Dimension</dt>
  <dd>{{image.ydim}}&nbsp;</dd>
  <dt>Caption</dt>
  <dd>{{image.caption.text | ntc}}&nbsp;</dd>
  <dt>Copyright</dt>
  <dd>{{image.copyright.text | ntc}}&nbsp;</dd>
  <dt>Reference</dt>
  <dd>
  	<a href="{{ url_for('summary.referenceSummary', accids=image.reference.jnumid) }}">
  	  {{image.reference.jnumid}}
    </a>
  </dd>
  <dt>Allele&nbsp;<br/>Associations</dt>
  <dd>

  <table class='subObjectTable' style=''>
  <tr>
    <th>Figure Label</th>
    <th>Symbol</th>
    <th>MGI:ID</th>
  </tr>

  {% for imagePane in image.imagepanes %}
    {% for imagePaneAssoc in imagePane.imagePaneAlleleAssocs %}

    <tr>
      <td>{{imagePane.figurelabel}}</td>
      <td>{{imagePaneAssoc.allele.symbol | super}}</td>
      <td>{{imagePaneAssoc.allele.mgiid}}</td>
    </tr>

    {% endfor %}
  {% endfor %}

  </table>
  </dd>

  <dt>Genotype&nbsp;<br/>Associations</dt>
  <dd>

  <table class='subObjectTable' style=''>
  <tr>
    <th>Allelic Composition</th>
    <th>Genetic Background</th>
  </tr>

  {% for imagePane in image.imagepanes %}
    {% for imagePaneAssoc in imagePane.imagePaneGenotypeAssocs %}

    <tr>
      <td>{{imagePaneAssoc.genotype.combination1_cache | super}}</td>
      <td>{{imagePaneAssoc.genotype.geneticbackground | super}}</td>
    </tr>

    {% endfor %}
  {% endfor %}
  </table>
  </dd>

  </dl>

</div>
<br>

<hr style='clear: both;'>

{% endfor %}
{% endif %}


{% if phenoimagesbygenotype %}
<h2>Pheno Images By Genotype</h2><hr>
{% for image in phenoimagesbygenotype %}
{% set thumbnail=image.thumbnail %}
<div style='min-height: 140px; width:100%; '>

  <span style='float:left; min-height:120px;'>
  <img src='{{config["PIXDB_URL"]}}{{thumbnail.pixnum}}'
    style='border-style: solid; border-width: 1px; border-color: #222;'>
  </span>

  <dl class="imageSummaryListData" style=''>
  <dt>Fig Label</dt>
  <dd>{{thumbnail.figurelabel}}&nbsp;</dd>
  <dt>MGI ID</dt>
  <dd>{{thumbnail.mgiid}}&nbsp;</dd>
  <dt>X-Dimension</dt>
  <dd>{{thumbnail.xdim}}&nbsp;</dd>
  <dt>Y-Dimension</dt>
  <dd>{{thumbnail.ydim}}&nbsp;</dd>
  <dt>Caption</dt>
  <dd>{{thumbnail.caption.text | ntc }}&nbsp;</dd>
  </dl>

</div>
<br>
<div>

  <!-- Ensure the floated block is tall enough that the data doe -->
  <!-- Wrap the image in a border (image tag generation inside template tag -->
  <span style='float:left; border-style: solid; border-width: 1px; border-color: #222; margin:5px'>
  <a href="{{ url_for('detail.imageDetailById', id=image.mgiid) }}">
    {{image.imagepanes[0] | imagepane(maxWidth=400, maxHeight=400)}}
  </a>
  </span>

  <dl class="imageSummaryListData" style=''>
  <dt>Fig Label</dt>
  <dd>{{image.figurelabel}}&nbsp;</dd>
  <dt>MGI ID</dt>
  <dd>{{image.mgiid}}&nbsp;</dd>
  <dt>X-Dimension</dt>
  <dd>{{image.xdim}}&nbsp;</dd>
  <dt>Y-Dimension</dt>
  <dd>{{image.ydim}}&nbsp;</dd>
  <dt>Caption</dt>
  <dd>{{image.caption.text | ntc}}&nbsp;</dd>
  <dt>Copyright</dt>
  <dd>{{image.copyright.text | ntc}}&nbsp;</dd>
  <dt>Reference</dt>
  <dd>
  	<a href="{{ url_for('summary.referenceSummary', accids=image.reference.jnumid) }}">
  	  {{image.reference.jnumid}}
    </a>
  </dd>
  <dt>Allele Associations</dt>
  <dd>

  <table class='subObjectTable' style=''>
  <tr>
    <th>Figure Label</th>
    <th>Symbol</th>
    <th>MGI:ID</th>
  </tr>

  {% for imagePane in image.imagepanes %}
    {% for imagePaneAssoc in imagePane.imagePaneAlleleAssocs %}

    <tr>
      <td>{{imagePane.figurelabel}}</td>
      <td>{{imagePaneAssoc.allele.symbol | super}}</td>
      <td>{{imagePaneAssoc.allele.mgiid}}</td>
    </tr>

    {% endfor %}
  {% endfor %}
  </table>
  </dd>

  <dt>Genotype&nbsp;<br/>Associations</dt>
  <dd>

  <table class='subObjectTable' style=''>
  <tr>
    <th>Allelic Composition</th>
    <th>Genetic Background</th>
  </tr>

  {% for imagePane in image.imagepanes %}
    {% for imagePaneAssoc in imagePane.imagePaneGenotypeAssocs %}

    <tr>
      <td>{{imagePaneAssoc.genotype.combination1_cache | super}}</td>
      <td>{{imagePaneAssoc.genotype.geneticbackground | super}}</td>
    </tr>

    {% endfor %}
  {% endfor %}
  </table>
  </dd>

  </dl>

</div>
<br>

<hr style='clear: both;'>

{% endfor %}
{% endif %}


{% include "help/image_summary.html" %}

{% endblock %}