{# sub template for probe summary table #}
{% if probes %}{{probes | length}} rows.{% endif %}
<table class="dataTable">
{% for probe in probes %}

{% if loop.first %}
  <tr>
  <th>Probe ID</th>
  <th>Name</th>
  <th>Type</th>
  <th>Markers</th>
  <th>Marker IDs</th>
  <th>Aliases</th>
  <th>Organism</th>
  <th>Parent ID</th>
  <th>Parent Name</th>
  <th>J#s</th>
  </tr>
{% endif %}

  <tr class="{{ loop.cycle('row1','row2') }}">
    <td>
      <a href="{{ url_for('detail.probeDetailById', id=probe.mgiid) }}">
        {{probe.mgiid}}
      </a>
    </td>
    
    <td>{{probe.name | e}}</td>
    
    <td>{{probe.segmenttype}}</td>
    
    <td>
      {% for marker in probe.markers_with_putatives %}
        {% if not loop.first %} | {% endif %}
        {{marker.symbol}} {% if marker.is_putative %}(PUTATIVE){% endif %}
      {% endfor %}
    </td>
    
    <td>
      {% for marker in probe.markers_with_putatives %}
        {% if not loop.first %} | {% endif %}
        <a href="{{ marker | marker_url }}">
          {{marker.mgiid}}
        </a>
      {% endfor %}
    </td>
    
    <td>
      {% for alias in probe.aliases %}
        {% if not loop.first %} | {% endif %}
        {{alias.alias}}
      {% endfor %}
    </td>
    
    <td>{{probe.source.organism}}</td>
    
    <td>
      {% if probe.derivedfrom_probe %}
        <a href="{{ url_for('detail.probeDetailById', id=probe.derivedfrom_probe.mgiid) }}">
	      {{probe.derivedfrom_probe.mgiid}}
	    </a>
	  {% endif %}
	</td>
	
	<td>
	  {{probe.derivedfrom_probe.name}}
	</td>
	
	<td>
	  {% for reference in probe.references %}
        {% if not loop.first %} | {% endif %}
        <a href="{{ url_for('summary.referenceSummary', accids=reference.jnumid) }}">
          {{reference.jnumid}}
        </a>
      {% endfor %}
	</td>
  </tr>

{% else %}
No Probes Found
{% endfor %}

</table>

{% if probes %}{{probes | length}} rows.{% endif %}
