{# sub template for probe summary table #}
<table class="dataTable">
{% for probe in probes %}

{% if loop.first %}
  <tr>
  <th>MGI ID</th>
  <th>Name</th>
  <th>Segment Type</th>
  <th>Markers</th>
  <th>Chromsome</th>
  </tr>
{% endif %}

  <tr class="{{ loop.cycle('row1','row2') }}">
    <td>
      <a href="{{ url_for('detail.probeDetailByID', id=probe.mgiid) }}">
        {{probe.mgiid}}
      </a>
    </td>
    <td>{{probe.name | e}}</td>
    <td>{{probe.segmenttype}}</td>
    <td>
      {% for symbol in probe.marker_symbols_with_putatives %}
        {% if not loop.first %}, {% endif %}
        {{symbol}}
      {% endfor %}
    </td>
    <td>{{probe.chromosome}}</td>
  </tr>

{% else %}
No Probes Found
{% endfor %}

</table>

{% if probes %}{{probes | length}} rows.{% endif %}