<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="actlogdbForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:800px;">

		<div class="row topMargin">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Name</label><br>
				<input class="form-control"  autofocus id="name" name="name"
				    ng-model="vm.apiDomain.name"
				>
			</div>

		</div>
	
		<div class="spacer"></div>

		<div class="row ">
        		<div class="col-sm-12" style="">
				<label class="label label-edit-search">Description</label><br>
                                <input class="form-control"
                                        ng-model="vm.apiDomain.description" id="description"
				>
                        </div>
		</div>
                <div class="spacer"></div>
		
		<!-- experimenting with organism pull down - code borrowed from mppannot -->
		<div class="row ">
		    <div class="col-sm-3" style="">
		    <label class="label label-edit-search">Organism</label><br>
		    <select class="myDropdown" type=dropdown size="1" id="organism" 
			    ng-options="choice._organism_key as choice.commonname for choice in vm.organismLookup"
			    ng-model="vm.apiDomain.organismKey"
			    >
			    <option value="">Search All</option>
		    </select>
		    </div>
		</div>

		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="col-sm-12" style="">
		    <p><b>Within the URL, use a place holder of '@@@@' to designate where the Accession number needs to be substituted</b></p>
		 </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
		<p align="center"><b>Actual Databases</b></p>
                <div class="spacer"></div>

                <div class="row ">
                        <div class="col-sm-12 sectionDivider topPadding bottomPadding" style="">
                        <div id="actDbTableWrapper" >
			<!-- Start actual db table -->
                        <table class="table table-bordered scrollable-menu" id="actDbTable" >

                        <!-- START adb table header -->
                        <thead>
                        <tr>
                        <th width="2%"></th>
                        <th width="20%">Name</th>
                        <th width="55%">URL</th>
                        <th width="11%">Active?</th>
                        <th width="11%">Multiple?</th>
                        <th width="11%">Delimiter</th>
                        </tr>
                        </thead>
                        <!-- START table body -->
                        <!-- if deleting row, turn it orange -->
                        <tbody>

                        <!-- table rows -->
                        <tr ng-repeat="adb in vm.apiDomain.actualDBs track by $index"
                                ng-click="selectAdb($index)"
                                ng-class="{
                                        selectedRow:$index==vm.selectedAdbIndex,
                                        deleteRow:adb.actualDBKey != '' && adb.name == ''
                                        }"
                                ng-class-odd="'oddRow'"
                                >

                        <td>
                        <span id="deleteRow-{{$index}}" ng-click="deleteAdbRow($index)">
                                <img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
                        </span>
                        </td>


                        <td style="width:200px;">
                        <input class="form-control" type="text" id="actualDBName-{{$index}}"
                                ng-model="adb.name"
                                ng-change="changeAdbRow($index)"
                                ng-blur="selectAdb($index + 1)"
                                >
                        </td>

                        <td style="width:200px;">
                        <input class="form-control" type="text" id="url-{{$index}}"
                                ng-model="adb.url"
                                ng-change="changeAdbRow($index)"
                                ng-blur="selectAdb($index + 1)"
                                >
                        </td>

                        <td>
                        <select class="myDropdown" type=dropdown size="1" id="active-{{$index}}" 
                                ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                                ng-model="adb.active"
                                ng-change="changeAdbRow($index)"
                                >
                                <option value="">Search All</option>
                        </select>
                        </td>

			<td>
			<select class="myDropdown" type=dropdown size="1" id="multiple-{{$index}}"
                                ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                                ng-model="adb.allowsMultiple"
                                ng-change="changeAdbRow($index)"
                                >
                                <option value="">Search All</option>
                        </select>
                        </td>

                        <td style="width:200px;">
                        <input class="form-control" type="text" id="delimiter-{{$index}}"
                                ng-model="adb.delimiter"
                                ng-change="changeAdbRow($index)"
                                ng-blur="selectAdb($index + 1)"
                                >
                        </td>

                        </tr>
                        </tbody> <!-- END adb table body -->
                        </table>
			</div> 
                        <!-- END adb table -->
                        </div>
                        <!-- end col-sm-10 -->
                </div>
                <!-- end row -->

		<!-- end top main panel -->


	</div>
	<!-- main class -->
	    <!-- main right panel -->
	    <div class="col-sm-3 section" style="min-height:850px;">
		    <button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		    <button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		    <button type="button" id="createLdbButton" tabindex="-1" ng-click="createLDB()">Add</button>	
		    <button type="button" id="updateLdbButton" tabindex="-1" ng-click="modifyLDB()">Modify</button>
		    <button type="button" id="deleteLdbButton" tabindex="-1" ng-click="deleteLDB()">Delete</button>
		<div id="totalCount"># of records: {{vm.total_count}}</div>
		<div class="spacer"></div>
                <div class="row topMargin">
                        <div class="col-sm-6" style="">
                                <label class="label label-search">Creation Date</label>
                                <input class="form-control" ng-model="vm.apiDomain.creation_date" id="ldbCreationDate" name="ldbCreationDate"/>
                        </div>

                        <div class="col-sm-6" style="">
				<label class="label label-search">Modification Date</label>
                                <input class="form-control" ng-model="vm.apiDomain.modification_date" id="ldbModificationDate" name="ldbModificationDate"/>
                        </div>
                </div>

		<div class="row ">
		<div class="col-sm-12" style="">
			<div class="spacer"></div>
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody> 
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.name}}</td>
				</tr> 
			</tbody>
			</table>
			</div>
		</div>
		</div>
		
	</div>

</div>
</div>
</form>

<!-- Java API JSON data dump -->

<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" id="showApiDomainButton" tabindex="-1" ng-click="vm.hideApiDomain = !vm.hideApiDomain" 
					>Show JSON package/API domain only</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show JSON package/API domain + other data</button>			
			<div ng-hide="vm.hideApiDomain">
				<pre>{{ vm.apiDomain | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 

<script type="text/javascript">
	// This JavaScript will execute *after* content injection.
	var input = document.getElementById("name");
	input.focus();
</script>

