<title>Antibody Module</title>
<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="antibodyForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:700px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:900px;">
        
                <form id="antibodyTopForm" class="form-horizontal mousetrap">
                
		<div class="row topMargin">
                        <div class="col-sm-9" style="">
                        <label class="label label-edit-search">Name</label><br>
                        <input type="text" class="form-control" 
                                ng-model="vm.apiDomain.antibodyName" id="antibodyName" 
                        >
		        </div>

                   	<div class="col-sm-3" style="">
                    	<label class="label label-view-only">Has Expression?</label><br>
                    	<select type=dropdown size="1" id="hasExpression" tabindex="-1"
                            	ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                            	ng-model="vm.apiDomain.hasExpression"
                            	>
                            	<option value=""></option>
                    	</select>
                    	</div>

                </div>
                <!-- end row -->

               <div class="spacer"></div>
               <div class="row">
                    <div class="col-sm-3" style="">
                    <label class="label label-edit-search">Antibody Type</label><br>
                    <select type=dropdown size="1" id="antibodyType" 
                            ng-options="choice.termKey as choice.term for choice in vm.typeLookup"
                            ng-model="vm.apiDomain.antibodyTypeKey"
                            >
                            <option value="">Search All</option>
                    </select>
                    </div>

                    <div class="col-sm-3" style="">
                    <label class="label label-edit-search">Antibody Class</label><br>
                    <select type=dropdown size="1" id="antibodyClass"
                            ng-options="choice.termKey as choice.term for choice in vm.classLookup"
                            ng-model="vm.apiDomain.antibodyClassKey"
                            >
                            <option value="">Search All</option>
                    </select>
                    </div>
                
                    <div class="col-sm-3" style="">
                    <label class="label label-edit-search">Antibody Organism</label><br>
                    <select type=dropdown size="1" id="antibodyOrganism" 
                            ng-options="choice.organismKey as choice.commonname for choice in vm.antibodyOrganismLookup"
                            ng-model="vm.apiDomain.organismKey"
                            >
                            <option value="">Search All</option>
                    </select>
                    </div>


                </div>
                <!-- end row -->

                <div class="spacer"></div>
		<div class="row sectionDivider topPadding bottomPadding">
                <div class="spacer"></div>
                    	<div class="col-sm-2" style="">
                    	<label class="label label-edit-search">Antigen Region Covered Note</label><br>
                    	<select type=dropdown size="1" id="regionCoveredNote"
                            	ng-options="choice.term as choice.term for choice in vm.regionCoveredLookup"
                            	ng-model="vm.attachNote"
				ng-change="attachRegionCoveredNote()"
                            	>
                    	</select>
                	</div>
                        <div class="col-sm-10" style="">
                            <label class="label label-edit-search"">Antigen Region Covered</label><br>
                            <textarea type="text" class="form-control" rows=2
                                    ng-model="vm.apiDomain.regionCovered" id="regionCovered"
                            >
                        </div>
                </div>
                <!-- end row -->

                <div class="spacer"></div>
                <div class="row">
                    <div class="col-sm-12" style="">
                    <label class="label label-edit-search"">Antigen Notes</label>
		    <img id="clearAntigenButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearAntigenNote(vm.apiDomain.antigenNote)">
                    <textarea class="form-control" rows=3 
                        ng-model="vm.apiDomain.antigenNote" id="antigenNote" ></textarea>
                    </div>
                </div>
		<!-- end row -->

                <div class="spacer"></div>
                <div class="row">
                    <div class="col-sm-4" style="">
                    <label class="label label-edit-search"">Antigen Organism</label><br>
                    <select type=dropdown size="1" id="antigenOrganism" 
                            ng-options="choice.organismKey as choice.commonname for choice in vm.antigenOrganismLookup"
                            ng-model="vm.apiDomain.probeSource.organismKey"
                            >
                            <option value="">Search All</option>
                    </select>
                    </div>
                </div>
                <!-- end row -->

                <div class="spacer"></div>
                <div class="row">
                        <div class="col-sm-6" style="">
                            <label class="label label-edit-search"">Strain</label><br>
                            <input type="text" class="form-control" id="strain" 
                                    ng-model="vm.apiDomain.probeSource.strain" 
                                    ng-blur="validateStrain()" >
                        </div>

                        <div class="col-sm-6" style="">
                            <label class="label label-edit-search"">Cell Line</label><br>
                            <input type="text" class="form-control" id="cellLine" 
                                    ng-model="vm.apiDomain.probeSource.cellLine" 
                                    ng-blur="validateCellLine()" >

                        </div>
                </div>
                <!-- end row -->

                <div class="spacer"></div>
                <div class="row">
                        <div class="col-sm-6" style="">
                            <label class="label label-edit-search"">Tissue</label><br>
                            <input type="text" class="form-control" id="tissue" 
                                    ng-model="vm.apiDomain.probeSource.tissue" 
                                    ng-blur="validateTissue()">
                        </div>

                        <div class="col-sm-6" style="">
                            <label class="label label-edit-search"">Tissue Description</label><br>
                            <input type="text" class="form-control" id="description" 
                                    ng-model="vm.apiDomain.probeSource.description" > 
                        </div>
                </div>
                <!-- end row -->

               <div class="spacer"></div>
                <div class="row">
                    <div class="col-sm-3" style="">
                    <label class="label label-edit-search"">Age Prefix</label><br>
                    <select type=dropdown size="1" id="age" 
                            ng-options="choice.term as choice.term for choice in vm.ageLookup"
                            ng-model="vm.apiDomain.probeSource.agePrefix"
                            >
                            <option value="">Search All</option>
                    </select>
                    </div>

		    <div class="col-sm-2" style="">
                        <label class="label label-edit-search"">Age Range</label><br>
                        <input type="text" class="form-control" 
                                ng-model="vm.apiDomain.probeSource.ageStage" id="ageStage"
                        >
		    </div>

                    <div class="col-sm-3" style="">
                    <label class="label label-edit-search"">Gender</label><br>
                    <select type=dropdown size="1" id="gender" 
                            ng-options="choice.termKey as choice.term for choice in vm.genderLookup"
                            ng-model="vm.apiDomain.probeSource.genderKey"
                            >
                            <option value="">Search All</option>
                    </select>
                    </div>
                </div>
                <!-- end row -->

                <div class="spacer"></div>
		<div class="row sectionDivider topPadding bottomPadding">
                <div class="spacer"></div>
                    <div class="col-sm-5" style="">
                    <label class="label label-view-only">Companies (for Notes)</label><br>
                    <input type="text" class="form-control" id="antibodyCompanyNote"
                            ng-model="vm.antibodyCompanySave1"
                            ng-blur="getAntibodyCompanyNote()"
                            >
                    </div>
                    <div class="col-sm-5" style="">
                    <label class="label label-view-only">Companies (for Searching)</label><br>
                    <input type="text" class="form-control" id="antibodyCompanySearch"
                            ng-model="vm.antibodyCompanySave2"
                            ng-blur="getAntibodyCompanySearch()"
                            >
                    </div>
                </div>
                <!-- end row -->

		<div class="spacer"></div>
		<div class="row">
                    <div class="col-sm-12" style="">
                    <label class="label label-edit-search">Antibody Notes</label>
		    <img id="clearAntibodyButton" src="/pwi/static/images/clear.png" width=15 height=15 ng-click="clearAntibodyNote(vm.apiDomain.antibodyNote)">
                    <textarea class="form-control" rows=3 
                        ng-model="vm.apiDomain.antibodyNote" id="antibodyNote" ></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="">
                	<button type="button" id="obtainedButton" class="copyOver" tabindex="-1"
                    		ng-click="getAntibodyObtained()" >Antibody Obtained</button>
                	<label class="label label-edit-search">Other Antibody Note</label>
                	<select type=dropdown size="1" id="otherAntibodyNote"
                    		ng-options="choice.term as choice.term for choice in vm.otherAntibodyLookup"
                    		ng-model="vm.attachNote"
					ng-change="attachOtherAntibodyNote()"
                	>
                	</select>
                    </div>
                </div>
                <!-- end row -->

                <!-- marker table -->
		<div class="spacer"></div>
		<div class="row sectionDivider topPadding bottomPadding">
                <div class="col-sm-8" style=""> 
                	<div class="row">
                        	<div class="col-sm-12" style="">
                        	<button type="button" style="float:left;" tabindex="-1" id="addMarkeRow"
                                	ng-class=""
                                	ng-click="addMarkerRow()" >Add Row</button>
                        	</div>
                	</div>
                <div id="markerTableWrapper" overflow-y: scroll;" >
                <table class="table table-bordered scrollable-menu" id="markerTable" style="">
                <thead>
                <tr>
                <th style="width:5px;"></th>
                <th style="width:100px;">Marker</th>
                <th style="width:50px;">Chr</th>
                <th style="width:50px;">Antibody/Marker</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in vm.apiDomain.markers"
                        ng-click=""
                        ng-class-odd="'oddRow'"
                        ng-class="{deleteRow:vm.apiDomain.markers[$index].processStatus == 'd'}"
                        >
                <td style="width:5px;">
                <span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                <img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
                </span>
                </td>

                <td style="width:100px;">
                <input class="form-control" type="text" id="markerSymbol-{{$index}}" 
                        ng-model="row.markerSymbol"
                        ng-change="changeMarkerRow($index)"
                        ng-blur="validateMarker(row, $index, 'markerSymbol-')"
                >
                </td>
                <td style="width:50px;">
                <input class="form-control" id="chromosome-{{$index}}" tabindex="-1"
                        ng-model="row.chromosome"
                >
                </td>
                <td style="width:50px;">
                    <div class="col-sm-3" ng-if="vm.results.length>0">
                        <div class="gridButtonsWrapper">
                          <span style="position: left; bottom: -1;">
                          <img style="position:absolute;" id="mrkAntibodyButton" class="externalLink"
                              src="/pwi/static/images/link_out.png" width=20 height=20
                                  ng-click="mrkAntibodyLink(row.markerMGIID)" >
                          </span>
                        </div>
                    </div>
                </td>

                </tr>
                </tbody>
                </table>
        	</div>
        	</div>
        	</div>
        <!-- end marker table -->

        <!-- begin reference table -->
	<div class="spacer"></div>
        <div class="row">
        <div class="col-sm-8" style=""> 
                <div class="row">
                        <div class="col-sm-6" style="">
                        <button type="button" style="float:left;" tabindex="-1" id="addreferenceRow-{{$index}}"
                                ng-class=""
                                ng-click="addRefRow()" >Add Row</button>
			</div>
                   	<div class="col-sm-2" style="float:right;">
                        <label class="label label-view-only">References</label>{{vm.refCount}}
		        </div>
                </div>
                <div id="referenceTableWrapper" overflow-y: scroll;" >
                <table class="table table-bordered scrollable-menu" id="referenceTable" style="">
                <thead>
                <tr>
                <th style="width:10px;"></th>
                <th style="width:100px;">Reference Type</th>
                <th style="width:300px;">J#</th>
                <th style="width:500px;">Citation</th>
                </tr>
                </thead>

                <!-- table body -->
                <!-- if deleting row, turn it orange -->
                <!-- if adding new row, turn it lime -->

               <tbody>
                <tr ng-repeat="row in vm.apiDomain.refAssocs"
                        ng-click=""
                        ng-class-odd="'oddRow'"
                        ng-class="{deleteRow:vm.apiDomain.refAssocs[$index].processStatus == 'd'}"
                >
                <td style="width:10px;">
                <span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                <img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
                </span>
                </td>

                <td style="width:50px;">
                <select type=dropdown size="1" id="refAssocType" tabindex="-1"
                        ng-options="choice.refAssocTypeKey as choice.assocType for choice in vm.refAssocTypeLookup"
                        ng-model="row.refAssocTypeKey"
                        ng-change="changeRefRow($index)"
                        >
                        <option value="">Search All</option>
                </select>
                </td>

                <td style="width:50px;">
                <input class="form-control" id="jnumid_ref-{{$index}}"
                        ng-model="row.jnumid"
                        ng-change="changeRefRow($index)"
                        ng-blur="validateJnum(row, $index, 'jnumid_ref-')"
                >
                </td>

                 <td style="width:300px;">
                <input class="form-control" id="short_citation-{{$index}}" tabindex="-1"
                        ng-model="row.short_citation"
                >
                </td>

                </tr>
                </tbody>

                </table>
        	</div>
        </div>
        </div>
        <!-- end reference table -->

        <!-- begin alias table -->
	<div class="spacer"></div>
        <div class="row">
        <div class="col-sm-8" style=""> 
                <div class="row">
                        <div class="col-sm-12" style="">
                        <button type="button" style="float:left;" tabindex="-1" id="addaliasRow-{{$index}}"
                                ng-class=""
                                ng-click="addAliasRow()" >Add Row</button>
                        </div>
                </div>
        	<div id="aliasTableWrapper" overflow-y: scroll;" >
                <table class="table table-bordered scrollable-menu" id="aliasTable" style="">
                <thead>
                <tr>
                <th style="width:10px;"></th>
                <th style="width:50px;">Alias</th>
                <th style="width:50px;">J#</th>
                <th style="width:50px;">Citation</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="row in vm.apiDomain.aliases"
                         ng-click=""
                         ng-class-odd="'oddRow'"
                         ng-class="{deleteRow:vm.apiDomain.aliases[$index].processStatus == 'd'}"
                         >
                 <td style="width:10px;">
                 <span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                 <img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
                 </span>
                 </td>

                 <td style="width:50px;">
                 <input class="form-control" type="text" id="alias-{{$index}}"
                         ng-model="row.alias"
                         ng-change="changeAliasRow($index)"
                 >
                 </td>

                 <td style="width:50px;">
                 <input class="form-control" id="jnumid-{{$index}}"
                         ng-model="row.jnumid"
                         ng-change="changeAliasRow($index)"
                         ng-blur="validateJnum(row, $index, 'jnumid-')"
                 >
                 </td>

                  <td style="width:50px;">
                 <input class="form-control" id="short_citation-{{$index}}" tabindex="-1"
                         ng-model="row.short_citation"
                 >
                 </td>

                 </tr>
                 </tbody>

                 </table>
        </div>
        </div>
        </div>
        <!-- end alias table -->

        </div>

	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:900px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		<button type="button" id="updateButton" tabindex="-1" ng-click="update()" >Modify</button>
                <button type="button" id="createButton" tabindex="-1" ng-click="create()" ng-disabled="vm.apiDomain.antibodyKey!=''&&vm.apiDomain.antibodyKey!=null" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="deleteAntibody()" >Delete</button>
		
		<div class="spacer"></div>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="createdBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="creationDate"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="modifiedBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="modificationDate"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">MGI ID</label><br>
				<input class="form-control" ng-model="vm.apiDomain.accID" id="accID" tab-to="antibodyName"/>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton" tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton" tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton" tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
                                        ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.antibodyName}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>
	</div>

</div>
</div>
</form>

<!-- Java API JSON data dump -->
<show-model vm="vm" />

<script type="text/javascript">
	document.getElementById("antibodyName").focus();
</script>
<ng-include src="PAGE_HELP_URL" />
