<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="goannotForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:850px;" >

		<div class="row topMargin">
			<div class="col-sm-2" style="">
				<label class="label label-search">MGI ID</label><br>
				<input type="text" class="form-control"  
					ng-blur="searchAccId()"
					ng-model="vm.apiDomain.accID" id="alleleAccID"
				></input>
			</div>

			<div class="col-sm-6" style="">
				<label class="label label-search">Allele</label><br>
				<input type="text" class="form-control"  
					ng-blur="searchDisplay()"
					ng-model="vm.apiDomain.alleleSymbol" id="alleleSymbol"
				></input>
			</div>

		</div>

		<div class="spacer"></div>
                <label>Mutation Involves</label>

		<div class="spacer"></div>
		<div class="row">
        		<div class="col-sm-12" style="">
                	<div id="relationshipTableWrapper" overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="relationshipTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
                	<th style="width:50px;">Relationship Type</th>
                	<th style="width:60px;">J:</th>
                	<th style="width:150px;">Citation</th>
                	<th style="width:80px;">Marker Acc ID</th>
                	<th style="width:80px;">Marker</th>
                        <th style="width:150px;">Note</th>
                        <th style="width:80px;">Modified</th>
                        <th style="width:60px;">Date</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.mutationInvolves track by $index"
				ng-click="selectMIRow($index)"
                                ng-class="{selectedMIRow:$index==vm.selectedMIIndex, deleteRow:row.processStatus == 'd'}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px;">
                	<span ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td style="width:50px;">
                        <select type=dropdown size="1" id="MIrelationshipTerm-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.miLookup"
                        	ng-model="row.relationshipTermKey"
				ng-change="changeMutationInvolvesRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

			<td style="width:60px;">
			<input class="form-control" type="text" id="MIjnumID-{{$index}}"
				ng-model="row.jnumid"
				ng-change="changeMutationInvolvesRow($index)"
				ng-blur="validateJnum(row, $index, 'jnumID-')"
				></input>
			</td>

                	<td class="short_citation" style="width:150px;">{{row.short_citation}} </td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="MImarkerAccID-{{$index}}" 
				ng-model="row.markerAccID"
				ng-change="changeMutationInvolvesRow($index)"
				ng-blur="validateMarker(row, $index, 'markerAccID-')"
				>
			</td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="MImarkerSymbol-{{$index}}" 
				ng-model="row.markerSymbol"
				ng-change="changeMutationInvolvesRow($index)"
				ng-blur="validateMarker(row, $index, 'markerSymbol-')"
				>
			</td>

			<td style="width:150px;">
			<textarea class="form-control" type="text" id="MInote-{{$index}}" rows="1"
				ng-model="row.note.noteChunk"
				ng-change="changeMutationInvolvesRow($index)"
				></textarea>
			</td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="MImodifiedBy-{{$index}}" tabindex="-1" ng-model="row.modifiedBy" ></input>
			</td>
			<td style="width:60px;">
			<input class="form-control" type="text" id="MImodifiedDate-{{$index}}" tabindex="-1" ng-model="row.modification_date" ></input>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addMutationInvolvesButton" ng-class=""
				ng-click="addMutationInvolvesRow()" >Add Row</button>
			</div>
		</div>
		<!-- relationship buttons -->

		<div class="spacer"></div>
                <div class="sectionDivider"></div>
		<div class="spacer"></div>

		<!-- Region Marker tab -->

		<div class="row topMargin">
			<div class="col-sm-2" style="">
                        <label id="markerregiontool" >Marker Region Tool</label>
			</div>
			<div class="col-sm-1" style="">
				<label class="label label-other">Marker Count</label><br>
		   		<input class="form-control" id="markerCount" ng-model="vm.markerRegionSearch.markerCount" />
			</div>
		        <div class="col-sm-5" style="">
			        <button type="button" id="searchMarkerRegionButton" ng-click="searchMarkerRegion()" >Search Marker Count</button> 
			        <button type="button" id="addMarkerRegionButton" ng-click="addMarkerRegionToMI()" >Add Markers To Mutation Involves</button> 
			        <button type="button" id="clearMarkerRegionButton" ng-click="clearMarkerRegion()" >Clear</button> 
		        </div>
                </div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-sm-1" style="">
				<label class="label label-other">Chr</label><br>
                                       <select type=dropdown size="1" id="chromsome" tabindex="-1"
			                ng-options="choice.chromosome as choice.chromosome for choice in vm.chromosomeLookup"
                       	                ng-model="vm.markerRegionSearch.chromosome"
			                >
                                       </select>
			</div>

			<div class="col-sm-2" style="">
				<label class="label label-other">Start Coordinate</label><br>
		   		<input class="form-control" id="startCoordinate" ng-model="vm.markerRegionSearch.startCoordinate" />
			</div>

			<div class="col-sm-2" style="">
				<label class="label label-other">End Coordinate</label><br>
		   		<input class="form-control" id="endCoordinate" ng-model="vm.markerRegionSearch.endCoordinate" />
			</div>

			<div class="col-sm-3" style="">
			        <label class="label label-other">Relationship Type</label><br>
                                <select type=dropdown size="1" id="relationshipTerm" 
				        ng-options="choice.termKey as choice.term for choice in vm.miLookup"
                        	        ng-model="vm.markerRegionSearch.relationshipTermKey"
				        >
				        <option value="">Search All</option>
                                </select>
                        </div>
			<div class="col-sm-1" style="">
				<label class="label label-other">J#</label><br>
		   		<input class="form-control"
					ng-blur="utilJnumOnBlur()" 
		    			ng-model="vm.markerRegionSearch.jnumid" />
			</div>
			<div class="col-sm-3" style="">
				<label class="label label-other">Citation</label><br>
		   		<input class="form-control" tabindex="-1" ng-model="vm.markerRegionSearch.short_citation" />
			</div>
                </div>

		<!-- marker region buttons -->

		<div class="spacer"></div>
                <div class="sectionDivider"></div>
		<div class="spacer"></div>
                <label>Expresses Components</label>

		<div class="spacer"></div>
		<div class="row">
        		<div class="col-sm-12" style="">
                	<div id="relationshipTableWrapper" overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="relationshipTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
                	<th style="width:50px;">Relationship Type</th>
                	<th style="width:60px;">J:</th>
                	<th style="width:100px;">Citation</th>
                	<th style="width:20px;">Organism</th>
                	<th style="width:80px;">Marker Acc ID</th>
                	<th style="width:80px;">Marker</th>
                        <th style="width:150px;">Note</th>
                        <th style="width:80px;">Modified</th>
                        <th style="width:60px;">Date</th>
                        <!--<th style="width:5px;">P</th>-->
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.expressesComponents track by $index"
				ng-click="selectECRow($index)"
                                ng-class="{selectedECRow:$index==vm.selectedECIndex, deleteRow:row.processStatus == 'd'}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px;">
                	<span ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td style="width:50px;">
                        <select type=dropdown size="1" id="ECrelationshipTerm-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.ecLookup"
                        	ng-model="row.relationshipTermKey"
				ng-change="changeExpressesComponentsRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

			<td style="width:60px;">
			<input class="form-control" type="text" id="ECjnumID-{{$index}}"
				ng-model="row.jnumid"
				ng-change="changeExpressesComponentsRow($index)"
				ng-blur="validateJnum(row, $index, 'jnumID-')"
				></input>
			</td>

                	<td class="short_citation" style="width:100px;">{{row.short_citation}} </td>

                        <td style="width:20px;">
                        <select type=dropdown size="1" id="ECorganism-{{$index}}" 
                                ng-options="choice.organismKey as choice.commonname for choice in vm.organismLookup"
                        	ng-model="row.organismKey"
				ng-change="changeExpressedComponentsRow($index)"
				>
                                <option value="">Search All</option>
                        </select>
                        </td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="ECmarkerAccID-{{$index}}" 
				ng-model="row.markerAccID"
				ng-change="changeExpressesComponentsRow($index)"
				ng-blur="validateMarker(row, $index, 'markerAccID-')"
				>
			</td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="ECmarkerSymbol-{{$index}}" 
				ng-model="row.markerSymbol"
				ng-change="changeExpressesComponentsRow($index)"
				ng-blur="validateMarker(row, $index, 'markerSymbol-')"
				>
			</td>

			<td style="width:150px;">
			<textarea class="form-control" type="text" id="ECnote-{{$index}}" rows="1"
				ng-model="row.note.noteChunk"
				ng-change="changeExpressesComponentsRow($index)"
				></textarea>
			</td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="ECmodifiedBy-{{$index}}" tabindex="-1" ng-model="row.modifiedBy" ></input>
			</td>
			<td style="width:60px;">
			<input class="form-control" type="text" id="ECmodifiedDate-{{$index}}" tabindex="-1" ng-model="row.modification_date" ></input>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addExpressesComponentsButton" ng-class=""
				ng-click="addExpressesComponentsRow()" >Add Row</button>
			</div>
		</div>
		<!-- relationship buttons -->

		<div class="spacer"></div>
                <div class="sectionDivider"></div>
		<div class="spacer"></div>

		<div class="row">
        	<div class="col-sm-12" style="">
                <label class="label label-edit-search">Organism Pick List</label>
                <select type=dropdown size="1" id="organismLookup"
		        ng-options="choice.commonname as choice.commonname for choice in vm.organismLookup"
                        ng-model="vm.attachOrganismValue"
                        ng-change="attachOrganismValue()"
		        >
                </select>
                </div>
                </div>

		<div class="row">

        		<div class="col-sm-12" style="">
                	<div id="propertyTableWrapper">
                	<table class="table table-bordered" id="propertyTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
                	<th style="width:70px;">Property</th>
                	<th style="width:700px;">Value (auto-fill: must be on row 1 : human, rat, zebrafish)</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 

                	<tbody>

			<!-- table rows -->
                	<tr ng-repeat="property in vm.apiDomain.expressesComponents[vm.selectedECIndex].properties"
				ng-click="selectPropertyRow($index)"
                                ng-class="{selectedPropertyRow:$index==vm.selectedPropertyIndex, deleteRow:property.processStatus == 'd'}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px;">
                	<span ng-click="property.processStatus == 'x' ? property.processStatus = 'd' : property.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td style="width:70px;">
                        <select type=dropdown size="1" id="propertyName-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.propertyLookup"
                        	ng-model="property.propertyNameKey"
				ng-change="changePropertyRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

			<td style="width:700px;">
			<input class="form-control" type="text" id="value-{{$index}}"
				ng-model="property.value"
				ng-change="changePropertyRow($index)"
				ng-blur="selectPropertyRow($index)"
				></input>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addPropertyButton" ng-class=""
				ng-click="addPropertyRow(vm.selectedECIndex)" >Add Row</button>
			</div>
		</div>
		<!-- property buttons -->

		<div class="spacer"></div>
                <div class="sectionDivider"></div>
		<div class="spacer"></div>
                <label>Driver Components</label>

		<div class="spacer"></div>
		<div class="row">
        		<div class="col-sm-12" style="">
                	<div id="relationshipTableWrapper" overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="relationshipTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
                	<th style="width:60px;">J:</th>
                	<th style="width:150px;">Citation</th>
                	<th style="width:20px;">Organism</th>
                	<th style="width:80px;">Marker Acc ID</th>
                	<th style="width:80px;">Marker</th>
                        <th style="width:80px;">Note</th>
                        <th style="width:80px;">Modified</th>
                        <th style="width:60px;">Date</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.driverComponents track by $index"
				ng-click="selectDCRow($index)"
                                ng-class="{selectedDCRow:$index==vm.selectedDCIndex, deleteRow:row.processStatus == 'd'}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px;">
                	<span ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

			<td style="width:60px;">
			<input class="form-control" type="text" id="DCjnumID-{{$index}}"
				ng-model="row.jnumid"
				ng-change="changeDriverComponentsRow($index)"
				ng-blur="validateJnum(row, $index, 'jnumID-')"
				></input>
			</td>

                	<td class="short_citation" style="width:150px;">{{row.short_citation}} </td>

                        <td style="width:20px;">
                        <select type=dropdown size="1" id="DCorganism-{{$index}}" 
                                ng-options="choice.organismKey as choice.commonname for choice in vm.organismLookup"
                        	ng-model="row.organismKey"
				ng-change="changeDriverComponentsRow($index)"
				>
                                <option value="">Search All</option>
                        </select>
                        </td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="DCmarkerAccID-{{$index}}" 
				ng-model="row.markerAccID"
				ng-change="changeDriverComponentsRow($index)"
				ng-blur="validateMarker(row, $index, 'markerAccID-')"
				>
			</td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="DCmarkerSymbol-{{$index}}" 
				ng-model="row.markerSymbol"
				ng-change="changeDriverComponentsRow($index)"
				ng-blur="validateMarker(row, $index, 'markerSymbol-')"
				>
			</td>

			<td style="width:80px;">
			<textarea class="form-control" type="text" id="DCnote-{{$index}}" rows="1"
				ng-model="row.note.noteChunk"
				ng-change="changeDriverComponentsRow($index)"
				></textarea>
			</td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="DCmodifiedBy-{{$index}}" tabindex="-1" ng-model="row.modifiedBy" ></input>
			</td>
			<td style="width:60px;">
			<input class="form-control" type="text" id="DCmodifiedDate-{{$index}}" tabindex="-1" ng-model="row.modification_date" ></input>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addDriverComponentsButton" ng-class=""
				ng-click="addDriverComponentsRow()" >Add Row</button>
			</div>
		</div>
		<!-- relationship buttons -->
	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:850px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		</br>
		<button type="button" id="saveRelationshipButton" tabindex="-1" ng-click="modifyRelationship()" >Save Relationships, Properties</button>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div class="spacer"></div>
			<div id="totalCount"># of records: {{vm.total_count}}</div>
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
                                        ng-click="selectResult($index)"
                                        ng-class="($index==vm.selectedIndex) ? 'selectedMIRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.alleleSymbol}}</td>
				</tr>
			</tbody>
			</table>
			</div>

			<div class="spacer"></div>
			<hr/>
			<div id="resultsCountMI">MI Clipboard Items: {{vm.clipboardMI.length}} result(s)</div>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="clipboardTable" style="">
    			<tbody>
				<tr ng-repeat="row in vm.clipboardMI" 
					ng-click="selectClipboardMI($index)" 
					ng-class="($index==vm.selectedClipboardMIIndex) ? 'selectedMIRow' : ''"
					ng-class-odd="'oddRow'"
					>
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{row.item}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="spacer"></div>
			<button type="submit" id="addClipboardMI" tabindex="-1" ng-click="addClipboardMI(vm.selectedMIIndex)" >Copy Selected MI To Clipboard</button><br>
			<button type="submit" id="addAllClipboardMI" tabindex="-1" ng-click="addAllClipboardMI()" >Copy All MI To Clipboard</button><br>
			<button type="submit" id="pasteClipboardMI" tabindex="-1" ng-click="pasteClipboardMI()" >Paste Clipboard MI To Table</button><br>
			<div class="spacer"></div>
			<button type="submit" id="deleteClipboardMI" tabindex="-1" ng-click="deleteClipboardMI(vm.selectedClipboardMIIndex)" >Delete</button>
			<button type="submit" id="clearClipboardMI" tabindex="-1" ng-click="clearClipboardMI()" >Clear</button>

			<div class="spacer"></div>
			<hr/>
			<div id="resultsCountEC">EC Clipboard Items: {{vm.clipboardEC.length}} result(s)</div>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="clipboardTable" style="">
    			<tbody>
				<tr ng-repeat="row in vm.clipboardEC" 
					ng-click="selectClipboardEC($index)" 
					ng-class="($index==vm.selectedClipboardECIndex) ? 'selectedECRow' : ''"
					ng-class-odd="'oddRow'"
					>
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{row.item}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="spacer"></div>
			<button type="submit" id="addClipboardEC" tabindex="-1" ng-click="addClipboardEC(vm.selectedECIndex)" >Copy Selected EC To Clipboard</button><br>
			<button type="submit" id="addAllClipboardEC" tabindex="-1" ng-click="addAllClipboardEC()" >Copy All EC To Clipboard</button><br>
			<button type="submit" id="pasteClipboardEC" tabindex="-1" ng-click="pasteClipboardEC()" >Paste Clipboard EC To Table</button><br>
			<div class="spacer"></div>
			<button type="submit" id="deleteClipboardEC" tabindex="-1" ng-click="deleteClipboardEC(vm.selectedClipboardECIndex)" >Delete</button>
			<button type="submit" id="clearClipboardEC" tabindex="-1" ng-click="clearClipboardEC()" >Clear</button><br>

			<div class="spacer"></div>
			<hr/>
			<div id="resultsCountDC">DC Clipboard Items: {{vm.clipboardDC.length}} result(s)</div>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="clipboardTable" style="">
    			<tbody>
				<tr ng-repeat="row in vm.clipboardDC" 
					ng-click="selectClipboardDC($index)" 
					ng-class="($index==vm.selectedClipboardDCIndex) ? 'selectedDCRow' : ''"
					ng-class-odd="'oddRow'"
					>
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{row.item}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="spacer"></div>
			<button type="submit" id="addClipboardDC" tabindex="-1" ng-click="addClipboardDC(vm.selectedDCIndex)" >Copy Selected DC To Clipboard</button><br>
			<button type="submit" id="addAllClipboardDC" tabindex="-1" ng-click="addAllClipboardDC()" >Copy All DC To Clipboard</button><br>
			<button type="submit" id="pasteClipboardDC" tabindex="-1" ng-click="pasteClipboardDC()" >Paste Clipboard DC To Table</button><br>
			<div class="spacer"></div>
			<button type="submit" id="deleteClipboardDC" tabindex="-1" ng-click="deleteClipboardDC(vm.selectedClipboardDCIndex)" >Delete</button>
			<button type="submit" id="clearClipboardDC" tabindex="-1" ng-click="clearClipboardDC()" >Clear</button><br>
		</div>
		</div>
		
	</div>

</div>
</div>
</form>

<!-- Java API JSON data dump -->
<show-model vm="vm" />

<script type="text/javascript">
	document.getElementById("alleleSymbol").focus();
</script>

