<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="allelefearForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:850px;" >

		<div class="row topMargin">
			<div class="col-sm-2" style="">
				<label class="label label-search">MGI ID</label><br>
				<input type="text" class="form-control"  
					ng-blur="searchAccId()"
					ng-model="vm.apiDomain.accID" id="alleleAccId"
				></input>
			</div>

			<div class="col-sm-6" style="">
				<label class="label label-search">Allele</label><br>
				<input type="text" class="form-control"  
					ng-model="vm.apiDomain.alleleDisplay" id="alleleDisplay"
				></input>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
        	<div class="col-sm-12" style="">

                	<div id="relationshipTableWrapper">
                	<table class="table table-bordered" id="relationshipTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style=""></th>
                	<th style="width:10px;">Marker</th>
			<th style="width:25px;">Relationship</th>
			<th style="width:25px;">Qualifier</th>
			<th style="width:25px;">Evidence</th>
                	<th style="width:90px">J#</th>
                	<th style="width:80px;">Modified</th>
                	<th style="width:85px;">Date</th>
                	<th style="width:5px;">P</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.relationships track by $index"
				ng-click="selectRelationship($index)"
				ng-class="{selectedRow:$index==vm.selectedRelationshipIndex, deleteRow:row.processStatus == 'd'}"
                        	ng-class-odd="'oddRow'"
				>

			</tr>

                	<td style="">
                	<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
                	</span>
                	</td>

			<td style="width:100px;">
			<input class="form-control" type="text" id="markerSymbol-{{$index}}" 
				ng-model="row.markerSymbol"
				ng-change="changeAllelePairRow($index)"
				ng-blur="validateMarker(row, $index, 'markerSymbol-')"
				>
			</td>

                        <td style="width:25px;">
                        <select type=dropdown size="1" id="relationshipDropDown-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.relationshipLookup"
                        	ng-model="row.relationonshipTermKey"
				ng-change="changeRelationshipRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

                        <td style="width:25px;">
                        <select type=dropdown size="1" id="qualifierDropDown-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.qualifierLookup"
                        	ng-model="row.qualifierKey"
				ng-change="changeRelationshipRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

                        <td style="width:25px;">
                        <select type=dropdown size="1" id="evidenceDropDown-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.evidenceLookup"
                        	ng-model="row.evidenceKey"
				ng-change="changeRelationshipRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

			<td style="width:90px;">
			<input class="form-control" type="text" id="jnumID-{{$index}}"
				ng-model="row.jnumid"
				ng-change="changeRelationshipRow($index)"
				ng-blur="validateJnum(row, $index, 'jnumID-')"
				></input>
			</td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="modifiedBy-{{$index}}" tabindex="-1" ng-model="row.modifiedBy" ></input>
			</td>
			<td style="width:85px;">
			<input class="form-control" type="text" id="modifiedDate-{{$index}}" tabindex="-1" ng-model="row.modification_date" ></input>
			</td>
                	<td style="width:5px;">{{row.hasProperties==true ? 'y' : 'n'}} </td>
			</tbody>
			</table>
			</div>
			<!-- end table -->

		</div>
		<!-- end col-sm-10 -->
		</div>
		<!-- end row -->
		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addRelationshipButton" ng-class=""
				ng-click="addRelationshipRow()" >Add Row</button>
			</div>
		</div>
		<!-- relationship buttons -->

		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="row">

        		<div class="col-sm-12" style="">
                	<div id="propertyTableWrapper">
                	<table class="table table-bordered" id="propertyTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
                	<th style="width:70px;">Property</th>
                	<th style="width:700px;">Value</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 

                	<tbody>

			<!-- table rows -->
                	<tr ng-repeat="property in vm.apiDomain.relationships[vm.selectedRelationshipIndex].properties"
				ng-click="selectProperties($index)"
				ng-class="{deleteRow:property.processStatus == 'd', selectedPropertyRow:$index==vm.selectedPropertyIndex}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px">
                	<span id="deleteRow-{{$index}}" 
				ng-click="deletePropertyRow($index)">
                        	<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td style="width:70px;">
                        <select type=dropdown size="1" id="propertyTerm-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.propertyLookup"
                        	ng-model="property.propertyTermKey"
				ng-change="changePropertyRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

			<td style="width:700px;">
			<input class="form-control" type="text" id="value-{{$index}}"
				ng-model="property.value"
				ng-change="changePropertyRow($index)"
				ng-blur="selectProperty($index)"
				></input>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addPropertyButton" ng-class=""
				ng-click="addPropertyRow(vm.selectedRelationshipIndex)" >Add Row</button>
			</div>
		</div>
		<!-- property buttons -->

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:850px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		</br>
		<button type="button" id="saveRelationshipButton" tabindex="-1" ng-click="modifyRelationship()" >Save Relationships, Properties</button>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div class="spacer"></div>
			<div id="totalCount"># of records: {{vm.total_count}}</div>
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.alleleDisplay}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>
		
	</div>

</div>
</div>
</form>

<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" id="showApiDomainButton" tabindex="-1" ng-click="vm.hideApiDomain = !vm.hideApiDomain" 
					>Show JSON package/API domain only</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show JSON package/API domain + other data</button>			
			<div ng-hide="vm.hideApiDomain">
				<pre>{{ vm.apiDomain | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 

<script type="text/javascript">
	document.getElementById("alleleDisplay").focus();
</script>

