{# sub template for adstructure summary table #}

{% if structures %}{{structures | length}} rows.{% endif %}
<table class="dataTable">
{% for structure in structures %}

{% if loop.first %}
  <tr>
  <th>MGIID</th>
  <th>Stage</th>
  <th>Structure</th>
  <th>Synonyms</th>
  </tr>
{% endif %}

  <tr class="{{ loop.cycle('row1','row2') }}">
    <td>
      <a href="{{ url_for('detail.adstructureDetailById', id=structure.mgiid) }}">
        {{structure.mgiid}}
      </a>
    </td>
    <td>{{structure.stage}}</td>
    <td>{{structure.printname | highlightContains(structureSearch)}}</td>
    <td>{{structure.synonyms | type_format | highlightContains(structureSearch)}}</td>
  </tr>

{% else %}
No Structures Found
{% endfor %}

</table>

{% if structures %}{{structures | length}} rows.{% endif %}