{# Renders the term detail section of the EMAPA browser #}

{% block content %}

<dl class="detailPageListData">

  <dt>Term</dt>
  <dd>{{term.term}}</dd>

  <dt>Present at</dt>
  <dd>Theiler Stages {{term.emapa_info.startstage}}-{{term.emapa_info.endstage}}</dd>

  <dt>ID</dt>
  <dd>{{term.primaryid}}</dd>
  
  {% if term.synonyms %}
    <dt>Synonyms</dt>
    <dd>{{term.synonyms | type_format}}</dd>
  {% endif %}
  
  {% for dagnode in term.dagnodes %}
    {% if dagnode.parent_edges %}
    
      <dt>Parent Terms</dt>
      <dd>
      {% for parent_edge in dagnode.parent_edges %}
        {% if loop.index > 0 %}<br/>{% endif %}
        <em>{{parent_edge.label}}</em>
        <a class="termDetailParent fakeLink"
        	data_id="{{parent_edge.parent_node.vocterm.primaryid}}">{{parent_edge.parent_node.vocterm.term}}</a>
      {% endfor %}
      </dd>
  
    {% endif %}
  {% endfor %}

</dl>

{% endblock %}