{% extends "pageLayout.html" %}

{% block imports %}

    <title>EMAPA Browser</title>

	<link rel="stylesheet" href="{{ url_for('static',filename='mgijs/widgets/styles/mgitreeview.css') }}" type="text/css" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/emapa/emapBrowser.css') }}">

{% endblock %}

{% block content %}

<main id="emapaBrowser">

  <div id="browserWrapper" ng-controller="EmapaClipboardController">
		<div ng-include="'{{ url_for('static',filename='app/edit/emapa/emapa_browser_content.html')}}'"></div>
  </div>


<script src="{{ url_for('static',filename='mgijs/bower_components/d3/d3.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/widgets/mgitreeview.js')}}"></script>

<script src="{{ url_for('static',filename='app/edit/emapa/EmapaClipboardService.js')}}"></script>
<script src="{{ url_for('static',filename='app/edit/emapa/EmapaClipboardController.js')}}"></script>

</main>
{% include "help/emap_browser.html" %}
{% endblock %}

