{# Renders the term detail section of the EMAPA browser #}

{% block content %}

<dl class="detailPageListData">

  <dt>Term</dt>
  <dd><span class="active">{{term.term}}</span></dd>

  <dt>Present at</dt>
  <dd>
  	{% if term.emapa_info %}
  	  Theiler Stages {{term.emapa_info.startstage}}-{{term.emapa_info.endstage}}
  	{% else %} {# emaps #}
  	  Theiler Stage {{term.emaps_info._stage_key}} 
	  {% set theilerstage = term.emaps_info.theilerstage %}
	  {% if theilerstage._stage_key == 27 %}
	    (Newborn P0-3)
          {% elif theilerstage._stage_key == 28 %}
	    (P4-adult)
          {% else %}
	    ({{theilerstage.dpcmin}}-{{theilerstage.dpcmax}})
	  {% endif %}
  	{% endif %}
  </dd>

  <dt>ID</dt>
  <dd>{{term.primaryid}}</dd>
  
  {% if term.synonyms %}
    <dt>Synonyms</dt>
    <dd>{{term.synonyms | type_format}}</dd>
  {% endif %}
  
  {% for dagnode in term.dagnodes %}
    {% if dagnode.parent_edges %}
    
      <dt>Parent Terms</dt>
      <dd>
      {% for parent_edge in dagnode.parent_edges %}
        {% if loop.index > 1 %}<br/>{% endif %}
        <em>{{parent_edge.label}}</em>
        
        <a class="termDetailParent fakeLink"
        	data_id="{{parent_edge.parent_node.vocterm.primaryid}}">{{parent_edge.parent_node.vocterm.term}}</a>
      {% endfor %}
      </dd>
  
    {% endif %}
  {% endfor %}

</dl>

<span class="resultsLink">
  	<a href="{{ url_for('summary.resultSummary') }}?direct_structure_id={{term.primaryid}}" target="_blank">{{term_result_count}}</a> 
  	direct annotations
</span>



{# stage selectors #}
<nav id="stageList">
<ul>
	<li><a class="stageSelector fakeLink" data_stage="0">All</a></li>
	{% for i in range(emapa_term.emapa_info.startstage, emapa_term.emapa_info.endstage+1) %}
	  <li><a class="stageSelector fakeLink" data_stage="{{i}}">{{i}}</a></li>
	{% endfor %}
</ul>
</nav>

{% endblock %}
