{# Renders the term detail section of the EMAPA browser #}

{% block content %}

<dl class="detailPageListData">

  <dt>Term</dt>
  <dd>{{term.term}}</dd>

  <dt>Present at</dt>
  <dd>
  	{% if term.emapa_info %}
  	  Theiler Stages {{term.emapa_info.startstage}}-{{term.emapa_info.endstage}}
  	{% else %} {# emaps #}
  	  Theiler Stage {{term.emaps_info._stage_key}}
  	{% endif %}
  </dd>

  <dt>ID</dt>
  <dd>{{term.primaryid}}</dd>
  
  {% if term.synonyms %}
    <dt>Synonyms</dt>
    <dd>{{term.synonyms | type_format}}</dd>
  {% endif %}
  
  {% for dagnode in term.dagnodes %}
    {% if dagnode.parent_edges %}
    
      <dt>Parent Terms</dt>
      <dd>
      {% for parent_edge in dagnode.parent_edges %}
        {% if loop.index > 1 %}<br/>{% endif %}
        <em>{{parent_edge.label}}</em>
        
        {% if parent_edge.parent_node.vocterm.emaps_info %}
          <a class="termDetailParent fakeLink"
        	data_id="{{parent_edge.parent_node.vocterm.emaps_info.emapa_term.primaryid}}">{{parent_edge.parent_node.vocterm.term}}</a>
        {% else %}
          <a class="termDetailParent fakeLink"
        	data_id="{{parent_edge.parent_node.vocterm.primaryid}}">{{parent_edge.parent_node.vocterm.term}}</a>
        {% endif %}
      {% endfor %}
      </dd>
  
    {% endif %}
  {% endfor %}

</dl>

{# stage selectors #}
<nav id="stageList">
<ul>
	<li><a class="stageSelector fakeLink" data_stage="all">All</a></li>
	{% for i in range(emapa_term.emapa_info.startstage, emapa_term.emapa_info.endstage+1) %}
	  <li><a class="stageSelector fakeLink" data_stage="{{i}}">{{i}}</a></li>
	{% endfor %}
</ul>
</nav>

{% endblock %}