{% extends "standardMGI.html" %}
{% block content %}

<title>EMAP Browser</title>

<link rel="stylesheet" href="{{ url_for('static',filename='edit/emapBrowser.css') }}" type="text/css" />

<br/>
<div class="wrapper">

    <div class="leftContainer" style="">
      <div id="termSearchArea">

      <form name="termSearchForm" id="termSearchForm" >
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
        <input id="termSearch" name="termSearch" value="" type="text" autofocus="autofocus">
      </form>
      </div>

      <div id="emapTermArea">
        <div id="emapaSummaryContent_loading" class="hide">
      	  <img src="{{ url_for('static', filename='images/loading.gif') }}"/> Searching EMAPA Terms
        </div>
        <div id="emapaSummaryContent">
        </div>
      </div>

      <div id="emapClipBoard">
      <h4>Future Clipboard </h4>
      </div>

    </div>

    <div class="rightContainer" style="">
      <div id="termDetailsArea">
        <div id="termDetailContent_loading" class="hide">
      	  <img src="{{ url_for('static', filename='images/loading.gif') }}"/> Loading Term Detail
        </div>
        <div id="termDetailContent">
        </div>
      </div>

      <div id="treeViewArea">
      <h4>Future Tree View </h4>
      </div>
    </div>

</div>

<script>
	// Initialize relative urls for dynamic content
	window.EMAPA_SEARCH_URL = "{{ url_for('edit.emapTermResults') }}?termSearch=";
	window.EMAPA_DETAIL_URL = "{{ url_for('edit.emapTermDetailById',id='') }}";
	window.TERM_SEARCH = "{{ termSearch }}";

</script>
<script src="{{ url_for('static',filename='edit/emapBrowser.js')}}"></script>

{% include "help/emap_browser.html" %}
{% endblock %}