{% extends "pageLayout.html" %}

{% block imports %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/imagepanesummary/imagepanesummary.css') }}">

	<script src="{{ url_for('static',filename='app/edit/imagepanesummary/ImagePaneSummaryService.js')}}"></script>
	<script src="{{ url_for('static',filename='app/edit/imagepanesummary/ImagePaneSummaryController.js')}}"></script>
	
	<script>
		var access_token = '{{config["ACCESS_TOKEN"]}}';
	</script>
	

{% endblock %}

{% block content %}

	<div id="wrapper" ng-controller="ImagePaneSummaryController">
		<div ng-include="'{{ url_for('static',filename='app/edit/imagepanesummary/imagepanesummary_content.html')}}'"></div>
	</div>

	{% include "help/imagepanesummary.html" %}

{% endblock %}

