<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="strainForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:800px;" >

		<div class="row topMargin">
		<div class="col-sm-6" style="">
		        <label class="label label-edit-search">Strain</label><br>
			<input type="text" class="form-control"  
				ng-model="vm.apiDomain.strain" id="strain"
			></input>

		</div>
		<div class="col-sm-2" style="">
		       <label class="label label-edit-search">Private?</label><br>
                       <select type=dropdown size="1" id="isPrivate" tabindex="-1"
			       ng-options="choice.termKey as choice.term for choice in vm.isPrivateLookup"
                               ng-model="vm.apiDomain.isPrivate"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
		       <label class="label label-edit-search">Standard?</label><br>
                       <select type=dropdown size="1" id="isStandard" tabindex="-1"
			       ng-options="choice.termKey as choice.term for choice in vm.isStandardLookup"
                               ng-model="vm.apiDomain.standard"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-2" style="">
		       <label class="label label-edit-search">Strain Prefix?</label><br>
                       <select type=dropdown size="1" id="isPrefix" tabindex="-1"
			       ng-options="choice.termKey as choice.term for choice in vm.isPrefixLookup"
                               ng-model="vm.apiDomain.geneticBackground"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
		<div class="col-sm-8" style="">
		       <label class="label label-edit-search">SubSpecies</label><br>
                       <select type=dropdown size="1" id="strainSpecies" tabindex="-1"
			       ng-options="choice.termKey as choice.term for choice in vm.strainSpeciesLookup"
                               ng-model="vm.apiDomain.speciesKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		<div class="col-sm-4" style="">
		       <label class="label label-edit-search">Strain Name Type</label><br>
                       <select type=dropdown size="1" id="strainType" tabindex="-1"
			       ng-options="choice.termKey as choice.term for choice in vm.strainTypeLookup"
                               ng-model="vm.apiDomain.strainTypeKey"
                               >
                               <option value="">Search All</option>
                        </select>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row ">
        		<div class="col-sm-4" style="">
                	<div id="attributeTableWrapper">
                	<table class="table table-bordered scrollable-menu" id="attributeTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style=""></th>
                	<th style="width:150px;">Strain Attribute</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.attributes track by $index"
				ng-click="selectAttributeRow($index)"
				ng-class="{deleteRow:row.processStatus == 'd', selectedRow:$index==vm.selectedAttributeIndex}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px">
                	<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td style="width:100px;">
                        <select type=dropdown size="1" id="attributeTermKey-{{$index}}"
			        ng-options="choice.termKey as choice.term for choice in vm.strainAttributeLookup"
                       	        ng-model="row.termKey"
				ng-change="changeAttributeRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>
			</tr>

			<tfoot>
			<tr>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addAttriuteButton" 
				ng-class=""
                                ng-click="addAttributeRow($index)" >Add Row</button>
			</td>
			</tr>
			</tfoot>

			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-4 -->

        		<div class="col-sm-4" style="">
                	<div id="needsReviewTableWrapper">
                	<table class="table table-bordered scrollable-menu" id="needsReviewTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style=""></th>
                	<th style="width:150px;">Needs Review</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.needsReview track by $index"
				ng-click="selectNeedsReviewRow($index)"
				ng-class="{deleteRow:row.processStatus == 'd', selectedRow:$index==vm.selectedNeedsReviewIndex}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px">
                	<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td style="width:100px;">
                        <select type=dropdown size="1" id="needsReviewTermKey-{{$index}}"
			        ng-options="choice.termKey as choice.term for choice in vm.strainNeedsReviewLookup"
                       	        ng-model="row.termKey"
				ng-change="changeNeedsReviewRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>
			</tr>

			<tfoot>
			<tr>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addNeedsReviewButton" 
				ng-class=""
                                ng-click="addNeedsReviewRow($index)" >Add Row</button>
			</td>
			</tr>
			</tfoot>

			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-4 -->

		</div>
		<!-- end row -->

		<div class="spacer"></div>
		<div class="row">
        		<div class="col-sm-12" style="">
                	<div id="markerTableWrapper" overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="markerTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
                	<th style="width:50px;">Type</th>
                	<th style="width:10px;">Chr</th>
                	<th style="width:100px;">Marker</th>
                	<th style="width:100px;">Allele</th>
                	<th style="width:100px;">Strain of Origin</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.markers track by $index"
				ng-click="selectMarkerRow($index)"
				ng-class="{deleteRow:row.processStatus == 'd', selectedRow:$index==vm.selectedMarkerIndex}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px;">
                	<span ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td style="width:50px;">
                        <select type=dropdown size="1" id="qualifier-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.qualifierLookup"
                        	ng-model="row.qualifierKey"
				ng-change="changeMarkerRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

                        <td style="width:10px;">
                        <select type=dropdown size="1" id="chromsome-{{$index}}" tabindex="-1"
				ng-options="choice.chromosome as choice.chromosome for choice in vm.chromosomeLookup"
                        	ng-model="row.chromosome"
				ng-change="changeMarkerRow($index)"
				>
				<option value="">All</option>
                        </select>
                        </td>

			<td style="width:100px;">
			<input class="form-control" type="text" id="markerSymbol-{{$index}}" 
				ng-model="row.markerSymbol"
				ng-change="changeMarkerRow($index)"
				ng-blur="validateMarker(row, $index, 'markerSymbol-')"
				>
			</td>

			<td style="width:100px;">
			<input class="form-control" type="text" id="allele-{{$index}}" 
				ng-model="row.alleleSymbol"
				ng-change="changeMarkerRow($index)"
				ng-blur="validateAllele(row, $index, 'allele-')"
				>
			</td>

                        <td style="width:100px;">{{row.strainOfOrigin}}</td>

			</tr>

			<tfoot>
			<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addMarkerButton" 
				ng-class=""
                                ng-click="addMarkerRow($index)" >Add Row</button>
			</td>
			</tr>
			</tfoot>

			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:850px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<!-- to avoid blur firing before clear(), call ng-mousedown() -->
		<button type="button" id="clearButton" tabindex="-1" ng-mousedown="clear()" >Clear</button>
		<button type="button" id="modifyButton" tabindex="-1" ng-click="modify()" >Modify</button>
		<button type="button" id="createButton" tabindex="-1" ng-click="create()" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="delete()" >Delete</button>
		
		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="createdBy" tabindex="-1"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="creationDate" tabindex="-1"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="modifiedBy" tabindex="-1"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="modificationDate" tabindex="-1"/>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.strain}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>

	</div>
</div>
</div>
</form>

<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" id="showApiDomainButton" tabindex="-1" ng-click="vm.hideApiDomain = !vm.hideApiDomain" 
					>Show JSON package/API domain only</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show JSON package/API domain + other data</button>			
			<div ng-hide="vm.hideApiDomain">
				<pre>{{ vm.apiDomain | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 

