<div class="container-fluid">
<div class="row topMargin">

<title>{{vmd.antibodyName}} Antibody Detail</title>

  <h1>Antibody Detail</h1>

<dl class="detailPageListData">
  <dt>Name</dt>
  <dd>{{vmd.antibodyName}}
    <a class="external" href='http://www.informatics.jax.org/antibody/{{vmd.accID}}'> Public Page </a>
  </dd>

  <dt>MGI ID</dt>
  <dd>{{vmd.accID}}</dd>

  <dt>Antibody Type</dt>
  <dd>{{vmd.antibodyType}}</dd>

  <dt>Class</dt>
  <dd>{{vmd.antibodyClass}}</dd>

  <dt>Antibody Organism</dt>
  <dd>{{vmd.organism}}</dd>

  <dt>Note</dt>
  <dd>{{vmd.antibodyNote}}</dd>

  <dt>Aliases</dt>
  <dd>
    <span ng-repeat="alias in vmd.aliases track by $index">
        <br ng-if="$index > 0" />
        {{alias.alias}}
        <span ng-if="alias.jnumid">
        (<a href="{{ url_for('pwi.referencesummary', {accids:alias.jnumid} ) }}">{{alias.jnumid}}</a>)
        </span>
    </span>
  </dd>

  <dt>Markers</dt>
  <dd>
      <span ng-repeat="marker in vmd.markers track by $index">
        <br ng-if="$index > 0" />
        <a href="{{ url_for('pwi.markerdetail', '/?id=' + marker.markerMGIID) }}">{{marker.markerSymbol}}</a>
      </span>
  </dd>

  <dt>References</dt>
  <dd>
    <span ng-repeat="ref in vmd.refAssocs track by $index">
        <br ng-if="$index > 0" />
        <a href="{{ url_for('pwi.referencesummary', {accids:ref.jnumid} ) }}">{{ref.jnumid}}</a>
        {{ref.short_citation}}
    </span>
  </dd>

  <dt>Assays</dt>
  <dd>
    <a href="{{ url_for('pwi.assaysummary', {antibody_id:vmd.accID} ) }}">Expression Assays</a>
  </dd>

  <dt>Region Covered</dt>
  <dd>{{vmd.regionCovered}}</dd>

  <dt>Antigen Note</dt>
  <dd>{{vmd.antigenNote}}</dd>

  <dt>Antigen Organism</dt>
  <dd>{{vmd.probeSource.organism}}</dd>

  <dt>Strain</dt>
  <dd>{{vmd.probeSource.strain}}</dd>

  <dt>Tissue</dt>
  <dd>{{vmd.probeSource.tissue}}</dd>

  <dt>Tissue Description</dt>
  <dd>{{vmd.probeSource.description || "None" }}</dd>

  <dt>Cell Line</dt>
  <dd>{{vmd.probeSource.cellLine}}</dd>

  <dt>Age</dt>
  <dd>{{vmd.probeSource.age}}</dd>

  <dt>Sex</dt>
  <dd>{{vmd.probeSource.gender}}</dd>

</dl>

<br/>

<!-- Java API JSON data dump -->
<show-model vm="vm" />

</div>
</div>

<ng-include src="PAGE_HELP_URL" />
