<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="alleleForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:800px;" >

		<div class="row topMargin">
			<div class="col-sm-8" style="">
				<label class="label label-edit-search">Allele Symbol</label><br>
				<input type="text" class="form-control" id="symbol"
					ng-model="vm.apiDomain.symbol"
				>
			</div>

			<div class="col-sm-4" style="">
			<div id="otherAccTableWrapper">
			<table class="table table-bordered scrollable-menu" id="otherAccTable" style="">
			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:50px;"></th>
                	<th style="width:250px">Other Acc Id</th>
                	</tr>
			</thead>
    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.otherAccIDs" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				>
                       	<td>
                       	<select type=dropdown size="1" id="logicaldb" 
                               	ng-options="choice.termKey as choice.term for choice in vm.otherAccLookup"
                               	ng-model="row.logicaldbKey"
                               	>
                               	<option value="">Search All</option>
                       	</select>
                       	</td>

			<td style="width:250px;">
                       	<input class="form-control" type="text" id="otherAcc-{{$index}}" 
				ng-model="row.accID"
			>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-8" style="">
				<label class="label label-edit-search">Allele Name</label><br>
				<input type="text" class="form-control" id="name"
					ng-model="vm.apiDomain.name"
				>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
        	<div class="col-sm-6" style="">

                	<div id="markerTableWrapper">
                	<table class="table table-bordered" id="markerTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:200px;">Marker</th>
                	<th style="width:100px">J#</th>
                	<th style="width:200px;">Citation</th>
                	<th style="width:50px;">Status</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

    			<tbody>
			<tr>

			<td style="width:200px;">
                        <input class="form-control" type="text" id="markerSymbol"
				ng-model="vm.apiDomain.markerSymbol"
                                >
                        </input>
			</td>

			<td style="width:100px;">
                        <input class="form-control" type="text" id="markerjnumID-0"
				ng-model="vm.apiDomain.jnumid"
				ng-blur="validateJnum(vm.apiDomain, 0, 'markerjnumID-')"
			>
			</td>

			<td style="width:200px;">
                        <input class="form-control" type="text" id="markerCitation-0"
				ng-model="vm.apiDomain.short_citation"
			>
			</td>

			<td style="width:50px;">
                	<select type=dropdown size="1" id="markerStatus"
				ng-options="choice.termKey as choice.term for choice in vm.markerStatusLookup"
                       		ng-model="vm.apiDomain.markerStatusKey"
				>
				<option value="">Search All</option>
                	</select>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->

		</div>
		<!-- end col-sm-6 -->
		</div>
		<!-- end row -->

		<!-- notes panel -->
		<div class="row">
		<div class="col-sm-12" style="" >

			<div class="row topPadding bottomPadding">
			<div class="col-sm-12" style="">
				<button type="button" id="hideShowDetailClipButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.detailClip != null}"
					ng-click="hideShowDetailClip()" >Marker Detail Clip</button>
				<button type="button" id="hideShowMolecularNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.molecularNote.noteChunk != ''}"
					ng-click="hideShowMolecularNote()" >Molecular</button>
				<button type="button" id="hideShowNomenNoteButton"  
					ng-class="{'hasNoteButton':  vm.apiDomain.nomenNote.noteChunk != ''}"
					ng-click="hideShowNomenNote()" >Nomenclature</button>
				<button type="button" id="hideShowGeneralNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.generalNote.noteChunk != ''}" 
					ng-click="hideShowGeneralNote()" >General</button>
				<button type="button" id="hideShowInducibleNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.inducibleNote.noteChunk != ''}"
					ng-click="hideShowInducibleNote()" >Inducible</button>
				<button type="button" id="hideShowCreNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.creNote.noteChunk != ''}"
					ng-click="hideShowCreNote()" >User (Cre)</button>
				<button type="button" id="hideShowIkmcNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.ikmcNote.noteChunk != ''}"
					ng-click="hideShowIkmcNote()" >IKMC Allele Colony</button>
				<button type="button" id="hideShowProidNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.proidNote.noteChunk != ''}"
					ng-click="hideShowProidNote()" >Associated PRO IDs</button>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideDetailClip">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Marker Detail Clip</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.detailClip" id="markerDetailClip" ></textarea>
			<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideMolecularNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Molecular</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.molecularNote.noteChunk" id="molecularNote" ></textarea>
			<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideNomenNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Nomenclature</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.nomenNote.noteChunk" id="nomenNote" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideGeneralNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">General</label>
				<textarea class="form-control" rows=3 id="generalNote" ng-model="vm.apiDomain.generalNote.noteChunk" ></textarea>
			<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideInducibleNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Inducible</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.inducibleNote.noteChunk" id="inducibleNote" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>
			
			<div class="row" ng-hide="vm.hideCreNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">User (Cre)</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.creNote.noteChunk" id="creNote" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideIkmcNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">IKMC Allele Colony</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.ikmcNote.noteChunk" id="ikmcNote" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideProidNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Associated PRO IDs</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.proidNote.noteChunk" id="proidNote" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

		</div>
		</div>

		<div class="row">
        	<div class="col-sm-6" style="">

                	<div id="refTableWrapper">
                	<table class="table table-bordered" id="refTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:10px;"></th>
                	<th style="width:50px;">Type</th>
                	<th style="width:100px">J#</th>
                	<th style="width:150px;">Citation</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.refAssocs" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.refAssocs[$index].processStatus == 'd'}">
			<td style="width:10px;">
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>
				
			<td style="width:50px;">
                        <select type=dropdown size="1" id="refAssocType" tabindex="-1"
                                ng-options="choice.refAssocTypeKey as choice.assocType for choice in vm.refAssocTypeLookup"
                                ng-model="row.refAssocTypeKey"
                                ng-change="changeRefRow($index)"
                                >
                                <option value="">Search All</option>
                        </select>
			</td>

			<td style="width:100px;">
                        <input class="form-control" type="text" id="refjnumID-{{$index}}"
				ng-model="row.jnumid"
				ng-change="changeRefRow($index)"
				ng-blur="validateJnum(row, $index, 'refjnumID-')"
			>
			</td>

			<td style="width:150px;">
                        <input class="form-control" type="text" id="refAssocCitation-{{$index}}"
				ng-model="row.short_citation"
			>
			</td>

			</tr>
			</tbody>

			<tfoot>
			<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addRefButton" 
				ng-class=""
                                ng-click="addRefRow('1013')" >Add Row</button>
			</td>
			</tr>
			</tfoot>

			</table>
			</div>
			<!-- end table -->

		</div>
		<!-- end col-sm-6 -->

		<div class="col-sm-2" style="">
                <div id="attributeTableWrapper">
                <table class="table table-bordered" id="attributeTable" >
		<tbody>
		<tr>
		<td>
		<label class="label label-edit-search">Status</label><br>
                <select type=dropdown size="1" id="alleleStatus" 
			ng-options="choice.termKey as choice.term for choice in vm.alleleStatusLookup"
                       	ng-model="vm.apiDomain.alleleStatusKey"
			ng-class="{isDeleted:vm.apiDomain.alleleStatusKey == '847112'}"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Generation</label><br>
                <select type=dropdown size="1" id="alleleType" 
			ng-options="choice.termKey as choice.term for choice in vm.alleleTypeLookup"
                       	ng-model="vm.apiDomain.alleleTypeKey"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Inheritance Mode</label><br>
                <select type=dropdown size="1" id="inheritance" 
			ng-options="choice.termKey as choice.term for choice in vm.inheritanceLookup"
                       	ng-model="vm.apiDomain.inheritanceModeKey"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Germ Line Tranmission</label><br>
                <select type=dropdown size="1" id="transmission" 
			ng-options="choice.termKey as choice.term for choice in vm.transmissionLookup"
                       	ng-model="vm.apiDomain.transmissionKey"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Collection</label><br>
                <select type=dropdown size="1" id="collection" 
			ng-options="choice.termKey as choice.term for choice in vm.collectionLookup"
                       	ng-model="vm.apiDomain.collectionKey"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Mixed</label><br>
                <select type=dropdown size="1" id="isMixed" 
			ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                       	ng-model="vm.apiDomain.isMixed"
			ng-class="{isMixed:vm.apiDomain.isMixed == '1'}"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Extinct</label><br>
                <select type=dropdown size="1" id="isExtinct" 
			ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                       	ng-model="vm.apiDomain.isExtinct"
			ng-class="{isExtinct:vm.apiDomain.isExtinct == '1'}"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		</tbody>
		</table>
		</div>
		</div>
		<!-- end col-sm-2 -->

		</div>
		<!-- end row -->

		<div class="spacer"></div>
		<div class="row">
        	<div class="col-sm-6" style="">

                	<div id="cellLineTableWrapper">
                	<table class="table table-bordered" id="cellLineTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:10px;"></th>
                	<th style="width:150px;">Mutant Cell Line</th>
                	<th style="width:150px">Creator</th>
                	<th style="width:100px;">Modificed By</th>
                	<th style="width:75px;">Date</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.mutantCellLines" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.mutantCellLines[$index].processStatus == 'd'}">
			<td style="width:10px;">
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>
				
			<td style="width:150px;">
                        <input class="form-control" type="text" id="mutantCellLine-{{$index}}"
				ng-model="row.mutantCellLine"
				ng-change="changeCellLineRow($index)"
				ng-blur="validateMutantCellLine(row, $index, 'mutantCellLine-')"
			>
			</td>

			<td style="width:150px;">
                        <input class="form-control" type="text" id="creator-{{$index}}"
				ng-model="row.creator"
				ng-change="changeCellLineRow($index)"
			>
			</td>

			<td style="width:100px;">
                        <input class="form-control" type="text" id="modifiedBy-{{$index}}"
				ng-model="row.modifiedBy"
			>
			</td>

			<td style="width:75px;">
                        <input class="form-control" type="text" id="modification_date-{{$index}}"
				ng-model="row.modification_date"
			>
			</td>

			</tr>
			</tbody>

			<tfoot>
			<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addCellLineButton" 
				ng-class=""
                                ng-click="addCellLineRow()" >Add Row</button>
			</td>
			</tr>
			</tfoot>

			</table>
			</div>
			<!-- end table -->

		</div>
		<!-- end col-sm-6 -->

		<div class="col-sm-4" style="">
                <div id="parentCellLineTableWrapper">
                <table class="table table-bordered" id="parentCellLineTable" >
		<tbody>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Parent Cell Line</label><br>
		<input type="text" class="form-control" id="parentCellLine"
                       	ng-model="vm.apiDomain.mutantCellLines[0].parentCellLine"
			ng-blur="validateParentCellLine(vm.apiDomain.mutantCellLines[0], 'parentCellLine')"
		>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Parent Cell Line Strain</label><br>
		<input type="text" class="form-control" id="parentStrain"
                       	ng-model="vm.apiDomain.mutantCellLines[0].strain"
		>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Cell Line Type</label><br>
                <select type=dropdown size="1" id="cellLineType" 
			ng-options="choice.termKey as choice.term for choice in vm.cellLineTypeLookup"
                       	ng-model="vm.apiDomain.mutantCellLines[0].cellLineTypeKey"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Strain of Origin</label><br>
		<input type="text" class="form-control" id="strainOfOrigin"
                       	ng-model="vm.apiDomain.mutantCellLines[0].strain"
		>
		</td>
		</tr>
		</tbody>
		</table>
		</div>
		</div>
		<!-- end col-sm-4 -->

		</div>
		<!-- end row -->
	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:850px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<!-- to avoid validateStrain() blur firing before clear(), call ng-mousedown() too -->
		<button type="button" id="clearButton" tabindex="-1" ng-mousedown="clear()" >Clear</button>
		<button type="button" id="modifyButton" tabindex="-1" ng-click="modify()" >Modify</button>
		<button type="button" id="createButton" tabindex="-1" ng-click="create()" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="delete()" >Delete</button>
		
		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="createdBy"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="creationDate"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="modifiedBy"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="modificationDate" tab-to="accID"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">MGI ID</label><br>
				<input class="form-control" id="accID" 
					ng-model="vm.apiDomain.accID" 
				/>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.symbol}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>
	</div>
</div>
</div>
</form>

<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" id="showApiDomainButton" tabindex="-1" ng-click="vm.hideApiDomain = !vm.hideApiDomain" 
					>Show JSON package/API domain only</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show JSON package/API domain + other data</button>			
			<div ng-hide="vm.hideApiDomain">
				<pre>{{ vm.apiDomain | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 

<script type="text/javascript">
	// This JavaScript will execute *after* content injection.
	var input = document.getElementById ("symbol");
	input.focus ();
</script>

