<title>Allele Module</title>

<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="alleleForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:1250px;" >

		<div class="row topMargin">
			<div class="col-sm-5" style="">
				<label class="label label-edit-search">Allele Symbol</label><br>
				<input type="text" class="form-control" id="symbol" tab-to="name"
					ng-model="vm.apiDomain.symbol"
				>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Multi Allele Symbols</label><br>
                                <textarea class="form-control" rows=1 id="multiSymbols"
					ng-model="vm.apiDomain.multiSymbols"
				></textarea>
			</div>

			<div class="col-sm-3" style="">
			<div id="otherAccTableWrapper">
			<table class="table table-bordered scrollable-menu" id="otherAccTable" style="">
			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:50px;"></th>
                	<th style="width:250px">Other Id</th>
                	</tr>
			</thead>
    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.otherAccIDs" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				>
                       	<td>
                       	<select type=dropdown size="1" id="logicaldb-{{$index}}" 
                               	ng-options="choice.termKey as choice.term for choice in vm.otherAccLookup"
                               	ng-model="row.logicaldbKey"
                               	>
                               	<option value="">Search All</option>
                       	</select>
                       	</td>

			<td style="width:250px;">
                       	<input class="form-control" type="text" id="otherAcc-{{$index}}" 
				ng-model="row.accID"
			>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-8" style="">
				<label class="label label-edit-search">Allele Name</label><br>
				<input type="text" class="form-control" id="name"
					ng-model="vm.apiDomain.name"
				>
                        </div>
		        <div class="col-sm-1">
		                <label class="label label-search">Order By</label><br>
		                <select id="orderBy" ng-model="vm.apiDomain.orderBy" size="1">
		                  <option value="1">Old order (default)</option>
		                  <option value="2">New order</option>
		                </option>
		                </select>
		        </div>
		</div>

		<div class="spacer"></div>
		<div class="row">
        	<div class="col-sm-6" style="">

                	<div id="markerTableWrapper">
                	<table class="table table-bordered" id="markerTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:200px;">Marker</th>
                	<th style="width:100px">J#</th>
                	<th style="width:200px;">Citation</th>
                	<th style="width:50px;">Status</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

    			<tbody>
			<tr>

			<td style="width:200px;">
                        <input class="form-control" type="text" id="markerSymbol-0"
				ng-model="vm.apiDomain.markerSymbol"
                                ng-blur="validateMarker(vm.apiDomain, 'markerSymbol-0')"
                                >
                        </input>
			</td>

			<td style="width:100px;">
                        <input class="form-control" type="text" id="markerjnumID-0"
				ng-model="vm.apiDomain.jnumid"
				ng-blur="validateJnum(vm.apiDomain, 'markerjnumID-0')"
			>
			</td>

			<td style="width:200px;">
                        <input class="form-control" type="text" id="markerCitation-0"
				ng-model="vm.apiDomain.short_citation"
			>
			</td>

			<td style="width:50px;">
                	<select type=dropdown size="1" id="markerAlleleStatus"
				ng-options="choice.termKey as choice.term for choice in vm.markerAlleleStatusLookup"
                       		ng-model="vm.apiDomain.markerAlleleStatusKey"
				>
				<option value="">Search All</option>
                	</select>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
		</div>
		<!-- end col-sm-6 -->

		<div class="col-sm-6" style="">
               	<table class="table table-bordered" id="linkOutTable" >
		<tr>
		<td>
                       <!--add to span/style if desired: font-size: 14px; -->
                       <span style="position: relative; bottom: -1;">
                           DO Annotations<img style="position:absolute;" id="doannotButton" class="externalLink"
                           src="/pwi/static/images/link_out.png" width=20 height=20
                           ng-click="doannotLink()" >
                       </span>
		</td>
		<td>
                       <span style="position: relative; bottom: -1;">
                           Mutant Cell Lines<img style="position:absolute;" id="mutantCellLineButton" class="externalLink"
                           src="/pwi/static/images/link_out.png" width=20 height=20
                           ng-click="mutantCellLineLink()" >
                       </span>
		</td>
		<td>
                       <span style="position: relative; bottom: -1;">
                           Non-Mutant Cell Lines<img style="position:absolute;" id="nonmutantCellLineButton" class="externalLink"
                           src="/pwi/static/images/link_out.png" width=20 height=20
                           ng-click="nonmutantCellLineLink()" >
                       </span>
		</td>
		<td>
                       <span style="position: relative; bottom: -1;">
                           Relationship Annotations<img style="position:absolute;" id="relationshipsButton" class="externalLink"
                           src="/pwi/static/images/link_out.png" width=20 height=20
                           ng-click="relationshipsLink()" >
                       </span>
		</td>
		</tr>
		</table>
		</div>
		<!-- end col-sm-2 -->

		</div>
		<!-- end row -->

		<!-- notes panel -->
		<div class="row">
		<div class="col-sm-12" style="" >
			<div class="row topPadding bottomPadding">
			<div class="col-sm-12" style="">
				<button type="button" id="hideShowDetailClipButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.detailClip != null && vm.apiDomain.detailClip.note != ''}"
					ng-click="hideShowDetailClip()" >Marker Detail Clip</button>
				<button type="button" id="hideShowMolecularNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.molecularNote.noteChunk != ''}"
					ng-click="hideShowMolecularNote()" >Molecular</button>
				<button type="button" id="hideShowNomenNoteButton"  
					ng-class="{'hasNoteButton':  vm.apiDomain.nomenNote.noteChunk != ''}"
					ng-click="hideShowNomenNote()" >Nomenclature</button>
				<button type="button" id="hideShowGeneralNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.generalNote.noteChunk != ''}" 
					ng-click="hideShowGeneralNote()" >General</button>
				<button type="button" id="hideShowInducibleNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.inducibleNote.noteChunk != ''}" 
					ng-click="hideShowInducibleNote()" >Inducible</button>
				<button type="button" id="hideShowCreNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.creNote.noteChunk != ''}"
					ng-click="hideShowCreNote()" >User (Cre)</button>
				<button type="button" id="hideShowIkmcNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.ikmcNote.noteChunk != ''}"
					ng-click="hideShowIkmcNote()" >IKMC Allele Colony</button>
				<button type="button" id="hideShowProidNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.proidNote.noteChunk != ''}"
					ng-click="hideShowProidNote()" >Associated PRO IDs</button>
				<button type="button" id="hideShowProjectidNoteButton" 
					ng-class="{'hasNoteButton':  vm.apiDomain.projectidNote.noteChunk != ''}"
					ng-click="hideShowProjectidNote()" >Additional Project IDs</button>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideDetailClip">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Marker Detail Clip</label>
                                <img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15
                                        ng-click="clearDetailClip()">
				<textarea class="form-control" rows=3 id="markerDetailClip"
                                        ng-model="vm.apiDomain.detailClip.note" 
                                        ng-change="changeDetailClip()"
                                ></textarea>
			<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideMolecularNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Molecular</label>
                                <img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15
                                        ng-click="clearNote(vm.apiDomain.molecularNote)">
				<label "label label-view-only">if duplicate appears, click X and Modify</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.molecularNote.noteChunk" id="molecularNote" ></textarea>
			<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideNomenNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Nomenclature</label>
                                <img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15
                                        ng-click="clearNote(vm.apiDomain.nomenNote)">
				<label "label label-view-only">if duplicate appears, click X and Modify</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.nomenNote.noteChunk" id="nomenNote" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideGeneralNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">General</label>
                                <img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15
                                        ng-click="clearNote(vm.apiDomain.generalNote)">
				<label "label label-view-only">if duplicate appears, click X and Modify</label>
				<textarea class="form-control" rows=3 id="generalNote" ng-model="vm.apiDomain.generalNote.noteChunk" ></textarea>
			<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideInducibleNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Inducible</label>
                                <img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15
                                        ng-click="clearNote(vm.apiDomain.inducibleNote)">
                                <label class="label label-edit-search">Pick List</label>
                	        <select type=dropdown size="1" id="inducibleNote"
			                ng-options="choice.term as choice.term for choice in vm.inducibleLookup"
                                        ng-model="vm.attachInducibleNote"
                                        ng-change="attachInducibleNote()"
			                >
                	        </select>
				<label "label label-view-only">if duplicate appears, click X and Modify</label>
				<textarea class="form-control" rows=3 id="inducibleNote" ng-model="vm.apiDomain.inducibleNote.noteChunk" ></textarea>
			<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideCreNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">User (Cre)</label>
                                <img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15
                                        ng-click="clearNote(vm.apiDomain.creNote)">
				<label "label label-view-only">if duplicate appears, click X and Modify</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.creNote.noteChunk" id="creNote" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideIkmcNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">IKMC Allele Colony</label>
                                <img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15
                                        ng-click="clearNote(vm.apiDomain.ikmcNote)">
				<label "label label-view-only">if duplicate appears, click X and Modify</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.ikmcNote.noteChunk" id="ikmcNote" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideProidNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Associated PRO IDs</label>
                                <img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15
                                        ng-click="clearNote(vm.apiDomain.proidNote)">
				<label "label label-view-only">if duplicate appears, click X and Modify</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.proidNote.noteChunk" id="proidNote" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideProjectidNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Additional Project PRO IDs</label>
                                <img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15
                                        ng-click="clearNote(vm.apiDomain.projectidNote)">
				<label "label label-view-only">if duplicate appears, click X and Modify</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.projectidNote.noteChunk" id="projectidNote" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

		</div>
		</div>

		<div class="row">
        	<div class="col-sm-6" style="">

                	<div id="refTableWrapper">
                	<table class="table table-bordered" id="refTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:10px;"></th>
                	<th style="width:50px;">Type</th>
                	<th style="width:100px">J#</th>
                	<th style="width:150px;">Citation</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.refAssocs" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.refAssocs[$index].processStatus == 'd'}">
			<td style="width:10px;">
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>
				
			<td style="width:50px;">
                        <select type=dropdown size="1" id="refAssocType-{{$index}}" tabindex="-1"
                                ng-options="choice.refAssocTypeKey as choice.assocType for choice in vm.refAssocTypeLookup"
                                ng-model="row.refAssocTypeKey"
                                ng-change="changeRefRow($index)"
                                >
                                <option value="">Search All</option>
                        </select>
			</td>

			<td style="width:100px;">
                        <input class="form-control" type="text" id="refjnumID-{{$index}}"
				ng-model="row.jnumid"
				ng-change="changeRefRow($index)"
				ng-blur="validateJnum(row, $index, 'refjnumID-')"
			>
			</td>

			<td style="width:150px;">
                        <input class="form-control" type="text" id="refAssocCitation-{{$index}}"
				ng-model="row.short_citation"
			>
			</td>

			</tr>
			</tbody>

			<tfoot>
			<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addRefButton" 
				ng-class=""
                                ng-click="addRefRow('1013')" >Add Row</button>
			</td>
			</tr>
			</tfoot>

			</table>
			</div>
			<!-- end table -->

		</div>
		<!-- end col-sm-6 -->

		<div class="col-sm-2" style="">
                <div id="attributeTableWrapper">
                <table class="table table-bordered" id="attributeTable" >
		<tbody>
		<tr>
		<td>
		<label class="label label-edit-search">Status</label><br>
                <select type=dropdown size="1" id="alleleStatus" 
			ng-options="choice.termKey as choice.term for choice in vm.alleleStatusLookup"
                       	ng-model="vm.apiDomain.alleleStatusKey"
			ng-class="{isDeleted:vm.apiDomain.alleleStatusKey == '847112'}"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Generation</label><br>
                <select type=dropdown size="1" id="alleleType" 
			ng-options="choice.termKey as choice.term for choice in vm.alleleTypeLookup"
                       	ng-model="vm.apiDomain.alleleTypeKey"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Inheritance Mode</label><br>
                <select type=dropdown size="1" id="inheritance" 
			ng-options="choice.termKey as choice.term for choice in vm.inheritanceLookup"
                       	ng-model="vm.apiDomain.inheritanceModeKey"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Germ Line Tranmission</label><br>
                <select type=dropdown size="1" id="transmission" 
			ng-options="choice.termKey as choice.term for choice in vm.transmissionLookup"
                       	ng-model="vm.apiDomain.transmissionKey"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Collection</label><br>
                <select type=dropdown size="1" id="collection" 
			ng-options="choice.termKey as choice.term for choice in vm.collectionLookup"
                       	ng-model="vm.apiDomain.collectionKey"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Mixed</label><br>
                <select type=dropdown size="1" id="isMixed" 
			ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                       	ng-model="vm.apiDomain.isMixed"
			ng-class="{isMixed:vm.apiDomain.isMixed == '1'}"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Extinct</label><br>
                <select type=dropdown size="1" id="isExtinct" 
			ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                       	ng-model="vm.apiDomain.isExtinct"
			ng-class="{isExtinct:vm.apiDomain.isExtinct == '1'}"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		</tbody>
		</table>
		</div>
		</div>
		<!-- end col-sm-2 -->

		</div>
		<!-- end row -->

		<div class="spacer"></div>
		<div class="row">
        	<div class="col-sm-6" style="">

                	<div id="cellLineTableWrapper">
                	<table class="table table-bordered" id="cellLineTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:10px;"></th>
                	<th style="width:150px;">Mutant Cell Line</th>
                	<th style="width:150px">Creator</th>
                	<th style="width:100px;">Modified By</th>
                	<th style="width:75px;">Date</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.mutantCellLineAssocs" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.mutantCellLineAssocs[$index].processStatus == 'd'}">
			<td style="width:10px;">
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>
				
			<td style="width:150px;">
                        <input class="form-control" type="text" id="mutantCellLine-{{$index}}"
				ng-model="row.mutantCellLine.cellLine"
				ng-change="changeCellLineRow($index)"
				ng-blur="validateMutantCellLine(row.mutantCellLine, $index, 'mutantCellLine-')"
			>
			</td>

			<td style="width:150px;">
                        <input class="form-control" type="text" id="creator-{{$index}}"
				ng-model="row.mutantCellLine.derivation.creator"
			>
			</td>

			<td style="width:100px;">
                        <input class="form-control" type="text" id="modifiedBy-{{$index}}"
				ng-model="row.modifiedBy"
			>
			</td>

			<td style="width:75px;">
                        <input class="form-control" type="text" id="modification_date-{{$index}}"
				ng-model="row.modification_date"
			>
			</td>

			</tr>
			</tbody>

			<tfoot>
			<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addCellLineButton" 
				ng-class=""
                                ng-click="addCellLineRow()" >Add Row</button>
			</td>
			</tr>
			</tfoot>

			</table>
			</div>
			<!-- end table -->

		</div>
		<!-- end col-sm-6 -->

		<div class="col-sm-4" style="">
                <div id="parentCellLineTableWrapper">
                <table class="table table-bordered" id="parentCellLineTable" >
		<tbody>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Parent Cell Line</label><br>
		<input type="text" class="form-control" id="parentCellLine"
                       	ng-model="vm.apiDomain.mutantCellLineAssocs[0].mutantCellLine.derivation.parentCellLine.cellLine"
			ng-change="changeParentCellLineRow()"
			ng-blur="validateParentCellLine(vm.apiDomain.mutantCellLineAssocs[0].mutantCellLine.derivation.parentCellLine, 'parentCellLine')"
		>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Parent Cell Line Strain</label><br>
		<input type="text" class="form-control" id="parentStrain"
                       	ng-model="vm.apiDomain.mutantCellLineAssocs[0].mutantCellLine.derivation.parentCellLine.strain"
		>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Cell Line Type</label><br>
                <select type=dropdown size="1" id="cellLineType" 
			ng-options="choice.termKey as choice.term for choice in vm.cellLineTypeLookup"
                       	ng-model="vm.apiDomain.mutantCellLineAssocs[0].mutantCellLine.derivation.parentCellLine.cellLineTypeKey"
			>
			<option value="">Search All</option>
                </select>
		</td>
		</tr>
		<tr>
		<td>
		<label class="label label-edit-search">Strain of Origin</label><br>
		<input type="text" class="form-control" id="strainOfOrigin"
                       	ng-model="vm.apiDomain.strainOfOrigin"
			ng-change="changeStraiOfOrigin()"
			ng-blur="validateStrainOfOrigin(vm.apiDomain.strainOfOrigin)"
		>
		</td>
		</tr>
		</tbody>
		</table>
		</div>
		</div>
		<!-- end col-sm-4 -->

		</div>
		<!-- end row -->

		<!-- tab content -->
		<div class="row sectionDivider topPadding bottomPadding">
		<div class="col-sm-12" style="">
		
			<!-- synonym tab -->
			<div class="row topMargin" >
			<div class="col-sm-12" style="">
			<div id="tabTableWrapper">

			<table class="table table-bordered scrollable-menu" id="synonymTable" style="">
			<thead>
			<tr>
			<th style="width:10px;"></th>
			<th style="width:300px;">Synonym</th>
			<th style="width:100px;">J#</th>
			<th style="">Citation</th>
			</tr>
			</thead>

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.synonyms" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.synonyms[$index].processStatus == 'd'}"
				>

			<td style="width:10px;">
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png"
				style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>
			 
			<td style="width:300px;">
			<input class="form-control" id="synonymName-{{$index}}" ng-model="row.synonym" ng-change="changeSynonymRow($index)" />
			</td>

			<td style="width:100px;">
                        <input class="form-control" type="text" id="synjnumID-{{$index}}"
				ng-model="row.jnumid"
				ng-change="changeSynonymRow($index)"
				ng-blur="validateJnum(row, $index, 'synjnumID-')"
			>
			</td>

			<td style=""> {{row.short_citation}} </td>

			</tr>
			</tbody>

			<tfoot>
			<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addSynonymButton" 
				ng-class=""
                                ng-click="addSynonymRow()" >Add Row</button>
			</td>
			</tr>
			</tfoot>

			</table>

			</div>
			</div>
			</div>
			<!-- end synonym tab -->

			<!-- subtypes tab -->
			<div class="row topMargin" >
			<div class="col-sm-12" style="">
			<div id="tabTableWrapper">

			<table class="table table-bordered scrollable-menu" id="subtypeTable" style="">
			<thead>
			<tr>
			<th style="width:10px;"></th>
			<th style="">Attribute</th>
			</tr>
			</thead>

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.subtypeAnnots" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.subtypeAnnots[$index].processStatus == 'd'}"
				>

			<td style="width:10px;">
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png"
				style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>
			 
			<td style="">
                	<select type=dropdown size="1" id="subtype-{{$index}}"
				ng-options="choice.termKey as choice.term for choice in vm.subtypeLookup"
                                ng-model="row.termKey"
                                ng-change="changeSubtypeRow($index)"
				>
				<option value="">Search All</option>
                	</select>
			</td>

			</tr>
			</tbody>

			<tfoot>
			<tr>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addSubtypeButton-{{$index}}" 
				ng-class=""
                                ng-click="addSubtypeRow()" >Add Row</button>
			</td>
			</tr>
			</tfoot>

			</table>

			</div>
			</div>
			</div>
			<!-- end subtypes tab -->

			<!-- mutations tab -->
			<div class="row topMargin" >
			<div class="col-sm-12" style="">
			<div id="tabTableWrapper">

			<table class="table table-bordered scrollable-menu" id="mutationTable" style="">
			<thead>
			<tr>
			<th style="width:10px;"></th>
			<th style="">Molecular Mutations</th>
			</tr>
			</thead>

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.mutations" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.mutations[$index].processStatus == 'd'}"
				>

			<td style="width:10px;">
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png"
				style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>
			 
			<td style="">
                	<select type=dropdown size="1" id="mutation-{{$index}}"
				ng-options="choice.termKey as choice.term for choice in vm.mutationLookup"
                                ng-model="row.mutationKey"
                                ng-change="changeMutationRow($index)"
				>
				<option value="">Search All</option>
                	</select>
			</td>

			</tr>
			</tbody>

			<tfoot>
			<tr>
			<td></td>
			<td>
                        <button type="button" style="float:right;" tabindex="-1" id="addMutationButton" 
				ng-class=""
                                ng-click="addMutationRow()" >Add Row</button>
			</td>
			</tr>
			</tfoot>

			</table>

			</div>
			</div>
			</div>
			<!-- end mutations tab -->

			<!-- driverGenes tab -->
			<div class="row topMargin" >
			<div class="col-sm-12" style="">
			<div id="tabTableWrapper">

			<table class="table table-bordered scrollable-menu" id="drivergeneTable" style="">
			<thead>
			<tr>
			<th style="width:10px;"></th>
			<th style="width:200px;">Marker</th>
			<th style="">Driver Gene</th>
			</tr>
			</thead>

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.driverGenes" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.driverGenes[$index].processStatus == 'd'}"
				>

			<td style="width:10px;">
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png"
				style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>
			 
			<td style="width:200px;">
                        <input class="form-control" type="text" id="driverGene-{{$index}}"
				ng-model="row.markerSymbol"
                                ng-change="changeDriverGeneRow($index, id)"
                                ng-blur="validateDriverGene($index, id)"
                                >
                        </input>
			</td>

			<td style="">
                        <select type=dropdown size="1" id="organism"-{{$index}} 
                                ng-options="choice.organismKey as choice.commonname for choice in vm.organismLookup"
                                ng-model="row.organismKey"
                                ng-change="changeDriverGeneRow($index, id)"
                                >
				<option value="">Search All</option>
                	</select>
			</td>

			</tr>
			</tbody>
			</table>

			</div>
			</div>
			</div>
			<!-- end driverGenes tab -->

			<!-- image pane tab -->
			<div class="row topMargin" >
			<div class="col-sm-12" style="">
			<div id="tabTableWrapper">

			<table class="table table-bordered scrollable-menu" id="imagePaneTable" style="">
			<thead>
			<tr>
			<th style="width:10px;"></th>
			<th style="width:200px;">MGI ID</th>
			<th style="width:200px;">PIX ID</th>
			<th style="width:200px;">Figure</th>
			<th style="width:200px;">Primary?</th>
			<th style="width:200px;">Image Class</th>
			</tr>
			</thead>

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.imagePaneAssocs" 
                                ng-click="selectImagePaneRow($index)"
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.imagePaneAssocs[$index].processStatus == 'd'}"
				>

			<td style="width:10px;">
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png"
				style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>
			 
			<td style="width:200px;">
                        <input class="form-control" type="text" id="mgiID-{{$index}}"
				ng-model="row.mgiID"
                                ng-change="changeImagePaneRow($index, id)"
                                ng-blur="validateImagePaneByMgiID(row, $index, 'mgiID-')"
                                >
                        </input>
			</td>

			<td style="width:200px;">
                        <input class="form-control" type="text" id="pixID-{{$index}}"
				ng-model="row.pixID"
                                ng-change="changeImagePaneRow($index, id)"
                                ng-blur="validateImagePaneByMgiID(row, $index, 'pixID-')"
                                >
                        </input>
			</td>

			<td style="width:200px;">
                        <input class="form-control" type="text" id="figureLabel-{{$index}}"
				ng-model="row.figureLabel"
                                ng-change="changeImagePaneRow($index, id)"
                                >
                        </input>
			</td>

			<td style="">
                        <select type=dropdown size="1" id="isPrimary-{{$index}}" 
			        ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                       	        ng-model="row.isPrimary"
			        ng-class="{isPrimary:row.isPrimary == '0'}"
                                ng-change="changeImagePaneRow($index, id)"
			        >
			        <option value="">Search All</option>
                        </select>
			</td>

			<td style="width:200px;">
                        <input class="form-control" type="text" id="imageClass-{{$index}}"
				ng-model="row.imageClass"
                                ng-change="changeImagePaneRow($index, id)"
                                >
                        </input>
			</td>

			</tr>
			</tbody>
			</table>

			</div>
			</div>
			</div>
		        <div class="row">
			        <div class="col-sm-12" style="">
			        <button type="button" style="float:right;" tabindex="-1" id="addImagePaneButton" ng-class=""
				        ng-click="addImagePaneRow()" >Add Row</button>
			        </div>
		        </div>
			<!-- end image pane tab -->

		</div>
		</div>
		<!-- end tab content -->

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:1250px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<!-- to avoid validateStrain() blur firing before clear(), call ng-mousedown() too -->
		<button type="button" id="clearButton" tabindex="-1" ng-mousedown="clear()" >Clear</button>
		<button type="button" id="modifyButton" tabindex="-1" ng-click="modify()" >Modify</button>
                <button type="button" id="createButton" tabindex="-1" ng-click="create()" ng-disabled="vm.apiDomain.alleleKey!=''" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="delete()" >Delete</button>
		
		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="createdBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="creationDate"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="modifiedBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="modificationDate" tab-to="accID"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Approved By</label>
				<input class="form-control" ng-model="vm.apiDomain.approvedBy" id="approvedBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Approval Date</label>
				<input class="form-control" ng-model="vm.apiDomain.approval_date" id="approvalDate" tab-to="accID"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">MGI ID</label><br>
				<input class="form-control" id="accID" tab-to="symbol"
					ng-model="vm.apiDomain.accID" 
				/>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.symbol}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row sectionDivider">
		<div class="col-sm-12" style="">
			<div id="parentCellLineLookup">{{vm.parentCellLineLookup.length}} Stem Cell Lines</div>
		</div>
		</div>
		<div id="parentCellLineTableWrapper">
		<table class="table table-bordered scrollable-menu" id="parentCellLineTable" style="">
    		<tbody>
			<tr ng-repeat="row in vm.parentCellLineLookup" 
				ng-click="selectParentCellLine($index)" 
				ng-class="($index==vm.selectedParentCellLineIndex) ? 'selectedRow' : ''"
				ng-class-odd="'oddRow'"
				>
		    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{row.cellLineDisplay}}</td>
			</tr>
		</tbody>
		</table>
		</div>

	</div>
</div>
</div>
</form>

<!-- Java API JSON data dump -->
<show-model vm="vm" />

<script type="text/javascript">
	document.getElementById("symbol").focus();
</script>

<ng-include src="PAGE_HELP_URL" />
