<title>Mapping Summary</title>

<h1>Mapping Summary Results</h1>

<div ng-bind-html="vm.youSearchForString"></div>
<br/>

<a ng-if="vmd.expts && vmd.expts.length > 0" href="{{vm.downloadUrl}}"><button>Download Tab-Delim File</button></a>
<br/>

<div ng-if="!vm.loading && (!vmd.expts || vmd.expts.length === 0)">
    No References Found
</div>

<loading-msg showing="vm.loading" />

<paginator
   ng-show="!vm.loading"
   page-size="vm.page_size"
   total-rows="vm.total_count"
   on-update="pageAction(pageFirstRow, pageNRows)"
   />

<div ng-if="!vm.loading && vmd.expts && vmd.expts.length > 0">
    <table class="dataTable">

	<tr>
		<th>Experiment Type</th>
		<th>Chromosome</th>
		<th>Reference J Num</th>
		<th>Reference Citation</th>
	</tr>

        <tr ng-repeat="expt in vmd.expts track by $index" class="{{ $index%2 ? 'row2' : 'row1' }}">
		<td>
			<a href="{{ url_for('pwi.mappingdetail', {id:expt.accID}) }}">{{expt.exptType}}</a>
		</td>
		<td>{{expt.chromosome}}</td>
		<td><a href="{{ url_for('pwi.referencesummary', {accids:expt.jnumid}) }}">{{expt.jnumid}}</a></td>
    		<td>{{expt.short_citation}}</td>
    	</tr>
    </table>
</div>

<paginator
   ng-show="!vm.loading"
   page-size="vm.page_size"
   total-rows="vm.total_count"
   on-update="pageAction(pageFirstRow, pageNRows)"
   />

<show-model vm="vm" />
<ng-include src="PAGE_HELP_URL" />
