{% extends "pageLayout.html" %}

{% block imports %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mgijs/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/organism/organism.css') }}">

	<script src="{{ url_for('static',filename='app/edit/organism/OrganismService.js')}}"></script>
	<script src="{{ url_for('static',filename='app/edit/organism/OrganismController.js')}}"></script>
	
	<script>
		var access_token = '{{config["ACCESS_TOKEN"]}}';
	</script>
	

{% endblock %}

{% block content %}
	<title>Organisms</title>

	<div id="wrapper" ng-controller="OrganismController">
		<div ng-include="'{{ url_for('static',filename='app/edit/organism/organism_content.html')}}'"></div>
	</div>


{% endblock %}

