<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="genotypeForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:800px;" >

		<div class="row topMargin">
			<div class="col-sm-8" style="">
				<label class="label label-edit-search">Strain</label><br>
				<input type="text" class="form-control"  
					ng-model="vm.apiDomain.strain" id="strain"
				>
			</div>
			<div class="col-sm-2" style="">
			<label class="label label-edit">Conditionally Targeted</label><br>
                        <select type=dropdown size="1" id="isConditional" tabindex="-1"
				ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                        	ng-model="vm.apiDomain.isConditional"
				ng-change="changeAlleleRow($index)"
				>
				<option value="">Select All</option>
                        </select>
			</div>

			<div class="col-sm-2" style="">
			<label class="label label-edit">Genotype Exists As</label><br>
                        <select type=dropdown size="1" id="existsAs" tabindex="-1"
				ng-options="choice.termKey as choice.term for choice in vm.existsAsLookup"
                        	ng-model="vm.apiDomain.existsAsKey"
				ng-change="changeAlleleRow($index)"
				>
				<option value="">Select All</option>
                        </select>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row ">
        		<div class="col-sm-12" style="">
                	<div id="allelePairTableWrapper" overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="allelePairTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
			<th style="width:5px;">#</th>
                	<th style="width:10px;">Chr</th>
                	<th style="width:80px;">Marker</th>
                	<th style="width:200px;">Allele 1</th>
                	<th style="width:200px;">Allele 2</th>
                	<th style="width:10px;">State</th>
                	<th style="width:10px;">Compound</th>
                	<th style="width:80px;">Mutant 1</th>
                	<th style="width:80px;">Mutant 2</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.allelePairs track by $index"
				ng-click="selectAllelePair($index)"
				ng-class="{deleteRow:row.processStatus == 'd', selectedRow:$index==vm.selectedAllelePairIndex}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px;">
                	<span ng-click="row.processStatus = 'd'">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td style="width:5px;">
                        <span>
                        <input style="width:2.1em;" class="form-control"
                                ng-model="row.sequenceNum"
                                ng-change="changeAllelePairRow($index)" />
                        </span>
                        </td>

                        <td style="width:10px">
                        <select type=dropdown size="1" id="chromsome" tabindex="-1"
				ng-options="choice.chromosome as choice.chromosome for choice in vm.chromosomeLookup"
                        	ng-model="row.markerChromosome"
				ng-change="changeAllelePairRow($index)"
				>
				<option value="">Select All</option>
                        </select>
                        </td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="markerSymbol-{{$index}}" 
				ng-model="row.markerSymbol"
				ng-change="changeAllelePairRow($index)"
				ng-blur="validateMarker(row, $index, 'markerSymbol-')"
				>
			</td>

			<td style="width:200px;">
			<input class="form-control" type="text" id="allele1-{{$index}}" 
				ng-model="row.alleleSymbol1"
				ng-change="changeAllelePairRow($index)"
				ng-blur="validateAllele1(row, $index, 'allele1-')"
				>
			</td>

			<td style="width:200px;">
			<input class="form-control" type="text" id="allele2-{{$index}}" 
				ng-model="row.alleleSymbol2"
				ng-change="changeAllelePairRow($index)"
				ng-blur="validateAllele2(row, $index, 'allele2-')"
				>
			</td>

                        <td style="width:10px">
                        <select type=dropdown size="1" id="pairState" tabindex="-1"
				ng-options="choice.termKey as choice.term for choice in vm.pairStateLookup"
                        	ng-model="row.pairStateKey"
				ng-change="changeAllelePairRow($index)"
				>
				<option value="">Select All</option>
                        </select>
                        </td>

                        <td style="width:10px">
                        <select type=dropdown size="1" id="compound" tabindex="-1"
				ng-options="choice.termKey as choice.term for choice in vm.compoundLookup"
                        	ng-model="row.compoundKey"
				ng-change="changeAllelePairRow($index)"
				>
				<option value="">Select All</option>
                        </select>
                        </td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="mutant1-{{$index}}" 
				ng-model="row.cellLine1"
				ng-change="changeAllelePairRow($index)"
				>
			</td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="mutant2-{{$index}}" 
				ng-model="row.cellLine2"
				ng-change="changeAllelePairRow($index)"
				>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addAllelePairButton" ng-class=""
				ng-click="addAllelePairRow()" >Add Row</button>
			</div>
		</div>
		<!-- allele pair buttons -->

		<!-- allele detail note -->
		<div class="spacer"></div>
		<div class="row">
			<div class="col-sm-12" style="">
			<label class="label label-search">Allele Detail Display</label>
			<textarea class="form-control" rows=3 id="alleleDetailNote" ng-model="vm.apiDomain.alleleDetailNote.noteChunk" ></textarea>
			</div>
		</div>
		<!-- allele detail note -->

		<!-- note buttons -->

		<div class="spacer"></div>
		<div class="row">
			<div class="col-sm-12" style="">
			<label class="label label-edit-search">General Note</label>
			<textarea class="form-control" rows=3 id="generalNote" ng-model="vm.apiDomain.generalNote.noteChunk" ></textarea>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
			<div class="col-sm-12" style="">
			<label class="label label-edit-search">Private Curatorial Note</label>
			<textarea class="form-control" rows=3 id="curatorialNote" ng-model="vm.apiDomain.privateCuratorialNote.noteChunk" ></textarea>
			</div>
		</div>

		<!-- note buttons -->

		<!-- imagepane -->
		<div class="spacer"></div>
		<div class="sectionDivider"></div>
		<div class="spacer"></div>
		<div class="row ">
        		<div class="col-sm-12" style="">
                	<div id="imagePaneTableWrapper" overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="imagePaneTable" >
			<caption class="label caption">Image Pane Associations</caption>

			<!-- table header -->
                	<thead>
                	<tr>
			<th style="width:90px;">MGI ID</th>
                	<th style="width:90px;">PIX ID</th>
                	<th style="width:90px;">Figure</th>
                	<th style="width:10px;">Primary?</th>
                	<th style="width:90px;">Image Class</th>
                	</tr>
			</thead>

                	<tbody> 
                	<tr ng-repeat="row in vm.apiDomain.imagePaneAssocs track by $index"
                        	ng-class-odd="'oddRow'"
				>

			<td style="width:90px;">
			<input class="form-control" type="text" id="mgiID-{{$index}}" 
				ng-model="row.mgiID"
				>
			</td>

			<td style="width:90px;">
			<input class="form-control" type="text" id="pixID-{{$index}}" 
				ng-model="row.pixID"
				>
			</td>

			<td style="width:90px;">{{row.figureLabel}}</td>

			<td style="width:10px;">
                        <select type=dropdown size="1" id="isPrimary-{{$index}}" tabindex="-1"
				ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                        	ng-model="row.isPrimary"
				>
				<option value="">Select All</option>
                        </select>
			</td>

			<td style="width:90px;">{{row.term}}</td>

			</tr>
			</tbody>
			</table>
			</div>
			</div>

		</div>
		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addImagePaneButton" ng-class=""
				ng-click="addImagePaneRow()" >Add Row</button>
			</div>
		</div>
		<!-- imagepane -->

		<!-- data sets -->
		<div class="spacer"></div>
		<div class="sectionDivider"></div>
		<div class="spacer"></div>
		<div class="row ">
        		<div class="col-sm-12" style="">
                	<div id="dataSetTableWrapper" overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="dataSetTable" >

			<!-- table header -->
                	<thead>
                	<tr>
			<th style="width:95px;">J#</th>
                	<th style="width:200px;">Citation/Strain/HT Sample</th>
                	<th style="width:95px;">Data Set</th>
                	</tr>
			</thead>

                	<tbody> 
                	<tr ng-repeat="row in vm.dataSets track by $index"
                        	ng-class-odd="'oddRow'"
				>

			<td style="width:95px;">
			<input class="form-control" type="text" id="jnum-{{$index}}" 
				ng-model="row.jnumid"
				ng-blur="validateJnum(row, $index, 'jnumID-')"
				>
			</td>

			<td style="width:200px;">
			<input class="form-control" type="text" id="citation-{{$index}}" 
				ng-model="row.short_citation"
				>
			</td>

			<td style="width:95px;">{{row.dataSet}}</td>

			</tr>
			</tbody>
			</table>
			</div>
			</div>


		</div>
		<!--
		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" id="dataSetsButton" tabindex="-1" 
				ng-click="getDataSets()" >Get Data Sets for Genotype</button>
			</div>
		</div>
		-->
		<!-- data sets -->

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:850px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		<button type="button" id="updateButton" tabindex="-1" ng-click="update()" >Modify</button>
		<button type="button" id="createButton" tabindex="-1" ng-click="create()" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="delete()" >Delete</button>
		
		<div class="spacer"></div>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="createdBy"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="creationDate"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="modifiedBy"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="modificationDate" tab-to="JNumID"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-12" style="">
				<label class="label label-search">MGI ID</label><br>
				<input class="form-control" ng-model="vm.apiDomain.accID" id="accID" />
			</div>
		</div>
		<div class="row topMargin">
			<div class="col-sm-12" style="">
				<label class="label label-search">RR ID</label><br>
				<input class="form-control" ng-model="vm.apiDomain.resourceIdentifierID" id="rridID" />
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row ">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.genotypeDisplay}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>
	</div>

</div>
</div>
</form>

<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" id="showApiDomainButton" tabindex="-1" ng-click="vm.hideApiDomain = !vm.hideApiDomain" 
					>Show JSON package/API domain only</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show JSON package/API domain + other data</button>			
			<div ng-hide="vm.hideApiDomain">
				<pre>{{ vm.apiDomain | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 

<script type="text/javascript">
	// This JavaScript will execute *after* content injection.
	var input = document.getElementById ("strain");
	input.focus ();
</script>

