<title>Genotype Module</title>
<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="genotypeForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:850px;" >

		<div class="row topMargin">
			<div class="col-sm-8" style="">
				<label class="label label-edit-search">Genetic Background/Strain</label><br>
				<input type="text" class="form-control" tabindex="markerSymbol-{{$index}}" 
					ng-model="vm.apiDomain.strain" id="strain"
					ng-keydown="validateStrain('strain')"
				>
			</div>
			<div class="col-sm-2" style="">
			<label class="label label-edit">Conditionally Targeted</label><br>
                        <select type=dropdown size="1" id="isConditional" tabindex="-1"
				ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                        	ng-model="vm.apiDomain.isConditional"
				>
				<option value="">Search All</option>
                        </select>
			</div>

			<div class="col-sm-2" style="">
			<label class="label label-edit">Genotype Exists As</label><br>
                        <select type=dropdown size="1" id="existsAs" tabindex="-1"
				ng-options="choice.termKey as choice.term for choice in vm.existsAsLookup"
                        	ng-model="vm.apiDomain.existsAsKey"
				>
				<option value="">Search All</option>
                        </select>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
        		<div class="col-sm-12" style="">
                	<div id="allelePairTableWrapper" overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="allelePairTable" >

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:5px;"></th>
			<th style="width:4em;">#</th>
                	<th style="width:10px;">Chr</th>
                	<th style="width:80px;">Marker Acc ID</th>
                	<th style="width:100px;">Marker</th>
                	<th style="width:150px;">Allele 1</th>
                	<th style="width:150px;">Allele 2</th>
                	<th style="width:10px;">State</th>
                	<th style="width:10px;">Compound</th>
                	<th style="width:90px;">Mutant 1</th>
                	<th style="width:90px;">Mutant 2</th>
                	</tr>
			</thead>

			<!-- table body -->
                	<!-- if deleting row, turn it orange --> 
                	<!-- if adding new row, turn it lime --> 

                	<tbody> 

			<!-- table rows; includes row -->
                	<tr ng-repeat="row in vm.apiDomain.allelePairs track by $index"
				ng-click="selectAllelePairRow($index)"
				ng-class="{deleteRow:row.processStatus == 'd', selectedRow:$index==vm.selectedAllelePairIndex}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:5px;">
                	<span ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

                        <td style="width:4em;">
                        <span>
                        <input style="" class="form-control" type="number" min="1" max="999"  tabindex="-1"
                                ng-model="row.sequenceNum"
                                ng-change="changeAllelePairRow($index)" />
                        </span>
                        </td>

                        <td style="width:10px;">
                        <select type=dropdown size="1" id="chromsome-{{$index}}" tabindex="-1"
				ng-options="choice.chromosome as choice.chromosome for choice in vm.chromosomeLookup"
                        	ng-model="row.markerChromosome"
				ng-change="changeAllelePairRow($index)"
				>
				<option value="">All</option>
                        </select>
                        </td>

			<td style="width:80px;">
			<input class="form-control" type="text" id="markerAccID-{{$index}}" 
				ng-model="row.markerAccID"
				ng-change="changeAllelePairRow($index)"
				ng-blur="validateMarker(row, $index, 'markerAccID-')"
				>
			</td>

			<td style="width:100px;">
			<input class="form-control" type="text" id="markerSymbol-{{$index}}" 
				ng-model="row.markerSymbol"
				ng-change="changeAllelePairRow($index)"
				ng-blur="validateMarker(row, $index, 'markerSymbol-')"
				>
			</td>

			<td style="width:150px;">
			<input class="form-control" type="text" id="allele1-{{$index}}" 
				ng-model="row.alleleSymbol1"
				ng-change="changeAllelePairRow($index)"
				ng-blur="validateAllele1(row, $index, 'allele1-')"
				>
			</td>

			<td style="width:150px;">
			<input class="form-control" type="text" id="allele2-{{$index}}" 
				ng-model="row.alleleSymbol2"
				ng-change="changeAllelePairRow($index)"
				ng-blur="validateAllele2(row, $index, 'allele2-')"
				>
			</td>

                        <td style="width:10px;">
                        <select type=dropdown size="1" id="pairState-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.pairStateLookup"
                        	ng-model="row.pairStateKey"
				ng-change="changeAllelePairRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

                        <td style="width:10px;">
                        <select type=dropdown size="1" id="compound-{{$index}}" 
				ng-options="choice.termKey as choice.term for choice in vm.compoundLookup"
                        	ng-model="row.compoundKey"
				ng-change="changeAllelePairRow($index)"
				>
				<option value="">Search All</option>
                        </select>
                        </td>

			<td style="width:90px;">
			<input class="form-control" type="text" id="mutant1-{{$index}}" 
				ng-model="row.cellLine1"
				ng-change="changeAllelePairRow($index)"
				ng-blur="validateMutantCellLine1(row, $index, 'mutant1-')"
				>
			</td>

			<td style="width:90px;">
			<input class="form-control" type="text" id="mutant2-{{$index}}" 
				ng-model="row.cellLine2"
				ng-change="changeAllelePairRow($index)"
				ng-blur="validateMutantCellLine2(row, $index, 'mutant2-')"
				>
			</td>

			</tr>
			</tbody>
			</table>
			</div>
			<!-- end table -->
			</div>
			<!-- end col-sm-10 -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addAllelePairButton" ng-class=""
				ng-click="addAllelePairRow()" >Add Row</button>
			</div>
		</div>
		<!-- allele pair buttons -->

		<!-- allele detail note -->
		<div class="row">
			<div class="col-sm-5" style="">
			<label class="label label-search">Allele Detail Display</label>
			<img id="clearDetailButton" src="/pwi/static/images/clear.png" width=15 height=15
				ng-click="clearNote(vm.apiDomain.alleleDetailNote)">
			<textarea class="form-control" rows=3 id="alleleDetailNote" ng-model="vm.apiDomain.alleleDetailNote.noteChunk" ></textarea>
			</div>

			<div class="col-sm-5" style="">
			<label class="label label-edit-search">General Note</label>
			<img id="clearGeneralButton" src="/pwi/static/images/clear.png" width=15 height=15 
				ng-click="clearNote(vm.apiDomain.generalNote)">
			<label "label label-view-only">if duplicate appears, click X and Modify</label>
		        <textarea class="form-control" rows=3 id="generalNote" ng-model="vm.apiDomain.generalNote.noteChunk" ></textarea>
			</div>

			<div class="col-sm-2" style="">
			<div class="row" style="">
                	<table class="table table-bordered" id="linkOutTable" >
			<tr>
			<td>
                        <span style="position: relative; bottom: -1;">
                            MP Annotations<img style="position:absolute;" id="mpannotButton" class="externalLink"
                            src="/pwi/static/images/link_out.png" width=20 height=20
                            ng-click="mpannotLink()" >
                        </span>
			</td>
			</tr>
			<tr>
			<td>
                        <span style="position: relative; bottom: -1;">
                            DO Annotations<img style="position:absolute;" id="doannotButton" class="externalLink"
                            src="/pwi/static/images/link_out.png" width=20 height=20
                            ng-click="doannotLink()" >
                        </span>
			</td>
			</tr>
			</table>
			</div>
			</div>

		</div>
		<!-- allele detail note -->

		<!-- note buttons -->
		<div class="row">
			<div class="col-sm-12" style="">
			<label class="label label-edit-search">Private Curatorial Note</label>
			<img id="clearPrivateButton" src="/pwi/static/images/clear.png" width=15 height=15
				ng-click="clearNote(vm.apiDomain.privateCuratorialNote)">
			<label "label label-view-only">if duplicate appears, click X and Modify</label>
			<textarea class="form-control" rows=3 id="curatorialNote" ng-model="vm.apiDomain.privateCuratorialNote.noteChunk" ></textarea>
			</div>
		</div>
		<!-- note buttons -->

		<!-- imagepane -->
		<div class="spacer"></div>
		<div class="sectionDivider"></div>
		<div class="spacer"></div>
		<div class="row">
        		<div class="col-sm-12" style="">
                	<div id="imagePaneTableWrapper" overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="imagePaneTable" >
			<caption class="label caption">Image Pane Associations</caption>

			<!-- table header -->
                	<thead>
                	<tr>
                	<th style="width:1px;"></th>
			<th style="width:90px;">MGI ID</th>
                	<th style="width:90px;">PIX ID</th>
                	<th style="width:90px;">Figure</th>
                	<th style="width:10px;">Primary?</th>
                	<th style="width:90px;">Image Class</th>
                	</tr>
			</thead>

                	<tbody> 
                	<tr ng-repeat="row in vm.apiDomain.imagePaneAssocs track by $index"
				ng-click="selectImagePaneRow($index)"
				ng-class="{deleteRow:row.processStatus == 'd', selectedRow:$index==vm.selectedImagePaneIndex}"
                        	ng-class-odd="'oddRow'"
				>

                	<td style="width:1px;">
                	<span ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                        	<img src="/pwi/static/images/remove.png"
                        	style="width:12px; height: 12px; cursor: pointer;" />
                	</span>
                	</td>

			<td style="width:90px;">
			<input class="form-control" type="text" id="mgiID-{{$index}}" 
				ng-model="row.mgiID"
				ng-blur="validateImagePaneByMgiID(row, $index, 'mgiID-')"
				ng-change="changeImagePaneRow($index)"
				>
			</td>

			<td style="width:90px;">
			<input class="form-control" type="text" id="pixID-{{$index}}" 
				ng-model="row.pixID"
				ng-blur="validateImagePaneByPixID(row, $index, 'pixID-')"
				ng-change="changeImagePaneRow($index)"
				>
			</td>

			<td style="width:90px;">{{row.figureLabel}}</td>

			<td style="width:10px;">
                        <select type=dropdown size="1" id="isPrimary-{{$index}}" tabindex="-1"
				ng-options="choice.termKey as choice.term for choice in vm.yesnoLookup"
                        	ng-model="row.isPrimary"
				ng-change="changeImagePaneRow($index)"
				>
				<option value="">Search All</option>
                        </select>
			</td>

			<td style="width:90px;">{{row.imageClass}}</td>

			</tr>
			</tbody>
			</table>
			</div>
			</div>

		</div>
		<div class="row">
			<div class="col-sm-12" style="">
			<button type="button" style="float:right;" tabindex="-1" id="addImagePaneButton" ng-class=""
				ng-click="addImagePaneRow()" >Add Row</button>
			</div>
		</div>
		<!-- imagepane -->

		<!-- data sets -->
		<div class="spacer"></div>
		<div class="sectionDivider"></div>
		<div class="spacer"></div>
		<div class="row">
        		<div class="col-sm-12" style="">
                	<div id="dataSetTableWrapper" overflow-y: scroll;" >
                	<table class="table table-bordered scrollable-menu" id="dataSetTable" >

			<!-- table header -->
                	<thead>
                	<tr>
			<th style="width:95px;">J#</th>
                	<th style="width:200px;">Citation/Strain/HT Sample</th>
                	<th style="width:95px;">Data Set</th>
                	</tr>
			</thead>

                	<tbody> 
                	<tr ng-repeat="row in vm.dataSetsDomain.dataSets track by $index"
                        	ng-class-odd="'oddRow'"
				>

			<td style="width:95px;">
			<input class="form-control" type="text" id="jnum-{{$index}}" 
				ng-model="row.jnumid"
				ng-blur="validateJnum(row, $index, 'jnumID-')"
				>
			</td>

			<td style="width:200px;">
			<input class="form-control" type="text" id="citation-{{$index}}" 
				ng-model="row.short_citation"
				>
			</td>

			<td style="width:95px;">{{row.dataSet}}</td>

			</tr>
			</tbody>
			</table>
			</div>
			</div>


		</div>
		<div class="row">
			<div class="col-sm-2" style="">
			<div id="dataSetCount">{{vm.dataSetsDomain.total_count}} Data Set(s) returned</div>
			</div>
			<div class="col-sm-10" style="">
			<button type="button" style="float:right;" id="dataSetsButton" tabindex="-1" 
				ng-click="getDataSets()"
				ng-disabled="vm.selectedIndex<0"
				>Get Data Sets for Genotype</button>
			</div>
		</div>
		<!-- data sets -->

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:850px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<!-- to avoid validateStrain() blur firing before clear(), call ng-mousedown() too -->
		<button type="button" id="clearButton" tabindex="-1" ng-mousedown="clear()" >Clear</button>
		<button type="button" id="modifyButton" tabindex="-1" ng-click="modify()" >Modify</button>
                <button type="button" id="createButton" tabindex="-1" ng-click="create()" ng-disabled="vm.apiDomain.genotypeKey!=''&&vm.apiDomain.genotypeKey!=null" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="delete()" >Delete</button>
                <button type="submit" id="searchSummaryButton" tabindex="-1" ng-click="searchSummary()">Search Summary</button>
		<button type="submit" id="addClipboardRow" tabindex="-1" ng-click="addClipboardRow()" >Clipboard+</button>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="createdBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="creationDate"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="modifiedBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="modificationDate" tab-to="accID"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">MGI ID</label><br>
				<input class="form-control" id="accID"
					ng-model="vm.apiDomain.accID" 
				/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-view-only">RR ID</label><br>
				<input class="form-control" ng-model="vm.apiDomain.resourceIdentifierID" id="rridID" tab-to="strain"/>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.genotypeDisplay}}</td>
				</tr>
			</tbody>
			</table>
			</div>

			<div class="spacer"></div>
			<hr/>
			<div class="row">
			<div class="col-sm-12" style="">
			<label>Genotype Clipboard</label>
			<button type="submit" id="addClipboardRow" tabindex="-1" ng-click="addClipboardRow()" >Add</button>
			<button type="submit" id="deleteClipboard" tabindex="-1" ng-click="deleteClipboard(vm.selectedClipboardIndex)" >Delete</button>
			<button type="submit" id="clearClipboard" tabindex="-1" ng-click="clearClipboard()" >Clear</button>
                        <button type="submit" id="summaryClipboardButton" tabindex="-1" ng-click="summaryClipboard()">Summary</button>
			<div id="clipboardCount">{{vm.clipboardDomain.genotypeClipboardMembers.length}} result(s)</div>
			</div>
			</div>

			<div id="clipboardTableWrapper">
			<table class="table table-bordered scrollable-menu" id="clipboardTable" style="">
    			<tbody>
				<tr ng-repeat="row in vm.clipboardDomain.genotypeClipboardMembers" 
					ng-click="selectClipboard($index)" 
					ng-class="($index==vm.selectedClipboardIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'"
					>
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">[{{row.genotypeID}}] {{row.label}}</td>
				</tr>
			</tbody>
			</table>
			</div>

		</div>
		</div>
	</div>

</div>
</div>
</form>

<form id="genotype-search-summary-form" method="POST" enctype="multipart/form-data" action="{{url_for('pwi.genotypesummary')}}" target="_blank">
    <input type="hidden" name="accid"/>
</form>

<!-- Java API JSON data dump -->
<show-model vm="vm" />
<ng-include src="PAGE_HELP_URL" />

<script type="text/javascript">
	document.getElementById("strain").focus();
</script>

