
<div ng-hide="vm.hideLoadingHeader">
	<h3 id='loadingHeader'>Searching...</h3>
</div>

<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>


<div class="container-fluid">
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-8" style="">

		</br>
		<div class="row ">
		<div class="col-sm-8" style="">

			<div class="row ">
			<div class="col-sm-6" style="">
			<label class="label label-search">Marker Type</label><br>
			<select id="markerType" ng-model="vm.markerData.markerTypeKey" size="1">
				<option value="">Search All</option>
				<option value="1">Gene</option>
				<option value="2">DNA Segment</option>
				<option value="3">Cytogenetic Marker</option>
				<option value="6">QTL</option>
				<option value="7">Pseudogene</option>
				<option value="8">BAC/YAC end</option>
				<option value="9">Other Genome Feature</option>
				<option value="10">Complex/Cluster/Region</option>
				<option value="12">Transgene</option>
			</select>
			</div>

			<div class="col-sm-6" style="">
			<label class="label label-search">Marker Status</label><br>
			<select id="markerStatus" ng-model="vm.markerData.markerStatusKey" size="1">
				<option value="">Search All</option>
				<option value="1">Official</option>
				<option value="3">Reserved</option>
				<option value="2">Withdrawn</option>
			</select>
			</div>
			</div>

			</br>
			<div class="row ">
			<div class="col-sm-12" style="">
				<label class="label label-search">Symbol</label>
				<input class="form-control" ng-model="vm.markerData.symbol" id="markerSymbol" name="symbol"/>
			</div>
			</div>
			
			</br>
			<div class="row ">
			<div class="col-sm-12" style="">
				<label class="label label-search">Name</label>
				<input class="form-control" ng-model="vm.markerData.name" id="markerName" name="name"/>
			</div>
			</div>

			</br>
			<div class="row ">
			<div class="col-sm-12" style="">
				<label class="label label-search">Accession ID</label>
				<input class="form-control" ng-model="vm.markerData.accID" id="MarkerAccID" name="accID"/>
			</div>
			</div>

		</div>
		<div class="col-sm-4" style="">
			Future Symbol / Feature Type Area
		</div>
		</div>
	</div>

	<!-- main right panel -->
	<div class="col-sm-4" style="">

		</br>
		<button type="button" id="searchButton" ng-click="eiSearch()" >Search</button>
		<button type="button" id="clearButton" ng-click="eiClear()" >Clear</button>

		</br>
		<div class="row ">
		<div class="col-sm-12" style="">

			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTableHeader" style="">
    		<tbody>
				<tr ng-repeat="result in vm.results ">
			    	<td style="min-width: 200px;">{{result.symbol}}</td>
				</tr>
			</tbody>
			</table>
			</div>

		</div>
		</div>
		
	</div>

</div>
</div>



<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row ">
		<div class="col-sm-12">
			<button type="button" id="showSummaryButton" ng-click="vm.showData = !vm.showData;" 
					>Show Marker JSON from API</button>			
			<div ng-hide="vm.showData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 






