<title>Marker EI Module</title>
<div ng-hide="vm.hideErrorContents">
        <h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="markerForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:700px;" >

		<form id="markerTopForm" class="form-horizontal mousetrap">

		<div class="row topMargin">
		<div class="col-sm-10" style="">

			<div class="row">
			<div class="col-sm-6" style="">
			<label class="label label-edit-search">Organism</label><br>
                        <select type=dropdown size="1" id="organism" 
                                ng-options="choice.organismKey as choice.fullName for choice in vm.organismLookup"
                                ng-model="vm.apiDomain.organismKey"
                                ng_change="changeOrganism()"
                                >
                                <option value="">Search All</option>
                        </select>
			</div>

			<div class="col-sm-3" style="">
			<label class="label label-edit-search">Marker Type</label><br>
                        <select type=dropdown size="1" id="markerType" 
                                ng-options="choice.markerTypeKey as choice.markerType for choice in vm.markerTypeLookup"
                                ng-model="vm.apiDomain.markerTypeKey"
                                ng-change="changeMarker()"
                                >
                                <option value="">Search All</option>
                        </select>
			</div>

			<div class="col-sm-2" style="">
			<label class="label label-edit-search">Marker Status</label><br>
                        <select type=dropdown size="1" id="markerStatus" 
                                ng-options="choice.markerStatusKey as choice.markerStatus for choice in vm.markerStatusLookup"
                                ng-model="vm.apiDomain.markerStatusKey"
                                ng-change="changeMarker()"
                                >
                                <option value="">Search All</option>
                        </select>
			</div>
			
			<div class="col-sm-1" style="">
			<label class="label label-edit-search">Chr</label>
			<input class="form-control" autofocus id="chromosome" name="chromosome" list="browser"
				ng-model="vm.apiDomain.chromosome" 
                               	ng-change="changeMarker()" />
			<datalist id="browser">
  			<option value="1">
  			<option value="2">
  			<option value="3">
  			<option value="4">
  			<option value="5">
  			<option value="6">
  			<option value="7">
  			<option value="8">
  			<option value="9">
  			<option value="10">
  			<option value="11">
  			<option value="12">
  			<option value="13">
  			<option value="14">
  			<option value="15">
  			<option value="16">
  			<option value="17">
  			<option value="18">
  			<option value="19">
  			<option value="X">
  			<option value="Y">
  			<option value="XY">
  			<option value="UN">
  			<option value="MT">
  			</datalist>
			</div>
			</div>

			<div class="spacer"></div>
			<div class="row">
			    <div class="col-sm-8" style="">
				<label class="label label-edit-search">Symbol</label>
				<input class="form-control" autofocus id="markerSymbol" name="symbol"
					ng-model="vm.apiDomain.symbol" 
                                	ng-change="changeMarker()" />
			    </div>

			    <div class="spacer"></div>
			    <div class="col-sm-4" ng-if="vm.results.length>0">
                                <div class="gridButtonsWrapper">
                                  Marker Detail<span style="position: left; bottom: -1;">
                                  <img style="position:absolute;" id="mrkDetailButton" class="externalLink"
                                      src="/pwi/static/images/link_out.png" width=20 height=20
                                          ng-click="mrkLink()" >
                                  </span>
                                </div>
                            </div>

			</div>
			
                        <div class="spacer"></div>
			<div class="row">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Name</label>
				<input class="form-control" id="markerName" name="name"
					ng-model="vm.apiDomain.name" 
                                	ng-change="changeMarker()" />
			</div>
			</div>

                        <div class="spacer"></div>
			<div class="row">
				<div class="col-sm-3" style="">
					<label class="label label-edit-search">Cytogenetic Band</label>
					<input class="form-control"  id="cytogeneticOffset" name="cytogeneticOffset"
						ng-model="vm.apiDomain.cytogeneticOffset" 
                                		ng-change="changeMarker()" />
				</div>
				<div class="col-sm-3" style="">
					<label class="label label-edit-search">cM Position</label>
					<input class="form-control"  id="cmOffset" name="cmOffset"
						ng-model="vm.apiDomain.cmOffset"
                                		ng-change="changeMarker()" />
				</div>

				<div class="col-sm-6" style="">
			 	<div class="row" ng-if="vm.apiDomain.markerTypeKey != 2 && vm.apiDomain.markerTypeKey != 6 && vm.apiDomain.markerTypeKey != 8 && vm.apiDomain.markerTypeKey != 10 && vm.apiDomain.markerTypeKey != 12">
				<div class="col-sm-12" style="">
				<div id="featureTypeTableWrapper">
				<table class="table table-bordered scrollable-menu" id="featureTypeTable" style="">
				<thead>
				<th>Feature Type</th>
				</thead>

    				<tbody>
				<tr ng-repeat="row in vm.apiDomain.featureTypes" 
					ng-click=""
					ng-class-odd="'oddResultRow'"
					ng-class="{deleteRow:vm.apiDomain.featureTypes[$index].processStatus == 'd'}"
					>
                        	<td>
                        	<select type=dropdown size="1" id="featureID" 
                                	ng-options="choice.termKey as choice.term for choice in vm.featureTypeLookup"
                                	ng-model="row.termKey"
                                	ng-change="validateFeatureTypeRow($index)"
                                	>
                                	<option value="">Search All</option>
                        	</select>
                        	</td>

				</tr>
				</tbody>
				</table>
				</div>
				</div>
			</div>
                        <!--
			<button type="button" tabindex="-1" id="addFeatureTypeButton" ng-class="" ng-click="addFeatureTypeRow()" >Add Row</button>
                        -->
			</div>
			<!-- end feature type -->

			</div>
		</div>

		</div>
		</form>
		<div>
		
		<!-- notes panel -->
		<div class="row">
		<div class="col-sm-12 sectionDivider" style="" >

			<div class="row topPadding bottomPadding">
			<div class="col-sm-12" style="">
				<button type="button" id="hideShowEditorNoteButton" ng-class="{'hasNoteButton':  vm.apiDomain.editorNote.noteChunk != ''}" ng-click="hideShowEditorNote()" >Editor Note</button>
				<button type="button" id="hideShowSequenceNoteButton" ng-class="{'hasNoteButton':  vm.apiDomain.sequenceNote.noteChunk != ''}"
					ng-click="hideShowSequenceNote()" >Sequence Note</button>
				<button type="button" id="hideShowMarkerRevisionNoteButton"  ng-class="{'hasNoteButton':  vm.apiDomain.revisionNote.noteChunk != ''}"
					ng-click="hideShowMarkerRevisionNote()" >Marker Revision Note</button>
				<button type="button" id="hideShowStrainSpecificNoteButton" ng-class="{'hasNoteButton':  vm.apiDomain.strainNote.noteChunk != ''}"
					ng-click="hideShowStrainSpecificNote()" >Strain-Specific Note</button>
				<button type="button" id="hideShowLocationNoteButton" ng-class="{'hasNoteButton':  vm.apiDomain.locationNote.noteChunk != ''}"
					ng-click="hideShowLocationNote()" >Location Note</button>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideEditorNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Editor Note</label>
				<textarea class="form-control" rows=3 id="editorNote" ng-model="vm.apiDomain.editorNote.noteChunk" ></textarea>
			<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideSequenceNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Sequence Note</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.sequenceNote.noteChunk" id="sequenceNote" placeholder="" ></textarea>
			<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideMarkerRevisionNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Marker Revision Note</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.revisionNote.noteChunk" id="revisionNote" placeholder="" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

			<div class="row" ng-hide="vm.hideStrainSpecificNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Strain-Specific Note</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.strainNote.noteChunk" id="strainNote" placeholder="" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>
			
			<div class="row" ng-hide="vm.hideLocationNote">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Location Note</label>
				<textarea class="form-control" rows=3 ng-model="vm.apiDomain.locationNote.noteChunk" id="locationNote" placeholder="" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

		</div>
		</div>

		<!-- history panel -->
		<div class="row">
		<div class="col-sm-12 sectionDivider" style="" >

			<div class="row topMargin">
			<div class="col-sm-12" style="">
			<div id="historyTableWrapper">

			<table class="table table-bordered scrollable-menu" id="historyTable" style="">
			<thead>
			<tr>
			<th id=deleteIconColumn</th>
			<th>#</th>
			<th style="width:150px;">Symbol</th>
			<th style="width:300px;">Name</th>
			<th style="width:85px;">Date</th>
			<th style="width:80px;">J#</th>
			<th style="width:200px;">Citation</th>
			<th>Event</th>
			<th>Reason</th>
			<th>Modified By</th>
			</tr>
			</thead>

    			<tbody>

			<tr ng-repeat="row in vm.apiDomain.history" 
				ng-click=""
				ng-class-odd="'oddResultRow'" 
				ng-class="{deleteRow:vm.apiDomain.history[$index].processStatus == 'd'}"
				>

			<td>
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>

			<td>
			<input style="width:2.1em;" class="form-control"
			    	ng-model="row.sequenceNum"
				ng-change="changeHistoryRow($index)" />
			</td>

			<td style="width:150px;">
			<input class="form-control" type="text" id="historySymbol-{{$index}}"
			 	ng-blur="validateHistorySymbol(row, $index, 'historySymbol-')" 
				ng-model="row.markerHistorySymbol"
			 	ng-change="changeHistoryRow($index)" />
			</td>

			<td style="width:300px;">
			<input class="form-control" id="historyName-{{$index}}" ng-model="row.markerHistoryName" ng-change="changeHistoryRow($index)" />
			</td>

			<td style="width:85px;">
			<input class="form-control" type="text" id="historyEventDate-{{$index}}"
				ng-model="row.event_date" ng-change="changeHistoryRow($index)" />
			</td>

			<td style="width:80px;">
                        <input class="form-control" type="text" id="historyJnum-{{$index}}"
				ng-model="row.jnumid"
				ng-change="changeHistoryRow($index)"
				ng-blur="validateJnum(row, $index, 'historyJnum-')"
			>
			</td>

			<td style="width:200px;" type="text" id="historyShortCitation-{{$index}}">{{row.short_citation}}</td>

                        <td>
                        <select type=dropdown size="1" id="historyEvent-{{$index}}" 
                                ng-options="choice.termKey as choice.term for choice in vm.eventLookup"
                                ng-model="row.markerEventKey"
                                ng-change="changeHistoryRow($index)"
                                >
                                <option value="">Search All</option>
                        </select>
                        </td>

                        <td>
                        <select type=dropdown size="1" id="historyEventReason-{{$index}}" 
                                ng-options="choice.termKey as choice.term for choice in vm.eventReasonLookup"
                                ng-model="row.markerEventReasonKey"
                                ng-change="changeHistoryRow($index)"
                                >
                                <option value="">Search All</option>
                        </select>
                        </td>

			<td style="width:50px;">
                        <input class="form-control" type="text" id="historyModifiedBy-{{$index}}"
				ng-model="row.modifiedBy"
			>
			</td>

			</tr>
			</tbody>
			</table>
			<button type="button" tabindex="-1" id="addHistoryButton" ng-class="" ng-click="addHistoryRow()" >Add Row</button>
			</div>
			</div>
			</div>
		</div>

		<div class="spacer"></div>
		</div>

		<!-- control buttons for tabs -->
		<div class="row sectionDivider topPadding bottomPadding">
		<div class="col-sm-12" style="">
			<button type="button" id="synTabButton" ng-class="{activeTab:vm.activeTab == 1}"
				ng-click="setActiveTab(1)" >Synonyms</button>
			<button type="button" id="refsTabButton" ng-class="{activeTab:vm.activeTab == 2}"
				ng-click="setActiveTab(2)" >References</button>
			<button type="button" id="accNucTabButton"  ng-class="{activeTab:vm.activeTab == 3}"
				ng-click="setActiveTab(3)" >AccIDs (Editable)</button>
			<button type="button" id="accOtherTabButton" ng-class="{activeTab:vm.activeTab == 4}"
				ng-click="setActiveTab(4)" >AccIDs (Other)</button>
			<button type="button" id="mgiIdTabButton" ng-class="{activeTab:vm.activeTab == 5}"
				ng-click="setActiveTab(5)" >MGI IDs</button>
			<button type="button" id="tssTabButton" ng-class="{activeTab:vm.activeTab == 6}"
				ng-click="setActiveTab(6)" >TSS</button>
			<button type="button" id="qtlInterTabButton" ng-class="{activeTab:vm.activeTab == 8}"
				ng-click="setActiveTab(8)" >Interacting QTL</button>
			<button type="button" id="qtlCandTabButton" ng-class="{activeTab:vm.activeTab == 9}"
				ng-click="setActiveTab(9)" >QTL-Candidate Gene</button>
			<button type="button" id="utilsTabButton" ng-class="{activeTab:vm.activeTab == 10}"
				ng-click="setActiveTab(10)" >Utilities</button>
		</div>
		</div>

		<!-- tab content -->
		<div class="row sectionDivider topPadding bottomPadding">
		<div class="col-sm-12" style="">
		
			<!-- synonym tab -->
			<div ng-if="vm.activeTab==1">
			<div class="row topMargin" >
			<div class="col-sm-12" style="">
			<div id="tabTableWrapper">

			<button type="button" tabindex="-1" id="addSynonymButton" ng-class="" ng-click="addSynonymRow()" >Add Row</button>

			<table class="table table-bordered scrollable-menu" id="synonymTable" style="">
			<thead>
			<tr>
			<th style="width:10px;"></th>
			<th style="width:50px;">Type</th>
			<th style="width:200px;">Synonym</th>
			<th style="width:80px;">J#</th>
			<th style="width:150px;">Citation</th>
			<th style="width:50px;">Modified By</th>
			<th style="width:50px;">Date</th>
			</tr>
			</thead>

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.synonyms" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.synonyms[$index].processStatus == 'd'}"
				>

			<td style="width:10px;">
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png"
				style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>
			 
			<td style="width:50px;">
                        <select type=dropdown size="1" id="synonymType-{{$index}}" tabindex="-1"
                                ng-options="choice.synonymTypeKey as choice.synonymType for choice in vm.synonymTypeLookup"
                                ng-model="row.synonymTypeKey"
                                ng-change="changeSynonymRow($index)"
                                >
                                <option value="">Search All</option>
                        </select>
			</td>

			<td style="width:200px;">
			<input class="form-control" id="synonymName-{{$index}}" ng-model="row.synonym" ng-change="changeSynonymRow($index)" />
			</td>

			<td style="width:80px;">
                        <input class="form-control" type="text" id="synjnumID-{{$index}}"
				ng-model="row.jnumid"
				ng-change="changeSynonymRow($index)"
				ng-blur="validateJnum(row, $index, 'synjnumID-')"
			>
			</td>

			<td style="width:150px;"> {{row.short_citation}} </td>

			<td style="width:50px;">
                        <input class="form-control" type="text" id="synonymModifiedBy-{{$index}}"
				ng-model="row.modifiedBy"
			>
			</td>

			<td style="width:50px;">
                        <input class="form-control" type="text" id="synonymModification_date-{{$index}}"
				ng-model="row.modification_date"
			>
			</td>

			</tr>
			</tbody>
			</table>

			</div>
			</div>
			</div>
			</div>

			<!-- references tab -->
			<div ng-if="vm.activeTab==2">
			<div class="row topMargin" >
			<div class="col-sm-12" style="">
			<div id="tabTableWrapper">

			<button type="button" tabindex="-1" id="addReferenceButton" ng-class="" ng-click="addRefRow()" >Add Row</button>

			<h4 ng-if="vm.loadingRefs">Retrieving references <img id="retrievingDataGif" src="/pwi/static/images/retrievingData.gif"></h4>

			<table class="table table-bordered scrollable-menu" id="refsTable" style="">
			<thead>
			<tr>
			<th style="width:10px;"></th>
			<th style="width:20px;">Type</th>
			<th style="width:100px;">J#</th>
			<th style="width:250px;">Citation</th>
			<th style="width:80px;">Modified By</th>
			<th style="width:80px;">Date</th>
			</tr>
			</thead>

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.refAssocs" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.refAssocs[$index].processStatus == 'd'}">
			<td style="width:10px;">
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>
				
			<td style="width:20px;">
                        <select type=dropdown size="1" id="refAssocType" tabindex="-1"
                                ng-options="choice.refAssocTypeKey as choice.assocType for choice in vm.refAssocTypeLookup"
                                ng-model="row.refAssocTypeKey"
                                ng-change="changeRefRow($index)"
                                >
                                <option value="">Search All</option>
                        </select>
			</td>

			<td style="width:100px;">
                        <input class="form-control" type="text" id="refjnumID-{{$index}}"
				ng-model="row.jnumid"
				ng-change="changeRefRow($index)"
				ng-blur="validateJnum(row, $index, 'refjnumID-')"
			>
			</td>

			<td style="width:250px;">
                        <input class="form-control" type="text" id="refAssocCitation-{{$index}}"
				ng-model="row.short_citation"
			>
			</td>

			<td style="width:80px;">
                        <input class="form-control" type="text" id="refAssocModifiedBy-{{$index}}"
				ng-model="row.modifiedBy"
			>
			</td>

			<td style="width:80px;">
                        <input class="form-control" type="text" id="refAssocModification_date-{{$index}}"
				ng-model="row.modification_date"
			>
			</td>

			</tr>
			</tbody>
			</table>

			</div>
			</div>
			</div>
			</div>

			<!-- Editable AccID tab -->
			<div ng-if="vm.activeTab==3">
			<div class="row topMargin" >
			<div class="col-sm-12" style="">
			<div id="tabTableWrapper">

			<button type="button" tabindex="-1" id="addAccButton" ng-class="" ng-click="addAccRow()" >Add Row</button>

			<table class="table table-bordered scrollable-menu" id="accidTable" style="">
			<thead>
			<tr>
			<th> </th>
			<th style="min-width:8em;">Acc Name</th>
			<th>AccID</th>
			<th>J#</th>
			<th>Citation</th>
			<th>Modified By</th>
			<th style="min-width:7em;">Date</th>
			</tr>
			</thead>

    			<tbody>
			<tr ng-repeat="row in vm.apiDomain.editAccessionIds" 
				ng-click=""
				ng-class-odd="'oddResultRow'"
				ng-class="{deleteRow:vm.apiDomain.editAccessionIds[$index].processStatus == 'd'}">

			<td>
			<span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
			<img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
			</span>
			</td>

			<td>
                        <select type=dropdown size="1" id="accName" tabindex="-1"
                                ng-options="choice.logicaldbKey as choice.logicaldb for choice in vm.logicaldbLookup"
                                ng-model="row.logicaldbKey"
                                ng-change="changeAccRow($index)"
                                >
                                <option value="">Search All</option>
                        </select>
			</td>

			<td>
			<input class="form-control" ng-model="row.accID" ng-change="changeAccRow($index)" />
			</td>

			<td>
                        <input class="form-control" type="text" id="accjnumID-{{$index}}"
				ng-model="row.references[0].jnumid"
				ng-change="changeAccRow($index)"
				ng-blur="validateJnum(row.references[0], $index, 'accjnumID-')"
			>
			</td>

			<td>{{row.references[0].short_citation}}</td>
			<td>{{row.references[0].modifiedBy}}</td>
			<td>{{row.references[0].modification_date}}</td>

			</tr>
			</tbody>
			</table>

			</div>
			</div>
			</div>
			</div>

			<!-- UnEditable AccID tab -->
			<div ng-if="vm.activeTab==4" class="col-sm-12" style="">
			<div class="row topMargin">
			<div class="col-sm-12" style="">
			<div id="tabTableWrapper">
			<table class="table table-bordered scrollable-menu" id="accidOtherTable" style="">
    			<tbody>
			<tr>
			<th>Acc Name</th>
			<th>AccID</th>
			<th>J#</th>
			<th>Citation</th>
			<th>Modified By</th>
			<th>Date</th>
			</tr>
			<tr ng-repeat="row in vm.apiDomain.nonEditAccessionIds" 
				ng-click=""
				ng-class-odd="'oddResultRow'">
				<td>{{row.logicaldb}} {{row.akaLogicaldb}}</td>
				<td>{{row.accID}}</td>
				<td>{{row.references[0].jnumid}}</td>
				<td>{{row.references[0].short_citation}}</td>
				<td>{{row.references[0].modifiedBy}}</td>
				<td>{{row.references[0].modification_date}}</td>
			</tr>
			</tbody>
			</table>
			</div>
			</div>
			</div>
			</div>

			<!-- MGI ID tab -->
			<div ng-if="vm.activeTab==5" class="col-sm-12" style="">
			<div class="row topMargin">
			<div class="col-sm-6" style="">
			<table class="table table-bordered scrollable-menu" id="mgiIdsTable" style="">
    			<tbody>
			<tr>
			<th>MGI IDs</th>
			</tr>
			<tr ng-repeat="row in vm.apiDomain.mgiAccessionIds" 
				ng-click=""
				ng-class-odd="'oddResultRow'">
				<td>{{row.accID}}</td>
			</tr>
			</tbody>
			</table>
			</div>
			</div>
			</div>

			<!-- TSS tab -->
			<div ng-if="vm.activeTab==6" class="col-sm-12" style="">
			<div class="row topMargin">
			<div class="col-sm-6" style="">
			<table class="table table-bordered scrollable-menu" id="tssTable" style="">
    			<tbody>
			<tr>
			<th>TSS or Gene</th>
			</tr>
			<tr ng-repeat="row in vm.apiDomain.tssToGene" 
				ng-click=""
				ng-class-odd="'oddResultRow'">
			<td>{{row.symbol}}</td>
			</tr>
			</tbody>
			</table>
			</div>
			</div>
			</div>

			<!-- QTL Interaction tab -->
			<div ng-if="vm.activeTab==8" class="col-sm-12" style="">
			<div class="row topMargin">
			<div class="col-sm-6" style="">
			<table class="table table-bordered scrollable-menu" id="qtlInteractionTable" style="">
    			<tbody>
			<tr>
			<th>QTL or Gene</th>
			</tr>
			<tr ng-repeat="row in vm.apiDomain.qtlInteractionToGene" 
				ng-click=""
				ng-class-odd="'oddResultRow'">
			<td>{{row.symbol}}</td>
			</tr>
			</tbody>
			</table>
			</div>
			</div>
			</div>

			<!-- QTL Canidate tab -->
			<div ng-if="vm.activeTab==9" class="col-sm-12" style="">
			<div class="row topMargin">
			<div class="col-sm-6" style="">
			<table class="table table-bordered scrollable-menu" id="qtlCandidateTable" style="">
    			<tbody>
			<tr>
			<th>QTL or Gene</th>
			</tr>
			<tr ng-repeat="row in vm.apiDomain.qtlCandidateToGene" 
				ng-click=""
				ng-class-odd="'oddResultRow'">
			<td>{{row.symbol}}</td>
			</tr>
			</tbody>
			</table>
			</div>
			</div>
			</div>

			<!-- Utils tab -->
			<div ng-if="vm.activeTab==10" class="col-sm-12" style="">
			<div class="row topMargin">
			<div class="col-sm-12" style="">

			<div class="row">
				<div class="col-sm-3" style="">
					<label class="label label-edit-search">Event</label><br>
					<select id="utilEventID" autofocus
						ng-model="vm.utilData.eventKey" style="" size="1">
						<option value='106563605'>Rename</option>
						<option value='106563606'>Merge</option>
						<option value='106563607'>AlleleOf</option>
						<option value='106563609'>Delete</option>
					</select>
				</div>

				<div class="col-sm-6" style="">
				<label class="label label-edit-search">Event Reason</label><br>
                        	<select type=dropdown size="1" id=""utilEventReasonID"" 
                               		ng-options="choice.termKey as choice.term for choice in vm.eventReasonLookup"
                               		ng-model="vm.utilData.eventReasonKey"
                               		>
                               		<option value="">Search All</option>
                        	</select>
				</div>
			</div>

			<div class="row topMargin">
				<div class="col-sm-3" style="">
					<label class="label label-edit-search">J#</label><br>
			   		<input class="form-control" 
						ng-blur="utilJnumOnBlur()" 
			    			ng-model="vm.utilDisplay.jnumid" />
				</div>
				<div class="col-sm-9" style="">
					<label class="label label-edit-search">Citation</label><br>
			   		<input class="form-control" ng-readonly="true"
				    		ng-model="vm.utilDisplay.short_citation" />
				</div>
			</div>

			<div class="row topMargin" ng-if="vm.utilData.eventKey==106563605">
				<div class="col-sm-3" style="">
					<label class="label label-edit-search">New Symbol</label><br>
			   		<input class="form-control" placeholder="Symbol"
				    		ng-model="vm.utilData.newSymbol" />
				</div>
				<div class="col-sm-9" style="">
					<label class="label label-edit-search">New Name</label><br>
			   		<input class="form-control" placeholder="Name"
				    		ng-model="vm.utilData.newName" />
				</div>
			</div>

			<div class="row topMargin" ng-if="vm.utilData.eventKey==106563606 || vm.utilData.eventKey==106563607">
				<div class="col-sm-3" style="">
					<label class="label label-edit-search">Symbol</label><br>
			   		<input class="form-control" placeholder="Symbol"
			   			ng-blur="utilSymbolAccidOnBlur()"
			    		ng-model="vm.utilData.newSymbol" />
				</div>
				<div class="col-sm-9" style="">
					<label class="label label-edit-search">AccID</label><br>
			   		<input class="form-control" placeholder="AccID"
			   			ng-blur="utilSymbolAccidOnBlur()"
			    		ng-model="vm.utilDisplay.accid" />
				</div>
			</div>

			<div class="row topMargin" ng-if="vm.utilData.eventKey==106563605 || vm.utilData.eventKey==106563606 || vm.utilData.eventKey==106563607">
				<div class="col-sm-12" style="">
					<input type="checkbox" ng-model="vm.utilData.addAsSynonym"
	    		       ng-true-value="'1'" ng-false-value="'0'"> Add marker as synonym
				</div>
			</div>

			<div class="row topMargin">
			<div class="col-sm-12" style="">
				<button type="button" id="utilRenameProcessButton"  ng-click="utilRenameProcess()" ng-if="vm.utilData.eventKey==106563605"
					ng-disabled="vm.allowUtilSubmit != true || vm.utilData.newName == '' || vm.utilData.newSymbol == ''"
					>Process</button> 
				<button type="button" id="utilMergeProcessButton"  ng-click="utilMergeProcess()" ng-if="vm.utilData.eventKey==106563606 || vm.utilData.eventKey==106563607"
					ng-disabled="vm.allowUtilSubmit != true"
					>Process</button>
				<button type="button" id="utilDeleteProcessButton"  ng-click="utilDeleteProcess()" ng-if="vm.utilData.eventKey==106563609"
					ng-disabled="vm.allowUtilSubmit != true"
					>Process</button>
				<span ng-if="vm.utilShowLoading"> <img id="retrievingDataGif" src="/pwi/static/images/retrievingData.gif"></span>
			</div>
			</div>

			</div>
			</div>
			</div>

		</div>
		</div>
		</div>
		<!-- end tab content -->

	</div>

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:700px;">

		<button type="submit" id="searchButton" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" ng-click="clear()" >Clear</button>
		<button type="button" id="resetSearchButtom" ng-click="resetSearch()" >Reset Search</button>
                <button type="button" id="createMarkerButton" tabindex="-1" ng-click="createMarker()" ng-disabled="vm.apiDomain.markerKey!=''&&vm.apiDomain.markerKey!=null" >Add</button>
		<button type="button" id="updateMarkerButton" ng-click="updateMarker()" 
			ng-disabled="current_user.login==null || vm.allowModify != true" >Modify</button>
		<button type="button" id="deleteMarkerButton" ng-click="deleteMarker()" 
			ng-disabled="current_user.login==null" >Delete</button>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="markerCreatedBy" name="markerCreatedBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="markerCreationDate" name="markerCreationDate"/>
			</div>
		</div>
		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="markerModifiedBy" name="markerModifiedBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="markerModificationDate" name="markerModificationDate"/>
			</div>
		</div>
		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">MGI ID</label><br>
				<input class="form-control" ng-model="vm.apiDomain.mgiAccessionIds[0].accID" id="accIdQuery" tab-to="markerSymbol"/>
			</div>
		</div>
		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-view-only">Next Gm Sequence</label>
				<input class="form-control" ng-model="vm.nextGmSequence" id="nextGmSequence" tabindex="-1"/>
		        </div>
			<div class="col-sm-4" style="">
				<label class="label label-view-only">Next Rr Sequence</label>
				<input class="form-control" ng-model="vm.nextRrSequence" id="nextRrSequence" tabindex="-1"/>
		        </div>
		</div>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">

			<!-- <div id="totalCount"># of records: {{vm.total_count}}</div> -->
                        <div id="resultsCount">{{vm.results.length}} result(s) returned</div>
                        <button type="button" id="firstButton" ng-click="firstSummaryMarker()" >First</button>
                        <button type="button" id="nextButton"  ng-click="nextSummaryMarker()" >Next</button>
                        <button type="button" id="prevButton"  ng-click="prevSummaryMarker()" >Prev</button>
                        <button type="button" id="lastButton"  ng-click="lastSummaryMarker()" >Last</button>

			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    		<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="setMarker($index)" 
					ng-class="($index==vm.selectedIndex) ? 'resultsTableSelectedRow' : ''"
					ng-class-odd="'oddResultRow'">
			    	<td style="min-width: 200px;  padding: 3px; font-size: .9em;">{{result.symbol}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="spacer"></div>
		</div>
		</div>
		
	</div>

</div>
</div>
</form>

<!-- Java API JSON data dump -->
<show-model vm="vm" />
<ng-include src="PAGE_HELP_URL" />

<script type="text/javascript">
	document.getElementById("markerSymbol").focus();
</script>

