
<div ng-hide="vm.hideLoadingHeader">
	<h3 id='loadingHeader'>Searching...</h3>
</div>

<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="markerForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="" >

		<div class="row topMargin">
		<div class="col-sm-7" style="">

			<div class="row ">
			<div class="col-sm-6" style="">
			<label class="label label-search">Marker Type</label><br>
			<select id="markerType" ng-model="vm.markerData.markerTypeKey" size="1">
				<option value="">Search All</option>
				<option value="1">Gene</option>
				<option value="2">DNA Segment</option>
				<option value="3">Cytogenetic Marker</option>
				<option value="6">QTL</option>
				<option value="7">Pseudogene</option>
				<option value="8">BAC/YAC end</option>
				<option value="9">Other Genome Feature</option>
				<option value="10">Complex/Cluster/Region</option>
				<option value="12">Transgene</option>
			</select>
			</div>

			<div class="col-sm-3" style="">
			<label class="label label-search">Marker Status</label><br>
			<select id="markerStatus" ng-model="vm.markerData.markerStatusKey"  size="1">
				<option value=''>Search All</option>
				<option value=1>Official</option>
				<option value=3>Reserved</option>
				<option value=2>Withdrawn</option>
			</select>
			</div>
			
			<div class="col-sm-3" style="">
			<label class="label label-search">Chromosome</label><br>
			<select id="chromosome" ng-model="vm.markerData.chromosome"  size="1">
				<option value="">Search All</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="X">X</option>
				<option value="Y">Y</option>
				<option value="XY">XY</option>
				<option value="UN">UN</option>
				<option value="MT">MT</option>
			</select>
			</div>
			
			</div>

			<div class="spacer"></div>
			
			<div class="row ">
			<div class="col-sm-12" style="">
				<label class="label label-search">Symbol</label>
				<input class="form-control" ng-model="vm.markerData.symbol" autofocus="autofocus" id="markerSymbol" name="symbol"/>
			</div>
			</div>
			
			<div class="spacer"></div>
			
			<div class="row ">
			<div class="col-sm-12" style="">
				<label class="label label-search">Name</label>
				<input class="form-control" ng-model="vm.markerData.name" id="markerName" name="name"/>
			</div>
			</div>

			<div class="spacer"></div>
			
			<div class="row ">
				<div class="col-sm-6" style="">
					<label class="label label-search">Cytogenetic Band</label>
					<input class="form-control"  
						ng-model="vm.markerData.cytogeneticOffset" id="cytogeneticOffset" name="cytogeneticOffset"/>
				</div>
				<div class="col-sm-6" style="">
					<label class="label label-search">cM Position</label>
					<input class="form-control"  
						ng-model="vm.markerData.cmOffset" id="cmOffset" name="cmOffset"/>
				</div>
			</div>

			<div class="spacer"></div>

			
		</div>


		<!-- LEFT PANEL - RIGHT SIDE -->
		<div class="col-sm-5" style="">

			<div class="row ">
				<div class="col-sm-12" style="">
				<label class="label label-search">TDC</label><br>
				<select id="tdcList" ng-model="vm.tmp.tdc"  size="1">
					<option value=''>Search All</option>
					<option value='7196772'>reciprocal chromosomal translocation</option>
				</select>
				</div>
			</div>

			<div class="row topMargin">
			<div class="col-sm-12" style="">
				<label class="label label-search">Accession ID</label>
				<input class="form-control" ng-readonly="vm.editableField==false" 
					ng-model="vm.markerData.mgiAccessionIds[0].accID" id="markerAccID" name="accID"/>
			</div>
			</div>

		</div>
		</div>
		<div>
		


		<!-- notes panel -->
		<div class="row ">
		<div class="col-sm-12 sectionDivider" style="" >

			<div class="row topPadding bottomPadding">
			<div class="col-sm-12" style="">
				<button type="button" id="hideShowEditorNoteButton" ng-class="{'hasNoteButton':  vm.markerData.editorNote.noteChunk != undefined}"
					ng-click="hideShowEditorNote()" >Editor Note</button>
				<button type="button" id="hideShowSequenceNoteButton" ng-class="{'hasNoteButton':  vm.markerData.sequenceNote.noteChunk != undefined}"
					ng-click="hideShowSequenceNote()" >Sequence Note</button>
				<button type="button" id="hideShowMarkerRevisionNoteButton"  ng-class="{'hasNoteButton':  vm.markerData.revisionNote.noteChunk != undefined}"
					ng-click="hideShowMarkerRevisionNote()" >Marker Revision Note</button>
				<button type="button" id="hideShowStrainSpecificNoteButton" ng-class="{'hasNoteButton':  vm.markerData.strainNote.noteChunk != undefined}"
					ng-click="hideShowStrainSpecificNote()" >Strain-Specific Note</button>
				<button type="button" id="hideShowLocationNoteButton" ng-class="{'hasNoteButton':  vm.markerData.locationNote.noteChunk != undefined}"
					ng-click="hideShowLocationNote()" >Location Note</button>
			</div>
			</div>

			<div class="row " ng-hide="vm.hideEditorNote">
			<div class="col-sm-12" style="">
				<label class="label label-search">Editor Note</label>
				<textarea class="form-control" rows=3 ng-model="vm.markerData.editorNote.noteChunk" id="editorNote" placeholder="" ></textarea>
			<div class="spacer"></div>
			</div>
			</div>

			<div class="row " ng-hide="vm.hideSequenceNote">
			<div class="col-sm-12" style="">
				<label class="label label-search">Sequence Note</label>
				<textarea class="form-control" rows=3 ng-model="vm.markerData.sequenceNote.noteChunk" id="sequenceNote" placeholder="" ></textarea>
			<div class="spacer"></div>
			</div>
			</div>

			<div class="row " ng-hide="vm.hideMarkerRevisionNote">
			<div class="col-sm-12" style="">
				<label class="label label-search">Marker Revision Note</label>
				<textarea class="form-control" rows=3 ng-model="vm.markerData.revisionNote.noteChunk" id="revisionNote" placeholder="" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

			<div class="row " ng-hide="vm.hideStrainSpecificNote">
			<div class="col-sm-12" style="">
				<label class="label label-search">Strain-Specific Note</label>
				<textarea class="form-control" rows=3 ng-model="vm.markerData.strainNote.noteChunk" id="strainNote" placeholder="" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>
			
			<div class="row " ng-hide="vm.hideLocationNote">
			<div class="col-sm-12" style="">
				<label class="label label-search">Location Note</label>
				<textarea class="form-control" rows=3 ng-model="vm.markerData.locationNote.noteChunk" id="locationNote" placeholder="" ></textarea>
				<div class="spacer"></div>
			</div>
			</div>

		</div>
		</div>


		<!-- history panel -->
		<div class="row ">
		<div class="col-sm-12 sectionDivider" style="" >

			<div class="row topMargin" ng-if="vm.queryMode">
			<div class="col-sm-12" style="">

				<div class="row ">
				<div class="col-sm-7" style="">
							
					<div class="row ">
					<div class="col-sm-12" style="">
					<label class="label label-search">History Symbol</label>
					<input class="form-control"  
						ng-model="vm.markerData.history[0].markerHistorySymbol" id="markerHistorySymbolID" />
					</div></div>

					<div class="spacer"></div>

					<div class="row ">
					<div class="col-sm-12" style="">
					<label class="label label-search">History Name</label>
					<input class="form-control"  
						ng-model="vm.markerData.history[0].markerHistoryName" id="markerHistoryNameID" />
					</div></div>

					<div class="spacer"></div>

					<div class="row ">
					<div class="col-sm-12" style="">
					<label class="label label-search">History Citation</label>
					<input class="form-control"  
						ng-model="vm.markerData.history[0].short_citation" id="markerHistoryCitationID" />
					</div></div>

					<div class="spacer"></div>

					<div class="row ">
					<div class="col-sm-12" style="">
					<label class="label label-search">J#</label>
					<input class="form-control"  
						ng-model="vm.markerData.history[0].jnumid" id="markerHistoryJNumID" />
					</div></div>

					<div class="spacer"></div>

				</div>
				<div class="col-sm-5" style="">

					<div class="row ">
						<div class="col-sm-6" style="">
							<label class="label label-search">Event Date</label>
							<input class="form-control"
								ng-model="vm.markerData.history[0].event_date" id="markerHistoryModDateID" />
						</div>
						<div class="col-sm-6" style="">
							<label class="label label-search">Modified By</label>
							<input class="form-control" 
								ng-model="vm.markerData.history[0].modifiedBy" id="markerHistoryModByID" />
						</div>
					</div>

					<div class="spacer"></div>

					<div class="row ">
					<div class="col-sm-12" style="">
						<label class="label label-search">Event</label><br>
						<select id="markerHistoryEventID" 
								ng-model="vm.markerData.history[0].markerEvent"  size="1">
							<option value=''>Search All</option>
							<option value='allele of'>allele of</option>
							<option value='assigned'>assigned</option>
							<option value='deleted'>deleted</option>
							<option value='merged'>merged</option>
							<option value='Not Specified'>Not Specified</option>
							<option value='rename'>rename</option>
							<option value='split'>split</option>
						</select>
					</div></div>

					<div class="spacer"></div>

					<div class="row ">
					<div class="col-sm-12" style="">
						<label class="label label-search">Event Reason</label><br>
						<select id="markerHistoryEventReasonID" 
								ng-model="vm.markerData.history[0].markerEventReason"  size="1">
							<option value=''>Search All</option>
							<option value='Not Specified'>Not Specified</option>
							<option value='per gene family revision'>per gene family revision</option>
							<option value='per personal comm w/Authors(s)'>per personal comm w/Authors(s)</option>
							<option value='per personal comm w/Chromosome Committee'>per personal comm w/Chromosome Committee</option>
							<option value='problematic sequences'>problematic sequences</option>
							<option value='sequence removed by provider'>sequence removed by provider</option>
							<option value='to conform to current nomenclature guidelines'>to conform to current nomenclature guidelines</option>
							<option value='to conform w/Human Nomenclature'>to conform w/Human Nomenclature</option>
						</select>
					</div></div>
					<div class="spacer"></div>
				</div>
				</div>
			</div>
			</div>
				
			<div class="row topMargin" ng-if="!vm.queryMode">
			<div class="col-sm-12" style="padding:2px;">
				<div id="historyTableWrapper">
				<table class="table table-bordered scrollable-menu" id="historyTable" style="">
    			<tbody>
					<tr>
						<th id=’deleteIconColumn’></th>
						<th>#</th>
						<th>Symbol</th>
						<th>Name</th>
						<th style="min-width: 6em;">Date</th>
						<th>J#</th>
						<th>Citation</th>
						<th>Event</th>
						<th>Reason</th>
						<th style="">Mod By</th>
					</tr>
					<tr ng-repeat="event in vm.markerData.history" 
						ng-click="editHistoryRow($index)"
						ng-class-odd="'oddResultRow'" 
						ng-class="(vm.markerData.history[$index].processStatus == 'd') ? 'deletedHistoryRow' : ''">
						
						<td>
				    		<span ng-click="deleteHistoryRow($index)" 
				    			ng-if="vm.historyEventTracking[$index].showEdit==1"> 
								<img src="/pwi/static/images/remove.png"
				        			style="width:12px; height: 12px; cursor: pointer;" />
				    		</span>
			        	</td>
						<td>
				    		<span  ng-if="vm.historyEventTracking[$index].showEdit!=1"> {{event.sequenceNum}}</span>
				    		<span  ng-if="vm.historyEventTracking[$index].showEdit==1"> 
				    			<input style="width:2.1em;" class="form-control" 
				    				ng-change="historySeqNumOnChange()"
				    				ng-model="vm.markerData.history[$index].sequenceNum" />
				    		</span>
						</td>
				    	<td >
				    		<span  ng-if="vm.historyEventTracking[$index].showEdit!=1"> {{event.markerHistorySymbol}}</span>
				    		<span  ng-if="vm.historyEventTracking[$index].showEdit==1"> 
				    			<input class="form-control" 
				    				ng-blur="historySymbolOnBlur($index)" 
				    				ng-change="historySymbolOnChange()"
				    				ng-model="vm.markerData.history[$index].markerHistorySymbol" />
				    		</span>
				    	</td>
				    	<td>
				    		<div style="min-width:10em;" 
				    			ng-if="vm.historyEventTracking[$index].showEdit!=1"> {{event.markerHistoryName}}</div>
				    		<div style="min-width:10em;" 
				    			ng-if="vm.historyEventTracking[$index].showEdit==1"> 
				    			<input class="form-control" ng-model="vm.markerData.history[$index].markerHistoryName" />
				    		</div>
				    	</td>
				    	<td>
				    		<span  ng-if="vm.historyEventTracking[$index].showEdit!=1"> {{event.event_date}}</span>
				    		<span  ng-if="vm.historyEventTracking[$index].showEdit==1"> 
				    			<input class="form-control" ng-model="vm.markerData.history[$index].event_date" />
				    		</span>
				    	</td>
				    	<td >
				    		<span  ng-if="vm.historyEventTracking[$index].showEdit!=1"> {{event.jnumid}}</span>
				    		<span  ng-if="vm.historyEventTracking[$index].showEdit==1"> 
				    			<input class="form-control" 
				    				ng-blur="historyJnumOnBlur($index)" 
				    				ng-change="historyJnumOnChange()"
				    				ng-model="vm.markerData.history[$index].jnumid" />
				    		</span>
				    	</td>
				    	<td>{{event.short_citation}}</td>
				    	<td>
				    		<div style="min-width:7em;" 
				    			ng-if="vm.historyEventTracking[$index].showEdit!=1"> {{event.markerEvent}}</div>
				    		<span  ng-if="vm.historyEventTracking[$index].showEdit==1"> 
							<select id="markerHistoryEventID" 
								style="max-width:7em;"
								ng-change="historyEventChange($index)"
								ng-model="vm.markerData.history[$index].markerEventKey"  size="1">
								<option value=''>Search All</option>
								<option value='4'>allele of</option>
								<option value='1'>assigned</option>
								<option value='6'>deleted</option>
								<option value='3'>merged</option>
								<option value='-1'>Not Specified</option>
								<option value='2'>rename</option>
								<option value='5'>split</option>
							</select>
				    		</span>
				    	</td>	
				    	<td>
				    		<div style="min-width:12em;" 
				    			ng-if="vm.historyEventTracking[$index].showEdit!=1"> {{event.markerEventReason}}</div>
				    		<span  ng-if="vm.historyEventTracking[$index].showEdit==1"> 
							<select id="markerHistoryEventReasonID" 
									ng-change="historyEventReasonChange($index)"
									ng-model="vm.markerData.history[$index].markerEventReasonKey"  
									style="max-width:12em;"
									size="1">
								<option value=''>Search All</option>
								<option value='-1'>Not Specified</option>
								<option value='2'>per gene family revision</option>
								<option value='3'>per personal comm w/Authors(s)</option>
								<option value='4'>per personal comm w/Chromosome Committee</option>
								<option value='7'>problematic sequences</option>
								<option value='6'>sequence removed by provider</option>
								<option value='5'>to conform to current nomenclature guidelines</option>
								<option value='1'>to conform w/Human Nomenclature</option>
							</select>
							</span>
				    	</td>
				    	<td>{{event.modifiedBy}}</td>
					</tr>
				</tbody>
				</table>
				</div>
			</div>
			</div>
		</div>

		<div class="spacer"></div>
		</div>

		<!-- control buttons for tabs -->
		<div class="row sectionDivider topPadding bottomPadding">
		<div class="col-sm-12" style="">
			<button type="button" id="synTabButton" ng-class="{activeTab:vm.activeTab == 1}"
				ng-click="setActiveTab(1)" >Synonyms</button>
			<button type="button" id="refsTabButton" ng-class="{activeTab:vm.activeTab == 2}"
				ng-click="setActiveTab(2)" >References</button>
			<button type="button" id="accNucTabButton"  ng-class="{activeTab:vm.activeTab == 3}"
				ng-click="setActiveTab(3)" >AccIDs (Editable)</button>
			<button type="button" id="accOtherTabButton" ng-class="{activeTab:vm.activeTab == 4}"
				ng-click="setActiveTab(4)" >AccIDs (Other)</button>
			<button type="button" id="tssTabButton" ng-class="{activeTab:vm.activeTab == 5}"
				ng-click="setActiveTab(5)" >TSS</button>
			<button type="button" id="aliasTabButton" ng-class="{activeTab:vm.activeTab == 6}"
				ng-click="setActiveTab(6)" >STS markers</button>
		</div>
		</div>

		<!-- tab content -->
		<div class="row sectionDivider topPadding bottomPadding">
		<div class="col-sm-12" style="">
		
			<!-- synonym tab -->
			<div ng-if="vm.activeTab==1">
			<div class="row" ng-if="vm.queryMode">

				<div class="col-sm-7" style="">
					<div class="row">
					<div class="col-sm-12" style="">
						<label class="label label-search">Synonym</label>
						<input class="form-control"  
							ng-model="vm.markerData.synonyms[0].synonym" id="markerSynonymID" />
					</div>
					</div>
					<div class="row topMargin">
					<div class="col-sm-12" style="">
						<label class="label label-search">J:#</label>
						<input class="form-control"  
							ng-model="vm.markerData.synonyms[0].jnumid" id="markerSynonymJnumID" />
					</div>
					</div>
				</div>

				<div class="col-sm-5" style="">

					<div class="row">
					<div class="col-sm-12" style="">
						<label class="label label-search">Synonym Type</label><br>
						<select id="markerSynonymTypeQueryID" 
								ng-model="vm.markerData.synonyms[0].synonymTypeKey"  id="markerSynonymTypeID"
								style=""
								size="1">
							<option value=''>Search All</option>
							<option value='1004'>exact</option>
							<option value='1005'>similar</option>
							<option value='1006'>broad</option>
							<option value='1007'>narrow</option>
						</select>
					</div>
					</div>

					<div class="row topMargin">
						<div class="col-sm-6" style="">
							<label class="label label-search">Date</label>
							<input class="form-control"
								ng-model="vm.markerData.synonyms[0].modification_date" id="markerSynonymDateID" />
						</div>
						<div class="col-sm-6" style="">
							<label class="label label-search">Modified By</label>
							<input class="form-control" 
								ng-model="vm.markerData.synonyms[0].modifiedBy" id="markerSynonymModByID" />
						</div>
					</div>

				</div>
			</div>

			<div class="row topMargin" ng-if="!vm.queryMode">
				<div class="col-sm-12" style="">

				<table class="table table-bordered scrollable-menu" id="synonymTable" style="">
    			<tbody>
					<tr>
						<th></th>
						<th>Type</th>
						<th>Synonym</th>
						<th>J:#</th>
						<th>Citation</th>
						<th>Modified By</th>
						<th>Date</th>
					</tr>
					<tr ng-repeat="synonym in vm.markerData.synonyms" 
						ng-click=""
						ng-class-odd="'oddResultRow'"
						ng-class="{deletedHistoryRow:vm.markerData.synonyms[$index].processStatus == 'd', 
											  newRow:vm.markerData.synonyms[$index].processStatus == 'c'}">
						<td>
				    		<span ng-click="deleteSynonymRow($index)"> 
								<img src="/pwi/static/images/remove.png"
				        			style="width:12px; height: 12px; cursor: pointer;" />
				    		</span>
			        	</td>						<td>
							{{synonym.synonymType}}
						</td>

						<td>
							{{synonym.synonym}}
						</td>

						<td>
							{{synonym.jnumid}}
						</td>

						<td>
							{{synonym.short_citation}}
						</td>

						<td>
							{{synonym.modifiedBy}}
						</td>

						<td>
							{{synonym.modification_date}}
						</td>
					</tr>
				</tbody>
				</table>

				<div class="row">
					<div class="col-sm-1" style="">
						<button type="button" id="" ng-class="" ng-if="!vm.addingSynonymRow"
							ng-click="addSynonymRow()" >Add </button>
						<button type="button" id="" ng-class="" ng-if="vm.addingSynonymRow"
							ng-click="cancelAddSynonymRow()" >Cancel</button>
					</div>

					<div class="col-sm-1" style="">
						<select id="addMarkerSynonymTypeID" ng-if="vm.addingSynonymRow"
							ng-model="vm.synonymTmp.synonymTypeKey"  
								style="" size="1">
							<option value='1004'>exact</option>
							<option value='1005'>similar</option>
							<option value='1006'>broad</option>
							<option value='1007'>narrow</option>
						</select>
					</div>

					<div class="col-sm-3" style="">
			   			<input class="form-control" ng-if="vm.addingSynonymRow" placeholder="Synonym"
				    		ng-model="vm.synonymTmp.synonym" />
				    </div>

					<div class="col-sm-3" style="">
			   			<input class="form-control" ng-if="vm.addingSynonymRow" placeholder="J:#"
							ng-blur="synonymJnumOnBlur()" 
				   			ng-change="disallowSynonymCommit()"
				    		ng-model="vm.synonymTmp.jnumid" />
				    </div>

					<div class="col-sm-2" style="">
						<button type="button" id="" ng-class="" ng-if="vm.addingSynonymRow"
							ng-click="commitSynonymRow()" >Commit Row</button>
					</div>

				</div>
				</div>
			</div>
			</div>

			<!-- references tab -->
			<div ng-if="vm.activeTab==2" >
				<div class="row" ng-if="vm.queryMode">

					<div class="col-sm-7" style="">
						<div class="row">
						<div class="col-sm-12" style="">
							<label class="label label-search">J:#</label>
							<input class="form-control"  
								ng-model="vm.markerData.refAssocs[0].jnumid" id="markerRefJnumID" />
						</div>
						</div>
						<div class="row topMargin">
						<div class="col-sm-12" style="">
							<label class="label label-search">Citation</label>
							<input class="form-control"  
								ng-model="vm.markerData.refAssocs[0].short_citation" id="markerRefCitationID" />
						</div>
						</div>
					</div>

					<div class="col-sm-5" style="">
						<div class="row">
						<div class="col-sm-12" style="">
							<label class="label label-search">Type</label><br>
							<select id="markerSynonymTypeQueryID" 
									ng-model="vm.markerData.refAssocs[0].refAssocTypeKey"  id="markerRefAssocTypeID"
									style=""
									size="1">
								<option value=''>Search All</option>
								<option value='1018'>General</option>
								<option value='1028'>Strain-Specific Marker</option>
							</select>
						</div>
						</div>
						<div class="row">
						<div class="col-sm-12" style="">
							<div class="row topMargin">
								<div class="col-sm-6" style="">
									<label class="label label-search">Date</label>
									<input class="form-control"
										ng-model="vm.markerData.refAssocs[0].modification_date" id="markerRefDateID" />
								</div>
								<div class="col-sm-6" style="">
									<label class="label label-search">Modified By</label>
									<input class="form-control" 
										ng-model="vm.markerData.refAssocs[0].modifiedBy" id="markerRefModByID" />
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>

				<div class="row" ng-if="!vm.queryMode">
				<h4 ng-if="vm.loadingRefs">Retrieving references <img id="retrievingDataGif" src="/pwi/static/images/retrievingData.gif"></h4>
				<div id="tabTableWrapper">
				<table class="table table-bordered scrollable-menu" id="refsTable" style="">
    			<tbody>
					<tr>
						<th></th>
						<th>Type</th>
						<th>J:#</th>
						<th>Citation</th>
						<th>Modified By</th>
						<th>Date</th>
					</tr>
					<tr ng-repeat="ref in vm.markerData.refAssocs" 
						ng-click=""
						ng-class-odd="'oddResultRow'"
						ng-class="{deletedHistoryRow:vm.markerData.refAssocs[$index].processStatus == 'd', 
											  newRow:vm.markerData.refAssocs[$index].processStatus == 'c'}">
						<td>
				    		<span ng-click="deleteRefRow($index)"> 
								<img src="/pwi/static/images/remove.png"
				        			style="width:12px; height: 12px; cursor: pointer;" />
				    		</span>
			        	</td>						<td>
								{{ref.refAssocType}}
						</td>

						<td>
							{{ref.jnumid}}
						</td>

						<td>
							{{ref.short_citation}}
						</td>

						<td>
							{{ref.modifiedBy}}
						</td>

						<td>
							{{ref.modification_date}}
						</td>

					</tr>
				</tbody>
				</table>
				</div>

				<div class="row">
					<div class="col-sm-1" style="">
						<button type="button" id="" ng-class="" ng-if="!vm.addingRefRow"
							ng-click="addRefRow()" >Add </button>
						<button type="button" id="" ng-class="" ng-if="vm.addingRefRow"
							ng-click="cancelAddRefRow()" >Cancel</button>
					</div>

					<div class="col-sm-2" style="">
						<select id="addMarkerRefTypeID" ng-if="vm.addingRefRow"
							ng-model="vm.newRefRow.refAssocTypeKey"  style="" size="1">
							<option value='1018'>General</option>
							<option value='1028'>Strain-Specific Marker</option>
						</select>
					</div>

					<div class="col-sm-3" style="">
			   			<input class="form-control" ng-if="vm.addingRefRow" placeholder="J:#"
							ng-blur="refJnumOnBlur()" 
				   			ng-change="disallowRefCommit()"
				    		ng-model="vm.newRefRow.jnumid" />
				    </div>

					<div class="col-sm-2" style="">
						<button type="button" id="" ng-class="" ng-if="vm.addingRefRow"
							ng-click="commitRefRow()" >Commit Row</button>
					</div>
				</div>

				</div>

			</div>

			<!-- Editable AccID tab -->
			<div ng-if="vm.activeTab==3">

				<div class="row" ng-if="vm.queryMode">

					<div class="col-sm-7" style="">
						<div class="row">
						<div class="col-sm-12" style="">
							<label class="label label-search">AccID</label>
							<input class="form-control"  
								ng-model="vm.markerData.editAccessionIds[0].accID" id="accessionSearchID" />
						</div>
						</div>
						<div class="row topMargin">
						<div class="col-sm-12" style="">
							<label class="label label-search">J:#</label>
							<input class="form-control"  
								ng-model="vm.markerData.editAccessionIds[0].references[0].jnumid" id="accessionJnumidSearchID" />
						</div>
						</div>
					</div>

					<div class="col-sm-5" style="">

						<div class="row">
						<div class="col-sm-12" style="">
							<label class="label label-search">Acc Name</label><br>
							<select id="accidTypeID" 
								ng-model="vm.markerData.editAccessionIds[0].logicaldbKey"  style="" size="1">
								<option value=''>Search All</option>
								<option value='8'>EC</option>
								<option value='9'>Sequence DB</option>
							</select>
						</div>
						</div>

						<div class="row">
						<div class="col-sm-12" style="">
							<div class="row topMargin">
								<div class="col-sm-6" style="">
									<label class="label label-search">Date</label>
									<input class="form-control"
										ng-model="vm.markerData.editAccessionIds[0].modification_date" id="accessionDateSearchID" />
								</div>
								<div class="col-sm-6" style="">
									<label class="label label-search">Modified By</label>
									<input class="form-control" 
										ng-model="vm.markerData.editAccessionIds[0].modifiedBy" id="accessionModBySearchID" />
								</div>
							</div>
						</div>
						</div>

					</div>
				</div>
				
				<div class="row topMargin" ng-if="!vm.queryMode">
				<div class="col-sm-12" style="">

					<div id="tabTableWrapper">
					<table class="table table-bordered scrollable-menu" id="accidTable" style="">
    				<tbody>
						<tr>
							<th> </th>
							<th style="min-width:8em;">Acc Name</th>
							<th>AccID</th>
							<th>J:#</th>
							<th>Citation</th>
							<th>Modified By</th>
							<th style="min-width:7em;">Date</th>
						</tr>
						<tr ng-repeat="row in vm.markerData.editAccessionIds" 
							ng-click=""
							ng-class-odd="'oddResultRow'"
							ng-class="{deletedHistoryRow:vm.markerData.editAccessionIds[$index].processStatus == 'd', 
											  newRow:vm.markerData.editAccessionIds[$index].processStatus == 'c'}">
							<td>
					    		<span ng-click="deleteAccRow($index)"> 
									<img src="/pwi/static/images/remove.png"
					        			style="width:12px; height: 12px; cursor: pointer;" />
					    		</span>
			        		</td>
							<td>{{row.logicaldb}}</td>
							<td>{{row.accID}}</td>
							<td>{{row.references[0].jnumid}}</td>
							<td>{{row.references[0].short_citation}}</td>
							<td>{{row.references[0].modifiedBy}}</td>
							<td>{{row.references[0].modification_date}}</td>
						</tr>
					</tbody>
					</table>
					</div>

					<div class="row">
						<div class="col-sm-1" style="">
							<button type="button" id="" ng-class="" ng-if="!vm.addingAccRow"
								ng-click="addAccRow()" >Add </button>
							<button type="button" id="" ng-class="" ng-if="vm.addingAccRow"
								ng-click="cancelAddAccRow()" >Cancel</button>
						</div>
	
						<div class="col-sm-2" style="">
							<select id="addMarkerAccTypeID" ng-if="vm.addingAccRow"
								ng-model="vm.newAccRow.logicaldbKey"  style="" size="1">
									<option value='8'>EC</option>
									<option value='9'>Sequence DB</option>
							</select>
						</div>
	
						<div class="col-sm-3" style="">
				   			<input class="form-control" ng-if="vm.addingAccRow" placeholder="AccID"
					    		ng-model="vm.newAccRow.accID" />
					    </div>

						<div class="col-sm-3" style="">
				   			<input class="form-control" ng-if="vm.addingAccRow" placeholder="J:#"
								ng-blur="accJnumOnBlur()" 
					   			ng-change="disallowAccCommit()"
					    		ng-model="vm.newAccRow.references[0].jnumid" />
					    </div>
	
						<div class="col-sm-2" style="">
							<button type="button" id="" ng-class="" ng-if="vm.addingAccRow"
								ng-click="commitAccRow()" >Commit Row</button>
						</div>
					</div>


				</div>
				</div>

			</div>

			<!-- UnEditable AccID tab -->
			<div ng-if="vm.activeTab==4" class="col-sm-12" style="">

				<div class="row topMargin" ng-if="!vm.queryMode">
				<div class="col-sm-12" style="">
					<table class="table table-bordered scrollable-menu" id="accidOtherTable" style="">
    				<tbody>
						<tr>
							<th>Acc Name</th>
							<th>AccID</th>
							<th>J:#</th>
							<th>Citation</th>
							<th>Modified By</th>
							<th>Date</th>
						</tr>
						<tr ng-repeat="row in vm.markerData.nonEditAccessionIds" 
							ng-click=""
							ng-class-odd="'oddResultRow'">
							<td>{{row.logicaldb}}</td>
							<td>{{row.accID}}</td>
							<td>{{row.references[0].jnumid}}</td>
							<td>{{row.references[0].short_citation}}</td>
							<td>{{row.references[0].modifiedBy}}</td>
							<td>{{row.references[0].modification_date}}</td>
						</tr>
					</tbody>
					</table>
				</div>
				</div>

			</div>

			<!-- TSS tab -->
			<div ng-if="vm.activeTab==5" class="col-sm-12" style="">
				<div class="row topMargin" ng-if="!vm.queryMode">
				<div class="col-sm-6" style="">
					<table class="table table-bordered scrollable-menu" id="tssTable" style="">
    				<tbody>
						<tr>
							<th>TSS or Gene</th>
						</tr>
						<tr ng-repeat="row in vm.markerData.geneToTss" 
							ng-click=""
							ng-class-odd="'oddResultRow'">
							<td>{{row.symbol}}</td>
						</tr>
						<tr ng-repeat="row in vm.markerData.tssToGene" 
							ng-click=""
							ng-class-odd="'oddResultRow'">
							<td>{{row.symbol}}</td>
						</tr>
					</tbody>
					</table>
				</div>
				</div>
			</div>

			<!-- Aliases tab -->
			<div ng-if="vm.activeTab==6" class="col-sm-12" style="">
				<div class="row topMargin" ng-if="!vm.queryMode">
				<div class="col-sm-6" style="">
					<table class="table table-bordered scrollable-menu" id="aliasesTable" style="">
    				<tbody>
						<tr>
							<th>STS markers</th>
						</tr>
						<tr ng-repeat="alias in vm.markerData.aliases" 
							ng-click=""
							ng-class-odd="'oddResultRow'">
						<td>
							{{alias.symbol}}
						</td>
						</tr>
					</tbody>
					</table>
				</div>
				</div>
			</div>

		</div>
		</div>
		</div>
	</div>


	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:380px;">

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-readonly="vm.editableField==false" ng-model="vm.markerData.createdBy" id="markerCreatedBy" name="markerCreatedBy"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-readonly="vm.editableField==false" ng-model="vm.markerData.modifiedBy" id="markerModifiedBy" name="markerModifiedBy"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-6" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-readonly="vm.editableField==false" ng-model="vm.markerData.creation_date" id="markerCreationDate" name="markerCreationDate"/>
			</div>
			<div class="col-sm-6" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-readonly="vm.editableField==false" ng-model="vm.markerData.modification_date" id="markerModificationDate" name="markerModificationDate"/>
			</div>
		</div>

		<div class="spacer"></div>

		<button type="button" id="searchButton" ng-click="eiSearch()" >Search</button>
		<button type="button" id="clearButton" ng-click="eiClear()" >Clear</button>
		<button type="button" id="resetSearchButtom" ng-click="resetSearch()" >Reset Search</button>
		</br>
		<button type="button" id="createMarkerButton" ng-click="createMarker()" 
			ng-disabled="current_user.login==null || vm.markerData.markerKey!=null || vm.markerData.markerStatusKey==2" >Create</button>
		<button type="button" id="updateMarkerButton" ng-click="updateMarker()" 
			ng-disabled="current_user.login==null || vm.allowModify != true" >Modify</button>
		<button type="button" id="deleteMarkerButton" ng-click="deleteMarker()" 
			ng-disabled="current_user.login==null" >Delete</button>

		</br>
		<div class="row ">
		<div class="col-sm-12" style="">

			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTableHeader" style="">
    		<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="setMarker($index)" 
					ng-class="($index==vm.selectedIndex) ? 'resultsTableSelectedRow' : ''"
					ng-class-odd="'oddResultRow'">
			    	<td style="min-width: 200px;">{{result.symbol}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			<div class="spacer"></div>
		</div>
		</div>
		
	</div>

</div>
</div>
</form>


<!-- Java API JSON data dump -->
<br><br>
<div class="container-fluid">
	<div class="row ">
		<div class="col-sm-12">
			<button type="button" id="showSummaryButton" ng-click="vm.hideData = !vm.hideData;" 
					>Show Marker JSON from API</button>			
			<div ng-hide="vm.hideData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 


<script type="text/javascript">
	// This JavaScript will execute *after* content injection.
	var input = document.getElementById ("markerSymbol");
	input.focus ();
</script>



