{% extends "pageLayout.html" %}

{% block imports %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mgijs/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/antibody/antibody.css') }}">

	<script src="{{ url_for('static',filename='app/edit/antibody/AntibodyService.js')}}"></script> 
	<script src="{{ url_for('static',filename='app/edit/antibody/AntibodyController.js')}}"></script> 
	
	<script>
		var access_token = '{{config["ACCESS_TOKEN"]}}';
	</script>
	

{% endblock %}

{% block content %}
	<title>Antibody Module</title>

	<div id="wrapper" ng-controller="AntibodyController">
		<div ng-include="'{{ url_for('static',filename='app/edit/antibody/antibody_content.html')}}'"></div>
	</div>


{% endblock %}

