{% if not show_editmenu %}
<div id="editMenuContainerShared">
<ul id="editMenuWrapperShared">
  <li>Shared Modules
    <ul id="editMenuShared">
    <li><a href="{{ url_for('edit.litTriageFullQF')}}">Lit Triage (full)</a></li>
    <li><a href="{{ url_for('edit.litTriageShortQF')}}">Lit Triage (short)</a></li>
    <li><a href="{{ url_for('edit.genotypeQF')}}">Genotype</a></li>
    <li><a href="{{ url_for('edit.simplevocabQF')}}">Simple Vocabulary</a></li>
    <li><a href="{{ url_for('edit.organismQF')}}">Organism</a></li>
    <li><a href="{{ url_for('edit.actlogdbQF')}}">Actual/LogicalDB</a></li>
    </ul>
  </li>
</ul>
</div>	
{% endif %}
