    <li><a href="/pwi/edit/allele/">Allele</a></li>
    <li><a href="/pwi/edit/allelederivation/">Allele Derivation</a></li>
    <li><a href="/pwi/edit/variant/">Allele Variants</a></li>
    <li><a href="/pwi/edit/allelefear/">Allele Relationships</a></li>
    <li><a href="/pwi/edit/marker/">Markers</a></li>
    <li><a href="/pwi/edit/markerfear/">Marker Relationships</a></li>
    <li><a href="/pwi/edit/imageMgd/">MGD Images</a></li>
    <li><a href="/pwi/edit/mpannot/">MP Annotations</a></li>
    <li><a href="/pwi/edit/doannot/">DO Annotations</a></li>
    <li><a href="/pwi/edit/goannot/">GO Annotations</a></li>
    <li><a href="/pwi/edit/mapping/">Mapping</a></li>
    <li><a href="/pwi/edit/strain/">Strain</a></li>
