{% if not show_editmenu %}
<div id="editMenuContainer">
<ul id="editMenuWrapper">
  <li>MGD Modules
    <ul id="editMenu">
    <li><a href="{{ url_for('edit.alleleQF')}}">Allele</a></li>
    <li><a href="{{ url_for('edit.alleleDerivationQF')}}">Allele Derivation</a></li>
    <li><a href="{{ url_for('edit.variantQF')}}">Allele Variants</a></li>
    <li><a href="{{ url_for('edit.markerQF')}}">Markers</a></li>
    <li><a href="{{ url_for('edit.imageMgdQF')}}">MGD Images</a></li>
    <li><a href="{{ url_for('edit.mpannotQF')}}">MP Annotations</a></li>
    <li><a href="{{ url_for('edit.doannotQF')}}">DO Annotations</a></li>
    <li><a href="{{ url_for('edit.goannotQF')}}">GO Annotations</a></li>
    <li><a href="{{ url_for('edit.mappingQF')}}">Mapping</a></li>
    </ul>
  </li>
</ul>
</div>	
{% endif %}
