{% extends "pageLayout.html" %}
{% block content %}
<main id="homePage">

<h1>MGI Production WI Index</h1>
<ul>
  <li>
    <a href="#queryForms">Query Forms</a>
    <!-- Anchor links for query forms -->
    <ul>
      <li><a href="#markerForm">Marker Form</a></li>
      <li><a href="#referenceForm">Reference Form</a></li>
      <li><a href="#probeForm">Probe Form</a>
    </ul>
  </li>
  
  <li>
    <a href="{{ url_for('edit.emapBrowser')}}">EMAPA Browser</a>
  </li>
      
  <li>
    <a href="{{ url_for('report.reportIndex') }}">Custom Reports</a>
  </li>
</ul>

<h2 id="queryForms">Query Forms</h2>

<hr/>

<h3 id="markerForm">Marker Form</h3>
{% with form=markerForm %}
{% include 'forms/marker_form.html' %}
{% endwith %}

<hr/>

<h3 id="referenceForm">Reference Form</h3>
{% with form=referenceForm %}
{% include 'forms/reference_form.html' %}
{% endwith %}

<hr/>

<h3 id="probeForm">Probe Form</h3>
{% with form=probeForm %}
{% include 'forms/probe_form.html' %}
{% endwith %}

<hr/>

<!-- Used to add space to bottom of index page -->
<div style="width:100%; height: 500px;"></div>

</main>
{% endblock %}

