{% extends "pageLayout.html" %}
{% block content %}
<main id="homePage">

<style>
.column {
  float: left;
  widgth: 33.33%;
  padding: 10px;
}
.row:after {
  content:"";
  display: table;
  clear: both;
}
</style>

<div class="row">
  <div class="column">
    <h1>Searches</h1>
    <ul>
    <li><a href="{{ url_for('report.reportIndex') }}">Custom Reports</a></li>
    <li><a href="#probeForm">Probe Form</a>
    <li><a href="#referenceForm">Reference Form</a></li>
    </ul>
  </div>

  <div class="column">
    <h1>GXD Modules</h1>
    <li><a href="{{ url_for('edit.antibodyQF')}}">Antibody</a></li>
    <li><a href="{{ url_for('edit.antigenQF')}}">Antigens</a></li>
    <li><a href="{{ url_for('edit.emapaBrowser')}}">EMAPA</a></li>
    <li><a href="{{ url_for('edit.gxdHTEval') }}">GXD HT Index</a></li>
    <li><a href="{{ url_for('edit.imageGxdQF')}}">GXD Images</a></li>
    <li><a href="{{ url_for('edit.gxdIndexModule')}}">GXD Index</a></li>
    <li><a href="{{ url_for('edit.probeQF')}}">Probes</a></li>
    </ul>
  </div>

  <div class="column">
    <h1>MGD Modules</h1>
    <ul>
    <li><a href="{{ url_for('edit.alleleQF')}}">Allele</a></li>
    <li><a href="{{ url_for('edit.alleleDerivationQF')}}">Allele Derivation</a></li>
    <li><a href="{{ url_for('edit.variantQF')}}">Allele Variants</a></li>
    <li><a href="{{ url_for('edit.markerQF')}}">Markers</a></li>
    <li><a href="{{ url_for('edit.imageMgdQF')}}">MGD Images</a></li>
    <li><a href="{{ url_for('edit.mpannotQF')}}">MP Annotations</a></li>
    <li><a href="{{ url_for('edit.doannotQF')}}">DO Annotations</a></li>
    <li><a href="{{ url_for('edit.goannotQF')}}">GO Annotations</a></li>
    </ul>
  </div>

  <div class="column">
    <h1>Shared Modules</h1>
    <ul>
    <li><a href="{{ url_for('edit.litTriageFullQF')}}">Lit Triage (full)</a></li>
    <li><a href="{{ url_for('edit.litTriageShortQF')}}">Lit Triage (short)</a></li>
    <li><a href="{{ url_for('edit.genotypeQF')}}">Genotype</a></li>
    </ul>
  </div>

  <div class="column">
    <h1>Special Modules</h1>
    <ul>
    <li><a href="{{ url_for('edit.simplevocabQF')}}">Simple Vocabulary</a></li> 
    <li><a href="{{ url_for('edit.organismQF')}}">Organism</a></li> 
    <li><a href="{{ url_for('edit.clonelibQF')}}">Clone Library</a></li> 
    <li><a href="{{ url_for('edit.actlogdbQF')}}">Actual/LogicalDB</a></li>
    </ul>
  </div>

</div>

<style>
.column {
  float: left;
  widgth: 33.33%;
  padding: 10px;
}
.row:after {
  content:"";
  display: table;
  clear: both;
}
</style>

<div class="row">
  <div class="column">
    <h1>Tools</h1>
    <ul>
    <li><a href="{{ url_for('edit.imageSubmissionQF')}}">Image Submission</a></li>
    <li><a href="{{config["PDFVIEWER_URL"]}}">PDF Viewer</a></li>
    <li><a href="{{config["PRISM_URL"]}}">Prism</a></li>
    <li><a href="{{config["PDFSPLITTER_URL"]}}">Text Splitter</a></li>
    </ul>
  </div>

  <div class="column">
    <h1>Public</h1>
    <ul>
    <li><a href="http://www.mousemine.org/mousemine/begin.do">MouseMine</a></li>
    <li><a href="http://www.informatics.jax.org/downloads/">Public FTP Server</a></li>
    <li><a href="http://www.informatics.jax.org">Public WI</a></li>
    </ul>
  </div>

</div>

<hr/>

<h2 id="queryForms">MGI Query Forms</h2>

<h3 id="referenceForm">Reference Form</h3>
{% with form=referenceForm %}
{% include 'forms/reference_form.html' %}
{% endwith %}

<hr/>

<h3 id="probeForm">Probe Form</h3>
{% with form=probeForm %}
{% include 'forms/probe_form.html' %}
{% endwith %}

<hr/>

<!-- Used to add space to bottom of index page -->
<div style="width:100%; height: 500px;"></div>

</body>

</main>
{% endblock %}

