{#
	Common css and javascript for all pwi pages
#}
<html>
<head>

{% if title %}
  <title>{{title}}</title>
{% endif %}

<!-- Base url -->
<base href="{{request.path}}">

<!-- import favicon  -->
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

<!-- import jquery on all pages for convenience -->
<script src="{{ url_for('static',filename='mgijs/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/jquery-ui/jquery-ui.min.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='mgijs/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css') }}" type="text/css" />

<!-- import mousetrap, keyboard shortcut capture library -->
<script src="{{ url_for('static',filename='mgijs/bower_components/mousetrap/mousetrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='pwi.js')}}"></script>

<!-- import our own master css -->
<link rel="stylesheet" href="{{ url_for('static',filename='pwi.css') }}" type="text/css" />

<!-- other third-party libraries and frameworks -->


<script src="{{ url_for('static',filename='mgijs/bower_components/api-check/dist/api-check.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/angular/angular.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.10/angular-sanitize.js"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/angular-route/angular-route.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/angular-resource/angular-resource.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/angular-bootstrap/ui-bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/angular-formly/dist/formly.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/spin.js/spin.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/angular-spinner/angular-spinner.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/angular-smart-table/dist/smart-table.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/lr-sticky-header/lrStickyHeader.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/lrDragNDrop/lrDragNDrop.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/angular-scroll/angular-scroll.min.js')}}"></script>
<script src="{{ url_for('static',filename='mgijs/bower_components/jQuery-doubleScroll/jquery.doubleScroll.js')}}"></script>

<script src="{{ url_for('static',filename='app/app.module.js')}}"></script>

<script src="{{ url_for('static',filename='app/filters/DateFilter.js')}}"></script>
<script src="{{ url_for('static',filename='app/filters/RawHtmlFilter.js')}}"></script>
<script src="{{ url_for('static',filename='app/filters/SortFilter.js')}}"></script>

<script src="{{ url_for('static',filename='app/services/ErrorMessageService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/DragifyService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/FindElementService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/FocusElementService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/NoteTagConverterService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/FileWriterService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/SmartAlphaSortService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/MGIRefAssocTypeService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/MGISetService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/NaturalSortService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/UserService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/UrlParsingService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/ValidateService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/ValidateJnumService.js')}}"></script>
<script src="{{ url_for('static',filename='app/services/VocTermService.js')}}"></script>
<script src="{{ url_for('static',filename='app/directives/StickyHeader.js')}}"></script>
<script src="{{ url_for('static',filename='app/directives/TabToDirective.js')}}"></script>
<script src="{{ url_for('static',filename='app/controllers/PageController.js')}}"></script>

<script src="{{ url_for('static',filename='app/components/showModel/showModel.js')}}"></script>
<script src="{{ url_for('static',filename='app/components/paginator/paginator.js')}}"></script>
<script src="{{ url_for('static',filename='app/components/loadingMsg/loadingMsg.js')}}"></script>
<script src="{{ url_for('static',filename='app/components/accessionForm/accessionForm.js')}}"></script>

<script>
	// constants for angular
	(function(){
	  	angular.module('pwi').constant('USERNAME', '{{session.user}}');
	  	angular.module('pwi').constant('ACCESS_TOKEN', '{{config["ACCESS_TOKEN"]}}');
	  	angular.module('pwi').constant('JAVA_API_URL', '{{config["JAVA_API_URL"]}}');
	  	angular.module('pwi').constant('RESOURCE_PATH', "{{ url_for('static',filename='') }}");

	  	angular.module('pwi').constant('PWI_BASE_URL', "{{ url_for('index') }}");
	  	angular.module('pwi').constant('PIXDB_URL', '{{config["PIXDB_URL"]}}');
	  	angular.module('pwi').constant('PDFVIEWER_URL', '{{config["PDFVIEWER_URL"]}}');
	  	angular.module('pwi').constant('WEBSHARE_URL', '{{config["WEBSHARE_URL"]}}');

	  	angular.module('pwi').constant('CUR_DBSERVER', '{{config["CUR_DBSERVER"]}}');
	  	angular.module('pwi').constant('CUR_DBNAME', '{{config["CUR_DBNAME"]}}');
  	})();
</script>

{% if (endpointName and not endpointName.endswith("detail") and not endpointName.endswith("summary")) %}
	<!-- editing modules use bootstrap -->
        <link rel="stylesheet" type="text/css" href="/pwi/static/mgijs/bower_components/bootstrap/dist/css/bootstrap.min.css">
{% endif %}

<!-- standard for each page: pull in its controller, service, and CSS files. -->
<link rel="stylesheet" type="text/css" href="{{ cssUrl }}">

<script src="{{ serviceUrl }}"></script>
<script src="{{ controllerUrl }}"></script>

<script>
var access_token = '{{ access_token }}';
{{ extra_script_contents | safe }}
</script>

{% if endpointName == "variant" %}
    <script src="/pwi/static/app/edit/variant/SOHandler.js"></script>
    <script src="/pwi/static/app/edit/variant/VariantService.js"></script>
    <script src="/pwi/static/app/edit/variant/VariantController.js"></script>
    <script src="/pwi/static/app/edit/variant/VariantTranslator.js"></script>
    <script src="/pwi/static/app/edit/variant/VariantValidation.js"></script>
{% endif %}

{% if endpointName.endswith('Browser') %}
    <!-- pull in the tree view widget -->
    <link rel="stylesheet" href="/pwi/static/mgijs/widgets/styles/mgitreeview.css" type="text/css" />
    <script src="/pwi/static/mgijs/bower_components/d3/d3.min.js"></script>
    <script src="/pwi/static/mgijs/widgets/mgitreeview.js"></script>
{% endif %}

</head>


<body ng-app="PWI" ng-controller="PageController">
{% include "header.html" %}

<main>
    {% if mainTemplate == "standard" %}
        <div id="wrapper" ng-controller="{{ controllerClass }}">
                <div ng-include="'{{ contentUrl }}'"></div>
        </div>

    {% elif mainTemplate == "gxdht" %}
	<!-- right now, the GXT HT Index module is a bit of an oddball. 
	     would be nice to refactor to be like all the others. -->
	     
        <script src="/pwi/static/app/edit/gxd/directives/StResetDirective.js"></script>
        <title>GXD HT Eval</title>
        <br>
        <form class="form-horizontal">
                <div id="wrapper" ng-controller="EvaluationController">
                        <div ng-include="'/pwi/static/app/edit/gxd/gxd_ht_results_content.html'"></div>
                        <div ng-show="showhelp" ng-include src="'/pwi/static/app/edit/gxd/gxd_ht_debug_links.html'"></div>
                </div>

                <div class="container-fluid">
                        <a href="" ng-click="showhelp = !showhelp">Show Help</a>
                        <div ng-show="showhelp">
                            <ng-include src="STATIC_APP_URL + '/edit/gxd/ht_eval_help.html'" />
                        </div>
                </div>
        </form>
    {% endif %}

    {% block content %}
    {% endblock %}

</main>

</body>
</html>
