{#
	Common css and javascript for all pwi pages
#}
<html>
<head>

{% if title %}
  <title>{{title}}</title>
{% endif %}

<!-- import favicon  -->
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

<!-- import jquery on all pages for convenience -->
<script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='jquery-ui/jquery-ui.min.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui/jquery-ui.min.css') }}" type="text/css" />

<!-- import mousetrap, keyboard shortcut capture library -->
<script src="{{ url_for('static',filename='mousetrap.min.js')}}"></script>

<script src="{{ url_for('static',filename='pwi.js')}}"></script>
<script src="{{ url_for('static',filename='gamgi1.js')}}"></script>
<script src="{{ url_for('static',filename='gamgi2.js')}}"></script>

<!-- import our own master css -->
<link rel="stylesheet" href="{{ url_for('static',filename='pwi.css') }}" type="text/css" />

{% block imports %}
{% endblock %}

</head>
<body>

{% include "header.html" %}
{% include "searchMenu.html" %}
{% include "editMenu.html" %}

<main>
{% block queryform %}
{% endblock %}
{% block content %}
{% endblock %}
</main>

</body>
</html>
