{% extends "pageLayout.html" %}
{% block content %}

  <title>Allele Summary</title>

  <h1>Allele Summary Results</h1>

  {{ display_you_searched_for(form) }}

  <h2 id="alleleResults">Matching Allele Records</h2>
  
  <a href="{{ url_for('summary.alleleSummaryDownload') + '?' + queryString }} ">Download Tab-Delim File</a>
  <br/>
  
  {% if allelesTruncated %}
  <a href="{{ url_for('summary.alleleSummary') }}?{{queryString}}&allele_limit=">View All Alleles</a>
  {% endif %}
  {% include "summary/allele/sub_allele_table.html" %}

  {% include "help/allele_summary.html" %}

{% endblock %}
