{# sub template for allele summary table #}
{% if alleles %}{{alleles | length}} rows.{% endif %}
<table class="dataTable">
{% for allele in alleles %}

{% if loop.first %}
  <tr>
  <th>Symbol</th>
  <th>MGI ID</th>
  <th>Name</th>
  <th>Synonyms</th>
  <th>Transmission</th>
  <th>AlleleStatus</th>
  <th>Generation Type</th>
  <th>Attributes</th>
  <th>MP Annotations</th>
  <th>Disease Annotations</th>
  </tr>
{% endif %}

<tr class="{{ loop.cycle('row1','row2') }}">
<td>
  <a href="{{ url_for('edit.alleledetail', id=allele.mgiid) }}">
  {{allele.symbol | super }}</a>
</td>
<td>{{allele.mgiid}}</td>
<td>{{allele.name | super}}</td>
<td>{{allele.synonyms | type_format | super }}</td>
<td>{{allele.transmission}}</td>
<td>{{allele.status}}</td>
<td>{{allele.alleletype}}</td>
<td>{{allele.subtypes | type_format}}</td>
<td>{{allele.summary_mp_display}}</td>
<td>{{allele.disease_terms | type_format }}</td>
</tr>

{% else %}
No Alleles Found
{% endfor %}

</table>

{% if alleles %}{{alleles | length}} rows.{% endif %}
