{% extends "pageLayout.html" %}

{% block imports %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mgijs/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/doalleleannot/doalleleannot.css') }}">

	<script src="{{ url_for('static',filename='app/edit/doalleleannot/DOAlleleAnnotService.js')}}"></script>
	<script src="{{ url_for('static',filename='app/edit/doalleleannot/DOAlleleAnnotController.js')}}"></script>
	
	<script>
		var access_token = '{{config["ACCESS_TOKEN"]}}';
	</script>
	

{% endblock %}

{% block content %}
	<title>Allele/DO Annotation Module</title>

	<div id="wrapper" ng-controller="DOAlleleAnnotController">
		<div ng-include="'{{ url_for('static',filename='app/edit/doalleleannot/doalleleannot_content.html')}}'"></div>
	</div>


{% endblock %}

