<title>Allele Derivation Module</title>
<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="allelederivationForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:850px;" >

		<div class="row topMargin">
			<div class="col-sm-8" style="">
                                <label class="label label-edit-search">Derivation Type</label><br>
                                <select type=dropdown size="1" id="derivationType" 
			                ng-options="choice.termKey as choice.term for choice in vm.derivationTypeLookup"
                       	                ng-model="vm.apiDomain.derivationTypeKey"
			                >
			                <option value="">Search All</option>
                                </select>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-2" style="">
				<label class="label label-edit">J#</label>
				<input class="form-control" id="jnumID"
					ng-model="vm.apiDomain.jnumid"
					ng-blur="validateJnum('jnumID')"
                                >
			</div>
		        <div class="col-sm-6" style="">
			        <label class="label label-search">Citation</label>
			        <input class="form-control" id="citation"
				        ng-model="vm.apiDomain.short_citation"
                                       />
		        </div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-8" style="">
				<label class="label label-view-only">Cell Line Library Name</label><br>
				<input type="text" class="form-control" id="name" 
					ng-model="vm.apiDomain.name"
				>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-8" style="">
                                <label class="label label-edit-search">Creator</label><br>
                                <select type=dropdown size="1" id="creator" 
			                ng-options="choice.termKey as choice.term for choice in vm.creatorLookup"
                       	                ng-model="vm.apiDomain.creatorKey"
			                >
			                <option value="">Search All</option>
                                </select>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-8" style="">
				<label class="label label-search">Parent Cell Line</label><br>
				<input type="text" class="form-control" id="parentCellLine" 
					ng-model="vm.apiDomain.parentCellLine.cellLine"
				>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-8" style="">
				<label class="label label-search">Parent Cell Line Strain</label><br>
				<input type="text" class="form-control" id="parentCellLineStrain" 
					ng-model="vm.apiDomain.parentCellLine.strain"
                                        ng-blur="validateStrain('parentCellLineStrain')"
				>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-8" style="">
                                <label class="label label-search">Cell Line Type</label><br>
                                <select type=dropdown size="1" id="cellLineType" 
			                ng-options="choice.termKey as choice.term for choice in vm.cellLineTypeLookup"
                       	                ng-model="vm.apiDomain.parentCellLine.cellLineTypeKey"
			                >
			                <option value="">Search All</option>
                                </select>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-8" style="">
				<label class="label label-edit-search">Vector Name</label><br>
				<input type="text" class="form-control" id="vector" 
					ng-model="vm.apiDomain.vector"
                                        ng-blur="validateVectorName('vector')"
				>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-8" style="">
                                <label class="label label-edit-search">Vector Type</label><br>
                                <select type=dropdown size="1" id="vectorType" 
			                ng-options="choice.termKey as choice.term for choice in vm.vectorTypeLookup"
                       	                ng-model="vm.apiDomain.vectorTypeKey"
			                >
			                <option value="">Search All</option>
                                </select>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-8" style="">
                                <label class="label label-view-only">Number of Mutant Cell Lines</label><br>
				<input type="text" class="form-control" id="mcl_count" 
					ng-model="vm.mcl_count"
				>
			</div>
		</div>

		<!-- notes panel -->
		<div class="row topMargin">
		        <div class="col-sm-8" style="" >
			        <label class="label label-edit-search">General Notes</label>
                                <img id="clearNoteButton" src="/pwi/static/images/clear.png" width=15 height=15
                                        ng-click="clearNote(vm.apiDomain.generalNote)">
			        <textarea class="form-control" rows=3 id="generalNote" ng-model="vm.apiDomain.generalNote.noteChunk" ></textarea>
		        </div>
		</div>

	</div>
	<!-- main class -->

	<!-- main right panel -->
	<div class="col-sm-3 section" style="min-height:850px;">

		<button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		<button type="button" id="clearButton" tabindex="-1" ng-mousedown="clear()" >Clear</button>
		<button type="button" id="modifyButton" tabindex="-1" ng-click="modify()" >Modify</button>
                <button type="button" id="createButton" tabindex="-1" ng-click="create()" 
                        ng-disabled="vm.apiDomain.derivationKey!=''&&vm.apiDomain.derivationKey!=null" >Add</button>
		<button type="button" id="deleteButton" tabindex="-1" ng-click="delete()" >Delete</button>
		
		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="totalCount"># of records: {{vm.total_count}}</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Created By</label>
				<input class="form-control" ng-model="vm.apiDomain.createdBy" id="createdBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Creation Date</label>
				<input class="form-control" ng-model="vm.apiDomain.creation_date" id="creationDate"/>
			</div>
		</div>

		<div class="row topMargin">
			<div class="col-sm-4" style="">
				<label class="label label-search">Modified By</label>
				<input class="form-control" ng-model="vm.apiDomain.modifiedBy" id="modifiedBy"/>
			</div>
			<div class="col-sm-4" style="">
				<label class="label label-search">Modification Date</label>
				<input class="form-control" ng-model="vm.apiDomain.modification_date" id="modificationDate" tab-to="accID"/>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="row">
		<div class="col-sm-12" style="">
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody>
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.name}}</td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>
		</div>

		<div class="spacer"></div>
		<div class="row sectionDivider">
		<div class="col-sm-12" style="">
			<div id="parentCellLineLookup">{{vm.parentCellLineLookup.length}} Stem Cell Lines</div>
		</div>
		</div>
		<div id="parentCellLineTableWrapper">
		<table class="table table-bordered scrollable-menu" id="parentCellLineTable" style="">
    		<tbody>
			<tr ng-repeat="row in vm.parentCellLineLookup" 
				ng-click="selectParentCellLine($index)" 
				ng-class="($index==vm.selectedParentCellLineIndex) ? 'selectedRow' : ''"
				ng-class-odd="'oddRow'"
				>
		    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{row.cellLineDisplay}}</td>
			</tr>
		</tbody>
		</table>
		</div>

		<div class="spacer"></div>
		<div class="row sectionDivider">
		<div class="col-sm-12" style="">
			<div id="vectorLookup">{{vm.vectorLookup.length}} Vectors</div>
		</div>
		</div>
		<div id="vectorTableWrapper">
		<table class="table table-bordered scrollable-menu" id="vectorTable" style="">
    		<tbody>
			<tr ng-repeat="row in vm.vectorLookup" 
				ng-click="selectVector($index)" 
				ng-class="($index==vm.selectedVectorIndex) ? 'selectedRow' : ''"
				ng-class-odd="'oddRow'"
				>
		    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{row.term}}</td>
			</tr>
		</tbody>
		</table>
		</div>

	</div>
</div>
</div>
</form>

<!-- Java API JSON data dump -->
<show-model vm="vm" />

<script type="text/javascript">
	document.getElementById("name").focus();
</script>

<ng-include src="PAGE_HELP_URL" />
