{# sub template for a gxd index summary references #}

<table class="dataTable">
{% for indexRecord in indexRecords %}

  {% if loop.first %}
    <tr>
    <th>*</th>
    <th>Reference</th>
    <th>Priority</th>
    <th>Conditional</th>
    </tr>
  {% endif %}

  <tr>
    <td>
      {% if indexRecord.fully_coded %} * {%endif %}
    </td>
    <td>
      <a href="{{url_for('summary.referenceSummary', accids=indexRecord.reference.jnumid)}}">
      {{indexRecord.reference.jnumid}}
	  </a>
      {{indexRecord.reference.short_citation}}
    </td>
    <td>{{indexRecord.priority or ''}}</td>
    <td>{{indexRecord.conditionalmutants or ''}}</td>
  </tr>

{% endfor %}
</table>
* = fully coded