{# sub template for a gxd index summary table #}

{% if indexRecords %}{{indexRecords | length}} markers.{% endif %}
<br/><br/>
{% for indexRecord in indexRecords %}

  <div class="gxdindexMarker">
    <span>
      {{indexRecord.reference.jnumid}}
    </span>
    <span class='normal'>
      {{indexRecord.reference.short_citation}}
    </span>

    <table class="dataTable">

      <tr>
        <th>Age</th>
        {% for stageid in indexRecord.unique_stages %}
          <th>{{stageid}}</th>
        {% endfor %}
      </tr>

      {% for assay in indexRecord.unique_assays %}
        <tr>
          <td>{{assay['indexassay']}}</td>
          {% for value in assay['stages'] %}
            <td>{{value and 'X' or ''}}</td>
          {% endfor %}
        </tr>
      {% endfor %}

    </table>

    {% if indexRecord.comments %}
    <span class='normal'>Notes: {{indexRecord.comments}}</span>
    {% endif %}

  </div>

{% else %}
No Index Records Found
{% endfor %}

{% if indexRecords %}{{indexRecords | length}} markers.{% endif %}