{% extends "pageLayout.html" %}

{% block imports %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/edit/imagesummary/imagesummary.css') }}">

	<script src="{{ url_for('static',filename='app/edit/imagesummary/ImageSummaryService.js')}}"></script>
	<script src="{{ url_for('static',filename='app/edit/imagesummary/ImageSummaryController.js')}}"></script>
	
	<script>
		var access_token = '{{config["ACCESS_TOKEN"]}}';
	</script>
	

{% endblock %}

{% block content %}

	<div id="wrapper" ng-controller="ImageSummaryController">
		<div ng-include="'{{ url_for('static',filename='app/edit/imagesummary/imagesummary_content.html')}}'"></div>
	</div>


{% endblock %}

