<title>Marker Summary</title>

<h1>Marker Summary Results</h1>

<div ng-bind-html="vm.youSearchForString"></div>

<a ng-if="vmd.markers && vmd.markers.length > 0" href="{{vm.downloadUrl}}"><button>Download Tab-Delim File</button></a>
<br/>

<button
    ng-if="vmd.markersTruncated"
    ng-click="(vmd.markers = vmd.allMarkers) && (vmd.markersTruncated = false)"
    >View All Markers ({{vmd.allMarkers.length}})</button>

<div ng-if="!vm.loading && (!vmd.markers || vmd.markers.length === 0)">
    No Markers Found
</div>

<loading-msg showing="vm.loading" />

<paginator
   ng-show="!vm.loading"
   page-size="vm.page_size"
   total-rows="vm.total_count"
   on-update="pageAction(pageFirstRow, pageNRows)"
   />

<div ng-if="vmd.markers && vmd.markers.length > 0 && !vm.loading">
    <table class="dataTable">
        <tr>
            <th>Symbol</th>
            <th>Marker Status</th>
            <th>MGI ID</th>
            <th>Name</th>
            <th>Synonyms</th>
            <th>Feature Type</th>
            <th>Marker Type</th>
        </tr>
        <tr ng-repeat="marker in vmd.markers track by $index"
            class="{{ $index%2 ? 'row2' : 'row1' }}"
            >
            <td>
              <a href="{{ url_for('pwi.markerdetail', {id:marker.accID}) }}"
                 ><span ng-bind-html="ntc.superscript(marker.symbol)"></span></a></td>
            <td>{{marker.markerStatus}}</td>
            <td>{{marker.accID}}</td>
            <td>{{marker.name}}</td>
            <td><span ng-bind-html="ntc.superscript(marker.synonyms)"></span></td>
            <td>{{marker.featureTypes}}</td>
            <td>{{marker.markerType}}</td>
        </tr>
    </table>
</div>

<paginator
   ng-show="!vm.loading"
   page-size="vm.page_size"
   total-rows="vm.total_count"
   on-update="pageAction(pageFirstRow, pageNRows)"
   />

<show-model vm="vm" />
<ng-include src="PAGE_HELP_URL" />

