{% extends "standardMGI.html" %}
{% block content %}

  <title>Marker Summary</title>

  <h1>Marker Summary Results</h1>

  <h2>Matching Nomenclature Records</h2>
  
  {% if nomenTruncated %}
  <a href="marker/allnomen?{{formArgs}}">View All Nomen Matches</a>
  {% endif %}
  {% include "summary/marker/sub_nomen_table.html" %}
  
  <h2>Matching Maker Records</h2>
  
  {% if markerTruncated %}
  <a href="marker/allmarker?{{formArgs}}">View All Marker Matches</a>
  {% endif %}
  {% include "summary/marker/sub_marker_table.html" %}

  {% include "help/marker_summary.html" %}
{% endblock %}