{# sub template for a marker summary table #}
<table class="dataTable">
{% for marker in markers %}
{% if loop.first %}
<tr>
<th>Symbol</th>
<th>Marker Status</th>
<th>MGI ID</th>
<th>Name</th>
<th>Synonyms</th>
<th>Feature Type</th>
<th>Marker Type</th>
</tr>
{% endif %}
<tr class="{{ loop.cycle('row1','row2') }}">
<td><a href="{{ url_for('detail.markerDetailByKey', key=marker._marker_key) }}">{{marker.symbol | super}}</a></td>
<td>{{marker.markerstatus}}</td>
<td>{{marker.mgiid}}</td>
<td>{{marker.name}}</td>
<td>{{marker.synonyms | type_format | super}}</td>
<td>{{marker.featuretype}}</td>
<td>{{marker.markertype}}</td>
</tr>
{% else %}
No Markers Found
{% endfor %}
</table>
{% if markers %}{{markers | length}} rows.{% endif %}