<div ng-hide="vm.hideErrorContents">
	<h3 id='loadingHeader'>{{ vm.errorMsg }}</h3>
</div>

<form id="simplevocabForm" class="form-horizontal mousetrap">

<div class="container-fluid" style='min-width:1200px'>
<div class="row ">

	<!-- main left panel -->
	<div class="col-sm-9 section" style="min-height:800px;">

		<div class="row topMargin">
			<div class="col-sm-12" style="">
				<label class="label label-edit-search">Vocabulary Name</label><br>
				<input class="form-control"  autofocus id="name" name="name"
				    ng-model="vm.apiDomain.name"
				>
			</div>

		</div>
	
		<div class="spacer"></div>
		
		<div class="row ">
        		<div class="col-sm-3" style="">
				<label class="label label-view-only">J:</label><br>
                                <input class="form-control"
                                        ng-model="vm.apiDomain.reference.jnum" id="jnum"
				>
                        </div>

                        <div class="col-sm-9" style="">
                                <label class="label label-view-only">Citation</label><br>
                                <input class="form-control"
                                        ng-model="vm.apiDomain.reference.short_citation" id="citation"
                                >
                        </div>
                </div>
		
                <div class="spacer"></div>
		<div class="row ">
		    <div class="col-sm-12" style="">

                        <div id="termTableWrapper">
			<!-- Start term table -->
                        <table class="table table-bordered" id="termTable" >

                        <!-- START term table header -->
                        <thead>
                        <tr>
                        <th width="2%"></th>
			 <th width="5%">#</th>
                        <th width="30%">Term</th>
                        <th width="30%">Abbreviation</th>
                        <th width="22%">Definition</th>
                        <th width="8%">Obsolete?</th>
                        </tr>
                        </thead>

                        <!-- START table body -->
                        <!-- if deleting row, turn it orange -->

                        <tbody>

                        <!-- term table rows -->
                        <tr ng-repeat="row in vm.apiDomain.terms track by $index"
                                ng-click="selectTerm($index)"
                                ng-class="{
					selectedRow:$index==vm.selectedTermIndex, 
					deleteRow:row.processStatus == 'd'}"
                                ng-class-odd="'oddRow'"
                                >

                        <td style="">
                        <span id="deleteRow-{{$index}}" ng-click="row.processStatus == 'x' ? row.processStatus = 'd' : row.processStatus = 'x'">
                                <img src="/pwi/static/images/remove.png" style="width:12px; height:12px; cursor: pointer;" />
                        </span>
                        </td>

			<td style=""> 
                        <input class="form-control" type="text" id="seqNum-{{$index}}"
                                ng-model="row.sequenceNum"
                                ng-change="changeTermRow($index)"
                                >
                        </td>

                        <td style="">
                        <input class="form-control" type="text" id="term-{{$index}}"
                                ng-model="row.term"
                                ng-change="changeTermRow($index)"
                                >
                        </td>

                        <td style="">
                        <input class="form-control" type="text" id="termAbbreviation-{{$index}}"
                                ng-model="row.abbreviation"
                                ng-change="changeTermRow($index)"
                                >
                        </td>

                        <td style="">
                        <input class="form-control" type="text" id="termDefinition-{{$index}}"
                                ng-model="row.note"
                                ng-change="changeTermRow($index)"
                                >
                        </td>

			<td style="">
			<select class="myDropdown" type=dropdown size="1" id="multiple-{{$index}}" 
                                ng-options="choice.termKey as choice.term for choice in vm.isObsoleteLookup"
                                ng-model="row.isObsolete"
                                ng-change="changeTermRow($index)"
                                >
				<option value="">No</option>
                        </select>
                        </td>

                        </tr>
                        </tbody> <!-- END term table body -->
                        </table>
			</div> 
                        <!-- END term table -->
                        </div>
                        <!-- end col-sm-10 -->
                </div>
                <!-- end row -->

		<!-- begin synonym table row-->
		<div class="row"  >
                <div class="col-sm-12 sectionDivider topPadding bottomPadding" style="">

                        <div id="synonymTableWrapper">
			<table class="table table-bordered" id="termTable" >

			<!-- table header -->
                        <thead>
                        <tr>
			<th width="2%"></th>
                        <th width="20%">Type</th>
                        <th width="70%">Synonym</th>
                        </tr>
                        </thead>

			<!-- table body -->
                        <!-- if deleting row, turn it orange -->

                        <tbody>

			<!-- table rows -->  <!-- track by $index"-->
                        <tr ng-repeat="synonym in vm.apiDomain.terms[vm.selectedTermIndex].goRelSynonyms" 
                                ng-click="selectSynonym($index)"
                                ng-class="{
					selectedRow:$index==vm.selectedSynonymIndex,
					deleteRow:synonym.processStatus == 'd'}"
				ng-class-odd="'oddRow'"
			>
			<td>
			<span id="deleteRow-{{$index}}" ng-click="deleteSynonymRow($index)">
				<img src="/pwi/static/images/remove.png"
                                    style="width:12px; height:12px; cursor: pointer;" />
                        </span>
                        </td>

                        <!--<td style="width:50px;"> -->
			<td>
                        <select class="myDropdown" type=dropdown size="1" id="synonymType" 
                                ng-options="choice.synonymTypeKey as choice.synonymType for choice in vm.synonymTypeLookup"
                                ng-model="synonym.synonymTypeKey"
                                ng-change="changeTermRow($index)"
                                >
                        </select>
                        </td>

                        <td style="width:200px;">
                        <input class="form-control" id="synonymName-{{$index}}" 
				ng-model="synonym.synonym" 
				ng-change="changeTermRow($index)" 
			>
                        </td>

                        </tr>
                        </tbody>
                        </table>
                        </div>
			<!-- end table -->
                        </div>
		</div>
		<!-- end top main panel -->


	</div>
	<!-- main class -->
	    <!-- main right panel -->
	    <div class="col-sm-3 section" style="min-height:850px;">
		    <button type="submit" id="searchButton" tabindex="-1" ng-click="search()" >Search</button>
		    <button type="button" id="clearButton" tabindex="-1" ng-click="clear()" >Clear</button>
		    <br>
		    <button type="button" id="createTermButton" tabindex="-1" ng-click="modifyTerm()">Save Terms, Synonyms</button>	
		<div id="totalCount"># of records: {{vm.total_count}}</div>
		<div class="spacer"></div>
                <div class="row topMargin">
                        <div class="col-sm-6" style="">
                                <label class="label label-view-only">Creation Date</label>
                                <input class="form-control" ng-model="vm.apiDomain.creation_date" id="vocabCreationDate" name="vocabCreationDate"/>
                        </div>

                        <div class="col-sm-6" style="">
				<label class="label label-view-only">Modification Date</label>
                                <input class="form-control" ng-model="vm.apiDomain.modification_date" id="vocabModificationDate" name="vocabModificationDate"/>
                        </div>
                </div>

		<div class="row ">
		<div class="col-sm-12" style="">
			<div class="spacer"></div>
			<div id="resultsCount">{{vm.results.length}} result(s) returned</div>
			<button type="button" id="firstButton" tabindex="-1" ng-click="firstSummaryObject()" >First</button>
			<button type="button" id="nextButton"  tabindex="-1" ng-click="nextSummaryObject()" >Next</button>
			<button type="button" id="prevButton"  tabindex="-1" ng-click="prevSummaryObject()" >Prev</button>
			<button type="button" id="lastButton"  tabindex="-1" ng-click="lastSummaryObject()" >Last</button>
			<div id="resultTableWrapper">
			<table class="table table-bordered scrollable-menu" id="resultsTable" style="">
    			<tbody> 
				<tr ng-repeat="result in vm.results" 
					ng-click="selectResult($index)" 
					ng-class="($index==vm.selectedIndex) ? 'selectedRow' : ''"
					ng-class-odd="'oddRow'">
			    	<td style="min-width: 200px; padding: 3px; font-size: .9em;">{{result.name}}</td>
				</tr> 
			</tbody>
			</table>
			</div>
		</div>
		</div>
		
	</div>

</div>
</div>
</form>

<!-- Java API JSON data dump -->

<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<button type="button" id="showApiDomainButton" tabindex="-1" ng-click="vm.hideApiDomain = !vm.hideApiDomain" 
					>Show JSON package/API domain only</button>				
			<button type="button" id="showSummaryButton" tabindex="-1" ng-click="vm.hideVmData = !vm.hideVmData;" 
					>Show JSON package/API domain + other data</button>			
			<div ng-hide="vm.hideApiDomain">
				<pre>{{ vm.apiDomain | json : spacing }}</pre>
			</div>
			<div ng-hide="vm.hideVmData">
				<pre>{{ vm | json : spacing }}</pre>
			</div>
		</div>
	</div>
</div> 

<script type="text/javascript">
	// This JavaScript will execute *after* content injection.
	var input = document.getElementById("name");
	input.focus();
</script>

